{% extends 'base.html.twig' %}

{% set semestreActif = 0 %}

{% block stimulus %}
{{ stimulus_controller('trombinoscope') }}
{% endblock %}


{% block header %}
    {{ 'trombinoscope.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <ul class="nav nav-tabs" role="tablist">
            {% for semestre in user_data.semestresActifs %}
                <li class="nav-item">
                    <a class="nav-link {% if loop.first %}active show{% endif %} semestretrombi" data-bs-toggle="tab"
                       href="#" data-sem="{{ semestre.id }}" role="tab"
                       data-action="click->trombinoscope#changementSemestre"
                    >{{ semestre.libelle }}
                        <small>({{ semestre.etudiants|length }})</small>
                    </a>
                </li>
            {% endfor %}
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#" data-type="permanent"
                   data-action="click->trombinoscope#changementPersonnel"
                   role="tab"> {{ 'permanents.heading'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#" data-action="click->trombinoscope#changementPersonnel"
                   data-type="vacataire" role="tab"> {{ 'vacataires.heading'|trans }}</a>
            </li>
            {% if settings('AFFICHAGE_TROMBI') == 'separation' %}
                <li class="nav-item">
                    <a class="nav-link" data-action="click->trombinoscope#changementPersonnel"
                       data-bs-toggle="tab" href="#" data-type="administratif" role="tab">
                        {{ 'administratifs.et.techniques.heading'|trans }}</a>
                </li>
            {% endif %}
        </ul>
        <div class="buttons">
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_dashboard'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div data-trombinoscope-target="contentSemestre">
        {% if user_data.semestres|length > 0 %}
            {% for semestre in user_data.semestresActifs %}
                {% if loop.first %}
                    {% set semestreActif = semestre.id %}
                {% endif %}
            {% endfor %}
            {{ render(controller(
                'App\\Controller\\TrombinoscopeController::trombiEtudiantSemestre', {'semestre':semestreActif}
            )) }}
        {% else %}
            {{ render(controller(
                'App\\Controller\\TrombinoscopeController::trombiPersonnel', {'type':'permanent'}
            )) }}
        {% endif %}
    </div>
{% endblock %}

{#{% block stylesheets %}#}
{#    {{ parent() }}#}
{#    {{ encore_entry_link_tags('trombinoscope') }}#}
{#{% endblock %}#}

{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    {{ encore_entry_script_tags('trombinoscope') }}#}
{#{% endblock %}#}
