<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ semestre.libelle }} ({{ semestre.etudiants|length }})</h4>
        <div class="card-header-actions" style="">
                <span id="trombifiltre">
                    {% for typegr in semestre.typeGroupes %}
                        <a href="#"
                           class="btn btn-sm btn {% if (selectedTypeGroupe == null and typegr.defaut == false) or (selectedTypeGroupe != null and selectedTypeGroupe.id != typegr.id) %}btn-flat{% endif %} btn-info"
                           data-action="click->trombinoscope#changementTypegroupe"
                           data-semestre="{{ semestre.id }}" data-typegroupe="{{ typegr.id }}"> {{ typegr.libelle }}</a>
                    {% endfor %}

                </span>
            {% if is_granted('ROLE_PERMANENT') %}
                {% if selectedTypeGroupe != null %}
                    <ul class="card-controls">
                        <li class="dropdown">
                            <a data-bs-toggle="dropdown" href="#"><i class="fas fa-ellipsis-h rotate-90"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="{{ path('trombinoscope_etudiant_export', {_format:'pdf', typeGroupe: selectedTypeGroupe.id}) }}"
                                   class="dropdown-item"><i class="fa fa-file-pdf"></i> {{ 'exporter.pdf'|trans }}</a>
                                <a href="{{ path('trombinoscope_etudiant_export', {_format:'xlsx', typeGroupe: selectedTypeGroupe.id}) }}"
                                   class="dropdown-item"><i class="fa fa-file-excel"></i> {{ 'exporter.xlsx'|trans }}
                                </a>
                                <a href="{{ path('trombinoscope_etudiant_export', {_format:'csv', typeGroupe: selectedTypeGroupe.id}) }}"
                                   class="dropdown-item"><i class="fa fa-file-csv"></i> {{ 'exporter.csv'|trans }}
                                </a>
                                <a href="{{ path('trombinoscope_etudiant_image', {typeGroupe: selectedTypeGroupe.id}) }}"
                                   class="dropdown-item"><i class="fa fa-file-csv"></i> {{ 'exporter.trombi'|trans }}
                                </a>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            {% endif %}
        </div>
    </header>
    <div class="card-body">
        {% if groupes != null %}
            {% if selectedTypeGroupe != null and groupes|length >0 %}
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        {% for groupe in groupes %}
                            <li class="nav-item">
                                <a class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab"
                                   href="#groupe_{{ groupe.id }}">{{ groupe.libelle }} ({{ groupe.etudiants|length }}
                                                                                       )</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="tab-content">
                    {% for groupe in groupes %}
                        <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="groupe_{{ groupe.id }}">
                            <div class="row">
                                {% if etudiants[groupe.id]|length >0 %}
                                    {% for etudiant in etudiants[groupe.id] %}
                                        <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                                            <div class="text-white card-body bg-cyan py-20"
                                                 style="min-height: 230px">
                                                <div class="flexbox">
                                                    <a href="{{ path('user_profil', {type:'etudiant', slug: etudiant.slug}) }}" target="_blank">
                                                        {% if etudiant.photoName != null and etudiant.photoName !=
                                                            'noimage.png' %}
                                                            <img class="avatar avatar-xxxl avatar-bordered rounded" src="{{ asset('upload/etudiants/'~etudiant.photoName)|imagine_filter('thumb') }}" alt="photo de {{ etudiant.displayPr }}">
                                                        {% else %}
                                                            {{ include('composants/_avatar.html.twig',
                                                                {user:etudiant, size:'xxl'}) }}
                                                        {% endif %}
                                                    </a>
                                                    <div class="flex-grow pl-20">
                                                        <div><i class="fa fa-fw fa-map-marker w-20px"></i>
                                                            {% for grEtu in etudiantGroupes[etudiant.id] %}<span
                                                                    class="badge bg-primary">{{ grEtu }}</span> {% endfor %}
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-fw fa-envelope w-20px"></i>
                                                            <a href="mailto:{{ etudiant.mailUniv }}" target="_blank"
                                                               class="text-white"
                                                               title="{{ 'contacter'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                            >
                                                                {{ 'contacter'|trans }}
                                                            </a>
                                                        </div>
                                                        <div>
                                                            {% if etudiant.siteUniv != '' and etudiant.siteUniv != null %}
                                                                <a href="{{ etudiant.siteUniv }}"
                                                                   class="text-white"
                                                                   target="_blank" title="{{ 'site_universitaire'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                                >
                                                                    <i class="fa fa-fw fa-globe w-20px"></i>
                                                                    <span class="sr-only">{{ 'site_universitaire'|trans }}</span>
                                                                </a>
                                                            {% endif %}
                                                            {% if etudiant.sitePerso != '' and etudiant.sitePerso != null %}
                                                                <a href="{{ etudiant.sitePerso }}"
                                                                   class="text-white"
                                                                   target="_blank" title="{{ 'site_personnel'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                                >
                                                                    <i class="fa fa-fw fa-link"></i>
                                                                    <span class="sr-only">{{ 'site_personnel'|trans }}</span>
                                                                </a>
                                                            {% endif %}
                                                            {% if semestre.diplome.typeDiplome.apc == true %}
                                                                <a href="#"
                                                                   class="text-white"
                                                                   target="_blank" title="{{ 'portfolio_de_comptences'|trans }}"
                                                                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                                >
                                                                    <i class="fa fa-fw fa-book-open"></i>
                                                                    {{ 'portfolio_comptences'|trans }}
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                        {% if is_granted('ROLE_ETUDIANT') %}
                                                            <label class="toggler toggler-danger fs-16">
                                                                <input type="checkbox" checked class="addfavori"
                                                                       value="{{ etudiant.slug }}">
                                                                <i class="fa fa-heart"></i>
                                                            </label>
                                                        {% endif %}
{#                                                        {% if is_granted('ROLE_PERMANENT') and user_data.user.id == 1 %}#}
{#                                                            <button class="removeEtudiantDepartement btn#}
{#                                                        btn-danger" data-etudiant="{{ etudiant.id }}">#}
{#                                                                Effacer département#}
{#                                                            </button>#}
{#                                                        {% endif %}#}
                                                    </div>
                                                </div>
                                                <h4>
                                                    <a class="text-white trombinoscope_nom" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                       target="_blank"
                                                       title="Profil" href="{{ path('user_profil', {type:'etudiant', slug: etudiant.slug}) }}">
                                                        {{ etudiant.displayPr }}
                                                    </a></h4>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-sm-12">
                                        <div class="alert alert-warning">
                                            {{ 'aucun.etudiant.groupe'|trans }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    {{ 'aucun.groupe.dans.typegroupe'|trans }}
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-warning">
                {{ 'aucun.groupe.par.defaut'|trans }}
            </div>
        {% endif %}
    </div>
</div>
