{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.configuration.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#tab-departement" role="tab"
                   aria-selected="false">{{ 'adm.configuration.tab.departement.menu'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-diplome" role="tab"
                   aria-selected="false">{{ 'adm.configuration.tab.diplome.menu'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-annee"
                   role="tab">{{ 'adm.configuration.tab.annee.menu'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-semestre"
                   role="tab">{{ 'adm.configuration.tab.semestre.menu'|trans }}</a>
            </li>
        </ul>

        <div class="buttons">
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="tab-content">
        <div class="tab-pane active" id="tab-departement" role="tabpanel">
            <div class="card">
                <h4 class="card-title">{{ 'adm.configuration.tab.departement.heading'|trans }}</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="media">
                                <div class="media-body">
                                    <p><strong>{{ 'table.opt_annee_previsionnel'|trans }}</strong></p>
                                    <p>{{ 'help.opt_annee_previsionnel'|trans }}</p>
                                </div>
                                <label class="sr-only" for="optAnneePrevisionnel">optAnneePrevisionnel</label>
                                <select class="form-control col-sm-6 changeOptionSelect"
                                        name="optAnneePrevisionnel"
                                        id="optAnneePrevisionnel"
                                        data-type="departement"
                                        data-id="{{ user_data.departement.id }}">
                                    <option value="">{{ 'non.selectionee'|trans }} / {{ 'aucune'|trans }}</option>
                                    {% for annee in 'now'|date('Y')-2 .. 'now'|date('Y')+2 %}
                                        <option value="{{ annee }}"
                                                {% if user_data.departement.optAnneePrevisionnel == annee %}selected{% endif %}>{{ annee }}</option>
                                    {% endfor %}
                                </select>
                            </div>


                            <div class="media">
                                <div class="media-body">
                                    <p><strong>{{ 'table.opt_edt'|trans }}</strong></p>
                                    <p>{{ 'help.opt_edt'|trans }}</p>
                                </div>
                                <label class="switch" for="optEdt">
                                    <input type="checkbox" {{ user_data.departement.optEdt ? 'checked': '' }}
                                           class="changeOption"
                                           name="optEdt"
                                           id="optEdt"
                                           data-type="departement"
                                           data-id="{{ user_data.departement.id }}">
                                    <span class="switch-indicator"></span>
                                </label>
                            </div>

                            <div class="media">
                                <div class="media-body">
                                    <p><strong>{{ 'table.opt_stage'|trans }}</strong></p>
                                    <p>{{ 'help.opt_stage'|trans }}</p>
                                </div>
                                <label class="switch" for="optStage">
                                    <input type="checkbox" {{ user_data.departement.optStage ? 'checked': '' }}
                                           class="changeOption"
                                           name="optStage"
                                           id="optStage"
                                           data-type="departement"
                                           data-id="{{ user_data.departement.id }}">
                                    <span class="switch-indicator"></span>
                                </label>
                            </div>

                            <div class="media">
                                <div class="media-body">
                                    <p><strong>{{ 'table.opt_messagerie'|trans }}</strong></p>
                                    <p>{{ 'help.opt_messagerie'|trans }}</p>
                                </div>
                                <label class="switch" for="optMessagerie">
                                    <input type="checkbox" {{ user_data.departement.optMessagerie ? 'checked': '' }}
                                           class="changeOption"
                                           name="optMessagerie"
                                           id="optMessagerie"
                                           data-type="departement"
                                           data-id="{{ user_data.departement.id }}">
                                    <span class="switch-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <div class="media-body">
                                    <p><strong>{{ 'table.opt_agence'|trans }}</strong></p>
                                    <p>{{ 'help.opt_agence'|trans }}</p>
                                </div>
                                <label class="switch" for="optAgence">
                                    <input type="checkbox" {{ user_data.departement.optAgence ? 'checked': '' }}
                                           class="changeOption"
                                           name="optAgence"
                                           id="optAgence"
                                           data-type="departement"
                                           data-id="{{ user_data.departement.id }}">
                                    <span class="switch-indicator"></span>
                                </label>
                            </div>

                            <div class="media">
                                <div class="media-body">
                                    <p><strong>{{ 'table.opt_materiel'|trans }}</strong></p>
                                    <p>{{ 'help.opt_materiel'|trans }}</p>
                                </div>
                                <label class="switch" for="optMateriel">
                                    <input type="checkbox" {{ user_data.departement.optMateriel ? 'checked': '' }}
                                           class="changeOption"
                                           name="optMateriel"
                                           id="optMateriel"
                                           data-type="departement"
                                           data-id="{{ user_data.departement.id }}">
                                    <span class="switch-indicator"></span>
                                </label>
                            </div>

                            <div class="media">
                                <div class="media-body">
                                    <p><strong>{{ 'table.opt_synthese'|trans }}</strong></p>
                                    <p>{{ 'help.opt_synthese'|trans }}</p>
                                </div>
                                <label class="switch" for="optSynthese">
                                    <input type="checkbox" {{ user_data.departement.optSynthese ? 'checked': '' }}
                                           class="changeOption"
                                           name="optSynthese"
                                           id="optSynthese"
                                           data-type="departement"
                                           data-id="{{ user_data.departement.id }}">
                                    <span class="switch-indicator"></span>
                                </label>
                            </div>

                            <div class="media">
                                <div class="media-body">
                                    <p><strong>{{ 'table.respRi'|trans }}</strong></p>
                                    <p>{{ 'help.respRi'|trans }}</p>
                                </div>
                                <label class="sr-only" for="respRi">respRi</label>
                                <select class="form-control col-sm-6 changeOptionSelect"
                                        name="respRi"
                                        id="respRi"
                                        data-type="departement"
                                        data-id="{{ user_data.departement.id }}">
                                    <option value="">{{ 'non.selectione'|trans }} / {{ 'aucun'|trans }}</option>
                                    {% for personnel in user_data.personnels %}
                                        <option value="pers{{ personnel.id }}"
                                                {% if user_data.departement.respRi != null and user_data.departement.respRi.id == personnel.id %}selected{% endif %}>{{ personnel.display }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab-diplome" role="tabpanel">
            <div class="card">
                <h4 class="card-title">{{ 'adm.configuration.tab.diplome.heading'|trans }}</h4>
                <div class="card-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        {% for diplome in user_data.diplomes %}
                            <li class="nav-item">
                                <a class="nav-link {% if loop.first %} active{% endif %}" data-bs-toggle="tab"
                                   href="#diplome{{ diplome.id }}">{{ diplome.libelle }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        {% for diplome in user_data.diplomes %}
                            <div class="tab-pane {% if loop.first %}fade active show{% endif %}"
                                 id="diplome{{ diplome.id }}">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.annee_courante'|trans }}</strong></p>
                                                <p>{{ 'help.annee_courante'|trans }}</p>
                                            </div>
                                            <label class="sr-only" for="anneeUniversitaire_{{ diplome.id }}">anneeUniversitaire_{{ diplome.id }}</label>
                                            <select class="form-control col-sm-6 changeOptionSelect"
                                                    name="anneeUniversitaire"
                                                    id="anneeUniversitaire_{{ diplome.id }}"
                                                    data-type="diplome"
                                                    data-id="{{ diplome.id }}"
                                            >
                                                <option value="">{{ 'non.selectionee'|trans }}
                                                    / {{ 'aucune'|trans }}</option>
                                                {% for annee in anneeUniversitaire %}
                                                    <option value="anneeuniv{{ annee.id }}"
                                                            {% if diplome.anneeUniversitaire.id == annee.id %}selected{% endif %}>{{ annee.displayAnneeUniversitaire }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_nb_jours_saisie'|trans }}</strong></p>
                                                <p>{{ 'help.opt_nb_jours_saisie'|trans }}</p>
                                            </div>
                                            <label class="sr-only" for="optNbJoursSaisie_{{ diplome.id }}">optNbJoursSaisie_{{ diplome.id }}</label>
                                            <select class="form-control col-sm-6 changeOptionSelect"
                                                    name="optNbJoursSaisie"
                                                    id="optNbJoursSaisie_{{ diplome.id }}"
                                                    data-type="diplome"
                                                    data-id="{{ diplome.id }}"
                                            >
                                                <option value="0" selected>{{ 'non.selectione'|trans }}
                                                    / {{ 'illimite'|trans }}</option>
                                                {% for i in 1 .. 30 %}
                                                    <option value="{{ i }}"
                                                            {% if diplome.optNbJoursSaisie == i %}selected{% endif %}>{{ i }}
                                                        jour(s)
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_suppr_absence'|trans }}</strong></p>
                                                <p>{{ 'help.opt_suppr_absence'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optSupprAbsence_{{ diplome.id }}">
                                                <input type="checkbox" {{ diplome.optSupprAbsence ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optSupprAbsence"
                                                       id="optSupprAbsence_{{ diplome.id }}"
                                                       data-type="diplome"
                                                       data-id="{{ diplome.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_espace_perso_visible'|trans }}</strong></p>
                                                <p>{{ 'help.opt_espace_perso_visible'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optEspacePersoVisible_{{ diplome.id }}">
                                                <input type="checkbox" {{ diplome.optEspacePersoVisible ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optEspacePersoVisible"
                                                       id="optEspacePersoVisible_{{ diplome.id }}"
                                                       data-type="diplome"
                                                       data-id="{{ diplome.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_dilpome_decale'|trans }}</strong></p>
                                                <p>{{ 'help.opt_dilpome_decale'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optDilpomeDecale_{{ diplome.id }}">
                                                <input type="checkbox" {{ diplome.optDilpomeDecale ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optDilpomeDecale"
                                                       id="optDilpomeDecale_{{ diplome.id }}"
                                                       data-type="diplome"
                                                       data-id="{{ diplome.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_anonymat'|trans }}</strong></p>
                                                <p>{{ 'help.opt_anonymat'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optAnonymat_{{ diplome.id }}">
                                                <input type="checkbox" {{ diplome.optAnonymat ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optAnonymat"
                                                       id="optAnonymat_{{ diplome.id }}"
                                                       data-type="diplome"
                                                       data-id="{{ diplome.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_nb_semaines_visibles'|trans }}</strong></p>
                                                <p>{{ 'help.opt_nb_semaines_visibles'|trans }}</p>
                                            </div>
                                            <label class="sr-only" for="optSemainesVisibles_{{ diplome.id }}">optSemainesVisibles_{{ diplome.id }}</label>
                                            <select class="form-control col-sm-6 changeOptionSelect"
                                                    name="optSemainesVisibles"
                                                    id="optSemainesVisibles_{{ diplome.id }}"
                                                    data-type="diplome"
                                                    data-id="{{ diplome.id }}"
                                            >
                                                <option value="0" selected>{{ 'non.selectione'|trans }}
                                                    / {{ 'afficher.toutes.les.semaines'|trans }}</option>
                                                {% for i in 1 .. 30 %}
                                                    <option value="{{ i }}"
                                                            {% if diplome.optSemainesVisibles == i %}selected{% endif %}>{{ i }}
                                                        semaine(s)
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>


                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_commentaires_releve'|trans }}</strong></p>
                                                <p>{{ 'help.opt_commentaires_releve'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optCommentairesReleve_{{ diplome.id }}">
                                                <input type="checkbox" {{ diplome.optCommentairesReleve ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optCommentairesReleve"
                                                       id="optCommentairesReleve_{{ diplome.id }}"
                                                       data-type="diplome"
                                                       data-id="{{ diplome.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>


                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_methode_calcul'|trans }}</strong></p>
                                                <p>{{ 'help.opt_methode_calcul'|trans }}</p>
                                            </div>
                                            <label class="sr-only" for="optMethodeCalcul_{{ diplome.id }}">optMethodeCalcul_{{ diplome.id }}</label>
                                            <select class="form-control col-sm-6 changeOptionSelect"
                                                    name="optMethodeCalcul"
                                                    id="optMethodeCalcul_{{ diplome.id }}"
                                                    data-type="diplome"
                                                    data-id="{{ diplome.id }}">
                                                <option value="moymodules"
                                                        {% if diplome.optMethodeCalcul == 'moymodules' %}selected{% endif %}>
                                                    Moyenne des modules
                                                </option>
                                                <option value="moyues"
                                                        {% if diplome.optMethodeCalcul == 'moyues' %}selected{% endif %}>
                                                    Moyenne des UEs
                                                </option>
                                            </select>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_qualite'|trans }}</strong></p>
                                                <p>{{ 'help.opt_qualite'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optCertifieQualite_{{ diplome.id }}">
                                                <input type="checkbox" {{ diplome.optCertifieQualite ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optCertifieQualite"
                                                       id="optCertifieQualite_{{ diplome.id }}"
                                                       data-type="diplome"
                                                       data-id="{{ diplome.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p>
                                                    <strong>{{ 'table.opt_responsable_qualite'|trans }}</strong>
                                                </p>
                                                <p>{{ 'help.opt_responsable_qualite'|trans }}</p>
                                            </div>
                                            <label class="sr-only" for="optResponsableQualite_{{ diplome.id }}">optResponsableQualite_{{ diplome.id }}</label>
                                            <select class="form-control col-sm-6 changeOptionSelect"
                                                    name="optResponsableQualite"
                                                    id="optResponsableQualite_{{ diplome.id }}"
                                                    data-type="diplome"
                                                    data-id="{{ diplome.id }}">
                                                <option value="">{{ 'non.selectione'|trans }}
                                                    / {{ 'aucun'|trans }}</option>
                                                {% for personnel in user_data.allPersonnels %}
                                                    <option value="pers{{ personnel.id }}"
                                                            {% if diplome.optResponsableQualite != null and diplome.optResponsableQualite.id == personnel.id %}selected{% endif %}>{{ personnel.display }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_update_celcat'|trans }}</strong></p>
                                                <p>{{ 'help.opt_update_celcat'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optUpdateCelcat">
                                                <input type="checkbox" {{ diplome.optUpdateCelcat ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optUpdateCelcat"
                                                       id="optUpdateCelcat"
                                                       data-type="diplome"
                                                       data-id="{{ diplome.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab-annee" role="tabpanel">
            <div class="card">
                <h4 class="card-title">{{ 'adm.configuration.tab.annee.heading'|trans }}</h4>
                <div class="card-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        {% for annee in user_data.annees %}
                            <li class="nav-item">
                                <a class="nav-link {% if loop.first %} active{% endif %}" data-bs-toggle="tab"
                                   href="#annee{{ annee.id }}">{{ annee.libelle }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        {% for annee in user_data.annees %}
                            <div class="tab-pane {% if loop.first %}fade active show{% endif %}"
                                 id="annee{{ annee.id }}">
                                {{ annee.libelle }}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_alternance'|trans }}</strong></p>
                                                <p>{{ 'help.opt_alternance'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optAlternance_{{ annee.id }}">
                                                <input type="checkbox" {{ annee.optAlternance ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optAlternance_{{ annee.id }}"
                                                       id="optAlternance_{{ annee.id }}"
                                                       data-type="annee"
                                                       data-id="{{ annee.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab-semestre" role="tabpanel">
            <div class="card">
                <h4 class="card-title">{{ 'adm.configuration.tab.semestre.heading'|trans }}</h4>
                <div class="card-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        {% for semestre in user_data.semestres %}
                            <li class="nav-item">
                                <a class="nav-link {% if loop.first %} active{% endif %}" data-bs-toggle="tab"
                                   href="#sem{{ semestre.id }}">{{ semestre.libelle }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        {% for semestre in user_data.semestres %}
                            <div class="tab-pane {% if loop.first %}fade active show{% endif %}"
                                 id="sem{{ semestre.id }}">
                                {{ semestre.libelle }}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_mail_releve'|trans }}</strong></p>
                                                <p>{{ 'help.opt_mail_releve'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optMailReleve_{{ semestre.id }}">
                                                <input type="checkbox" {{ semestre.optMailReleve ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optMailReleve_{{ semestre.id }}"
                                                       id="optMailReleve_{{ semestre.id }}"
                                                       data-type="semestre"
                                                       data-id="{{ semestre.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_destinataire_mail_releve'|trans }}</strong></p>
                                                <p>{{ 'help.opt_destinataire_mail_releve'|trans }}</p>
                                            </div>
                                            <label class="sr-only" for="optDestMailReleve_{{ semestre.id }}">optDestMailReleve_{{ semestre.id }}</label>
                                            <select class="form-control col-sm-6 changeOptionSelect"
                                                    name="optDestMailReleve_{{ semestre.id }}"
                                                    id="optDestMailReleve_{{ semestre.id }}"
                                                    data-type="semestre"
                                                    data-id="{{ semestre.id }}">
                                                <option value="">{{ 'non.selectione'|trans }}
                                                    / {{ 'aucun'|trans }}</option>
                                                {% for personnel in user_data.personnels %}
                                                    <option value="pers{{ personnel.id }}"
                                                            {% if semestre.optDestMailReleve != null and semestre.optDestMailReleve.id == personnel.id %}selected{% endif %}>{{ personnel.display }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_mail_modification_note'|trans }}</strong></p>
                                                <p>{{ 'help.opt_mail_modification_note'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optMailModificationNote_{{ semestre.id }}">
                                                <input type="checkbox" {{ semestre.optMailModificationNote ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optMailModificationNote_{{ semestre.id }}"
                                                       id="optMailModificationNote_{{ semestre.id }}"
                                                       data-type="semestre"
                                                       data-id="{{ semestre.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p>
                                                    <strong>{{ 'table.opt_destinataure_mail_modification_note'|trans }}</strong>
                                                </p>
                                                <p>{{ 'help.opt_destinataure_mail_modification_note'|trans }}</p>
                                            </div>
                                            <label class="sr-only" for="optDestMailModifNote_{{ semestre.id }}">optDestMailModifNote_{{ semestre.id }}</label>
                                            <select class="form-control col-sm-6 changeOptionSelect"
                                                    name="optDestMailModifNote_{{ semestre.id }}"
                                                    id="optDestMailModifNote_{{ semestre.id }}"
                                                    data-type="semestre"
                                                    data-id="{{ semestre.id }}">
                                                <option value="">{{ 'non.selectione'|trans }}
                                                    / {{ 'aucun'|trans }}</option>
                                                {% for personnel in user_data.personnels %}
                                                    <option value="pers{{ personnel.id }}"
                                                            {% if semestre.optDestMailModifNote != null and semestre.optDestMailModifNote.id == personnel.id %}selected{% endif %}>{{ personnel.display }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_mail_absence_responsable'|trans }}</strong></p>
                                                <p>{{ 'help.opt_mail_absence_responsable'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optMailAbsenceResp_{{ semestre.id }}">
                                                <input type="checkbox" {{ semestre.optMailAbsenceResp ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optMailAbsenceResp_{{ semestre.id }}"
                                                       id="optMailAbsenceResp_{{ semestre.id }}"
                                                       data-type="semestre"
                                                       data-id="{{ semestre.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p>
                                                    <strong>{{ 'table.opt_destinataure_mail_absence_responsable'|trans }}</strong>
                                                </p>
                                                <p>{{ 'help.opt_destinataure_mail_absence_responsable'|trans }}</p>
                                            </div>
                                            <label class="sr-only" for="optDestMailAbsenceResp_{{ semestre.id }}">optDestMailAbsenceResp_{{ semestre.id }}</label>
                                            <select class="form-control col-sm-6 changeOptionSelect"
                                                    name="optDestMailAbsenceResp_{{ semestre.id }}"
                                                    id="optDestMailAbsenceResp_{{ semestre.id }}"
                                                    data-type="semestre"
                                                    data-id="{{ semestre.id }}">
                                                <option value="">{{ 'non.selectione'|trans }}
                                                    / {{ 'aucun'|trans }}</option>
                                                {% for personnel in user_data.personnels %}
                                                    <option value="pers{{ personnel.id }}"
                                                            {% if semestre.optDestMailAbsenceResp != null and semestre.optDestMailAbsenceResp.id == personnel.id %}selected{% endif %}>{{ personnel.display }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_mail_assistante_justificatif_absence'|trans }}</strong></p>
                                                <p>{{ 'help.opt_mail_assistante_justificatif_absence'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optMailAssistanteJustificatifAbsence_{{
                                            semestre.id }}">
                                                <input type="checkbox" {{ semestre.optMailAssistanteJustificatifAbsence ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optMailAssistanteJustificatifAbsence_{{ semestre.id }}"
                                                       id="optMailAssistanteJustificatifAbsence_{{ semestre.id }}"
                                                       data-type="semestre"
                                                       data-id="{{ semestre.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_evaluation_pre_initialisee'|trans }}</strong>
                                                </p>
                                                <p>{{ 'help.opt_evaluation_pre_initialisee'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optEvaluationPreInitialisee_{{ semestre.id }}">
                                                <input type="checkbox" {{ semestre.optEvaluationPreInitialisee ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optEvaluationPreInitialisee_{{ semestre.id }}"
                                                       id="optEvaluationPreInitialisee_{{ semestre.id }}"
                                                       data-type="semestre"
                                                       data-id="{{ semestre.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>
                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_evaluation_visible'|trans }}</strong></p>
                                                <p>{{ 'help.opt_evaluation_visible'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optEvaluationVisible_{{ semestre.id }}">
                                                <input type="checkbox" {{ semestre.optEvaluationVisible ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optEvaluationVisible_{{ semestre.id }}"
                                                       id="optEvaluationVisible_{{ semestre.id }}"
                                                       data-type="semestre"
                                                       data-id="{{ semestre.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_evaluation_modifiable'|trans }}</strong></p>
                                                <p>{{ 'help.opt_evaluation_modifiable'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optEvaluationModifiable_{{ semestre.id }}">
                                                <input type="checkbox" {{ semestre.optEvaluationModifiable ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optEvaluationModifiable_{{ semestre.id }}"
                                                       id="optEvaluationModifiable_{{ semestre.id }}"
                                                       data-type="semestre"
                                                       data-id="{{ semestre.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_mail_absence_etudiant'|trans }}</strong></p>
                                                <p>{{ 'help.opt_mail_absence_etudiant'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optMailAbsenceEtudiant_{{ semestre.id }}">
                                                <input type="checkbox" {{ semestre.optMailAbsenceEtudiant ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optMailAbsenceEtudiant_{{ semestre.id }}"
                                                       id="optMailAbsenceEtudiant_{{ semestre.id }}"
                                                       data-type="semestre"
                                                       data-id="{{ semestre.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_penalite_absence'|trans }}</strong></p>
                                                <p>{{ 'help.opt_penalite_absence'|trans }}</p>
                                            </div>
                                            <label class="switch" for="optPenaliteAbsence_{{ semestre.id }}">
                                                <input type="checkbox" {{ semestre.optPenaliteAbsence ? 'checked': '' }}
                                                       class="changeOption"
                                                       name="optPenaliteAbsence_{{ semestre.id }}"
                                                       id="optPenaliteAbsence_{{ semestre.id }}"
                                                       data-type="semestre"
                                                       data-id="{{ semestre.id }}">
                                                <span class="switch-indicator"></span>
                                            </label>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_point_penalite_absence'|trans }}</strong></p>
                                                <p>{{ 'help.opt_point_penalite_absence'|trans }}</p>
                                            </div>
                                            <label class="sr-only" for="optPointPenaliteAbsence_{{ semestre.id }}">optPointPenaliteAbsence_{{ semestre.id }}</label>
                                            <select class="form-control col-sm-6 changeOptionSelect"
                                                    name="optPointPenaliteAbsence_{{ semestre.id }}"
                                                    id="optPointPenaliteAbsence_{{ semestre.id }}"
                                                    data-type="semestre"
                                                    data-id="{{ semestre.id }}">
                                                {% for i in 1 .. 15 %}
                                                    <option value="{{ i/10 }}"
                                                            {% if semestre.optPointPenaliteAbsence == i/10 %}selected{% endif %}>{{ i/10 }} {{ 'point.s'|trans }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="media">
                                            <div class="media-body">
                                                <p><strong>{{ 'table.opt_nb_jours_saisie_absence'|trans }}</strong></p>
                                                <p>{{ 'help.opt_nb_jours_saisie_absence'|trans }}</p>
                                            </div>
                                            <label class="sr-only" for="optNbJoursSaisieAbsence_{{ semestre.id }}">optNbJoursSaisieAbsence_{{ semestre.id }}</label>
                                            <select class="form-control col-sm-6 changeOptionSelect"
                                                    name="optNbJoursSaisieAbsence_{{ semestre.id }}"
                                                    id="optNbJoursSaisieAbsence_{{ semestre.id }}"
                                                    data-type="semestre"
                                                    data-id="{{ semestre.id }}">
                                                {% for i in 0 .. 30 %}
                                                    <option value="{{ i }}"
                                                            {% if semestre.optNbJoursSaisieAbsence == i %}selected{% endif %}>{{ i }} {{ 'jour.s'|trans }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.configuration') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.configuration') }}
{% endblock %}
