{% extends (is_granted('ROLE_ADMINISTRATIF')) ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.questionnaire.section.new.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('sadm_questionnaire_section_index') }}" class="btn
                btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="Retour aux questionnaires"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">
            {{ 'adm.questionnaire.section.new.heading'|trans }}
        </h4>
        <div class="card-body">
            {{ include('composants/adm-form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('questionnaire') }}
    <script defer>
      document.querySelector('#fieldset_questionnaire_section_sectionAdapter').style.display = 'none'
    </script>
{% endblock %}
