{% extends (is_granted('ROLE_ADMINISTRATIF')) ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.questionnaire.section.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('sadm_questionnaire_section_delete', {id: questionnaire_section.id}) }}" data-csrf="{{ csrf_token('delete' ~ questionnaire_section.id) }}"
               class="btn btn-danger btn-sm btn-float supprimer" title="{{ 'atitle.supprimer'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="{{ iconDelete }}"></i></a>
            <a href="{{ path('sadm_questionnaire_section_edit', {id:questionnaire_section.id}) }}" class="btn
                btn-warning btn-sm btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.modifier'|trans }}"><i class="{{ iconEdit }}"></i></a>
            <a href="{{ path('sadm_questionnaire_section_index') }}" class="btn
                btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="Retour aux questionnaires"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">
            {{ 'adm.questionnaire.section.show.heading'|trans }}
        </h4>
        <div class="card-body">
            <div class="alert alert-info mb-2">Une section est un ensemble de une ou plusieurs questions. Un
                                               questionnaire est composé de sections. Une section peut avoir des
                                               paramètres (prévisionnel, matières, ...).
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <th>Titre</th>
                    <td>{{ questionnaire_section.titre }}</td>
                </tr>
                <tr>
                    <th>TextExplicatif</th>
                    <td>{{ questionnaire_section.textExplicatif }}</td>
                </tr>
                <tr>
                    <th>Config</th>
                    <td>
{#                        {{ questionnaire_section.config }}#}
                    </td>
                </tr>
                <tr>
                    <th>TypeCalcul</th>
                    <td>{{ questionnaire_section.typeCalcul }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ questionnaire_section.created ? questionnaire_section.created|format_datetime('short',
                            'short') :
                        'non.defini'|trans }}</td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td>{{ questionnaire_section.updated ? questionnaire_section.updated|format_datetime('short',
                            'short') :
                        'non.defini'|trans }}</td>
                </tr>
                <tr>
                    <th>Utilisation</th>
                    <td>Cette section est utilisée dans {% if questionnaire_section
                        .qualiteQuestionnaireSections|length > 0 %}
                            <span class="badge bg-warning">{{ questionnaire_section.qualiteQuestionnaireSections|length }}</span>{% else %}
                            <span class="badge bg-success">0</span>{% endif %} questionnaire(s)
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <h4 class="card-title">
            {{ 'adm.questionnaire.section.show.questions.heading'|trans }}
        </h4>
        <div class="card-body" {{ stimulus_controller('questionnaire_section', {
            url: path('sadm_questionnaire_section_question_manage', {id:questionnaire_section.id})
        }) }}
             data-questionnaire-section-target="questions">
            {{ include('questionnaire/administration/questionnaire_section/_tableauQuestion.html.twig',
                {qualiteSectionQuestions:questionnaire_section.qualiteSectionQuestions}) }}
        </div>
    </div>
{% endblock %}
