<div class="row mb-2">
    <div class="col-6">
        <h5>Plan de cours de : {{ matiere.display }}</h5>
    </div>
    <div class="col-4">
        Formation : <strong>{{ matiere.diplome.display }}</strong>
    </div>
    <div class="col-2">
        Année : <strong>{{ user_data.anneeUniversitaire.displayAnneeUniversitaire }}</strong>
    </div>
    <div class="col-12">
        Intervenant(s) : liste des auteurs du prévisionnel
    </div>
</div>
