<div class="row mb-4">
    <div class="col-6">
        Plan de cours de : <strong>{{ matiere.display }}</strong>
    </div>
    <div class="col-4">
        Formation : <strong>{{ matiere.diplome.display }}</strong>
    </div>
    <div class="col-2">
        Année : <strong>{{ user_data.anneeUniversitaire.displayAnneeUniversitaire }}</strong>
    </div>
    {% if step != 1 %}
        <div class="col-12">
            Intervenant(s) :
            <strong>{% for intervenant in plan_cours.intervenants %}{{ intervenant.displayPr }}{% if not
                    loop.last %}, {% endif %}{% else %}Non précisé{% endfor %}</strong>
        </div>
    {% endif %}
</div>
