{% extends is_granted('ROLE_SUPER_ADMIN') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% if is_granted('ROLE_SUPER_ADMIN') %}
    {% set baseurl = 'sa_' %}
{% else %}
    {% set baseurl = 'administration_' %}
{% endif %}

{% block header %}
    {{ 'structure.de.la.departement.heading'|trans({ '%departement%': departement.libelle}) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('sa_matiere_import', {departement:departement.id}) }}" class="btn btn-info btn-sm
                btn-float"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.import_ppn'|trans }}"><i class="fas fa-file-import"></i><span
                            class="sr-only">importer</span></a>

                <a href="{{ path('sa_diplome_new_wizard_index', {departement:departement.id}) }}" class="btn btn-info
                btn-sm
                btn-float"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'assistant.creation.diplome'|trans }}"><i class="fas fa-magic"></i><span
                            class="sr-only">{{ 'assistant.creation.diplome'|trans }}</span></a>
                <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.retour_super_administration'|trans }}">
                    <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
                </a>
            {% else %}
                <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <header class="card-header">
            <h4 class="card-title">
                {{ 'structure.de.la.departement.heading'|trans({ '%departement%': departement.libelle}) }}
            </h4>
            <div class="card-header-actions" style="">
                {% for diplome in departement.diplomes %}
                    <a href="#diplome_{{ diplome.id }}" class="btn btn-sm btn">{{ diplome.typeDiplome.sigle }} {{ diplome.sigle }}</a>
                {% endfor %}
            </div>
        </header>
        <div class="card-body">

            <div class="row gap-y ">
                <div class="col-md-10"><a href="#" class="myedit">{{ departement.libelle }}</a></div>
                <div class="col-md-2">

                    <a href="{{ path(baseurl ~ 'departement_show', {'id': departement.id}) }}"
                       class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="{{ 'atitle.details'|trans }}"><i class="{{ iconShow }}"></i></a>

                    <a href="{{ path(baseurl ~ 'departement_edit', {'id': departement.id}) }}"
                       class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                                data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                                title="{{ 'atitle.modifier'|trans }}"></i></a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        {% if departement.actif == true %}
                            <a href="{{ path(baseurl ~ 'departement_activate', {'departement': departement.id,
                                etat:0}) }}"
                               class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
                        {% else %}
                            <a href="{{ path(baseurl ~ 'departement_activate', {'departement': departement.id,
                                etat:1}) }}"
                               class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% for diplome in departement.diplomes %}
                <div class="row gap-y lignehover">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-9" id="diplome_{{ diplome.id }}">{{ diplome.typediplome.sigle }}
                        | {{ diplome.libelle }} | {{ diplome.codeDiplome }} | {{ diplome.codeVersion }} | {{ diplome
                        .codeDepartement }}</div>
                    <div class="col-md-2">

                        <a href="{{ path(baseurl ~ 'diplome_duplicate', {'id': diplome.id}) }}"
                           class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="{{ 'atitle.dupliquer'|trans }}"><i class="{{ iconDuplicate }}"></i></a>
                        <a href="{{ path(baseurl ~ 'diplome_show', {'id': diplome.id}) }}"
                           class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="{{ 'atitle.details'|trans }}"><i class="{{ iconShow }}"></i></a>

                        <a href="{{ path(baseurl ~ 'diplome_edit', {'id': diplome.id}) }}"
                           class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                                    data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                                    title="{{ 'atitle.modifier'|trans }}"></i></a>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            {% if diplome.actif == true %}
                                <a href="{{ path(baseurl ~ 'diplome_activate', {'diplome': diplome.id, etat:0}) }}"
                                   class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
                            {% else %}
                                <a href="{{ path(baseurl ~ 'diplome_activate', {'diplome': diplome.id, etat:1}) }}"
                                   class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
                            {% endif %}
                            {% if diplome.annees|length == 0 %}
                                <a href="{{ path(baseurl ~ 'diplome_delete', {id: diplome.id}) }}"
                                   data-csrf="{{ csrf_token('delete' ~ diplome.id) }}"
                                   class="btn btn-danger btn-outline btn-square btn-xs supprimer"><i
                                            class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="{{ 'atitle.supprimer'|trans }}"></i></a>
                            {% endif %}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <span class="dropdown">
                                <a data-bs-toggle="dropdown" href="#">
                                    <i class="fas fa-ellipsis-h rotate-90"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="Options d'export ou d'import"></i>
                                    <span class="sr-only">
                                        Options  d'export  ou d'import</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{{ path(baseurl ~ 'diplome_import_index', {id:
                                        diplome.id}) }}"><i class="fas fa-upload"></i> Importer une maquette</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path(baseurl ~ 'diplome_export_referentiel', {id:
                                        diplome
                                        .id}) }}"><i class="fas fa-download"></i> Exporter Référentiel</a>
                                    <a class="dropdown-item" href="{{ path(baseurl ~ 'diplome_export_programme', {id:
                                        diplome.id}) }}"><i class="fas fa-download"></i> Exporter Programme</a>
                                    <a class="dropdown-item" href="{{ path(baseurl ~ 'diplome_export_maquette_apogee',
                                        {id:
                                            diplome.id}) }}"><i class="fas fa-download"></i> Exporter Maquette</a>
                                </div>
                            </span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% if diplome.typeDiplome.apc == true %}
                    <div class="row gap-y lignehover">
                        <div class="col-md-1">&nbsp;</div>
                        <div class="col-md-11">
                            <a href="{{ path('administration_apc_referentiel_index', {diplome:diplome.id}) }}"
                               class="btn btn-info btn-block" title="Accéder au référentiel de compétences"><i
                                        class="fa fa-warehouse"></i> Accéder au référentiel de compétences</a>
                        </div>
                    </div>
                {% endif %}

                {% for annee in diplome.annees %}
                    <div class="row gap-y dip_{{ diplome.id }} lignehover">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">{{ annee.libelle }} | {{ annee.codeEtape }}
                                                                  | {{ annee.codeVersion }}</div>
                        <div class="col-md-2">
                            <a href="{{ path(baseurl ~ 'annee_duplicate', {'id': annee.id}) }}"
                               class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.dupliquer'|trans }}"><i class="{{ iconDuplicate }}"></i></a>
                            <a href="{{ path(baseurl ~ 'annee_show', {'id': annee.id}) }}"
                               class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.details'|trans }}"><i class="{{ iconShow }}"></i></a>

                            <a href="{{ path(baseurl ~ 'annee_edit', {'id': annee.id}) }}"
                               class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                                        data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                                        title="{{ 'atitle.modifier'|trans }}"></i></a>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                {% if annee.actif == true %}
                                    <a href="{{ path(baseurl ~ 'annee_activate', {'annee': annee.id, etat:0}) }}"
                                       class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
                                {% else %}
                                    <a href="{{ path(baseurl ~ 'annee_activate', {'annee': annee.id, etat:1}) }}"
                                       class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
                                {% endif %}
                                {% if annee.semestres|length == 0 %}
                                    <a href="{{ path(baseurl ~ 'annee_delete', {id: annee.id}) }}"
                                       data-csrf="{{ csrf_token('delete' ~ annee.id) }}"
                                       class="btn btn-danger btn-outline btn-square btn-xs supprimer" data-id="id"><i
                                                class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                title="{{ 'atitle.supprimer'|trans }}"></i></a>
                                {% endif %}
                                <a href="{{ path(baseurl ~ 'annee_synchronise_apogee', {annee: annee.id}) }}"
                                   data-confirm="true"
                                   class="btn btn-purple btn-outline btn-square btn-xs"><i
                                            class="fas fa-sync-alt" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="{{ 'atitle.synchro_apogee'|trans }}"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    {% for semestre in annee.semestres %}

                        <div class="row gap-y dip_semestre_{{ diplome.id }} semestre_{{ annee.id }} lignehover">
                            <div class="col-md-3"></div>
                            <div class="col-md-7">{{ semestre.libelle }} | {{ semestre.codeElement }}</div>
                            <div class="col-md-2">
                                <a href="{{ path(baseurl ~ 'semestre_duplicate', {'id': semestre.id}) }}"
                                   class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="{{ 'atitle.dupliquer'|trans }}"><i
                                            class="{{ iconDuplicate }}"></i></a>
                                <a href="{{ path(baseurl ~ 'semestre_show', {'id': semestre.id}) }}"
                                   class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="{{ 'atitle.details'|trans }}"><i
                                            class="{{ iconShow }}"></i></a>

                                <a href="{{ path(baseurl ~ 'semestre_edit', {'id': semestre.id}) }}"
                                   class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                                            data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                                            title="{{ 'atitle.modifier'|trans }}"></i></a>

                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    {% if semestre.actif == true %}
                                        <a href="{{ path(baseurl ~ 'semestre_activate', {'semestre': semestre.id,
                                            etat:0}) }}"
                                           class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                           title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
                                    {% else %}
                                        <a href="{{ path(baseurl ~ 'semestre_activate', {'semestre': semestre.id,
                                            etat:1}) }}"
                                           class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                           title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
                                    {% endif %}
                                    {% if semestre.ues|length == 0 and semestre
                                    .parcours|length == 0 and semestre.etudiants|length == 0 %}
                                        <a href="{{ path(baseurl ~ 'semestre_delete', {id: semestre.id}) }}"
                                           data-csrf="{{ csrf_token('delete' ~ semestre.id) }}"
                                           class="btn btn-danger btn-outline btn-square btn-xs supprimer" data-id="id"><i
                                                    class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                    title="{{ 'atitle.supprimer'|trans }}"></i></a>
                                    {% endif %}
                                    <a href="{{ path(baseurl ~ 'semestre_synchronise_apogee', {semestre: semestre.id}) }}"
                                       class="btn btn-purple btn-outline btn-square btn-xs"><i
                                                class="fas fa-sync-alt" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                title="{{ 'atitle.synchro_apogee_semestre'|trans }}"></i></a>
                                {% endif %}
                            </div>
                        </div>

                        {% for ue in semestre.ues %}
                            <div class="row gap-y ue_{{ semestre.id }} lignehover">
                                <div class="col-md-4"></div>
                                <div class="col-md-6">UE {{ ue.numeroUe }} | {{ ue.codeElement }}
                                                      | {{ ue.libelle }} {% if ue
                                    .bonification==true %}(Bonification){% endif %}</div>
                                <div class="col-md-2">
                                    <a href="{{ path(baseurl ~ 'ue_duplicate', {'id': ue.id}) }}"
                                       class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="{{ 'atitle.dupliquer'|trans }}"><i
                                                class="{{ iconDuplicate }}"></i></a>
                                    <a href="{{ path(baseurl ~ 'ue_show', {'id': ue.id}) }}"
                                       class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="{{ 'atitle.details'|trans }}"><i
                                                class="{{ iconShow }}"></i></a>

                                    <a href="{{ path(baseurl ~ 'ue_edit', {'id': ue.id}) }}"
                                       class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                                                data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                                                title="{{ 'atitle.modifier'|trans }}"></i></a>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        {% if semestre.actif == true %}
                                            <a href="{{ path(baseurl ~ 'ue_activate', {'ue': ue.id, etat:0}) }}"
                                               class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
                                        {% else %}
                                            <a href="{{ path(baseurl ~ 'ue_activate', {'ue': ue.id, etat:1}) }}"
                                               class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
                                        {% endif %}
                                        {% if ue.matieres|length == 0 %}
                                            <a href="{{ path(baseurl ~ 'ue_delete', {id: ue.id}) }}"
                                               data-csrf="{{ csrf_token('delete' ~ ue.id) }}"
                                               class="btn btn-danger btn-outline btn-square btn-xs supprimer" data-id="id"><i
                                                        class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                        title="{{ 'atitle.supprimer'|trans }}"></i></a>
                                        {% endif %}
                                        <a href="{{ path(baseurl ~ 'ue_synchronise_apogee', {ue: ue.id}) }}"
                                           class="btn btn-purple btn-outline btn-square btn-xs"><i
                                                    class="fas fa-sync-alt" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                    title="{{ 'atitle.synchro_apogee_ue'|trans }}"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% for matiere in ue.matieres %}
                                <div class="row gap-y matiere_{{ ue.id }} lignehover">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-5">{{ matiere.codeMatiere }} | {{ matiere.codeElement }}
                                                                                    | {{ matiere.libelle }}</div>
                                    <div class="col-md-2">
                                        <a href="{{ path(baseurl ~ 'matiere_duplicate', {'id': matiere.id}) }}"
                                           class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                           title="{{ 'atitle.dupliquer'|trans }}"><i
                                                    class="{{ iconDuplicate }}"></i></a>
                                        <a href="{{ path(baseurl ~ 'matiere_show', {'id': matiere.id}) }}"
                                           class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                           title="{{ 'atitle.details'|trans }}"><i
                                                    class="{{ iconShow }}"></i></a>

                                        <a href="{{ path(baseurl ~ 'matiere_edit', {'id': matiere.id}) }}"
                                           class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                                                    data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                                                    title="{{ 'atitle.modifier'|trans }}"></i></a>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            {% if semestre.actif == true %}
                                                <a href="{{ path(baseurl ~ 'matiere_activate', {'matiere': matiere
                                                .id, etat:1}) }}"
                                                   class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                   title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
                                            {% else %}
                                                <a href="{{ path(baseurl ~ 'matiere_activate', {'matiere': matiere
                                                .id, etat:0}) }}"
                                                   class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                   title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
                                            {% endif %}
                                            <a href="{{ path(baseurl ~ 'matiere_delete', {id: matiere.id}) }}"
                                               data-csrf="{{ csrf_token('delete' ~ matiere.id) }}"
                                               class="btn btn-danger btn-outline btn-square btn-xs supprimer" data-id="id"><i
                                                        class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                        title="{{ 'atitle.supprimer'|trans }}"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if diplome.ppns|length == 0 %}
                                <div class="row gap-y lignehover">
                                    <div class="col-md-4"></div>

                                    <div class="col-md-8">
                                        <a href="{{ path(baseurl ~ 'ppn_new', {diplome: diplome.id}) }}"
                                           class="btn btn-warning addPpn btn-block" title="Ajouter un PPN"><i
                                                    class="fa fa-plus-circle"></i> Aucun PPN dans le diplôme. Vous
                                                                                   devez en ajouter un.</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row gap-y lignehover" id="matiere_new_{{ ue.id }}">
                                    <div class="col-md-4"></div>

                                    <div class="col-md-8">
                                        <a href="{{ path(baseurl ~ 'matiere_new', {diplome: diplome.id, ue: ue.id}) }}"
                                           class="btn btn-success addMatiere btn-block" title="Ajouter une Matière"
                                           data-ue="{{ ue.id }}"><i
                                                    class="fa fa-plus-circle"></i> Ajouter une Matière dans l'UE
                                            {{ ue.libelle }}</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="row gap-y lignehover" id="ue_new_{{ semestre.id }}">
                            <div class="col-md-4"></div>

                            <div class="col-md-8">
                                <a href="{{ path(baseurl ~ 'ue_new', {semestre: semestre.id}) }}"
                                   class="btn btn-success addUe btn-block" title="Ajouter une UE"
                                   data-semestre="{{ semestre.id }}"><i
                                            class="fa fa-plus-circle"></i> Ajouter une UE au
                                                                           semestre {{ semestre.libelle }}</a>
                            </div>
                        </div>
                        {# options #}
                        {% for parcour in semestre.parcours %}
                            <div class="row gap-y parcour_{{ semestre.id }} lignehover">
                                <div class="col-md-4"></div>
                                <div class="col-md-6">Parcours/Options {{ parcour.libelle }}
                                                      | {{ parcour.codeElement }}</div>
                                <div class="col-md-2">
                                    <a href="{{ path(baseurl ~ 'parcour_duplicate', {'id': parcour.id}) }}"
                                       class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="{{ 'atitle.dupliquer'|trans }}"><i
                                                class="{{ iconDuplicate }}"></i></a>
                                    <a href="{{ path(baseurl ~ 'parcour_show', {'id': parcour.id}) }}"
                                       class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="{{ 'atitle.details'|trans }}"><i
                                                class="{{ iconShow }}"></i></a>

                                    <a href="{{ path(baseurl ~ 'parcour_edit', {'id': parcour.id}) }}"
                                       class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                                                data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                                                title="{{ 'atitle.modifier'|trans }}"></i></a>
                                    <a href="{{ path(baseurl ~ 'parcour_delete', {id: parcour.id}) }}"
                                       data-csrf="{{ csrf_token('delete' ~ parcour.id) }}"
                                       class="btn btn-danger btn-outline btn-square btn-xs supprimer" data-id="id"><i
                                                class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                title="{{ 'atitle.supprimer'|trans }}"></i></a>
                                </div>
                            </div>

                        {% endfor %}
                        <div class="row gap-y lignehover">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <a href="{{ path(baseurl ~ 'parcour_new', {semestre: semestre.id}) }}"
                                   class="btn btn-success btn-block" title="Ajouter un Parcours/Options"><i
                                            class="fa fa-plus-circle"></i> Ajouter un Parcours/Options au
                                                                           semestre {{ semestre.libelle }}</a>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row gap-y lignehover" id="semestre_new_{{ annee.id }}">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <a href="{{ path(baseurl ~ 'semestre_new', {annee: annee.id}) }}"
                               class="btn btn-success btn-block addSemestre" title="Ajouter un semestre"
                               data-annee="{{ annee.id }}"><i class="fa fa-plus-circle"></i> Ajouter un semestre à
                                                                                             l'année {{ annee.libelle }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <div id="dip_new_{{ diplome.id }}" class="row gap-y lignehover">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-10"><a
                                href="{{ path(baseurl ~ 'annee_new',{diplome:diplome.id}) }}"
                                class="btn btn-block btn-success" data-iddip="{{ diplome.id }}"><i
                                    class="fa fa-plus-circle"></i> {{ 'ajouter.annee.diplome'|trans({'%libelle%':diplome.libelle}) }}
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div class="row gap-y lignehover">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <a href="{{ path(baseurl ~ 'diplome_new', {departement:departement.id}) }}"
                       class="btn btn-block btn-success "><i
                                class="fa fa-plus-circle"></i> {{ 'ajouter.diplome.departement'|trans({'%libelle%': departement.libelle}) }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_structure_export', {departement: departement.id, _format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "fas fa-print"},
        {
            type:'info',
            href:path('administration_structure_export', {departement: departement.id, _format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-table'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_structure'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}
