{% extends is_granted('ROLE_SUPER_ADMIN') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.structure.diplome.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ include('composants/sadm-buttons-show.html.twig', {elt: 'diplome', id: diplome.id, retour: {path: 'sa_structure_index', titre: 'atitle.retour_structure'|trans, params:{departement:diplome.departement.id}}}) }}
        {% else %}
            {{ include('composants/adm-buttons-show.html.twig', {elt: 'diplome', id: diplome.id, retour: {path: 'administration_structure_index', titre: 'atitle.retour_structure'|trans}}) }}
        {% endif %}
    </div>
{% endblock %}

{% block content %}
<div class="card">
    <h4 class="card-title">{{ 'adm.structure.diplome.show.heading'|trans }}</h4>
    <div class="card-body">

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'table.id'|trans }}</th>
                <td>{{ diplome.id }}</td>
            </tr>
            <tr>
                <th>{{ 'table.type_diplome'|trans }}</th>
                <td>{{ diplome.typeDiplome ? diplome.typeDiplome.libelle : 'non.defini'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.libelle'|trans }}</th>
                <td>{{ diplome.libelle }}</td>
            </tr>
            <tr>
                <th>{{ 'table.departement'|trans }}</th>
                <td>{{ diplome.departement ? diplome.departement.libelle : 'non.defini'|trans }}</td>
            </tr>
            <tr>
              <th>{{ 'table.responsable_diplome'|trans }}</th>
              <td>{{ diplome.responsableDiplome ? diplome.responsableDiplome.display : 'non.defini'|trans }}</td>
            </tr>
            <tr>
              <th>{{ 'table.assistant_diplome'|trans }}</th>
              <td>{{ diplome.assistantDiplome ? diplome.assistantDiplome.display : 'non.defini'|trans }}</td>
            </tr>

            <tr>
              <th>{{ 'table.created'|trans }}</th>
              <td>{{ diplome.created ? diplome.created|format_datetime('long', 'short') : '' }}</td>
            </tr>
            <tr>
              <th>{{ 'table.updated'|trans }}</th>
              <td>{{ diplome.updated ? diplome.updated|format_datetime('long', 'short') : '' }}</td>
            </tr>
            <tr>
              <th>{{ 'table.code_version'|trans }}</th>
              <td>{{ diplome.codeVersion }}</td>
            </tr>
            <tr>
              <th>{{ 'table.code_departement'|trans }}</th>
              <td>{{ diplome.codeDepartement }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_nb_jours_saisie'|trans }}</th>
                <td>{{ diplome.optNbJoursSaisie }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_dilpome_decale'|trans }}</th>
                <td>{{ diplome.optDilpomeDecale ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_suppr_absence'|trans }}</th>
                <td>{{ diplome.optSupprAbsence ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_methode_calcul'|trans }}</th>
                <td>{{ diplome.optMethodeCalcul }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_anonymat'|trans }}</th>
                <td>{{ diplome.optAnonymat ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_commentaires_releve'|trans }}</th>
                <td>{{ diplome.optCommentairesReleve ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_espace_perso_visible'|trans }}</th>
                <td>{{ diplome.optEspacePersoVisible ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.volume_horaire'|trans }}</th>
                <td>{{ diplome.volumeHoraire }}</td>
            </tr>
            <tr>
                <th>{{ 'table.code_celcat_departement'|trans }}</th>
                <td>{{ diplome.codeCelcatDepartement }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
