{% extends 'base.html.twig' %}

{% block title %}New Bac{% endblock %}

{% block body %}
    <h1>Create new Bac</h1>

    {{ include('bac/_form.html.twig') }}

    <a href="{{ path('bac_index') }}">back to list</a>
{% endblock %}
