{% extends 'base.html.twig' %}

{% block title %}Edit TypeIntervenant{% endblock %}

{% block body %}
    <h1>Edit TypeIntervenant</h1>

    {{ include('type_intervenant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_intervenant_index') }}">back to list</a>

    {{ include('type_intervenant/_delete_form.html.twig') }}
{% endblock %}
