{% extends 'base.html.twig' %}

{% block title %}New TypeIntervenant{% endblock %}

{% block body %}
    <h1>Create new TypeIntervenant</h1>

    {{ include('type_intervenant/_form.html.twig') }}

    <a href="{{ path('app_type_intervenant_index') }}">back to list</a>
{% endblock %}
