{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.projet_periode.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-index.html.twig', {elt:'projet_periode'}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.projet_periode.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ 'table.semestre'|trans }}</th>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <th>{{ 'table.anneeUniversitaire'|trans }}</th>
                    <th>{{ 'table.dateDebut'|trans }}</th>
                    <th>{{ 'table.dateFin'|trans }}</th>
                    <th>{{ 'table.updated'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for projet_periode in projet_periodes %}
                    <tr>

                        <td>{{ projet_periode.semestre ? projet_periode.semestre.display : 'non.defini'|trans }}</td>
                        <td>{{ projet_periode.libelle }} </td>
                        <td>{{ projet_periode.anneeUniversitaire ? projet_periode.anneeUniversitaire
                            .displayAnneeUniversitaire : 'non.defini'|trans }}</td>
                        <td>{{ projet_periode.dateDebut ? projet_periode.dateDebut|format_date('long') : 'non.defini'|trans }}
                        </td>
                        <td>{{ projet_periode.dateFin ? projet_periode.dateFin|format_date('long') : 'non.defini'|trans }}
                        </td>
                        <td>{{ projet_periode.updated ? projet_periode.updated|format_datetime('long', 'short') : 'non.defini'|trans }}
                        </td>
                        <td>
                            {{ include('composants/adm-buttons-table-index.html.twig', {elt: 'projet_periode', id:
                                projet_periode.uuidString}) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">{{ 'no.record.found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_projet_periode_export', {_format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf"
        },
        {
            type:'info',
            href:path('administration_projet_periode_export', {_format:'csv'}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('administration_projet_periode_export', {_format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('administration_projet_periode_new'),
            title: 'ajouter'|trans,
            icone: 'fas fa-plus'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_projet_periode'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}
