{% use "bootstrap_5_layout.html.twig" %}
{% trans_default_domain 'form' %}

{% macro collection_item(form) %}
    <div data-form-collection-target="field" class="mb-2">
        {{ form_widget(form) }}
        <button data-action="form-collection#removeItem" class="btn btn-danger me-1">
            <i class="{{ iconDelete }}"></i> Retirer un élément
        </button>
    </div>
{% endmacro %}

{% import _self as formMacros %}

{% block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        <div class="row">
            {%- for child in form %}
                <div class="col-sm-12 col-md-3">
                    {{- form_widget(child, {
                        parent_label_class: label_attr.class|default(''),
                        translation_domain: choice_translation_domain,
                        valid: valid,
                    }) -}}
                </div>
            {% endfor -%}
        </div>
    </div>
{%- endblock choice_widget_expanded %}

{% block vich_file_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_file_widget %}
    <div class="vich-file">
        <div class="row">
            <div class="col-8">
                {{ form_widget(form.file) }}
            </div>
            <div class="col-2">
                {% if download_uri %}
                    <a href="{{ download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
                {% endif %}
            </div>
            <div class="col-2">
                {% if form.delete is defined %}
                    {{ form_row(form.delete) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block vich_image_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_image_widget %}
    <div class="vich-image">
        {{ form_widget(form.file) }}
        {% if form.delete is defined %}
            {{ form_row(form.delete) }}
        {% endif %}

        {% if image_uri %}
            <a href="{{ image_uri }}"><img src="{{ image_uri }}" alt=""/></a>
        {% endif %}
        {% if download_uri %}
            <a href="{{ download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block my_date_range_widget %}
    <div class="row">
        <div class="col-6">
            {{ form_widget(form.from_date, {'attr': attr}) }}
        </div>
        <div class="col-6">
            {{ form_widget(form.to_date, {'attr': attr}) }}
        </div>
    </div>
{% endblock %}

{% block collection_widget %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}
        {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
    {% endif %}
    {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
    {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
    {% set attr = attr|merge({'data-name-prefix': full_name}) %}
    {{ block('form_widget') }}
{% endblock collection_widget %}

{% block collection_stimulus_widget %}
    {% import _self as formMacros %}
    <div data-controller="form-collection"
         {% if max_items is defined %}data-form-collection-max-items-value="{{ max_items }}"{% endif %}
         data-form-collection-prototype-value="{{ formMacros.collection_item(form.vars.prototype)|json_encode }}">
        <div data-form-collection-target="fields">
            {% do form.setRendered %}
            {% for field in form %}
                {{ formMacros.collection_item(field) }}
            {% endfor %}
        </div>
        <button data-action="form-collection#addItem" class="btn btn-success">
            <i class="{{ iconAdd }}"></i> Ajouter un élément
        </button>
    </div>
{% endblock collection_stimulus_widget %}

{%- block form_widget_simple -%}
    {% if input_prefix is defined or input_suffix is defined %}
        <div class="input-group mb-3">
            {% if input_prefix %}
                {{ input_prefix | raw }}
            {% endif %}
            {{- parent() -}}
            {% if input_suffix %}
                {{ input_suffix | raw }}
            {% endif %}
        </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
{%- endblock form_widget_simple -%}

{%- block form_widget_compound -%}
    {{ parent() }}
{%- endblock form_widget_compound -%}

{# Reprise de form_label de bootstrap pour déplacer le message d'erreur #}
{% block form_label -%}
    {% if label is not same as(false) -%}
        {%- if compound is defined and compound -%}
            {%- set element = 'legend' -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
        {%- else -%}
            {%- set label_attr = label_attr|merge({for: id}) -%}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {%- if translation_domain is same as(false) -%}
            {%- if label_html is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html is same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}
        </{{ element|default('label') }}>
        {% block form_label_errors %}{{- form_errors(form) -}}{% endblock form_label_errors %}
    {%- else -%}
        {%- if errors|length > 0 -%}
            <div id="{{ id }}_errors" class="mb-2">
                {{- form_errors(form) -}}
            </div>
        {%- endif -%}
    {%- endif -%}
{%- endblock form_label %}

{%- block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
        {%- set element_id = 'fieldset_'~id -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    {%- set row_class = row_class|default(row_attr.class|default('mb-3')|trim) -%}
    <{{ element|default('div') }}{% with {attr: row_attr|merge({class: row_class})} %}{{ block('attributes') }}{% endwith %} {% if element is defined and element == 'fieldset' %}id="{{ element_id }}"{% endif %}>
    {%- if 'form-floating' in row_class -%}
        {{- form_widget(form, widget_attr) -}}
        {{- form_label(form) -}}
    {%- else -%}
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
    {%- endif -%}
    {{- form_help(form) -}}
    </{{ element|default('div') }}>
{%- endblock form_row %}

