{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.edt.compare.matieres.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_edt_compare_personnels', {source:source}) }}"
               class="btn btn-info btn-float btn-sm"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.comparer_par_personnels'|trans }}">
                <i class="fas fa-random"></i></a>
            <a href="{{ path('administration_edt_index') }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="fas fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title"><strong>{{ 'adm.edt.compare.matieres.heading'|trans }}</strong></h4>
        <div class="card-body">
            <ul class="nav nav-tabs">
                {% for semestre in user_data.semestres %}
                    <li class="nav-item {% if loop.first %} active{% endif %}">
                        <a href="#semestre_{{ semestre.id }}"
                           class="nav-link {% if loop.first %} active{% endif %}"
                           data-bs-toggle="tab">{{ semestre.display }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content padding">
                {% for semestre in user_data.semestres %}
                    <div class="tab-pane {% if loop.first %} active {% endif %}"
                         id="semestre_{{ semestre.id }}">
                        <h2>Modules du semestre {{ semestre.display }}</h2>
                        <table class="table table-hover">
                            <thead>
                                    <tr>
                                        <th colspan>Enseignant</th>
                                        <th colspan="2" class="text-center">CM</th>
                                        <th colspan="2" class="text-center">TD</th>
                                        <th colspan="2" class="text-center">TP</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                            {% for matiere in matieres|filter(matiere => matiere.semestre.id == semestre.id) %}
                                <tr style="background-color:#cccccc;">
                                    <td colspan="10" style="text-align:center;">
                                        <button
                                                {{ stimulus_controller('modal', {
                                                    size: 'lg',
                                                    modalTitle: 'compare.plusinfos.details.title'|trans,
                                                    modalUrl: path('administration_edt_compare_plus_info',
                                                        {'matiere': matiere.typeIdMatiere}) })}}
                                                data-action="click->modal#openModal"
                                                class="btn btn-info"
                                                data-size="lg"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="bottom"
                                                title="{{ 'compare.plusinfos.details'|trans }}"
                                        >
                                            <i class="{{ iconShow }}"></i> {{ matiere.display }}
                                        </button>


                                    </td>
                                </tr>
                                <tr>
                                    <td>Intervenant</td>
                                    <td>EDT</td>
                                    <td>Prévi.</td>
                                    <td>EDT</td>
                                            <td>Prévi.</td>
                                            <td>EDT</td>
                                            <td>Prévi.</td>
                                        </tr>
                                {% for ed in comparatifs[matiere.typeIdMatiere] %}
                                    <tr>
                                        <td>{{ ed.personnel_prenom }} {{ ed.personnel_nom }}</td>
                                        <td>
                                                    <span class="badge rounded-pill {% if ed.nbCMEDT > ed.nbCMPrevi %}
                                                    bg-danger {% elseif ed.nbCMEDT == ed.nbCMPrevi %} bg-success {% else %} bg-warning {% endif %}">{{ ed.nbCMEDT }}</span>
                                        </td><!--CM -->
                                        <td>
                                            <span class="badge rounded-pill {% if ed.nbCMPrevi > ed.nbCMEDT %} bg-danger {% elseif ed.nbCMEDT == ed.nbCMPrevi %} bg-success {% else %} bg-warning {% endif %}">{{ ed.nbCMPrevi }}</span>
                                        </td>
                                        <td>
                                            <span class="badge rounded-pill {% if ed.nbTDEDT > ed.nbTDPrevi %} bg-danger {% elseif ed.nbTDEDT == ed.nbTDPrevi %} bg-success {% else %} bg-warning {% endif %}">{{ ed.nbTDEDT }}</span>
                                        </td><!--TD -->
                                        <td>
                                            <span class="badge rounded-pill {% if ed.nbTDPrevi > ed.nbTDEDT %} bg-danger {% elseif ed.nbTDEDT == ed.nbTDPrevi %} bg-success {% else %} bg-warning {% endif %}">{{ ed.nbTDPrevi }}</span>
                                        </td>
                                        <td>
                                            <span class="badge rounded-pill {% if ed.nbTPEDT > ed.nbTPPrevi %} bg-danger {% elseif ed.nbTPEDT == ed.nbTPPrevi %} bg-success {% else %} bg-warning {% endif %}">{{ ed.nbTPEDT }}</span>
                                        </td><!-- TP -->
                                        <td>
                                            <span class="badge rounded-pill {% if ed.nbTPPrevi > ed.nbTPEDT %} bg-danger {% elseif ed.nbTPEDT == ed.nbTPPrevi %} bg-success {% else %} bg-warning {% endif %}">{{ ed.nbTPPrevi }}</span>
                                        </td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                    {% endfor %}
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
{% endblock %}

