{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.site.new.heading'|trans }}
{% endblock %}

{%block headeractions %}
<div class="header-action">
    {{ include('composants/sadm-buttons-new.html.twig', {elt: 'site'}) }}
</div>
{% endblock %}

{% block content %}
<div class="card">
    <h4 class="card-title">{{ 'adm.site.new.heading'|trans }}</h4>
    <div class="card-body">
        {{ include('composants/adm-form.html.twig') }}
    </div>
</div>
{% endblock %}
