<form method="post" action="{{ path('b_c_centre_financier_delete', {'id': b_c_centre_financier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ b_c_centre_financier.id) }}">
    <button class="btn">Delete</button>
</form>
