{% extends 'base.html.twig' %}

{% block title %}Edit BCCentreFinancier{% endblock %}

{% block body %}
    <h1>Edit BCCentreFinancier</h1>

    {{ include('b_c_centre_financier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('b_c_centre_financier_index') }}">back to list</a>

    {{ include('b_c_centre_financier/_delete_form.html.twig') }}
{% endblock %}
