{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.bc.centre_financier.edit.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/sadm-buttons-edit.html.twig', {elt:'bc_centre_financier', id: bc_centre_financier.id
        }) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">
            {{ 'adm.bc.centre_financier.edit.heading'|trans }}
        </h4>
        <div class="card-body">
            {{ include('composants/adm-form.html.twig', {'button_label': 'update'|trans}) }}
        </div>
    </div>
{% endblock %}
