{% extends 'base.html.twig' %}

{% block title %}New BCCentreFinancier{% endblock %}

{% block body %}
    <h1>Create new BCCentreFinancier</h1>

    {{ include('b_c_centre_financier/_form.html.twig') }}

    <a href="{{ path('b_c_centre_financier_index') }}">back to list</a>
{% endblock %}
