{% extends 'base.html.twig' %}

{% block header %}
    {{ 'menu.alternance'|trans }}
{% endblock %}

{% block content %}
<div class="card">
    <h4 class="card-title">Votre alternance</h4>
    <div class="card-body">
        {% if form is defined and form != null %}
            {{ include('composants/adm-form.html.twig') }}
        {% else %}
            <twig:Alert type="info">
            Formulaire non disponible pour le moment.
            </twig:Alert>
        {% endif %}
    </div>
</div>
{% endblock %}
