{% form_theme form 'form/my-form.html.twig' %}
    {{ form_start(form) }}

<h4>Données professionnelles</h4>


<div class="row">
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.numero_harpege) }}
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <button class="btn btn-block btn-success" id="searchLdap">
                Rechercher sur le LDAP (numéro harpège/SIAM obligatoire)
            </button>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="alert alert-info">
            Utilisez le bouton ci-dessus pour le récupérer depuis le LDAP (annuaire) de l'université les informations
            de la personne à ajouter (nom, prénom, email, login, date de naissance). Sous
            réserve que le dossier soit validé par les services RH. Le login URCA est obligatoire pour accéder à
            l'intranet.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.civilite) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.username) }}
    </div>
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.prenom) }}
        {{ form_row(form.mail_univ) }}
        {{ form_row(form.date_naissance) }}
    </div>
</div>

<h4>Données administratives</h4>
<div class="row">
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.statut) }}
    </div>
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.initiales) }}
        {{ form_row(form.nbHeuresService) }}
    </div>
</div>

<h4>Données personnelles</h4>
<div class="row">
    <div class="col-sm-12 col-md-6">

    {{ form_row(form.photoFile) }}
        {{ form_row(form.entreprise) }}
    </div>
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.adresse) }}
    </div>
</div>

<h4>Contacts et sites</h4>
<div class="row">
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.mail_perso) }}
    </div>
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.site_univ) }}
        {{ form_row(form.site_perso) }}
    </div>
</div>

<h4>Adresses et téléphones</h4>
<div class="row">
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.bureau1) }}
        {{ form_row(form.bureau2) }}
        {{ form_row(form.poste_interne) }}
    </div>
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.tel_bureau) }}
        {{ form_row(form.tel1) }}
        {{ form_row(form.tel2) }}
    </div>
</div>

<h4>Autres informations</h4>
<div class="row">
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.responsabilites) }}
        {{ form_row(form.domaines) }}
        {{ form_row(form.cvFile) }}
    </div>
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.remarque) }}
        {{ form_row(form.signature) }}
    </div>
</div>

<button class="btn btn-success">{{ button_label|default('label.save'|trans) }}</button>

<button class="btn btn-success" value="redirect_to_index" name="btn_update">{{ 'button_update_index'|trans }}</button>
{{ form_end(form) }}
