{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'super-admin.heading'|trans }}
{% endblock %}

{% block content %}
    {% if settings('APPLICATION_COVID') == true %}
        <div class="row">
            <div class="col-md-12 col-lg-12  col-sm-12">
                <div class="card card-warning">
                    <header class="card-header">
                        <h2 class="card-title">{{ 'adm.attestation_deplacement'|trans }}</h2>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="{{ path('sa_covid_attestation_personnel_index') }}" class="btn btn-block
                btn-info">Voir les demandes des personnels</a>
                            </div>
                            <div class="col-md-6">
                                <a href="{{ path('sa_covid_attestation_etudiant_index') }}" class="btn btn-block
                btn-info">Voir les convocations étudiants</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="card">
        <header class="card-header">
            <h4 class="card-title"><strong>{{ 'departements.heading'|trans }}</strong></h4>
            <div class="card-header-actions">
                <a class="btn btn-sm btn-primary"
                   title="{{ 'creation.departement.manuellement'|trans }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   href="{{ path('sa_departement_new') }}"
                >
                    <i class="fas fa-plus"></i>
                </a>

                <ul class="card-controls">
                    <li class="dropdown">
                        <a data-bs-toggle="dropdown" href="#"><i
                                    class="fas fa-ellipsis-h rotate-90"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item"><i class="fas fa-file-export"></i>{{ 'exporter.xls'|trans }}
                            </a>
                            <a href="#" class="dropdown-item"><i class="fa fa-file-pdf"></i>{{ 'exporter.pdf'|trans }}
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <div class="card-body">
            <div class="row">
                {% for departement in departements %}
                    <div class="col-md-4 col-sm-12 d-grid d-block mt-2">
                        <div class="btn-group">
                            <button class="btn {% if departement.actif %}btn-primary{% else %} btn-default {% endif %} btn-block dropdown-toggle"
                                    data-bs-toggle="dropdown"> {{ departement.libelle }}</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"
                                   href="{{ path('sa_structure_index', {departement:departement.id}) }}">Structure</a>
                                <a class="dropdown-item"
                                   href="{{ path('sa_groupes_departement_index', {departement:departement.id}) }}">Gestion
                                                                                                                   des
                                                                                                                   Groupes</a>
                                <a class="dropdown-item" href="{{ path('sa_etudiant_departement_index',
                                    {departement:departement.id}) }}">Etudiants</a>
                                <a class="dropdown-item"
                                   href="{{ path('sa_personnel_departement_index', {departement:departement.id}) }}">Personnels</a>
                                <div class="dropdown-divider"></div>
                                {% if departement.actif == true %}
                                    <a class="dropdown-item" href="{{ path('sa_departement_activate', {departement:
                                        departement.id, etat:0}) }}">Suspendre le département</a>
                                {% else %}
                                    <a class="dropdown-item" href="{{ path('sa_departement_activate', {departement:
                                        departement.id, etat:1}) }}">Activer le département</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Supprimer le département</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card">
        <h4 class="card-title"><strong>{{ 'sa_configuration.heading'|trans }}</strong></h4>
        <div class="card-body">
            <div class="row">
                <div class="col-4 d-block d-grid mb-2">
                    <a href="{{ path('sa_materiel_commun_index') }}"
                       class="btn btn-primary"> {{ 'gestion.materiel_commun'|trans }}</a>
                </div>

                <div class="col-4 d-block d-grid mb-2"><a href="{{ path('sa_site_index') }}"
                                                          class="btn btn-primary"> {{ 'sites-geographiques'|trans }}
                    </a></div>
                <div class="col-4 d-block d-grid mb-2"><a href="{{ path('sa_ufr_index') }}"
                                                          class="btn btn-primary"> {{ 'ufr.menu'|trans }}
                    </a></div>
                <div class="col-4 d-block d-grid mb-2">
                    <a href="{{ path('sa_type_diplome_index') }}"
                       class="btn btn-primary"> {{ 'type_diplome'|trans }}</a>
                </div>

                <div class="col-4 d-block d-grid mb-2">
                    <a href="{{ path('sa_type_hrs_index') }}"
                       class="btn btn-primary"> {{ 'type_hrs'|trans }}</a>
                </div>
                <div class="col-4 d-block d-grid mb-2">
                    <a href="{{ path('sa_statuts_index') }}"
                       class="btn btn-primary"> Statuts</a>
                </div>
                <div class="col-4 d-block d-grid mb-2">
                    <a href="{{ path('sa_type_cours_index') }}"
                       class="btn btn-primary"> Type de Cours (Cm, TD, ...)</a>
                </div>
                <div class="col-4 d-block d-grid mb-2">
                    <a href="{{ path('sa_salle_index') }}" class="btn btn-primary"> {{ 'salle'|trans }}</a>
                </div>
                <div class="col-4 d-block d-grid mb-2">
                    <a href="{{ path('sa_bac_index') }}" class="btn btn-primary"> {{ 'bac.menu'|trans }}</a>
                </div>
                <div class="col-4 d-block d-grid mb-2">
                    <a href="{{ path('sa_annee_universitaire_index') }}"
                       class="btn btn-primary"> {{ 'annee.universitaire'|trans }}</a>
                </div>

                <div class="col-4 d-block d-grid mb-2">
                    <a href="{{ path('sa_celcat_calendrier_index') }}"
                       class="btn btn-primary"> {{ 'edt.actions.calendrier'|trans }}</a>
                </div>

                <div class="col-4 d-block d-grid mb-2">
                    <a href="{{ path('sa_configuration_index') }}"
                       class="btn btn-primary"> {{ 'variable.configuration'|trans }}</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
