{% extends 'base.html.twig' %}

{% block header %}
    {{ 'informations.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('internationale_index') }}">{{ 'menu.internationale'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-diplome" role="tab" aria-selected="false">C2I</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-annee" role="tab">Informations Pratiques</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-semestre" role="tab">{{ 'adm.configuration.tab.semestre.menu'|trans }}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    <div class="card">
        <h4 class="card-title">Card title</h4>

        <div class="card-body">

        </div>
    </div>
{% endblock %}