{% extends 'base.html.twig' %}

{% block header %}
    {{ 'rgpd.heading'|trans }}
{% endblock %}

{% block content %}
    https://www.univ-lille.fr/dp/etudiants/
    {# todo: gérer les demandes d'accès aux informations contenu sur le site par les usagers #}
    <div class="card">
        <h4 class="card-title"><strong>General</strong></h4>

        <div class="accordion accordion-connected" id="faq-general">
            <div class="card">
                <h5 class="card-title">
                    <a data-toggle="collapse" data-parent="#faq-general" href="#question-general-1" aria-expanded="false" class="collapsed">Where can I learn more about how to use TheAdmin?</a>
                </h5>

                <div id="question-general-1" class="collapse" aria-expanded="false">
                    <div class="card-body pl-50">
                        Quickly productivate resource sucking collaboration and idea-sharing before equity invested solutions. Enthusiastically monetize user friendly functionalities whereas exceptional process improvements. Holisticly administrate stand-alone paradigms via cutting-edge.
                    </div>
                </div>
            </div>


            <div class="card">
                <h5 class="card-title">
                    <a data-toggle="collapse" data-parent="#faq-general" href="#question-general-2" class="collapsed" aria-expanded="false">How does your pricing compare to other similar templates?</a>
                </h5>

                <div id="question-general-2" class="collapse" aria-expanded="false">
                    <div class="card-body pl-50">
                        Professionally synergize functionalized action items after superior experiences. Rapidiously communicate principle-centered portals and professional meta-services. Compellingly architect functionalized schemas vis-a-vis market positioning innovation.
                    </div>
                </div>
            </div>


            <div class="card">
                <h5 class="card-title">
                    <a data-toggle="collapse" data-parent="#faq-general" href="#question-general-3" class="collapsed" aria-expanded="false">Where can I find your Terms of Service (TOS)?</a>
                </h5>

                <div id="question-general-3" class="collapse" aria-expanded="false">
                    <div class="card-body pl-50">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
