{% extends 'base.html.twig' %}

{% block header %}
    {{ 'rgpd.heading'|trans }}
{% endblock %}

{% block content %}
    https://www.univ-lille.fr/dp/etudiants/
    {# todo: gérer les demandes d'accès aux informations contenu sur le site par les usagers #}
    <div class="card">
        <h4 class="card-title"><strong>General</strong></h4>

        <div class="accordion accordion-connected" id="faq-general">
            <div class="card">
                <h3 class="card-title">
                    <a data-toggle="collapse" data-parent="#faq-general" href="#question-general-1"
                       aria-expanded="false" class="collapsed">Vos données personnelles</a>
                </h3>

                <div id="question-general-1" class="collapse" aria-expanded="false">
                    <div class="card-body pl-50">
                        Quickly productivate resource sucking collaboration and idea-sharing before equity invested solutions. Enthusiastically monetize user friendly functionalities whereas exceptional process improvements. Holisticly administrate stand-alone paradigms via cutting-edge.
                    </div>
                </div>
            </div>


            <div class="card">
                <h3 class="card-title">
                    <a data-toggle="collapse" data-parent="#faq-general" href="#question-general-2" class="collapsed"
                       aria-expanded="false">Quelles informations sont collectées et pourquoi ?</a>
                </h3>

                <div id="question-general-2" class="collapse" aria-expanded="false">
                    <div class="card-body pl-50">
                        <p>L'intranet utilise les données suivantes afin de garantir un suivi efficace et personnalisé
                        de vos données. Ces données ne sont utilisées que dans le cadre de votre scolarité. Les
                        données sont issues du logiciel Apogée qui est géré par la scolarité de l'universite de
                           Reims Champagne-Ardenne. Toutes les données facultatives peuvent être gerées par vos soins
                           .</p>

                        <h4>Les données concernants les étudiants</h4>
                        <ul>
                            <li>L'étudiant</li>
                            <li><ul>
                                    <li>identité (nom, prénoms)</li>
                                    <li>civilité</li>
                                    <li>sexe</li>
                                    <li>la photographie pour le trombinoscope, visible uniquement des enseignants et
                                        étudiants de votre groupe</li>
                                    <li>date de naissance</li>
                                    <li>adresse</li>
                                    <li>numéro de téléphone mobile (facultatif)</li>
                                    <li>adresse de courrier électronique universitaire</li>
                                    <li>adresse de courrier électronique personnelle (facultatif)</li>
                                    <li>Aménagement pour les examens</li>
                                    <li>numéro du matricule spécifique de l'étudiant (numéro URCA et numéro INE)</li>
                                    <li>Organisme de sécurité sociale et adresse pour les conventions de stage</li>
                                    <li>votre situation sociale :  situation financière (salarié, boursier)</li>
                                </ul></li>
                            <li>La scolarité del'étudiant</li>
                            <li><ul>
                                    <li>Série du baccalauréat avec l'année d'obtention</li>
                                    <li>Année de première inscription à l'URCA</li>
                                </ul>
                            </li>
                            <li>Les parents de l'étudiant</li>
                            <li><ul>
                                    <li>Adresse (pour les correspondances au domicile familliale)</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="card">
                <h3 class="card-title">
                    <a data-toggle="collapse" data-parent="#faq-general" href="#question-general-3" class="collapsed"
                       aria-expanded="false">Pour quelle durée de conservation</a>
                </h3>

                <div id="question-general-3" class="collapse" aria-expanded="false">
                    <div class="card-body pl-50">
                        Les données sont conservées le temps de la période d’inscription à l’université puis au
                        maximum 5 ans (sauf dispositions législatives ou réglementaires contraires) une fois
                        l'établissement quitté.
                        Au-delà, ces données sont archivées sur un support distinct et à accès limité, conformément aux règles applicables en matière d'archives publiques et d'archives privées.
                    </div>
                </div>
            </div>

            <div class="card">
                <h3 class="card-title">
                    <a data-toggle="collapse" data-parent="#faq-general" href="#question-general-3" class="collapsed"
                       aria-expanded="false">Vos données et vos droits</a>
                </h3>

                <div id="question-general-3" class="collapse" aria-expanded="false">
                    <div class="card-body pl-50">
                        Vous disposez des droits suivants :
                        <ul>
                            <li>droit d'être informé</li>
                            <li>droit d'accès. Vos données sont accessibles dans votre profil, et vous pouvez en
                                demander une extraction complète <a href="">via ce formulaire</a></li>
                            <li>droit de rectification</li>
                            <li>droit de restreindre le traitement pou tout usage non indispensable à votre
                                scolarié</li>
                            <li>droit à la portabilité des données</li>
                            <li>droit d'opposition si vos données sont utilisées à d’autres fins ne relevant pas d’une obligation légale.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
