{% extends 'base-speciale.html.twig' %}

{% block header %}
    {{ 'rgpd.heading'|trans }}
{% endblock %}

{% block body %}
    class="min-h-fullscreen bg-img center-vh p-20" style="background-image: url({{ asset('assets/bg/2.jpg') }});" data-overlay="7"
{% endblock %}

{% block content %}
    {#    https://www.univ-lille.fr/dp/etudiants/#}
    {# todo: gérer les demandes d'accès aux informations contenu sur le site par les usagers #}
    <div class="card card-round card-shadowed px-50 py-30 w-800px mb-0" style="max-width: 100%">
        <h4 class="card-title"><strong>Données Personnelles / RGPD</strong></h4>
        <div class="accordion accordion-connected" id="faq-general">
            <div class="card">
                <h3 class="card-title">
                    <a data-toggle="collapse" data-parent="#faq-general" href="#question-general-1"
                       aria-expanded="false" class="collapsed">Vos données personnelles</a>
                </h3>

                <div id="question-general-1" class="collapse" aria-expanded="false">
                    <div class="card-body pl-50">
                        <p>L’Université de Reims Champagne-Ardenne, représentée par son Président (Villa Douce - 9, bd
                           de la Paix - CS 60005 - 51724 Reims Cedex), s'engage à ce que le traitement de données
                           personnelles soit conforme au Règlement Général sur la Protection des Données (règlement UE
                           2016/676) et à la loi du 6 janvier 1978 modifiée (loi Informatique et Libertés).</p>
                        <p>Les données recueillies, pour l’exécution de la mission d’intérêt public de l’URCA, sont
                           nécessaires à la gestion administrative et pédagogique des étudiants. [détailler]</p>
                        <p>Les destinataires des données sont les agents de l’URCA habilités pour cette gestion. Les
                           catégories de données personnelles concernées : (reprendre les éléments de la fiche)</p>
                        <p>Ces données pourront être conservées durant 10 ans à l'issue de la fin de votre scolarité
                           .</p>
                        <p>Conformément au Règlement Général sur la Protection des Données et à la loi du 6 janvier 1978
                           modifiée, vous disposez d’un droit d’accès, de rectification et d’effacement des données qui
                           vous concernent ainsi que d’un droit d’opposition et d’un droit à la limitation du traitement
                           de ces données. Vous disposez du droit de définir des directives relatives au sort de vos
                           données personnelles, après votre décès.</p>
                        <p>Pour toute question sur le traitement de vos données, vous pouvez contacter David Annebicque
                           à l’adresse suivante : david.annebicque@univ-reims.fr</p>
                        <p>Si vous estimez, après avoir contacté la Déléguée à la Protection des Données de l’URCA à
                           l’adresse suivante : dpo@univ-reims.fr, que vos droits Informatique et Libertés ne sont pas
                           respectés, vous avez la faculté d’introduire une réclamation à la CNIL, en ligne ou par
                           courrier postal.</p>
                    </div>
                </div>
            </div>


            <div class="card">
                <h3 class="card-title">
                    <a data-toggle="collapse" data-parent="#faq-general" href="#question-general-2" class="collapsed"
                       aria-expanded="false">Quelles informations sont collectées et pourquoi ?</a>
                </h3>

                <div id="question-general-2" class="collapse" aria-expanded="false">
                    <div class="card-body pl-50">
                        <p>L'intranet utilise les données suivantes afin de garantir un suivi efficace et
                           personnalisé de votre scolarité. Ces données ne sont utilisées que dans le cadre de votre
                           scolarité. Les données sont issues du logiciel Apogée qui est géré par la scolarité de
                           l'universite de Reims Champagne-Ardenne. Les données ne sont accessibles qu'aux
                           personnes habilités et ayant une nécessité d'accéder à ces informations. Toutes les
                           données facultatives peuvent être gerées par vos soins.</p>

                        <h4>Les données concernants les étudiants</h4>
                        <ul>
                            <li>L'étudiant</li>
                            <li><ul>
                                    <li>identité (nom, prénoms)</li>
                                    <li>civilité</li>
                                    <li>sexe</li>
                                    <li>la photographie pour le trombinoscope, visible uniquement des enseignants et
                                        étudiants de votre groupe</li>
                                    <li>date de naissance</li>
                                    <li>adresse</li>
                                    <li>numéro de téléphone mobile (facultatif)</li>
                                    <li>adresse de courrier électronique universitaire</li>
                                    <li>adresse de courrier électronique personnelle (facultatif)</li>
                                    <li>Aménagement pour les examens</li>
                                    <li>numéro du matricule spécifique de l'étudiant (numéro URCA et numéro INE)</li>
                                    <li>Organisme de sécurité sociale et adresse pour les conventions de stage</li>
                                    <li>votre situation sociale :  situation financière (salarié, boursier)</li>
                                </ul></li>
                            <li>La scolarité del'étudiant</li>
                            <li><ul>
                                    <li>Série du baccalauréat avec l'année d'obtention</li>
                                    <li>Année de première inscription à l'URCA</li>
                                </ul>
                            </li>
                            <li>Les parents de l'étudiant</li>
                            <li><ul>
                                    <li>Adresse (pour les correspondances au domicile familliale)</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <h3 class="card-title">
                    <a data-toggle="collapse" data-parent="#faq-general" href="#question-general-3" class="collapsed"
                       aria-expanded="false">Pour quelle durée de conservation</a>
                </h3>

                <div id="question-general-3" class="collapse" aria-expanded="false">
                    <div class="card-body pl-50">
                        Les données sont conservées le temps de la période d’inscription à l’université puis au maximum
                        10 ans (sauf dispositions législatives ou réglementaires contraires) une fois l'établissement
                        quitté. Au-delà, ces données sont archivées sur un support distinct et à accès limité,
                        conformément aux règles applicables en matière d'archives publiques et d'archives privées.
                    </div>
                </div>
            </div>

            <div class="card">
                <h3 class="card-title">
                    <a data-toggle="collapse" data-parent="#faq-general" href="#question-general-3" class="collapsed"
                       aria-expanded="false">Vos données et vos droits</a>
                </h3>

                <div id="question-general-3" class="collapse" aria-expanded="false">
                    <div class="card-body pl-50">
                        Vous disposez des droits suivants :
                        <ul>
                            <li>droit d'être informé</li>
                            <li>droit d'accès. Vos données sont accessibles dans votre profil, et vous pouvez en
                                demander une extraction complète <a href="">via ce formulaire</a></li>
                            <li>droit de rectification</li>
                            <li>droit de restreindre le traitement pou tout usage non indispensable à votre
                                scolarié</li>
                            <li>droit à la portabilité des données</li>
                            <li>droit d'opposition si vos données sont utilisées à d’autres fins ne relevant pas d’une obligation légale.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"><img src="{{ asset('upload/logo/'~settings('LOGO_IUT')) }}" alt="Logo de
            l'IUT de Troyes" class="img-fluid" style="height: 100px">
                <img src="{{ asset('upload/logo/'~settings('LOGO_UNIVERSITE')) }}" class="img-fluid" alt="Logo de
            l'Université de Reims" style="height: 100px"></div>
        </div>


    </div>
{% endblock %}
