{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'sadm.previsionnel.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            exporter / importer
            <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}
{# todo: par formation, module, semestre, enseignant #}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <h4 class="card-title">{{ 'sadm.previsionnel.index.par_enseignant'|trans }}</h4>
                <div class="card-body">
                    <div class="form-group">
                        <label class="sr-only" for="sadm_previPersonnel">{{ 'choisir.intervenant'|trans }}</label>
                        <select class="form-control selectpicker" data-annee="{{ annee }}"
                                id="sadm_previPersonnel">
                            <option value="">{{ 'choisir.intervenant'|trans }}</option>
                            {% for personnel in personnels %}
                                <option value="{{ personnel.id }}">{{ personnel.display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sadm_change_annee_temp_previsionnel">{{ 'change_annee_temp_previsionnel'|trans }}</label>
                        <select id="sadm_change_annee_temp_previsionnel" class="form-control">
                            <option value="0">{{ 'change_annee_temp_previsionnel'|trans }}</option>
                            {% for anne in 2017..'now'|date('Y')+4 %}
                                <option value="{{ anne }}" {% if annee == anne %}selected{% endif %}>{{ anne }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ render(controller('App\\Controller\\superAdministration\\PrevisionnelController::personnel', {'personnel':2,
        'annee':2019})
    ) }}
{% endblock %}
