<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Dashboard</a></li>
    {% for pth in path %}
        {% if pth.libelle|lower != header|escapetitle|trim|lower %}
            <li class="breadcrumb-item"><a href="">{{ pth.libelle|capitalize }}</a></li>{# todo: gérer le path ou gérer avec un
        block?? ... #}
        {% endif %}
    {% endfor %}
    <li class="breadcrumb-item active">{{ header|escapetitle|raw }}</li>
</ol>
