{% extends 'base-speciale.html.twig' %}

{% block header %}{{ 'security.login.heading'|trans }}{% endblock %}

{% block body %}
    min-h-fullscreen bg-img center-vh" style="background-image: url({{ asset('assets/bg/home_troyes.jpg') }});
{% endblock %}

{% block body_complement %}
    data-overlay="7"
{% endblock %}

{% block content %}
    <div class="card card-round card-shadowed px-50 py-30 w-400px mb-0" style="max-width: 100%">
        <div class="header-special" style="background-color: {{ settings('COLOR_IUT') }}">
            <img src="{{ asset('upload/logo/'~settings('LOGO_IUT')) }}" alt="Logo de
            l' {{ settings('NOM_IUT') }}" class="img-fluid" style="height: 100px">
        </div>
        <h1 class="text-uppercase text-center fs-20">{{ 'security.login.connexion'|trans }}</h1>
        <br>
        {% if message %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans }}
            </div>
        {% endif %}
        <p>Etudiants, personnels de l'Université et vacataires, connectez-vous avec l'authentification de
           l'Université .</p>
        <div class="d-grid col-12 d-block">
            <a href="{{ path('sso_cas') }}" class="btn btn-bold
           btn-primary">Connexion URCA</a>
        </div>
        <div class="divider">{{ 'security.login.sign-with'|trans }}</div>

        <form class="form" action="{{ path('security_login') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="username" name="username" value="{{ last_username }}"
                       placeholder="{{ 'security.login.username'|trans }}">
                <label for="username">{{ 'security.login.username'|trans }}</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" id="password" placeholder="{{ 'security.login.password'|trans }}">
                <label for="password">{{ 'security.login.password'|trans }}</label>
            </div>
            <div class="row">
                <div class="col-7">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="remenber-me" checked
                               name="_remember_me">
                        <label class="form-check-label" for="remenber-me">
                            {{ 'security.login.remenber-me'|trans }}
                        </label>
                    </div>
                </div>
                <div class="col-5">
                    {% if not is_granted('ROLE_ETUDIANT') %}
                        <a class="small hover-primary"
                           href="{{ path('security_password_lost') }}">{{ 'security.login.forgot-password'|trans }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="d-grid col-12 d-block">
                <button class="btn btn-bold btn-primary" type="submit">{{ 'security.login.login'|trans }}</button>
            </div>
        </form>
    </div>
{% endblock %}
