{% extends 'base-speciale.html.twig' %}

{% block body %}
    min-h-fullscreen bg-img center-vh" style="background-image: url({{ asset('assets/bg/2.jpg') }});
{% endblock %}

{% block body_complement %}
    data-overlay="7"
{% endblock %}

{% block content %}
    <div class="card card-round card-shadowed px-50 py-30 w-400px mb-0" style="max-width: 100%">
        <div class="header-special" style="background-color: {{ settings('COLOR_IUT') }}">
            <img src="{{ asset('upload/logo/'~settings('LOGO_IUT')) }}" alt="Logo de
            l' {{ settings('NOM_IUT') }}" class="img-fluid" style="height: 100px">
        </div>
        <h5 class="text-uppercase">{{ 'password_lost'|trans }}</h5>
        <br>
        <div class="alert alert-info">
            <strong>Attention !</strong> La gestion du mot de passe se fait par l'Université pour les étudiants et la
                                         majorité des intervenants et enseignants. Vous ne devriez pas utiliser cette
                                         page dans la plupart des cas.
        </div>
        <br>
        <form class="form" method="POST" action="{{ path('security_password_lost') }}">
            <input type="hidden" name="token" value="{{ csrf_token('password-lost') }}"/>
            <div class="form-floating mb-2">
                <input type="email" class="form-control" id="email" name="email"
                       placeholder="{{ 'email.address'|trans }}">
                <label for="email">{{ 'email.address'|trans }}</label>
            </div>

            <div class="d-grid d-block col-12 mt-2">
                <button class="btn btn-bold btn-primary" type="submit">{{ 'reset'|trans }}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block header %}
 Récupération de mot de passe
{% endblock %}

