{% extends 'base-speciale.html.twig' %}

{% block body %}
    min-h-fullscreen bg-img center-vh" style="background-image: url({{ asset('assets/bg/2.jpg') }});
{% endblock %}

{% block body_complement %}
    data-overlay="7"
{% endblock %}

{% block content %}
    <div class="card card-round card-shadowed px-50 py-30 w-400px mb-0" style="max-width: 100%">
        <div class="header-special" style="background-color: {{ settings('COLOR_IUT') }}">
            <img src="{{ asset('upload/logo/'~settings('LOGO_IUT')) }}" alt="Logo de
            l' {{ settings('NOM_IUT') }}" class="img-fluid" style="height: 100px">
        </div>
        <h5 class="text-uppercase">{{ 'password_lost'|trans }}</h5>
        <br>

        Un email à été envoyé ...
    </div>
{% endblock %}

{% block header %}

{% endblock %}

