{% for competence in competences %}
    {% for niveau in competence.apcNiveaux|filter(niveau => (niveau.annee != null and niveau.annee.ordre == annee)) %}
        <div class="d-flex align-items-stretch mt-3">
            <div class="col-2 competence ">
                <div class="p-3 comp competence{{ competence.couleur }}">{{ competence.nomCourt }}</div>
            </div>
            <div class="col-2 niveau niveau{{ niveau.ordre }}{{ competence.couleur }}">
                <div class="p-3 niveaulong">{{ competence.libelle }}
                </div>
            </div>
            <div class="col-8">
                {% if niveau.apcApprentissageCritiques|length > 0 %}
                    <div class="p-3 niveauliste niveau{{ niveau.ordre }}{{ competence.couleur }}">
                        <ul>
                            {% for ac in niveau.apcApprentissageCritiques %}
                                <li>{{ ac.code }} | {{ ac.libelle }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endfor %}
