{% if parcoursNiveaux[parcour.id] is defined %}
    {% for competence in parcoursNiveaux[parcour.id] %}
        <div class="d-flex align-items-stretch mt-3">
            {% for i in 1..3 %}
                <div class="col-4 ">
                    {% if competence[i] is defined %}
                        <div class="p-3 comp competence{{ competence[i].competence.couleur }}">{{ competence[i].competence.nomCourt }}
                            niveau {{ i }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}
<br>
<br>
{% if is_granted('ROLE_PERMANENT') %}
    <a href="{{ path('administration_apc_parcours_niveau_new',
        {parcours:parcour.id}) }}" class="btn btn-block btn-warning">
        Configurer des niveaux au parcours</a>
{% endif %}
