{% extends is_granted('ROLE_SUPER_ADMIN') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% if is_granted('ROLE_SUPER_ADMIN') %}
    {% set baseurl = 'sa_' %}
{% else %}
    {% set baseurl = 'administration_' %}
{% endif %}

{% block header %}
    {{ 'adm.referentiel.de.competence.heading'|trans({ '%diplome%': diplome.libelle}) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#complet">Référentiel de compétences complet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#parcours">Référentiel par parcours</a>
            </li>
            <li class="nav-item d-none d-sm-block">
                <a class="nav-link" data-bs-toggle="tab" href="#annee">Référentiel par année</a>
            </li>
        </ul>

        <div class="buttons">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.retour_super_administration'|trans }}">
                    <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
                </a>
            {% else %}
                <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="tab-content">
        <div class="tab-pane active" id="complet" role="tabpanel">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">{{ 'adm.referentiel.de.competence.heading'|trans({ '%diplome%': diplome.libelle}) }}</h4>
                    <div class="card-header-actions" style="">
                <span>
                    <a href="{{ path('administration_apc_niveau_annee_synchro', {diplome:diplome.id}) }}" class="btn
                    btn-sm btn btn-info"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="Synchroniser les niveaux et les années"><i
                                class="fas fa-sync"></i></a>
                    <a href="{{ path('administration_apc_competence_new', {diplome:diplome.id}) }}" class="btn
                    btn-sm btn btn-info"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="Ajouter une compétences"><i
                                class="fas fa-plus"></i></a>
                </span>
                    </div>
                </header>
                <div class="card-body">
                    <div class="tabs">
                        <ul class="nav nav-tabs">
                            {% for competence in competences %}
                                <li class="nav-item">
                                    <a class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab"
                                       href="#comptence_{{ competence.id }}">{{ competence.nomCourt }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="tab-content">
                        {% for competence in competences %}
                            <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="comptence_{{ competence.id }}">
                                {{ include('apc/_competence.html.twig') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="parcours" role="tabpanel">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">{{ 'adm.apc.parcours.heading'|trans({ '%diplome%': diplome.libelle}) }}</h4>
                    <div class="card-header-actions" style="">
                <span>
                    <a href="{{ path('administration_apc_parcours_new', {diplome:diplome.id}) }}" class="btn
                    btn-sm btn btn-info"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="Ajouter un parcours"><i
                                class="fas fa-plus"></i></a>
                </span>
                    </div>
                </header>

                <div class="card-body">
                    <div class="tabs">
                        <ul class="nav nav-tabs">
                            {% for parcour in parcours %}
                                <li class="nav-item">
                                    <a class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab"
                                       href="#parcour_{{ parcour.id }}">{{ parcour.libelle }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="tab-content">
                        {% for parcour in parcours %}
                            <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="parcour_{{ parcour.id }}">
                                {{ include('apc/_parcour.html.twig', {parcour: parcour}) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane " id="annee" role="tabpanel">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">{{ 'adm.apc.annee.heading'|trans({ '%diplome%': diplome.libelle}) }}</h4>
                    <div class="card-header-actions">
                <span>
                    <a href="{{ path('administration_apc_parcours_new', {diplome:diplome.id}) }}" class="btn
                    btn-sm btn btn-info"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="Ajouter un compétences"><i
                                class="fas fa-plus"></i></a>
                </span>
                    </div>
                </header>

                <div class="card-body">
                    <div class="tabs">
                        <ul class="nav nav-tabs">
                            {% for annee in 1..3 %}
                                <li class="nav-item">
                                    <a class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab"
                                       href="#annee_{{ annee }}">Année {{ annee }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="tab-content">
                        {% for annee in 1..3 %}
                            <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="annee_{{ annee }}">
                                {{ include('apc/_annee.html.twig', {annee:annee}) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

