{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.etudiant.add.heading'|trans() }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestresActifs %}
            <a href="{{ path('administration_etudiant_semestre_add', {semestre:sem.id}) }}"
               class="btn btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'changer.de.semestre'|trans }}"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab"
                   href="#importApogee">{{ 'recuperation.apogee.etudiants'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                   href="#importUnApogee">{{ 'recuperation.apogee.etudiant'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                   href="#fichiersUrca">{{ 'importer.photo.zip'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                   href="#importListe">{{ 'importer.liste.etudiant'|trans }}</a>
            </li>
        </ul>
        <div class="buttons">
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
               class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas
               fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="tab-content card">
        <div class="tab-pane active" id="importApogee">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <h4 class="card-title">Récupérez depuis Apogée pour le semestre {{ semestre.libelle }}</h4>
                        <div class="card-body">
                            <form class="form" action="{{ path('administration_apogee_maj', {type:'maj'}) }}"
                                  method="post">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="semestreforce">Semestre à importer</label>
                                            <select class="form-control selectpicker" id="semestreforce" name="semestreforce">
                                                <option value="">Choisir le semestre à mettre à jour</option>
                                                {% for semestre in user_data.semestresActifs %}
                                                    <option value="{{ semestre.id }}">{{ semestre.displayAvecTypeDiplome }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="anneeuniversitaire">Année universitaire</label>
                                            <select class="form-control selectpicker" id="anneeuniversitaire"
                                                    name="anneeuniversitaire">
                                                <option value="">Choisir l'année universitaire</option>
                                                {% for anneeUniversitaire in anneeUniversitaires %}
                                                    <option value="{{ anneeUniversitaire.id }}" {% if anneeUniversitaire.active == true %}selected{% endif %}>{{ anneeUniversitaire.displayAnneeUniversitaire }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-success">Mettre à jour</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="importUnApogee">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <h4 class="card-title">Récupérez depuis Apogée un étudiant</h4>
                        <div class="card-body">
                            <div class="alert alert-info">
                                Cette fonctionnalité permet d'importer que des étudiants de manière cilbée (avec un
                                numéro étudiant). Vous pouvez saisir plusieurs numéros en séparant par un ; (point
                                virugule).
                            </div>
                            <form class="form" action="{{ path('administration_apogee_un_etudiant') }}" method="post">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="listeetudiants">Etudiant(s)</label>
                                            <textarea class="form-control" id="listeetudiants" name="listeetudiants"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="semestreforce">Semestre de destination</label>
                                            <select class="form-control selectpicker" id="semestreforce" name="semestreforce"
                                            >
                                                <option value="">Choisir le semestre de destination</option>
                                                {% for semestre in user_data.semestresActifs %}
                                                    <option value="{{ semestre.id }}">{{ semestre.displayAvecTypeDiplome }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-success">Mettre à jour</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="fichiersUrca">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <h4 class="card-title">Import depuis le fichier du "bureau virtuel"</h4>
                        <div class="card-body">
                            <form action="{{ path('administration_etudiant_import_photo_zip', {semestre:semestre.id}) }}" method="post" class="form" enctype="multipart/form-data">
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label class="control-label" for="fichierimport">Fichier zip des photos</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="input-append">
                                            <input type="file" class="form-control fileinput" id="fichierimport" name="fichierimport"/>
                                        </div>
                                    </div>
                                </div>
                                <p>Récupérez les photos (format .zip) sur le bureau virtuel de l'URCA (mes cours >
                                   trombinoscope) et importez les directements.</p>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary btn-large">Importer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="importListe">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <h4 class="card-title">Import depuis une liste</h4>
                        <div class="card-body">
                            <div class="alert alert-warning">
                                Fichier csv (séparateur ";"). Télécharger un modèle ici :
                                <a href="{{ asset('exemples/import_etudiant.csv') }}" target="_blank">Modèle d'import
                                                                                                      d'une liste
                                                                                                      d'étudiant</a>.<br>
                                Les codes semestres de votre département sont :
                                <ul>
                                    {% for semestre in user_data.semestres %}
                                        <li>{{ semestre.display }} : {{ semestre.codeElement }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <form action="{{ path('administration_etudiant_import_liste_csv') }}" method="post"
                                  enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="control-label" for="fichierimportcsv">Fichier CSV</label>
                                    <div class="input-append">
                                        <input type="file" class="form-control fileinput" id="fichierimportcsv" name="fichierimportcsv"/>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary btn-large">Importer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

