{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.etudiant.semestre.parcours.heading'|trans() }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestresActifs %}
            <a href="{{ path('administration_etudiant_parcours_semestre_index', {semestre:sem.id}) }}"
               class="btn btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'changer.de.semestre'|trans }}"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
               class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-header">Parcours des étudiants du semestre</h4>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>N° Etudiant</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Semestre courant</th>
                    <th>Parcours</th>
                    {#                    <th>A suivre</th>#}
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for etudiant in etudiants %}
                    <tr>
                        <td>{{ etudiant.numEtudiant }}</td>
                        <td>{{ etudiant.nom }}</td>
                        <td>{{ etudiant.prenom }}</td>
                        <td>{{ etudiant.semestre.display }}</td>
                        <td>{% for scolarite in etudiant.scolarites %}{{ scolarite.semestre.display }}{% endfor %}</td>
                        {#                        <td>{{ etudiant.suivre }}</td>#}
                        <td>
                            actions
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            Parcours des étudiants du semestre.
        </div>
    </div>
{% endblock %}

