{% extends 'base.html.twig' %}

{% block content %}
    <div class="card">
        <h4 class="card-header">Questionnaires</h4>
        <div class="card-body">
            <div class="row">
                <div class="row">
                    <div class="col-sm-12 col-md-4 d-grid mb-2">
                        <a href="{{ path('adm_questionnaire_qualite_index', {type:'administration'}) }}"
                           class="btn d-block btn-primary"> Gérer les questionnaires</a>
                    </div>
                    <div class="col-sm-12 col-md-4 d-grid mb-2">
                        <a href="{{ path('adm_questionnaire_section_index', {type:'administration'}) }}"
                           class="btn d-block btn-primary"> Gérer les sections</a>
                    </div>
                    <div class="col-sm-12 col-md-4 d-grid mb-2">
                        <a href="{{ path('adm_questionnaire_question_index', {type:'administration'}) }}"
                           class="btn d-block btn-primary"> Gérer les questions</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block header %}
Création d'un questionnaire qualité
{% endblock %}

