{#<a class="nav-link changeprofil {% if onglet == 'timeline' %}active{% endif %}"#}
{#   href="{{ path('profil_etudiant_timeline', {slug: user.slug}) }}"#}
{#   id="profil-timeline">{{ 'tab.timeline'|trans }}</a>#}
{% if is_granted('ROLE_PERMANENT') or user.id == user_data.user.id %}
    <a class="nav-link changeprofil {% if onglet is not defined or onglet == 'scolarite' %}active{% endif %}"
       href="{{ path('profil_etudiant_scolarite', {slug: user.slug}) }}"
       id="profil-scolarite">{{ 'tab.scolarite'|trans }}</a>
    <a class="nav-link changeprofil {% if onglet == 'notes' %}active{% endif %}"
       href="{{ path('profil_etudiant_notes', {slug: user.slug}) }}"
       id="profil-notes">{{ 'tab.notes'|trans }}</a>
    {% if user.semestre.diplome.typeDiplome.apc == true and is_granted('ROLE_PERMANENT') %}
        <a class="nav-link changeprofil {% if onglet == 'apc' %}active{% endif %}"
           href="{{ path('profil_etudiant_apc', {slug: user.slug}) }}"
           id="profil-notes">{{ 'tab.apc_notes'|trans }}</a>
        {% endif %}
    <a class="nav-link changeprofil {% if onglet == 'absences' %}active{% endif %}"
       href="{{ path('profil_etudiant_absences', {slug: user.slug}) }}"
       id="profil-absences">{{ 'tab.absences'|trans }}</a>

    {% if user_data.departement.optStage == true %}
        <a class="nav-link changeprofil {% if onglet == 'stages' %}active{% endif %}"
           href="{{ path('profil_etudiant_stages', {slug: user.slug}) }}"
           id="profil-stage">{{ 'tab.stages'|trans }}</a>
    {% endif %}

    <a class="nav-link changeprofil" href="{{ path('profil_etudiant_about', {slug: user.slug}) }}"
       id="profil-about">{{ 'tab.a-propos'|trans }}</a>

    {% if (user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE')  or user_data
        .isGoodDepartement('ROLE_ASS')) %}
        <a class="nav-link changeprofil" href="{{ path('profil_etudiant_action', {slug: user.slug}) }}"
           id="profil-actions">{{ 'tab.actions'|trans }}</a>
    {% endif %}
{% endif %}
