{{ include('bloc_notes_absences/etudiant_notes.html.twig', {notes:notes, etudiant:etudiant}) }}

<div class="card">
    <h4 class="card-title">{{ 'situation.par.semestre.notes'|trans }}</h4>
    <div class="card-body">
        {{ render_chart(chart) }}
    </div>
</div>

