<div class="card">
    <h4 class="card-title">Vos informations d'identification</h4>
    <div class="card-body">
        <p><strong>Prénom Nom :</strong> {{ user.display }}</p>
        <p><strong>Mail Université :</strong> {{ user.mailuniv }}</p>
        <p><strong>Site université/pro :</strong> {{ user.siteuniv }}</p>
    </div>
</div>

<div class="card">
    <h4 class="card-title">Editez vos données personnelles</h4>
    <div class="card-body">
        Détails des informations du candidat
    </div>
</div>

{% if is_granted ('ROLE_ETUDIANT') %}
    <div class="card">
        <h4 class="card-title">Votre parcours</h4>
        <div class="card-body">

        </div>
    </div>
{% endif %}
