<div class="card">
    <h4 class="card-title">{{ 'bloc.actions.personnel.heading'|trans }}</h4>
    <div class="card-body">

        <h5>Re/initialiation du compte</h5>
        <a href="#" class="btn btn-warning btnInit" data-element="{{ personnel.id }}" rel="tooltip"
           data-placement="bottom"
           title="Ré/initiliser le mot de passe"><i class="fa fa-magic"></i></a>
        listings d'interventions, ... différents exports.
    </div>
</div>