<div class="card">
    <h4 class="card-title">{{ 'bloc.actions.etu.heading'|trans }}</h4>
    <div class="card-body">
        <h5>Liste des groupes</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Libellé</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="liste_groupes">
            {% for gr in etudiant.groupes %}
                <tr id="ligne_{{ gr.id }}">
                    <td>#{{ gr.id }}</td>
                    <td>{{ gr.typegroupe.libelle }} | {{ gr.libelle }} | {{ gr.typegroupe.semestre.libelle }}</td>
                    <td>
                        <a href="{{ path('administration_etudiant_groupe_delete', {id: gr.id, etudiant:etudiant.id}) }}"
                           data-csrf="{{ csrf_token('delete' ~ gr.id) }}"
                           class="btn btn-danger btn-outline btn-square supprimer" data-id="id"><i
                                    class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="{{ 'atitle.supprimer'|trans }}"></i></a>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun groupe</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <h5>Semestre et parcours</h5>
        <div class="form-group">
            <label for="chgt_etudiant_semestre">Modification du semestre de l'étudiant</label>
            <select class="form-control" name="semestre" id="chgt_etudiant_semestre"
                    data-etudiant="{{ etudiant.id }}">
                {% for semestre in user_data.semestres %}
                    <option value="{{ semestre.id }}" {% if etudiant.semestre != null and semestre.id == etudiant.semestre.id %} selected {% endif %}>{{ semestre.libelle }}</option>
                {% endfor %}
                <option value="0" {% if etudiant.semestre == null %} selected {% endif %}>Aucun semestre
                </option>
            </select>
        </div>

        <div class="alert alert-info">
            Vous pouvez transférer un étudiant vers un autre département. Cela le rendra accessible par le
            département de destination qui pourra l'affecter à des groupes.
        </div>
        <div class="form-group">
            <label for="chgt_etudiant_departement">Département actuel</label>
            <select class="form-control" name="departement" id="chgt_etudiant_departement"
                    data-etudiant="{{ etudiant.id }}">
                {% for departement in departements %}
                    <option value="{{ departement.id }}"
                            {% if etudiant.departement != null and departement.id == etudiant.departement.id %} selected {% endif %}>{{ departement.libelle }}</option>
                {% endfor %}
                <option value="0" {% if etudiant.departement == null %}selected{% endif %}>Aucun
                                                                                           département
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="chgt_etudiant_fin">Année sortie DUT/LP/IUT</label>
            <select class="form-control" name="fin" id="chgt_etudiant_fin" data-etudiant="{{ etudiant.id }}">
                {% for annee in 2017..'now'|date('Y')+2 %}
                    <option value="{{ annee }}" {% if annee == etudiant.anneeSortie %}selected{% endif %}>{{ annee }}</option>
                {% endfor %}
                <option value="0" {% if 0 == etudiant.anneeSortie %}selected{% endif %}>Formation en
                                                                                        cours
                </option>
            </select>
        </div>

        <h5>Marquer commer démissionnaire</h5>

        <a href="{{ path('administration_etudiant_demissionnaire', {uuid: etudiant.uuidString}) }}" class="btn
            btn-danger"
           data-bs-toggle="tooltip" data-bs-placement="bottom"
           title="Marquer l'étudiant {{ etudiant.displayPr }} comme
                                                     démissionnaire">Marquer l'étudiant {{ etudiant.displayPr }} comme
                                                                     démissionnaire</a>

        <div class="alert alert-danger">
            Si vous marquez l'étudiant comme démissionnaire, il sera retiré des groupes et des semestres, mais
            restera dans la formation pour un éventuel suivi ou statistiques.
        </div>

        Changement de groupe / suppression
    </div>
</div>
