<div class="card">
    <h4 class="card-title">{{ 'bloc.actions.personnel.heading'|trans }}</h4>
    <div class="card-body">

        <h5>Re/initialiation du compte</h5>
        <twig:Alert type="info">
            Cette fonctionnalité ne devrait être eutilisée que pour les utilisateurs ne disposant pas d'accès URCA.
        </twig:Alert>
        <br>
        <a href="#" class="btn btn-warning" id="btnInit" data-personnel="{{ personnel.id }}" data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Ré/initiliser le mot de passe"><i class="fa fa-magic"></i> Initialiser le mot de passe.</a>
    </div>
</div>
