<div class="card">
    <h4 class="card-title">{{ 'bloc.scolarite.etu.heading'|trans }}</h4>
    <div class="card-body">
        <table class="table table-border">
            <thead>
            <tr>
                <th>{{ 'table.ordre'|trans }}</th>
                <th>{{ 'table.semestre'|trans }}</th>
                <th>{{ 'table.moyenneues'|trans }}</th>
                <th>{{ 'table.moyenne'|trans }}</th>
                <th>{{ 'table.decision'|trans }}</th>
                <th>{{ 'table.proposition'|trans }}</th>
                <th>{{ 'table.infos'|trans }}</th>
                {% if  user_data.isGoodDepartement('ROLE_NOTE') or  user_data.isGoodDepartement('ROLE_CDD')
                    or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
                    <th>{{ 'table.releve'|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for parcour in scolarites %}
                {% if  (user_data.isGoodDepartement('ROLE_NOTE') or user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or
                    user_data.isGoodDepartement('ROLE_ADMIN')) or parcour.diffuse ==true %}
                    <tr class="{% if parcour.diffuse == false %}bg-secondary{% endif %}">
                        <td>{{ parcour.ordre }} {% if parcour.diffuse == false %}(Non diffusé){% endif %}</td>
                        <td>{{ parcour.semestre ? parcour.semestre.display : 'non.defini'|trans }}</td>

                        <td>
                            {% if parcour.decision != 'EC' %}
                                {% for ue in parcour.semestre.ues %}
                                    <strong>UE {{ ue.numeroUe }}:</strong>
                                    {{ parcour.moyennesUes[ue.id].moyenne|format_note(3,8) }}<br>
                                {% endfor %}
                            {% else %}
                                EC
                            {% endif %}</td>
                        <td>{{ parcour.moyenne|format_note(3, 10) }}</td>
                        <td>{{ parcour.decision }}</td>
                        <td>{{ parcour.proposition }}</td>
                        <td><a href="{{ path('app_etudiant_scolarite_detail', {'id': parcour.id}) }}"
                               class="btn btn-info btn-outline btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.details'|trans }}"><i class="{{ iconShow }}"></i></a>
                            {% if  user_data.isGoodDepartement('ROLE_NOTE') or
                                user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
                                <a href="{{ path('administration_scolarite_etudiant_edit', {slug: etudiant.slug,scolarite:parcour.id }) }}" title="Editer la scolarité de {{ etudiant.displayPr }}"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom"

                                   class="btn btn-warning btn-outline btn-xs"><i class="{{ iconEdit }}"></i></a>
                            {% endif %}
                        </td>
                        {% if  user_data.isGoodDepartement('ROLE_NOTE') or  user_data.isGoodDepartement('ROLE_CDD')
                            or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
                            <td>

                                {% if parcour.scolaritePromo != null %}
                                    <a href="{{ path('administration_semestre_export_releve_definitif',{slug:etudiant
                                    .slug, scolarite: parcour.id}) }}"
                                       class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editer un
                                        relevé de notes définiti"><i
                                                class="fas fa-print"></i> Editer le relevé de notes définitif</a>
                                {% else %}
                                    Le relevé n'est disponible qu'à partir de Sept. 2020
                                {% endif %}

                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}

            </tbody>
        </table>
        {% if  user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
            <a href="{{ path('administration_scolarite_etudiant_edit', {slug: etudiant.slug}) }}" class="btn
            btn-primary
            btn-block">
                <i class="{{ iconAdd }}"></i>
                Ajouter un élément dans la scolarité de {{ etudiant.displayPr }}</a>
        {% endif %}
    </div>
</div>
