<div class="card">
    <header class="card-header">
        <h4 class="card-title">Effectuer une demande de Rattrapage</h4>
        <div class="card-header-actions" style="">
            <button class="btn btn-sm btn-primary"
                    id="add_rattrapage"
                    title="{{ 'atitle.creer_nouveau'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"><i
                        class="fas fa-plus"></i><span class="sr-only">ajouter une demande de rattrapge</span></button>
        </div>
    </header>
    <div class="card-body" id="bloc_add_rattrapage" style="display:none">
        <div class="alert alert-info">Veuillez remplir complétement le formulaire ci-dessous. Une réponse vous
                                      sera donnée par mail dans les plus bref délais (sous réserve que le
                                      formulaire soit complet et
                                      exact).
        </div>
        {% form_theme form 'form/my-form.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">{{ button_label|default('label.envoyer.demande'|trans) }}</button>
        {{ form_end(form) }}
    </div>
</div>

<div class="card">
    <h4 class="card-title">Demandes effectuées</h4>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Matière</th>
                <th>Date evaluation initiale</th>
                <th>Enseignant</th>
                <th>Date Rattrapage</th>
                <th>Etat</th>
            </tr>
            </thead>
            <tbody>
            {% for demande in rattrapages %}
                <tr>
                    <td>{{ matieres[demande.typeIdMatiere] is defined ? matieres[demande.typeIdMatiere].libelle : 'non.defini'|trans }}</td>
                    <td>{{ demande.dateEval ? demande.dateEval|format_date('long') : '' }}
                        à {{ demande.heureEval ? demande.heureEval|format_time('short') : '' }}</td>
                    <td>{{ demande.personnel ? demande.personnel.display : 'non.defini'|trans }}</td>
                    <td>
                        {% if demande.etatDemande == constant('DEMANDE_FAITE', demande) or demande.dateRattrapage == null %}
                            <a href="#"
                               class="btn btn-info btn-outline">
                            <i class="{{ iconShow }}"></i> {{ 'en.attente'|trans }}</a>{% else %}
                            {{ demande.dateRattrapage ? demande.dateRattrapage|format_date('long') : '' }}
                            à {{ demande.heureRattrapage ? demande.heureRattrapage|format_time('short') : '' }}
                        {% endif %}</td>
                    <td>
                        {% if demande.etatDemande == constant('DEMANDE_FAITE', demande) %}
                            <a href="#" class="btn btn-info btn-outline"><i
                                        class="{{ iconShow }}"></i> {{ 'en.attente'|trans }}</a>
                        {% elseif demande.etatDemande == constant('DEMANDE_ACCEPTEE', demande) %}
                            <a href="#" class="btn btn-success btn-outline"><i
                                        class="fas fa-check"></i> {{ 'acceptee'|trans }}</a>
                        {% elseif demande.etatDemande== constant('DEMANDE_REFUSEE', demande) %}
                            <a href="#" class="btn btn-warning btn-outline"><i class="fas fa-ban"></i> {{ 'refusee'|trans }}
                            </a>
                        {% else %}
                            <a href="#" class="btn btn-danger btn-outline"> {{ 'erreur'|trans }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
