framework:
    secret: '%env(APP_SECRET)%'
    #default_locale: en
    #csrf_protection: true
    #http_method_override: true
    fragments: { path: /_fragment }
    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        handler_id: ~
        cookie_secure: auto
        cookie_samesite: lax

    esi: { enabled: true }
    #fragments: true
    php_errors:
        log: true
    ide: phpstorm #pour faire le lien avec l'IDE
