###> symfony/framework-bundle ###
/graph.svg
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> app/docker ###
docker-compose.override.yml
###< app/docker ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
/.php-cs-fixer.cache

###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
/.phpunit.result.cache
###< symfony/phpunit-bridge ###

/.idea/dataSources.xml
/public/build/
/public/upload/
/public/rcc/
###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/.phpunit.result.cache
/aaasauvegarde/
/.github/
/aide/intranetGitBook-master/
/public/export.sql
/tools/php-cs-fixer/vendor/
/.php-cs-fixer.cache
/.automate.yml

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
/report.txt

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
/*.sql
/infra/mysql/
/infra/*.sql
/stan

/aide/assets/
/.idea/*
/.npmrc
