###> symfony/framework-bundle ###
/.idea/*
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
###< symfony/phpunit-bridge ###
/.idea/dictionaries/davidannebicque.xml
/.idea/misc.xml
/.idea/php-test-framework.xml
/.idea/php.xml
.env.dist
bin/
composer.lock

node_modules/
package-lock.json
public/index.php


public/upload/
symfony.lock
translations/VichUploaderBundle.fr.xlf
web/
yarn.lock
!/phpunit.xml

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
