{% extends 'base-speciale.html.twig' %}

{% block header %}Remise des diplômes{% endblock %}

{% block content %}
    <div class="main-content" id="mainContent">
        <div class="row">
            <div class="col-sm-3 text-center">
                <img src="{{ asset('upload/logo/'~settings('LOGO_IUT')) }}" alt="logo" width="100px"/>
            </div>
            <div class="col-sm-6 text-center">
                <h1></h1>
                <h2>Remise des diplômes 2023</h2>
            </div>
            <div class="col-sm-3 text-center">
                <img src="{{ asset('upload/logo/'~settings('LOGO_UNIVERSITE')) }}" alt="logo" width="100px"/>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <p>Nous vous remercions d'avoir participé à l'enquête.</p>

                        <twig:Alert type="danger">
                            En cas de difficulté, vous pouvez contacter la scolarité de l'IUT de Troyes :
                            <a href="mailto:scolarite.iut-troyes@univ-reims.fr" target="_blank">Par email</a> ou 03
                            25 42 46 04.
                        </twig:Alert>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
