{% extends 'base-speciale.html.twig' %}

{% block header %}Remise des diplômes{% endblock %}

{% block content %}
    <div class="main-content" id="mainContent">

        <div class="row">
            <div class="col-sm-3 text-center">
                <img src="{{ asset('upload/logo/'~settings('LOGO_IUT')) }}" alt="logo" width="100px"/>
            </div>
            <div class="col-sm-6 text-center">
                <h1></h1>
                <h2>Remise des diplômes 2021</h2>
            </div>
            <div class="col-sm-3 text-center">
                <img src="{{ asset('upload/logo/'~settings('LOGO_UNIVERSITE')) }}" alt="logo" width="100px"/>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        {# <div class="alert alert-warning"> #}
                        {# Le formulaire est clôtué depuis le 7 décembre. Les diplômes vont être envoyés #}
                        {# prochainement. Pour toutes questions, vous pouvez contacter la scolarité de l'IUT de Troyes #}
                        {# : <a href="mailto:scolarite.iut-troyes@univ-reims.fr" target="_blank">Par email</a> ou 03 25 #}
                        {# 42 46 46. #}
                        {# </div> #}
                        <br>
                        <p>Chers étudiants,</p>

                        <p>Vous êtes diplômés de l'IUT de Troyes et nous vous en félicitons !</p>

                        <p>Cette année, les événements nous obligent à ne pas organiser notre traditionnelle cérémonie
                           de
                           remise des diplômes qui a habituellement lieu le dernier samedi de novembre.</p>

                        <p>Vos diplômes vont donc vous être adressés par courrier.</p>

{#                        <p>Merci de nous confirmer l'adresse postale à laquelle vous souhaitez recevoir votre diplôme,#}
{#                           en#}
{#                           remplissant ce formulaire en ligne avant le 08/12/2021.</p>#}
                        <p>Un premier envoi des diplômes a eu lieu comme convenu après la date limite de réponse au formulaire du 8/12.

                           Si vous n’avez pas pu répondre au formulaire, vous pouvez encore y répondre pour que votre diplôme vous soit envoyé en janvier.

                           Pour cela, merci d’y répondre avant le 6/01/2022 au plus tard.
                        </p>

                        <p>Bonne continuation !</p>

                        <p>Cordialement.<br>
                           L'IUT de TROYES.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h2>Veuillez vous identifier pour accéder au formulaire</h2>
                    </div>
                    <div class="card-body">
                        {% if erreur is defined and erreur == true %}
                            <div class="alert alert-danger">
                                Nous n'avons pas pu vous identifier. Vérifier le formulaire et les informations saisies.
                                En
                                cas
                                de difficulté, vous pouvez contacter la scolarité de l'IUT de Troyes : <a
                                        href="mailto:scolarite.iut-troyes@univ-reims.fr" target="_blank">Par
                                                                                                         email</a> ou 03
                                25 42 46 46.
                            </div>
                            <br>
                        {% endif %}
                        <form action="{{ path('rdd_identification') }}" method="POST" class="form-horizontal
         form-bordered form-horizontal">
                            <div class="form-group">
                                <label for="login" class="control-label col-sm-2 required ">
                                    Login URCA ou mail étudiant ou numéro étudiant <span class="required" title="Ce champ est
         obligatoire">*</span>:
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" id="login" name="login" required="required" class="form-control form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="datedn" class="control-label col-sm-2 required ">
                                    Date de naissance <span class="required" title="Ce champ est obligatoire">*</span>:
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3">
                                            <select id="jour" name="jour" class="form-control">
                                                {% for i in 0..31 %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <select id="mois" name="mois" class="form-control">
                                                <option value="0">Choisir</option>
                                                <option value="01">Janvier</option>
                                                <option value="02">Février</option>
                                                <option value="03">Mars</option>
                                                <option value="04">Avril</option>
                                                <option value="05">Mai</option>
                                                <option value="06">Juin</option>
                                                <option value="07">Juillet</option>
                                                <option value="08">Août</option>
                                                <option value="09">Sepembre</option>
                                                <option value="10">Octobre</option>
                                                <option value="11">Novembre</option>
                                                <option value="12">Décembre</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-3">
                                            <select id="annee" name="annee" class="form-control">
                                                {% for i in 1960..2002 %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Accéder à l'inscription" class="btn btn-block btn-success">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
