{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.ppn.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-index.html.twig', {elt:'ppn', retour: {path: 'administration_matiere_index', titre: 'atitle.retour_matieres'|trans }}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.ppn.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ 'table.id'|trans }}</th>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <th>{{ 'table.annee_ppn'|trans }}</th>
                    <th>{{ 'table.diplome'|trans }}</th>
                    <th>{{ 'table.updated'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for ppn in ppns %}
                    <tr>
                        <td>{{ ppn.id }}</td>
                        <td>{{ ppn.libelle }}</td>
                        <td>{{ ppn.annee }}</td>
                        <td>{{ ppn.diplome ? ppn.diplome.display : 'non.defini'|trans }}</td>
                        <td>{{ ppn.updated ? ppn.updated|format_datetime('long', 'short') : '' }}</td>
                        <td>
                            <a href="{{ path('administration_ppn_duplicate', {'id': ppn.id}) }}"
                               class="btn btn-success btn-outline btn-square"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                               title="{{ 'atitle.dupliquer'|trans }}">
                                <i class="{{ iconDuplicate }}"></i>
                                <span class="sr-only">{{ 'atitle.dupliquer'|trans }}</span>
                            </a>
                            <a href="{{ path('administration_ppn_show', {'id': ppn.id}) }}"
                               class="btn btn-info btn-outline btn-square"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                               title="{{ 'atitle.details'|trans }}">
                                <i class="{{ iconShow }}"></i>
                                <span class="sr-only">{{ 'atitle.details'|trans }}</span>
                            </a>

                            <a href="{{ path('administration_ppn_edit', {'id': ppn.id}) }}"
                               class="btn btn-warning btn-outline btn-square"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                               title="{{ 'atitle.modifier'|trans }}">
                                <i class="{{ iconEdit }}"></i>
                                <span class="sr-only">{{ 'atitle.modifier'|trans }}</span>
                            </a>

                            {% if ppn.matieres|length != 0 %}
                                <button
                                        class="btn btn-secondary btn-outline btn-square"
                                        data-bs-toggle="tooltip" data-bs-placement="bottom"

                                        title="{{ 'atitle.supprimer.impossible'|trans }}">
                                    <i class="{{ iconDelete }}"></i>
                                    <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                                </button>
                            {% else %}
                                <a href="{{ path('administration_ppn_delete', {id: ppn.id}) }}"
                                   data-csrf="{{ csrf_token('delete' ~ ppn.id) }}"
                                   class="btn btn-danger btn-outline btn-square supprimer"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom"

                                   title="{{ 'atitle.supprimer'|trans }}">
                                    <i class="{{ iconDelete }}"></i>
                                    <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                                </a>
                            {% endif %}


                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">{{ 'no.record.found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card card-warning">
        <h4 class="card-title">{{ 'adm.ppn.copie.heading'|trans }}</h4>
        <div class="card-body">
            <div class="alert alert-info">Vous pouvez copier le contenu d'un PPN (matières) d'une version à une autre
                                          ici
            </div>

            {% if ppns|length < 2 %}
                <div class="alert alert-warning">Vous devez avoir un PPN de destination pour copier un PPN vers un
                                                 autre. <a href="{{ path('administration_ppn_new') }}">Créer un PPN</a>
                </div>
            {% else %}
                <form action="{{ path('administration_ppn_copie_integrale') }}" method="post">
                    <div class="form-group">
                        <label for="ppn_origine">PPN d'origine</label>
                        <select class="form-control" name="ppn_origine" id="ppn_origine">
                            {% for ppn in ppns %}
                                <option value="{{ ppn.id }}">{{ ppn.libelle }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ppn_dest">PPN de destination</label>
                        <select class="form-control" name="ppn_dest" id="ppn_dest">
                            {% for ppn in ppns %}
                                <option value="{{ ppn.id }}">{{ ppn.libelle }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <button class="btn btn-success" type="submit">
                            Dupliquer le contenu du PPN d'orogine vers un autre PPN
                        </button>
                    </div>
                </form>
                <br>
                <div class="alert alert-warning">La recopie du contenu d'un PPN vers un autre effacera le contenu
                                                 initial du PPN de destination.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_ppn_export', {_format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf"
        },
        {
            type:'info',
            href:path('administration_ppn_export', {_format:'csv'}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('administration_ppn_export', {_format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('administration_ppn_new'),
            title: 'ajouter'|trans,
            icone: 'fas fa-plus'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_ppn'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}
