{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.categories.articles.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_article_new') }}"
               class="btn btn-success btn-sm btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.ajouter_article'|trans }}">
                <i class="fas fa-plus"></i>
                <i class="fas fa-file"></i>
            </a>
            <a href="{{ path('administration_article_index') }}"
               class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour.articles'|trans }}"><i
                        class="fas fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.categories.articles.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered"
                   id="listeCategories">
                <thead>
                <tr>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <th>{{ 'table.nb_articles'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
        <tbody>
        {% for categorie in categories %}
                    <tr id="ligne_{{ categorie.id }}">
                        <td><span class="edit">{{ categorie.libelle }}</span></td>
                        <td>{{ categorie.articles|length }}</td>
                        <td>
                            {% if categorie.articles|length == 0 %}
                            <a href=""
                               data-csrf="{{ csrf_token('delete' ~ categorie.id) }}"
                               class="btn btn-danger btn-outline btn-square supprimer"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="{{ 'atitle.supprimer'|trans }}">
                                <i class="{{ iconDelete }}"></i>
                                <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                            </a>
                            {% else %}
                            Suppr. Impossible
                                {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">{{ 'no.record.found'|trans }}</td>
                    </tr>
                {% endfor %}
        </tbody>
                <tfoot>
                <tr>
                    <td><label for="libelle" class="sr-only">Libelle</label>
                        <input type="text" placeholder="Libellé de la catégorie" id="libelle" class="form-control"></td>
                    <td>&nbsp;</td>
                    <td>
                        <div class="col-12 d-block d-grid mb-2">
                            <button class="btn btn-success" id="addCategorie">Ajouter catégorie</button>
                        </div>
                    </td>
                </tr>
                </tfoot>

            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.articles') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.articles') }}
{% endblock %}
