{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'super-admin.groupes-departement.heading'|trans({"%departement%": departement.libelle}) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <ul class="nav nav-tabs" role="tablist">
            {% for semestre in semestres %}
                <li class="nav-item">
                    <a class="nav-link {% if (afficheSemestre != null and afficheSemestre == semestre.id) or
                        (afficheSemestre == null and loop.first) %}active show{% endif %} change-semestre"
                       data-bs-toggle="tab"
                       href="#semestre{{ semestre.id }}" role="tab" data-semestre="{{ semestre.id }}">{{ semestre
                        .libelle }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="buttons">
            <a href="{{ path('sa_groupes_import', {departement:departement.id}) }}" class="btn
            btn-info btn-float btn-sm"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.import'|trans }}"><i
                        class="fas fa-file-import"></i>
            </a><a href="{{ path('sa_groupes_departement_synchro_all', {departement:departement.id}) }}" class="btn
            btn-info btn-float btn-sm"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.synchro_apogee'|trans }}"><i
                        class="fas fa-undo"></i></a>
            <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="liste_semestre">
        {% for semestre in semestres %}

            {% if (afficheSemestre != null and afficheSemestre == semestre.id) or
                (afficheSemestre == null and loop.first) %}
                {{ render(controller(
                    'App\\Controller\\administration\\GroupeController::listeSemestre', {semestre:semestre.id}
                )) }}

            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block fabactions %}
    {% set semestreExport = 0 %}
    {% for semestre in semestres %}

        {% if (afficheSemestre != null and afficheSemestre == semestre.id) or
            (afficheSemestre == null and loop.first) %}
            {% set semestreExport = semestre.id %}
        {% endif %}

    {% endfor %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_groupe_export', {_format:'pdf', semestre:semestreExport}),
            title: 'exporter.pdf'|trans,
            id: 'export_pdf',
            icone : "fa fa-file-pdf"
        },
        {
            type:'info',
            href:path('administration_groupe_export', {_format:'csv',semestre:semestreExport}),
            title: 'exporter.csv'|trans,
            id: 'export_csv',
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('administration_groupe_export', {_format:'xlsx',semestre:semestreExport}),
            title: 'exporter.xls'|trans,
            id: 'export_xlsx',
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_groupe'}),
            title: 'aide'|trans,
            icone: 'fas fa-question',
            target: '_blank'
        }
    ]}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.groupe') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.groupe') }}
{% endblock %}

