{% set num_titre = ordre %}
<h5><strong>{{ ordre }}.</strong> {{ section.titre }}</h5>
{% if section.config == null %}
    {% for question in section.qualiteSectionQuestions %}
        {% set numero = num_titre~"."~ loop.index %}
        {{ include('quizz_question/_question.html.twig', {question:question.question, numero: numero}) }}
    {% endfor %}
{% else %}
    {% for previ in section.previs %}
        {% set num_titre2 = num_titre~'.'~loop.index %}
        {% for question in section.qualiteSectionQuestions %}
            {% set numero = num_titre2~"."~ loop.index %}
            {{ include('quizz_question/_question.html.twig', {question:question.question, numero: numero,
                config: {id: previ, matiere:tPrevisionnel[previ].matiere.libelle,
                    personnel:tPrevisionnel[previ].personnel.displayPr}}) }}
        {% endfor %}
        <hr>
    {% endfor %}
{% endif %}
