<div class="card">
    <header class="card-header">
        <h4 class="card-title">Effectuer une demande d'emprunt</h4>
        <div class="card-header-actions" style="">
            <button class="btn btn-sm btn-primary"
                    id="add_rattrapage"
                    title="{{ 'atitle.creer_nouveau'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"><i
                        class="fas fa-plus"></i><span class="sr-only">ajouter une demande d'emprunt</span></button>
        </div>
    </header>
    <div class="card-body" id="bloc_add_rattrapage" style="display:none">
        <div class="alert alert-info">Veuillez remplir complétement le formulaire ci-dessous.</div>
        {{ include('appEtudiant/emprunt/_form.html.twig') }}
    </div>
</div>

<div class="card">
    <h4 class="card-title">{{ 'applications.etudiant.emprunt.heading'|trans }}</h4>

    <div class="card-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Date Demande</th>
                <th>Motif</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for emprunt in emprunts %}
                <tr>
                    <td>{{ emprunt.created ? emprunt.created|format_datetime('long', 'short') : '' }}</td>
                    <td>{{ emprunt.motif }}</td>
                    <td>{{ emprunt.etat|trans }}</td>
                    <td>
                        <a data-provide="modaler" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           data-url="{{ path('application_etudiant_emprunt_detail', {emprunt: emprunt
                               .uuidString}) }}"
                           class="btn btn-info btn-outline btn-square"

                           title="{{ 'atitle.details'|trans }}"
                           data-title="{{ 'app.etudiant.emprunt.show.heading'|trans }}"
                        >
                            <i class="{{ iconShow }}"></i>
                            <span class="sr-only">{{ 'atitle.details'|trans }}</span>
                        </a>
                        <a href="{{ path('app_etudiant_emprunt_imprimer_fiche', {emprunt: emprunt.uuidString}) }}"
                           data-csrf="{{ csrf_token('delete' ~ emprunt.id) }}"
                           class="btn btn-primary btn-outline btn-square"
                           data-bs-toggle="tooltip" data-bs-placement="bottom"

                           title="{{ 'atitle.imprimer'|trans }}">
                            <i class="{{ iconPrint }}"></i>
                            <span class="sr-only">{{ 'atitle.imprimer'|trans }}</span>
                        </a>
                        <a href="{{ path('app_etudiant_emprunt_delete', {emprunt: emprunt.uuidString}) }}"
                           data-csrf="{{ csrf_token('delete' ~ emprunt.id) }}"
                           class="btn btn-danger btn-outline btn-square supprimer"
                           data-bs-toggle="tooltip" data-bs-placement="bottom"

                           title="{{ 'atitle.supprimer'|trans }}">
                            <i class="{{ iconDelete }}"></i>
                            <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
