{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.edt.realise.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_edt_index') }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="fas fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.edt.realise.index.heading'|trans }}</h4>
        <div class="card-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="selectpersonnel">Personnel</label>
                    <select name="intervenant" id="selectpersonnel"
                            class="form-control selectpicker">
                        <option value="">Choisir</option>
                        {% for personnel in personnels %}
                            <option value="{{ personnel.id }}">{{ personnel.display }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="selectmatiere">Module</label>
                    <select id="selectmatiere" name="selectmatiere"
                            class="form-control selectpicker">
                        <option value="0">Choisissez une matière</option>
                        {% for matiere in matieres %}
                            <option value="{{ matiere.typeIdMatiere }}">{{ matiere.display }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" id="btnafficheRealise" class="btn btn-block btn-primary">Afficher le
                                                                                             chronologique</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="blocchrono">
        <div class="card">
            <h4 class="card-title">{{ 'adm.edt.realise.chronologique.heading'|trans }}</h4>
            <div class="card-body">

            </div>
        </div>
    </div>

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.edt') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.edt') }}
{% endblock %}
