<li class="dropdown">
                    <span class="topbar-btn" data-bs-toggle="dropdown"
                          data-bs-placement="bottom"
                          data-controller="interface--tooltip"
                          title="Changer d'année universitaire"
                    >
                      <i class="fas fa-calendar-alt"></i> {{ user_data.displayAnneeUniversitaire }}
                    </span>
    <div class="dropdown-menu dropdown-menu-right">
        {% for annee_u in annees_universitaire %}
            <a class="dropdown-item{% if annee_u.id != user_data.anneeUniversitaire.id %} changeAnneeUniversitaire{% endif %}"
               href="#"
               {% if annee_u.id != user_data.anneeUniversitaire.id %}data-annee="{{ annee_u.id }}"{% endif %}
               title="Changer d'année universitaire">
                {% if annee_u.active == true %}
                    <i class="fas fa-long-arrow-alt-right"></i>
                {% else %}
                    <i class="fas fa-random"></i>
                {% endif %} {{ annee_u.displayAnneeUniversitaire }}
            </a>
        {% endfor %}
    </div>
</li>
