<!-- Messages -->
<li class="dropdown d-none d-md-block">
    <span class="topbar-btn {% if nouveauxMessages == true %}has-new{% endif %}"
          data-bs-toggle="dropdown"><i class="{{ iconMessage }}"></i></span>
    <div class="dropdown-menu dropdown-menu-right">
        <div class="media-list media-list-divided media-list-hover media-list-xs scrollable"
             style="height: 290px">
            {% for message in messages %}
                <a class="media row {% if message.etat == 'U' %}media-new{% endif %}"
                   href="{{ path('application_index',{onglet:'messagerie', param:message.message
                   .id}) }}">
                          <span class="avatar status-success col-3">
                              {% if message.message.expediteur.photoName != null and message.message.expediteur.photoName != 'noimage.png' %}
                                  <img class="avatar" src="{{ asset('upload/personnels/'~message.message.expediteur.photoName)
                                  |imagine_filter('avatar') }}" alt="Avatar de l'expéditeur">
                              {% else %}
                                  {{ include('composants/_avatar.html.twig', {user:message.message.expediteur, size:'sm'}) }}
                              {% endif %}
                          </span>

                    <div class="media-body col-9">
                        <p><strong>{{ message.message.expediteur.displayPr }}</strong>
                            <time class="float-right"
                                  datetime="{{ message.message.created|date('d/m/Y H:i') }}">{{ message.message.created|time_ago(app.request.locale) }}</time>
                        </p>
                        <p class="text-truncate">{{ message.message.sujet }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <div class="dropdown-footer">
            <div class="left">
                <a href="{{ path('application_index', {onglet: 'messagerie'}) }}">{{ 'voir.tous.les.messages'|trans }}</a>
            </div>

            <div class="right">
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mark all as read">
                    <i class="fas fa-circle">
                        <span class="sr-only">Marquer comme lu</span>
                    </i>
                </a>
            </div>
        </div>

    </div>
</li>
<!-- END Messages -->
