{% extends 'base.html.twig' %}

{% block header %}
    {{ 'notification.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_dashboard'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">
            {{ 'notification.heading'|trans }}
        </h4>
        <div class="media-list media-list-hover media-list-divided">
            {% for notification in user_data.notifications %}
                <a class="media media-single {% if notification.lu == false %}media-new{% endif %} notification"
                   href="{{ notification.url }}">
                    <span class="avatar bg-{{ notification.color }}"><i class="{{ notification.icone }}"></i></span>
                    <span class="title">{{ notification.type|trans }}</span>
                    <time datetime="{{ notification.created|format_datetime('short', 'short') }}">{{ notification
                        .created|time_ago(app.request.locale) }}</time>
                </a>
            {% else %}
                <a class="media media-single notification"
                   href="#">{{ 'aucune.notification'|trans }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
