{% extends 'base.html.twig' %}

{% block header %}
    {{ 'affecter.enseignants.groupes'|trans({'%libelle%':semestre.libelle})|raw }}
{% endblock %}

{% block headerright %}
  <div class="right gap-items-2">
      {% for sem in user_data.semestresActifs %}
        <a href="{{ path('administration_notes_semestre_index', {semestre:sem.id}) }}"
           class="btn btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
           title="{{ 'atitle.changer.semestre'|trans }}"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
        >{{ sem.libelle }}</a>
      {% endfor %}
  </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
               class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Module</th>
          <th>Commentaire/nom</th>
          <th>Coefficient</th>
          <th>Type de saisie</th>
          <th>Intervenants</th>
        </tr>
        </thead>
        <tbody>
{# todo: a finaliser #}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
