{% extends 'base-super_admin.html.twig' %}

{% block header %}
    Enquête des diplômés
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administratif_enquete_diplome_export_manquant') }}"
               class="btn btn-warning btn-float btn-sm"
               title="{{ 'atitle.export_manquant'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-star-half-alt"></i>
                <span class="sr-only">{{ 'atitle.export_manquant'|trans }}</span>
            </a>
            <a href="{{ path('administratif_enquete_diplome_export') }}"
               class="btn btn-info btn-float btn-sm"
               title="{{ 'atitle.export_reponses'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-file-download"></i>
                <span class="sr-only">{{ 'atitle.export_reponses'|trans }}</span>
            </a>
            <a href="{{ path('super_admin_homepage') }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_administration'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_administration'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">Enquête des diplômés</h4>
        <div class="card-body">
            <div class="alert alert-info">
                Il y a {{ reponses|length }} réponses sur {{ nbAttendus|length }}
                soit {{ pourcentageRetour|number_format
                    (2) }}%.
            </div>
            <br>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Etudiant</th>
                    <th>Diplome</th>
                    <th>Téléphone</th>
                    <th>Téléphone</th>
                    <th>Mail</th>
                    <th>Enquête ?</th>
                    <th>Dernière mise à jour</th>
                </tr>
                </thead>
                <tbody>
                {% for etu in nbAttendus %}
                    {% if etudiants[etu.numEtudiant] is defined %}
                        <tr>
                            <td>{{ etudiants[etu.numEtudiant].etudiant.display }}</td>
                            <td>{{ etu.libelleDiplome }}</td>
                            <td>{{ etudiants[etu.numEtudiant].etudiant.tel1|tel_format }}</td>
                            <td>{{ etudiants[etu.numEtudiant].etudiant.tel2|tel_format }}</td>
                            <td>{{ etudiants[etu.numEtudiant].etudiant.mailPerso|mailto }}</td>
                            <td>
                                {% if etudiants[etu.numEtudiant].reponse != null %}
                                    {% if etudiants[etu.numEtudiant].reponse.termine == true %}
                                        Terminé le {{ etudiants[etu.numEtudiant].reponse.dateTermine|format_date
                                        ('short') }}
                                    {% else %}
                                        En cours
                                    {% endif %}
                                {% else %}
                                    Non répondu
                                {% endif %}
                            </td>
                            <td>
                                {% if etudiants[etu.numEtudiant].reponse != null %}
                                    {{ etudiants[etu.numEtudiant].reponse.updated|format_datetime('short', 'short') }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
