<div class="card">
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="card-body">
                <h5>
                    <a class="hover-primary text-uppercase fs-15 fw-400 ls-1" href="{{ path('information_read_more', {slug:article.slug}) }}">{{ article.titre }}</a>
                </h5>
                <hr class="w-50px ml-0 bt-2 border-pink hr-sm">

                <p>{{ article.resume }}</p>

                <div class="flexbox align-items-center mt-3">
                    <a class="btn btn-round btn-bold btn-primary"
                       href="{{ path('information_read_more', {slug:article.slug}) }}">{{ 'btn.read_more'|trans }}</a>

                    <div class="gap-items-4">
                        <a class="text-light" href="#">
                            <span class="fw-500 ml-2">{{ article.personnel ? article.personnel.displayPr : 'non.defini'|trans }}</span>
                        </a>
                        <label class="toggler toggler-danger fs-16 text-muted" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'like'|trans }}">
                            <input type="checkbox" class="addLike" data-article="{{ article.slug }}" {% if
                                article.id in mesArticles %}checked{% endif %}>
                            <i class="fa fa-heart"></i> <span>{{ article.articleLikes|length }}</span>
                        </label>
                        {# <a class="text-muted" href="#"> #}
                        {# <i class="fa fa-comment me-1"></i> 3 #}
                        {# </a> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
