{% extends 'base.html.twig' %}

{% block header %}
    {{ article.titre }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('informations_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_informations'|trans }}"><i
                        class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4><a class="hover-primary" href="#">{{ article.titre }}</a></h4>
            <p>
                <time>{{ article.created ? article.created|format_datetime('long', 'short') : '' }}</time>
            </p>

            <p>{{ article.texte|raw }}</p>
        </div>

        <div class="card-body bg-lightest bt-1">
            <div class="flexbox align-items-center">
                {% if article.personnel != null %}
                    <a class="text-primary fs-15"
                       href="{{ path('user_profil', {slug: article.personnel.slug, type:'permanent'}) }}">{{ article.personnel.displayPr }}</a>
                {% endif %}

                <ul class="flexbox">
                    {# <li class="px-16 br-1 border-light"> #}
                    {# <a class="text-muted" href="#"> #}
                    {# <i class="fa fa-share-alt"></i> #}
                    {# </a> #}
                    {# </li> #}

                    <li class="px-16 br-1 border-light">
                        <label class="toggler toggler-danger fs-16 text-muted" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'like'|trans }}">
                            <input type="checkbox" class="addLike" data-article="{{ article.slug }}" {% if
                                like == true %}checked{% endif %}>
                            <i class="fa fa-heart"></i> <span>{{ article.articleLikes|length }}</span>
                        </label>
                    </li>

                    {# <li class="px-16"> #}
                    {# <a class="text-muted" href="#"> #}
                    {# <i class="fa fa-comment me-1"></i> 3 #}
                    {# </a> #}
                    {# </li> #}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('informations') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('informations') }}
{% endblock %}

