{# feature: Gérer en Ajax la pagination et l'affichage d'un article précis. #}

{% if pagination.data|length > 0 %}
    <div id="zone-pagination">
        <div class="row">
            {% for article in pagination.data %}
                <div class="col-sm-12 col-md-6">
                    {{ include('information/_un-article.html.twig', {article:article}) }}
                </div>
            {% endfor %}
        </div>


        {{ include('composants/pagination.html.twig', {pagination:pagination}) }}
</div>
{% else %}
    <div class="alert alert-info">
        Pour le moment aucun article n'est disponible dans cette catégorie.
    </div>
{% endif %}
