{% extends 'base.html.twig' %}

{% block header %}
    {{ 'informations.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <ul class="nav nav-tabs" role="tablist">
            {% for categorie in categories %}
                <li class="nav-item">
                    <a class="nav-link changeinformation {% if loop.first %}active{% endif %}"
                       href="{{ path('information_categorie', {categorie: categorie.id}) }}">{{ categorie.libelle }}</a>
                </li>
            {% endfor %}

        </ul>
        <div class="buttons">
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_dashboard'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if categories|length == 0 %}
        <div class="alert alert-info">Aucune catégorie d'information pour le moment</div>
    {% else %}
        {{ render(controller(
            'App\\Controller\\InformationController::categorie', {categorie: categories[0].id}
        )) }}
    {% endif %}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('informations') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('informations') }}
{% endblock %}
