{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.stage_etudiant.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_stage_etudiant_edit', {id: stageEtudiant.id}) }}"
               class="btn btn-warning btn-sm btn-float"
               title="{{ 'atitle.modifier'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="{{ iconEdit }}"></i>
                <span class="sr-only">{{ 'atitle.modifier'|trans }}</span>
            </a>
            <a href="{{ path('administration_stage_periode_gestion', {uuid: stageEtudiant.stagePeriode.uuidString}) }}"
               class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour.stage_periode_gestion'|trans }}"><i
                        class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.stage_etudiant.show.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('composants/stage_timeline.html.twig',{stageEtudiant: stageEtudiant}) }}

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th colspan="2" class="th_titre">
                        {{ 'table.etudiant'|trans }}
                    </th>
                </tr>
                <tr>
                    <th>{{ 'table.prenom_nom'|trans }}</th>
                    <td>{{ stageEtudiant.etudiant.civilite }} {{ stageEtudiant.etudiant.display }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.groupe_promo'|trans }}</th>
                    <td>{% for groupe in stageEtudiant.etudiant.groupes %}
                            {{ groupe.libelle }}{% if not loop.last %},
                            {% endif %}
                        {% endfor %}</td>
                </tr>
                <tr>
                    <th>{{ 'table.securite_sociale'|trans }}</th>
                    <td>
                        <a class="myedit"
                           data-field="intituleSecuriteSociale"
                           href="{{ path('etudiant_ajax_edit', {id:stageEtudiant.etudiant.id}) }}"
                           data-title="Corriger le régime de sécurité sociale">
                            {{ stageEtudiant.etudiant.intituleSecuriteSociale }}
                        </a> - Indiquer "CPAM" ou le régime spécial
                    </td>
                </tr>
                <tr>
                    <th>{{ 'table.adresse_securite_sociale'|trans }}</th>
                    <td>
                        <a class="myedit"
                           data-field="adresseSecuriteSociale"
                           href="{{ path('etudiant_ajax_edit', {id:stageEtudiant.etudiant.id}) }}"
                           data-title="Corriger l'adresse de l'organisme de sécurité sociale">
                            {{ stageEtudiant.etudiant.adresseSecuriteSociale }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>{{ 'table.email'|trans }}</th>
                    <td>
                        {{ stageEtudiant.etudiant.mailuniv|mailto }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.mail_perso'|trans }}</th>
                    <td>
                        <a class="myedit"
                           data-field="mailPerso"
                           href="{{ path('etudiant_ajax_edit', {id:stageEtudiant.etudiant.id}) }}"
                           data-title="Corriger le mail personnel">
                            {{ stageEtudiant.etudiant.mailPerso }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>{{ 'table.telephone'|trans }}</th>
                    <td><a class="myedit"
                           data-field="tel1"
                           href="{{ path('etudiant_ajax_edit', {id:stageEtudiant.etudiant.id}) }}"
                           data-title="Corriger le numéro de téléphone">
                            {{ stageEtudiant.etudiant.tel1|tel_format }}
                        </a>
                        ou <a class="myedit"
                              data-field="tel2"
                              href="{{ path('etudiant_ajax_edit', {id:stageEtudiant.etudiant.id}) }}"
                              data-title="Corriger le numéro de téléphone">
                            {{ stageEtudiant.etudiant.tel2|tel_format }}
                        </a>
                    </td>
                </tr>
                {{ include('composants/adresse_array.html.twig', {adresse:stageEtudiant.etudiant.adresse,editable:'true'
                }) }}

                <tr>
                    <th colspan="2" class="th_titre">{{ 'table.entreprise'|trans }}</th>
                </tr>
                {{ include('composants/entreprise_array.html.twig', {entreprise:stageEtudiant.entreprise,editable:'true'}) }}
                <tr>
                    <th colspan="2" class="th_titre">{{ 'table.tuteur_entreprise'|trans }}</th>
                </tr>
                {{ include('composants/contact_array.html.twig', {contact: stageEtudiant.tuteur,editable:'true'}) }}
                <tr>
                    <th colspan="2" class="th_titre">{{ 'table.stage'|trans }}</th>
                </tr>
                <tr>
                    <th>{{ 'table.serviceStageEntreprise'|trans }}</th>
                    <td>
                        <a class="myedit"
                           data-field="serviceStageEntreprise"
                           href="{{ path('administration_stage_etudiant_ajax_edit', {id:stageEtudiant.id}) }}"
                           data-title="Corriger le numéro de fax">
                            {{ stageEtudiant.serviceStageEntreprise }}
                        </a>
                    </td>
                </tr>

                <tr>
                    <th>{{ 'table.dateDebutStage'|trans }}</th>
                    <td>
                        <a class="myedit"
                           data-field="dateDebutStage"
                           data-type="date"
                           href="{{ path('administration_stage_etudiant_ajax_edit', {id:stageEtudiant.id}) }}"
                           data-title="Corriger la date de début du stage">
                            {{ stageEtudiant.dateDebutStage ? stageEtudiant.dateDebutStage|format_date('short') : '' }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>{{ 'table.dateFinStage'|trans }}</th>
                    <td>
                        <a class="myedit"
                           data-field="dateFinStage"
                           data-type="date"
                           href="{{ path('administration_stage_etudiant_ajax_edit', {id:stageEtudiant.id}) }}"
                           data-title="Corriger la date de début du stage">
                            {{ stageEtudiant.dateFinStage ? stageEtudiant.dateFinStage|format_date('short') : '' }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>{{ 'table.dureeHebdomadaire'|trans }}</th>
                    <td><a class="myedit"
                           data-field="dureeHebdomadaire"
                           data-type="text"
                           href="{{ path('administration_stage_etudiant_ajax_edit', {id:stageEtudiant.id}) }}"
                           data-title="Corriger la durée hebdomadaire (en heure)">
                            {{ stageEtudiant.dureeHebdomadaire }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>{{ 'table.dureeJoursStage'|trans }}</th>
                    <td><a class="myedit"
                           data-field="dureeJoursStage"
                           data-type="text"
                           href="{{ path('administration_stage_etudiant_ajax_edit', {id:stageEtudiant.id}) }}"
                           data-title="Corriger la durée en jour de stage">
                            {{ stageEtudiant.dureeJoursStage }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>{{ 'table.sujetStage'|trans }}</th>
                    <td><a class="myedit"
                           data-field="sujetStage"
                           data-type="textarea"
                           href="{{ path('administration_stage_etudiant_ajax_edit', {id:stageEtudiant.id}) }}"
                           data-title="Corriger le numéro de fax">
                            {{ stageEtudiant.sujetStage|raw }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>{{ 'table.activites'|trans }}</th>
                    <td><a class="myedit"
                           data-field="activites"
                           data-type="textarea"
                           href="{{ path('administration_stage_etudiant_ajax_edit', {id:stageEtudiant.id}) }}"
                           data-title="Corriger le numéro de fax">
                            {{ stageEtudiant.activites }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>{{ 'table.amenagementStage'|trans }}</th>
                    <td>
                        <a class="myedit"
                           data-field="amenagementStage"
                           data-type="textarea"
                           href="{{ path('administration_stage_etudiant_ajax_edit', {id:stageEtudiant.id}) }}"
                           data-title="Corriger le numéro de fax">
                            {{ stageEtudiant.amenagementStage }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>{{ 'table.gratification'|trans }}</th>
                    <td>
                        <a class="myedit"
                           data-field="gratification"
                           data-type="textarea"
                           href="{{ path('administration_stage_etudiant_ajax_edit', {id:stageEtudiant.id}) }}"
                           data-title="Corriger le numéro de fax">
                            {{ stageEtudiant.gratification ? 'Yes'|trans : 'No'|trans }}
                        </a>
                </tr>
                <tr>
                    <th>{{ 'table.gratificationMontant'|trans }}</th>
                    <td>
                        <a class="myedit"
                           data-field="gratificationMontant"
                           data-type="textarea"
                           href="{{ path('administration_stage_etudiant_ajax_edit', {id:stageEtudiant.id}) }}"
                           data-title="Corriger le montant de la gratification">
                            {{ stageEtudiant.gratificationMontant|number_format(2) }}
                        </a> € par <a class="myedit"
                                      data-field="gratificationPeriode"
                                      href="{{ path('administration_stage_etudiant_ajax_edit', {id:stageEtudiant.id}) }}"
                                      data-title="Corriger la période de gratification">
                            {{ stageEtudiant.gratificationPeriode|trans }}
                        </a></td>
                </tr>
                <tr>
                    <th>{{ 'table.avantages'|trans }}</th>
                    <td>
                        <a class="myedit"
                           data-field="avantages"
                           href="{{ path('administration_stage_etudiant_ajax_edit', {id:stageEtudiant.id}) }}"
                           data-title="Corriger le numéro de fax">
                            {{ stageEtudiant.avantages }}
                        </a></td>
                </tr>
                <tr>
                    <th colspan="2" class="th_titre">{{ 'table.tuteur_universitaire'|trans }}</th>
                </tr>
                <tr>
                    <th>{{ 'table.tuteur_universitaire'|trans }}</th>
                    <td>
                        <label for="tuteurUniversitaire" class="sr-only">Tuteur universitaire</label>
                        <select data-stage="{{ stageEtudiant.id }}"
                                class="form-control changetuteur">

                            <option value="" selected>Choisir le tuteur universitaire</option>
                            {% for personnel in personnels %}
                                <option value="{{ personnel.id }}" {% if stageEtudiant.tuteurUniversitaire != null
                                    and personnel.id == stageEtudiant.tuteurUniversitaire.id %}selected{% endif %}>
                                    {{ personnel.displayPr }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_stage_etudiant_convention_pdf', {id:stageEtudiant.id}),
            title: 'Editer la convention',
            icone : "fa fa-print"
        },
        {
            type:'info',
            href:path('administration_stage_etudiant_fiche_enseignant', {id:stageEtudiant.id}),
            title: 'fiche.enseignant'|trans,
            icone: 'fa fa-table'
        },
        {
            type:'warning',
            href:path('administration_stage_etudiant_change_etat', {stagePeriode: stageEtudiant.stagePeriode
            .uuidString, etudiant:stageEtudiant
            .etudiant.id, etat: 'ETAT_STAGE_INCOMPLET'}),
            title: 'Proposition incomplète',
            icone: 'fa fa-ban'
        },
        {
            type:'danger',
            href:path('administration_stage_etudiant_change_etat', {stagePeriode: stageEtudiant.stagePeriode
            .uuidString, etudiant:stageEtudiant
            .etudiant.id, etat: 'ETAT_STAGE_REFUS'}),
            title: 'Refuser le stage',
            icone: 'fa fa-times'
        },
        {
            type:'success',
            href:path('administration_stage_etudiant_change_etat', {stagePeriode: stageEtudiant.stagePeriode.uuidString, etudiant:stageEtudiant.etudiant.id, etat: 'ETAT_STAGE_VALIDE'}),
            title: 'Valider le stage',
            icone: 'fa fa-check'
        }
    ]}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.stage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.stage') }}
{% endblock %}
