<p class="text-center fs-35 text-muted"><strong class="text-primary">Merci</strong></p>
<p class="text-center text-gray">{{ texteFin|raw }}</p>
<hr class="w-100px">
{#{% if typeQuestionnaire == 'quizz' %}#}
    <div class="alert alert-warning">Pour valider votre questionnaire, n'oubliez pas de cliquer
                                     sur "terminer".
    </div>
{#{% else %}#}
{#    <div class="alert alert-warning">Pour compléter votre questionnaire, n'oubliez pas de cliquer#}
{#                                     sur "terminer" pour recevoir l'accusé de réception.#}
{#    </div>#}
{#{% endif %}#}
