<p class="text-center fs-35 text-muted"><strong class="text-primary">
        Merci d'avoir pris quelques instants pour répondre à nos questions.</strong></p>
<p class="text-center text-gray">{{ texteFin|raw }}</p>
<hr class="w-100px">
<div class="alert alert-warning">
    Pour valider votre questionnaire, n'oubliez pas de cliquer sur "terminer".
</div>

