<h5><strong>{{ ordre }}.</strong> {{ titre }}</h5>

#{{ idQuestionnaire }}#
{% for question in questions %}
    {{ question_render(question, etudiant, idQuestionnaire) }}
{% endfor %}
<br>
<div class="alert alert-info">
    Les questions qui affichent un <span class="required-etoile">*</span> sont obligatoires.
</div>
