{% extends 'base-super_admin.html.twig' %}


{% block header %}
    {{ 'adm.apogee.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab"
                   href="#majliste">{{ 'maj.liste.etudiant'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                   href="#forcerimport">{{ 'forcer.maj.liste'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                   href="#importun">{{ 'importer.une.etudiant'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                   href="#ajoutmanuelliste">{{ 'importer.liste.etudiant'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                   href="#ajoutmanuelun">{{ 'ajout.manuel.etudiant'|trans }}</a>
            </li>
        </ul>
        <div class="buttons">
            <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="tab-content card">
        <div class="tab-pane fade active show" id="majliste">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <h4 class="card-title">Mettre à jour une promotion</h4>
                        <div class="card-body">
                            <div class="alert alert-info">
                                Avec cette mise à jour, uniquement les étudiants manquants seront ajoutés. Toutes les
                                données déjà présentent ne seront pas modifiées.
                            </div>
                            <form class="form" action="{{ path('sa_apogee_maj', {type:'maj'}) }}" method="post">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="semestreforce">Semestre à importer</label>
                                            <select class="form-control selectpicker" id="semestreforce" name="semestreforce">
                                                <option value="">Choisir le semestre à mettre à jour</option>
                                                {% for semestre in semestres %}
                                                    <option value="{{ semestre.id }}">{{ semestre.displayAvecTypeDiplome }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="anneeuniversitaire">Année universitaire</label>
                                            <select class="form-control selectpicker" id="anneeuniversitaire"
                                                    name="anneeuniversitaire">
                                                <option value="">Choisir l'année universitaire</option>
                                                {% for anneeUniversitaire in anneeUniversitaires %}
                                                    <option value="{{ anneeUniversitaire.id }}" {% if anneeUniversitaire
                                                        .active == true %}selected{% endif %}>{{ anneeUniversitaire.displayAnneeUniversitaire }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-success">Mettre à jour</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="forcerimport">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <h4 class="card-title">Forcer un nouvel import</h4>
                        <div class="card-body">
                            <div class="alert alert-warning">
                                Cette fonctionnalité va mettre à jour les données des étudiants présents, et importer
                                les étudiants manquants. Toutes les modifications (coordonnées, groupes, ...) peuvent
                                être modifiées
                            </div>
                            <form class="form" action="{{ path('sa_apogee_maj', {type:'force'}) }}" method="post">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="semestreforce">Semestre à importer</label>
                                            <select class="form-control selectpicker" id="semestreforce" name="semestreforce"
                                            >
                                                <option value="">Choisir le semestre à mettre à jour</option>
                                                {% for semestre in semestres %}
                                                    <option value="{{ semestre.id }}">{{ semestre.display }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="anneeuniversitaire">Année universitaire</label>
                                            <select class="form-control selectpicker" id="anneeuniversitaire"
                                                    name="anneeuniversitaire"
                                            >
                                                <option value="">Choisir l'année universitaire</option>
                                                {% for anneeUniversitaire in anneeUniversitaires %}
                                                    <option value="{{ anneeUniversitaire.id }}" {% if anneeUniversitaire
                                                        .active == true %}selected{% endif %}>{{ anneeUniversitaire.displayAnneeUniversitaire }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-success">Mettre à jour</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="importun">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <h4 class="card-title">Récupérer un étudiant manquant</h4>
                        <div class="card-body">
                            <div class="alert alert-info">
                                Cette fonctionnalité permet d'importer que des étudiants de manière cilbée (avec un
                                numéro étudiant). Vous pouvez saisir plusieurs numéros en séparant par un ; (point
                                virugule).
                            </div>
                            <form class="form" action="{{ path('sa_apogee_import_etudiant') }}" method="post">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="listeetudiants">Etudiant(s)</label>
                                            <textarea class="form-control" id="listeetudiants" name="listeetudiants">
                                    </textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="semestreforce">Semestre de destination</label>
                                            <select class="form-control selectpicker" id="semestreforce" name="semestreforce"
                                            >
                                                <option value="">Choisir le semestre de destination</option>
                                                {% for semestre in semestres %}
                                                    <option value="{{ semestre.id }}">{{ semestre.displayAvecTypeDiplome }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-success">Mettre à jour</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="ajoutmanuelliste">
            <div class="card">
                <h4 class="card-title">{{ 'sadm.scolarite.import.listing.heading'|trans }}</h4>
                <div class="card-body">
                    <form method="POST" action="{{ path('sa_etudiant_importer') }}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label" for="importer_etudiant_semestre">Selectionnez le fichier en
                                                                                          respectant le format</label>
                            {# <select id="importer_etudiant_semestre" #}
                            {# name="importer_etudiant_semestre" class="form-control selectpicker" #}
                            {# > #}
                            {# <option>Choisir</option> #}
                            {# {% for diplome in diplomes %} #}
                            {# <optgroup label="{{ diplome.sigle }}"> #}
                            {# {% for semestre in diplome.semestres %} #}
                            {# <option value="{{ semestre.id }}">{{ semestre.display }}</option> #}
                            {# {% endfor %} #}
                            {# </optgroup> #}
                            {# {% endfor %} #}
                            {# </select> #}
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="importer_etudiant">Selectionnez le fichier en
                                                                                 respectant le format</label>
                            <input type="file" name="fichier_import" id="importer_etudiant" class="form-control">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-block btn-warning">Importer les étudiants</button>
                        </div>
                        <div class="alert alert-info">Le fichier doit contenir les données suivantes et les en-têtes
                                                      correctement nommées (<a href="">voir le fichier d'exemple</a>)
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="ajoutmanuelun">
            Formulaire d'ajout manuel d'un étudiant.
        </div>
    </div>
{% endblock %}

{% block fabactions %}

{% endblock %}

