{% extends is_granted('ROLE_ADMINISTRATIF') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.questionnaire.question.new.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('sadm_questionnaire_question_index') }}"
               class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="Retour à la liste des questions"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">
            {{ 'adm.questionnaire.question.new.heading'|trans }}
        </h4>
        <div class="card-body">
            <div {{ stimulus_controller('questionnaire_question', {url: path('sadm_questionnaire_question_type_question')}) }}>
                <h4>Choisissez le type de question ?</h4>
                <div class="row">
                    {% for typeQuestion in typeQuestions %}
                        <div class="col-sm-6 col-md-2 d-grid d-block">
                            <button data-action="questionnaire-question#changeTypeQuestion" class="btn btn-primary"
                                    data-value="{{ typeQuestion|fqn }}">
                                <i class=" {{ constant('ICON', typeQuestion) }}"></i><br>
                                {{ constant('LABEL', typeQuestion) }}
                            </button>
                        </div>
                    {% endfor %}
                </div>
                <br>
                <div data-questionnaire-question-target="reponses">
                    <div class="alert alert-info">Choisir d'abord le type de question</div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.quizz') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.quizz') }}
{% endblock %}
