{% extends 'base.html.twig' %}

{% block header %}
    {{ 'stage_periode_gestion.heading'|trans({'%libelle%':stagePeriode.libelle})|raw }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for periode in periodes %}
            <a href="{{ path('administration_stage_periode_gestion', {uuid:periode.uuidString}) }}"
               class="btn btn-round {% if periode.id == stagePeriode.id %}btn-primary{% endif %}"
               title="{{ 'changer.de.stage_periode'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"

            >{{ periode.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_stage_periode_offre_index', {uuid: stagePeriode.uuidString}) }}"
               class="btn btn-info btn-sm btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.stage_offres'|trans }}"><i class="fas fa-briefcase"></i></a>
            <a href="{{ path('administration_stage_entreprise_index', {uuid: stagePeriode.uuidString}) }}"
               class="btn btn-info btn-sm btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.stage_entreprises'|trans }}"><i
                        class="fas fa-building"></i></a>
            <a href="{{ path('administration_stage_periode_soutenance_index', {uuid: stagePeriode.uuidString}) }}"
               class="btn btn-info btn-sm btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.stage_soutenances'|trans }}"><i
                        class="fas fa-calendar"></i></a>
            <a href="{{ path('administration_stage_periode_courrier_index', {uuid: stagePeriode.uuidString}) }}"
               class="btn btn-info btn-sm btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.stage_courrier'|trans }}"><i
                        class="fas fa-envelope"></i></a>

            <a href="{{ path('administration_stage_periode_edit', {id: stagePeriode.uuidString}) }}"
               class="btn btn-warning btn-sm btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.modifier.la.periode'|trans }}"><i
                        class="{{ iconEdit }}"></i></a>

            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 sol-sm-12">
            <div class="card card-slided-up">
                <header class="card-header">
                    <h4 class="card-title">{{ 'periode'|trans }} : <strong>{{ stagePeriode.libelle }}</strong>
                                                                 (n° {{ stagePeriode.numeroPeriode }}
                                                                 | {{ stagePeriode.semestre.libelle }})</h4>
                    <ul class="card-controls">
                        <li>
                            <a class="card-btn-slide" href="#" title="plus de détails" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <i class="fas fa-chevron-down"></i>
                            </a></li>
                    </ul>
                </header>
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <p>{{ 'periode.de.stage.du'|trans }}
                                    <strong>{{ stagePeriode.dateDebut ? stagePeriode.dateDebut|format_date('long') : 'non.defini'|trans }}
                                        {{ 'au'|trans }}   {{ stagePeriode.dateFin ? stagePeriode
                                        .dateFin|format_date('long') : 'non.defini'|trans }}</strong>
                                    {{ 'soit'|trans }} {{ stagePeriode.nbJours }} {{ 'jour.s'|trans }} {{ 'or'|trans }} {{ stagePeriode
                                    .nbSemaines }} {{ 'semaine.s'|trans }}
                                </p>
                                <p>{{ 'les.responsables.sont'|trans }} : </p>
                                <ul>
                                    {% for personnel in stagePeriode.responsables %}
                                        <li>{{ personnel.displayPr }}</li>
                                    {% else %}
                                        {{ 'non.defini'|trans }}
                                    {% endfor %}
                                </ul>
                                <p>
                                    {{ 'les.dates.de.la.periode.sont'|trans }}
                                    <strong>{{ stagePeriode.datesFlexibles ? 'flexibles'|trans : 'fixe'|trans }}</strong>.<br/>
                                    {{ 'l.assistant.e'|trans }}
                                    <strong>{{ stagePeriode.copieAssistant ? 'est.en.copie'|trans : 'nest.pas.en.copie'|trans }}</strong>
                                    {{ 'copie.des.mails.generes'|trans }}.
                                </p>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <p>{{ 'periode.interruption.prevues'|trans }} : </p>
                                <ul>
                                    {% for stagePeriodeInterruption in stagePeriode.stagePeriodeInterruptions %}
                                        <li>
                                            {{ 'du'|trans }} {{ stagePeriodeInterruption.dateDebut? stagePeriodeInterruption
                                            .dateDebut|format_date('long') : 'non.defini'|trans }}
                                            {{ 'au'|trans }} {{ stagePeriodeInterruption.dateFin? stagePeriodeInterruption
                                            .dateFin|format_date('long') : 'non.defini'|trans }} </li>
                                    {% else %}
                                        {{ 'non.defini'|trans }}
                                    {% endfor %}
                                </ul>

                                <p>{{ 'periode.de.soutenance.prevue.le'|trans }} : </p>
                                <ul>
                                    {% for stagePeriodeSoutenance in stagePeriode.stagePeriodeSoutenances %}
                                        <li>
                                            {{ 'du'|trans }} {{ stagePeriodeSoutenance.dateDebut?stagePeriodeSoutenance
                                            .dateDebut|format_date('long') : 'non.defini'|trans }}
                                            {{ 'au'|trans }} {{ stagePeriodeSoutenance.dateFin?stagePeriodeSoutenance
                                            .dateFin|format_date('long') : 'non.defini'|trans }}
                                            , {{ 'rapport.pour.le'|trans }}
                                            {{ stagePeriodeSoutenance.dateRenduRapport?stagePeriodeSoutenance
                                            .dateRenduRapport|format_datetime('long', 'short') : 'non.defini'|trans }}</li>
                                    {% else %}
                                        {{ 'non.defini'|trans }}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-12">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-danger nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#onglet_proposition"
                           role="tab">{{ 'propositions.a.valider'|trans }} ({{ myStage.propositionsAValider|length }}
                                                                           )</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#onglet_imprimer"
                           role="tab">{{ 'convention.a.imprimer'|trans }}
                            ({{ myStage.conventionAImprimer|length }})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#onglet_envoyer"
                           role="tab">{{ 'convention.a.envoyer'|trans }}
                            ({{ myStage.conventionAEnvoyer|length }})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#onglet_attente" role="tab">{{ 'convention.en.attente.de.retour'|trans }}
                            ({{ myStage.conventionEnAttente|length }})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#onglet_complet"
                           role="tab">{{ 'conventions.completes'|trans }}
                            ({{ myStage.conventionComplete|length }})</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="card-body tab-content">
                    <div class="tab-pane fade active show" id="onglet_proposition">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Etudiant</th>
                                <th>Entreprise</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stageEtudiant in myStage.propositionsAValider %}
                                <tr>
                                    <td>{{ stageEtudiant.etudiant.display }}</td>
                                    <td>{{ stageEtudiant.entreprise.raisonSociale }}</td>
                                    <td>
                                        <a href="{{ path('administration_stage_etudiant_show',{id:stageEtudiant.id}) }}"
                                           class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Voir le stage"><i class="{{ iconShow }}"></i></a>
                                        <a href="{{ path('administration_stage_etudiant_edit',{id:stageEtudiant.id}) }}"
                                           class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Editer le stage"><i class="{{ iconEdit }}"></i></a>
                                        <a href="{{ path
                                            ('administration_stage_etudiant_convention_pdf', {id:stageEtudiant.id}) }}"
                                           class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Editer la convention" target="_blank"><i
                                                    class="fa fa-print"></i></a>
                                        <a href="{{ path('administration_stage_etudiant_change_etat',
                                            {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant
                                                .etudiant.id, etat: constant
                                                ('App\\Entity\\StageEtudiant::ETAT_STAGE_VALIDE')}) }}" class="btn
                                                    btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Valider le stage"><i class="fa fa-check"></i></a>
                                        <a href="{{ path('administration_stage_etudiant_change_etat',
                                            {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant
                                                .etudiant.id, etat: constant
                                                ('App\\Entity\\StageEtudiant::ETAT_STAGE_INCOMPLET')}) }}" class="btn
                                                    btn-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Proposition incomplète"><i class="fa fa-ban"></i></a>
                                        <a href="{{ path('administration_stage_etudiant_change_etat',
                                            {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant
                                                .etudiant.id, etat: constant
                                                ('App\\Entity\\StageEtudiant::ETAT_STAGE_REFUS')}) }}" class="btn
                                                btn-danger"
                                           data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top" title="Refuser le stage"><i
                                                    class="fa fa-times"></i></a></td>
                                </tr>
                            {% else %}
                                <tr class="bg-success">
                                    <td colspan="3">Aucune convention en attente de validation</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="onglet_imprimer">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'table.etudiant'|trans }}</th>
                                <th>{{ 'table.entreprise'|trans }}</th>
                                <th>{{ 'table.actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stageEtudiant in myStage.conventionAImprimer %}
                                <tr>
                                    <td>{{ stageEtudiant.etudiant.display }}</td>
                                    <td>{{ stageEtudiant.entreprise.raisonSociale }}</td>
                                    <td>
                                        <a href="{{ path('administration_stage_etudiant_show',{id:stageEtudiant.id}) }}"
                                           class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Voir/modifier le stage"><i class="{{ iconShow }}"></i></a>
                                        <a href="{{ path
                                            ('administration_stage_etudiant_convention_pdf', {id:stageEtudiant.id}) }}"
                                           class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Imprimer la convention"><i class="fa fa-print"></i></a>
                                        <a href="{{ path
                                            ('administration_stage_etudiant_courrier_pdf', {id:stageEtudiant.id}) }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Editer le courrier" target="_blank"><i
                                                    class=" fa fa-envelope"></i></a>
                                        <a href="{{ path('administration_stage_etudiant_change_etat',
                                            {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant.etudiant.id, etat: constant
                                                ('App\\Entity\\StageEtudiant::ETAT_STAGE_CONVENTION_IMPRIMEE')}) }}"
                                           class="btn
                                                    btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Convention imprimée"><i class="fa fa-check"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="bg-success">
                                    <td colspan="3">{{ 'aucune.convention.a.envoyer'|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="onglet_envoyer">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'table.etudiant'|trans }}</th>
                                <th>{{ 'table.entreprise'|trans }}</th>
                                <th>{{ 'table.actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stageEtudiant in myStage.conventionAEnvoyer %}
                                <tr>
                                    <td>{{ stageEtudiant.etudiant.display }}</td>
                                    <td>{{ stageEtudiant.entreprise.raisonSociale }}</td>
                                    <td>
                                        <a href="{{ path('administration_stage_etudiant_show',{id:stageEtudiant.id}) }}"
                                           class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Voir/modifier le stage"><i class="{{ iconShow }}"></i></a>
                                        <a href="{{ path
                                            ('administration_stage_etudiant_convention_pdf', {id:stageEtudiant.id}) }}"
                                           class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Imprimer la convention"><i class="fas fa-print"></i></a>
                                        <a href="{{ path
                                            ('administration_stage_etudiant_courrier_pdf', {id:stageEtudiant
                                            .id}) }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Editer le courrier" target="_blank"><i
                                                    class=" fas fa-envelope"></i></a>
                                        <a href="{{ path('administration_stage_etudiant_change_etat',
                                            {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant
                                            .etudiant.id, etat: constant
                                                ('App\\Entity\\StageEtudiant::ETAT_STAGE_CONVENTION_ENVOYEE')}) }}"
                                           class="btn
                                                    btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Convention envoyée"><i class="fas fa-check"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="bg-success">
                                    <td colspan="3">{{ 'aucune.convention.a.envoyer'|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="onglet_attente">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'table.etudiant'|trans }}</th>
                                <th>{{ 'table.entreprise'|trans }}</th>
                                <th>{{ 'table.actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stageEtudiant in myStage.conventionEnAttente %}
                                <tr>
                                    <td>{{ stageEtudiant.etudiant.display }}</td>
                                    <td>{{ stageEtudiant.entreprise.raisonSociale }}</td>
                                    <td>
                                        <a href="{{ path('administration_stage_etudiant_show',{id:stageEtudiant.id}) }}"
                                           class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Voir le stage"><i class="{{ iconShow }}"></i></a>
                                        <a href="{{ path
                                            ('administration_stage_etudiant_convention_pdf', {id:stageEtudiant.id}) }}"
                                           class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Imprimer la convention"><i class="fas fa-print"></i></a>
                                        <a href="{{ path('administration_stage_etudiant_change_etat',
                                            {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant
                                                .etudiant.id, etat: constant
                                                ('App\\Entity\\StageEtudiant::ETAT_STAGE_CONVENTION_RECUE')}) }}"
                                           class="btn
                                                    btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Convention complète"><i class="fas fa-check"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="bg-success">
                                    <td colspan="3">Aucune convention en attente de retour</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="onglet_complet">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Etudiant</th>
                                <th>Entreprise</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stageEtudiant in myStage.conventionComplete %}
                                <tr>
                                    <td>{{ stageEtudiant.etudiant.display }}</td>
                                    <td>{{ stageEtudiant.entreprise.raisonSociale }}</td>
                                    <td>
                                        <a href="{{ path('administration_stage_etudiant_show',{id:stageEtudiant.id}) }}"
                                           class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Voir le stage"><i class="{{ iconShow }}"></i></a>
                                        <a href="{{ path
                                            ('administration_stage_avenant_index', {stageEtudiant:stageEtudiant.id}) }}"
                                           class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Gérer les avenants"><i class="file-signature"></i></a>
                                        <a href="{{ path
                                            ('administration_stage_etudiant_convention_pdf', {id:stageEtudiant.id}) }}"
                                           class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Imprimer la convention"><i class="fas fa-print"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="bg-success">
                                    <td colspan="3">Aucune convention complète</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-12">
            <div class="card">
                <h4 class="card-header">Etudiants</h4>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ 'table.etudiant'|trans }}</th>
                            <th>{{ 'table.entreprise'|trans }}</th>
                            <th>{{ 'table.ville'|trans }}</th>
                            <th>{{ 'table.periode'|trans }}</th>
                            <th>{{ 'table.tuteur_universitaire'|trans }}</th>
                            <th>{{ 'table.etat'|trans }}</th>
                            <th>{{ 'table.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stageEtudiant in myStage.dataEtudiants %}
                        <tr>
                            <td>{{ stageEtudiant.etudiant.display }}</td>
                            {% if stageEtudiant.stage is defined %}
                                {% if stageEtudiant.stage.etatStage == constant
                                    ('App\\Entity\\StageEtudiant::ETAT_STAGE_AUTORISE') %}
                                    <td colspan="4">
                                        <button class="btn btn-block btn-primary">{{ 'saisie.autorise.formulaire.non.completee'|trans }}</button>
                                    </td>
                                    <td>
                                        <label for="tuteur_{{ stageEtudiant.etudiant.id }}" class="sr-only"></label>
                                        <select name="tuteur_{{ stageEtudiant.etudiant.id }}" id="tuteur_{{ stageEtudiant.etudiant.id }}" data-stage="{{ stageEtudiant.stage.id }}"
                                                class="changetuteur form-control">
                                            <option>{{ 'table.tuteur_universitaire'|trans }}</option>
                                            {% for personnel in user_data.personnels %}
                                                <option value="{{ personnel.id }}" {% if stageEtudiant.stage
                                                .tuteurUniversitaire != null and personnel.id ==
                                                    stageEtudiant.stage.tuteurUniversitaire.id %}selected{% endif %}>{{ personnel.displayPr }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <div class="dropdown table-action btn btn-primary btn-outline">
                                            <span class="dropdown-toggle no-caret" data-bs-toggle="dropdown"><i
                                                        class="fas fa-ellipsis-h rotate-90"></i>{{ 'autre.situation'|trans }}
                                                ?</span>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item"
                                                   href="{{ path('administration_stage_etudiant_change_etat', {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant.etudiant.id, etat: constant
                                                       ('App\\Entity\\StageEtudiant::ETAT_STAGE_ETRANGER')}) }}">
                                                    {{ 'valider.stage.etranger'|trans }}
                                                </a>
                                                <a class="dropdown-item"
                                                   href="{{ path('administration_stage_etudiant_change_etat', {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant.etudiant.id, etat: constant
                                                       ('App\\Entity\\StageEtudiant::ETAT_STAGE_ERASMUS')}) }}">
                                                    {{ 'semestre.erasmus'|trans }}
                                                </a>
                                                <a class="dropdown-item"
                                                   href="{{ path('administration_stage_etudiant_change_etat', {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant.etudiant.id, etat: constant
                                                       ('App\\Entity\\StageEtudiant::ETAT_STAGE_APPRENTISSAGE')}) }}">{{ 'annee.en.apprentissage'|trans }}</a>
                                            </div>
                                        </div>
                                    </td>
                                {% elseif stageEtudiant.stage.etatStage == constant
                                    ('App\\Entity\\StageEtudiant::ETAT_STAGE_ETRANGER') or
                                    stageEtudiant.stage.etatStage == constant
                                    ('App\\Entity\\StageEtudiant::ETAT_STAGE_APPRENTISSAGE') or
                                    stageEtudiant.stage.etatStage == constant
                                    ('App\\Entity\\StageEtudiant::ETAT_STAGE_ERASMUS') %}
                                    <td colspan="5">
                                        <button class="btn btn-block btn-primary">{{ stageEtudiant.stage.etatStage|trans }}</button>
                                    </td>
                                    <td>
                                        <div class="dropdown table-action btn btn-primary btn-outline">
                                            <span class="dropdown-toggle no-caret" data-bs-toggle="dropdown"><i
                                                        class="fas fa-ellipsis-h rotate-90"></i>{{ 'autre.situation'|trans }}
                                                ?</span>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item"
                                                   href="{{ path('administration_stage_etudiant_change_etat',
                                                       {stagePeriode: stagePeriode.uuidString,
                                                           etudiant:stageEtudiant.etudiant.id,
                                                           etat: constant('App\\Entity\\StageEtudiant::ETAT_STAGE_AUTORISE')}) }}">{{ 'autoriser.la.saisie'|trans }}</a>
                                                <a class="dropdown-item"
                                                   href="{{ path('administration_stage_etudiant_change_etat', {stagePeriode: stagePeriode.uuidString,
                                                       etudiant:stageEtudiant.etudiant.id,
                                                       etat:constant('App\\Entity\\StageEtudiant::ETAT_STAGE_ETRANGER')}) }}">
                                                    {{ 'valider.stage.etranger'|trans }}
                                                </a>
                                                <a class="dropdown-item"
                                                   href="{{ path('administration_stage_etudiant_change_etat', {stagePeriode: stagePeriode.uuidString,
                                                       etudiant:stageEtudiant.etudiant.id,
                                                       etat:constant('App\\Entity\\StageEtudiant::ETAT_STAGE_ERASMUS')}) }}">
                                                    {{ 'semestre.erasmus'|trans }}
                                                </a>
                                                <a class="dropdown-item"
                                                   href="{{ path('administration_stage_etudiant_change_etat', {stagePeriode: stagePeriode.uuidString,
                                                       etudiant:stageEtudiant.etudiant.id,
                                                       etat: constant('App\\Entity\\StageEtudiant::ETAT_STAGE_APPRENTISSAGE')}) }}">
                                                    {{ 'annee.en.apprentissage'|trans }}</a>
                                            </div>
                                        </div>
                                    </td>
                                {% else %}
                                    <td>{{ stageEtudiant.stage.entreprise.raisonSociale }}</td>
                                    <td>{% if stageEtudiant.stage.entreprise.adresse != null %}

                                            {{ stageEtudiant.stage.entreprise.adresse.ville|capitalize }} ({{ stageEtudiant.stage.entreprise.adresse.codePostal }})
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td {% if stageEtudiant.stage.dateDebutStage != stagePeriode.dateDebut or
                                        stageEtudiant.stage.dateFinStage != stagePeriode.dateFin %} style="background-color: firebrick; color: whitesmoke"{% endif %}>
                                        {{ stageEtudiant.stage.dateDebutStage|format_date('long') }}
                                        <br/> {{ stageEtudiant.stage.dateFinStage|format_date('long') }}
                                    </td>
                                    <td>
                                        <label for="tuteur_{{ stageEtudiant.etudiant.id }}" class="sr-only"></label>
                                        <select name="tuteur_{{ stageEtudiant.etudiant.id }}" id="tuteur_{{ stageEtudiant.etudiant.id }}" data-stage="{{ stageEtudiant.stage.id }}"
                                                class="changetuteur form-control">
                                            <option>{{ 'table.tuteur_universitaire'|trans }}</option>
                                            {% for personnel in user_data.personnels %}
                                                <option value="{{ personnel.id }}" {% if stageEtudiant.stage
                                                    .tuteurUniversitaire != null and personnel.id ==
                                                    stageEtudiant.stage.tuteurUniversitaire.id %}selected{% endif %}>{{ personnel.displayPr }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        {% if stageEtudiant.stage.etatStage ==constant
                                            ('App\\Entity\\StageEtudiant::ETAT_STAGE_VALIDE') %}
                                            <a href="{{ path('administration_stage_etudiant_show',{id:stageEtudiant.stage.id}) }}"
                                               class="btn btn-success btn-block" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               data-placement="top" title="Voir le stage">{{ 'stage.valide'|trans }}</a>
                                        {% elseif stageEtudiant.stage.etatStage == constant
                                            ('App\\Entity\\StageEtudiant::ETAT_STAGE_CONVENTION_ENVOYEE') %}
                                            <a href="{{ path('administration_stage_etudiant_show',{id:stageEtudiant.stage.id}) }}"
                                               class="btn btn-warning btn-block" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               data-placement="top"
                                               title="Voir le stage">{{ 'convention.envoyee'|trans }}</a>
                                        {% elseif stageEtudiant.stage.etatStage ==constant
                                            ('App\\Entity\\StageEtudiant::ETAT_STAGE_CONVENTION_RECUE') %}
                                            <a href="{{ path('administration_stage_etudiant_show',{id:stageEtudiant.stage.id}) }}"
                                               class="btn btn-success btn-block" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               data-placement="top"
                                               title="Voir le stage">{{ 'convention.complete'|trans }}</a>
                                        {% elseif stageEtudiant.stage.etatStage == constant
                                            ('App\\Entity\\StageEtudiant::ETAT_STAGE_DEPOSE') %}
                                            <a href="{{ path('administration_stage_etudiant_show',{id:stageEtudiant.stage.id}) }}"
                                               class="btn btn-warning btn-block" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               data-placement="top"
                                               title="Voir le stage">{{ 'proposition.effectuee'|trans }}</a>
                                        {% elseif stageEtudiant.stage.etatStage ==constant
                                            ('App\\Entity\\StageEtudiant::ETAT_STAGE_ETRANGER') %}
                                            <a href="#" class="btn btn-success btn-block" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               data-placement="top"
                                               title="Stage à l'étranger">{{ 'valider.stage.etranger'|trans }}</a>
                                        {% elseif stageEtudiant.stage.etatStage ==constant
                                            ('App\\Entity\\StageEtudiant::ETAT_STAGE_ERASMUS') %}
                                            <a href="#" class="btn btn-success btn-block" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               data-placement="top"
                                               title="ERASMUS">{{ 'semestre.erasmus'|trans }}</a>
                                        {% elseif stageEtudiant.stage.etatStage ==constant
                                            ('App\\Entity\\StageEtudiant::ETAT_STAGE_APPRENTISSAGE') %}
                                            <a href="#" class="btn btn-success btn-block" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               data-placement="top"
                                               title="Apprentissage">{{ 'annee.en.apprentissage'|trans }}</a>
                                        {% endif %}
                                    </td>
                                    <td>

                                        <a href="{{ path('administration_stage_etudiant_show', {id:stageEtudiant.stage.id}) }}"
                                           class="btn btn-info btn-outline btn-square" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                           title="{{ 'atitle.details'|trans }}"><i class="{{ iconShow }}"></i></a>

                                        <a href="{{ path('administration_stage_etudiant_edit', {id:stageEtudiant.stage.id}) }}"
                                           class="btn btn-warning btn-outline btn-square"
                                           data-bs-toggle="tooltip" data-bs-placement="bottom"

                                           title="{{ 'atitle.modifier'|trans }}"><i class="{{ iconEdit }}"></i></a>
                                        <a href="{{ path('administration_stage_etudiant_delete', {id:stageEtudiant.stage.id}) }}"
                                           data-csrf="{{ csrf_token('delete' ~ stageEtudiant.stage.id) }}"
                                           class="btn btn-danger btn-outline btn-square supprimer"
                                           data-bs-toggle="tooltip" data-bs-placement="bottom"
                                           title="{{ 'atitle.supprimer'|trans }}"><i class="{{ iconDelete }}"></i></a>


                                        <div class="dropdown table-action btn btn-primary btn-outline">
                                            <span class="dropdown-toggle no-caret hover-primary" data-bs-toggle="dropdown"><i
                                                        class="fas fa-ellipsis-h rotate-90"></i> Actions</span>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                {% if stageEtudiant.stage.etatStage == constant
                                                    ('App\\Entity\\StageEtudiant::ETAT_STAGE_DEPOSE') %}
                                                    <a class="dropdown-item" href="{{ path
                                                        ('administration_stage_etudiant_change_etat',
                                                        {stagePeriode: stagePeriode.uuidString,
                                                            etudiant:stageEtudiant.etudiant.id,
                                                            etat: constant('App\\Entity\\StageEtudiant::ETAT_STAGE_VALIDE')}) }}"
                                                       title="Valider le stage">Valider le stage</a>
                                                    <a class="dropdown-item" href="{{ path
                                                        ('administration_stage_etudiant_change_etat',
                                                        {stagePeriode: stagePeriode.uuidString,
                                                            etudiant:stageEtudiant.etudiant.id,
                                                            etat: constant('App\\Entity\\StageEtudiant::ETAT_STAGE_INCOMPLET')}) }}"
                                                       title="Proposition incomplète">Proposition incomplète</a>
                                                    <a class="dropdown-item" href="{{ path
                                                        ('administration_stage_etudiant_change_etat',
                                                        {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant.etudiant.id, etat: constant
                                                            ('App\\Entity\\StageEtudiant::ETAT_STAGE_REFUS')}) }}"
                                                       title="Refuser le stage">Refuser le stage</a>
                                                {% endif %}
                                                <a class="dropdown-item" href="{{ path
                                                    ('administration_stage_etudiant_convention_pdf', {id:stageEtudiant.stage.id}) }}">{{ 'telecharger.la.convention'|trans }}</a>
                                                <a class="dropdown-item" href="{{ path
                                                    ('administration_stage_avenant_index', {stageEtudiant:stageEtudiant.stage
                                                        .id}) }}">{{ 'gerer.les.avenants'|trans }}</a>
                                                {# <a class="dropdown-item" #}
                                                {# href="#">{{ 'mettre.a.jour.la.convetion'|trans }}</a> #}
                                                <a class="dropdown-item"
                                                   href="{{ path('administration_stage_etudiant_courrier_pdf', {id:stageEtudiant.stage.id}) }}">{{ 'editer.le.courrier'|trans }}</a>
                                                <a class="dropdown-item" href="{{ path
                                                    ('administration_stage_etudiant_fiche_enseignant', {id:stageEtudiant
                                                        .stage.id}) }}">{{ 'fiche.enseignant'|trans }}</a>
                                                <a class="dropdown-item"
                                                   href="{{ path('administration_stage_etudiant_change_etat', {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant.etudiant.id, etat: constant
                                                       ('App\\Entity\\StageEtudiant::ETAT_STAGE_ETRANGER')}) }}">
                                                    {{ 'valider.stage.etranger'|trans }}
                                                </a>
                                                <a class="dropdown-item"
                                                   href="{{ path('administration_stage_etudiant_change_etat', {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant.etudiant.id, etat: constant
                                                       ('App\\Entity\\StageEtudiant::ETAT_STAGE_ERASMUS')}) }}">
                                                    {{ 'semestre.erasmus'|trans }}
                                                </a>
                                                <a class="dropdown-item"
                                                   href="{{ path('administration_stage_etudiant_change_etat', {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant.etudiant.id, etat: constant
                                                       ('App\\Entity\\StageEtudiant::ETAT_STAGE_APPRENTISSAGE')}) }}">
                                                    {{ 'annee.en.apprentissage'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                {% endif %}
                            {% else %}
                                <td>{{ 'pas.de.stage'|trans }}</td>
                                <td>{{ 'pas.de.stage'|trans }}</td>
                                <td>{{ 'pas.de.stage'|trans }}</td>
                                <td>{{ 'pas.de.stage'|trans }}</td>
                                <td>
                                    <a href="{{ path('administration_stage_etudiant_change_etat', {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant.etudiant.id, etat: constant
                                        ('App\\Entity\\StageEtudiant::ETAT_STAGE_AUTORISE')}) }}"
                                       class="btn btn-danger btn-block" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="Cliquez pour autoriser la saisie des informations (proposition signée reçue)">{{ 'autoriser.la.saisie'|trans }}</a>
                                </td>
                                <td>
                                    <div class="dropdown table-action btn btn-primary btn-outline">
                                        <span class="dropdown-toggle no-caret" data-bs-toggle="dropdown"><i
                                                    class="fas fa-ellipsis-h rotate-90"></i> {{ 'autre.situation'|trans }}
                                            ?</span>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item"
                                               href="{{ path('administration_stage_etudiant_change_etat', {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant.etudiant.id, etat: constant
                                                   ('App\\Entity\\StageEtudiant::ETAT_STAGE_ETRANGER')}) }}">
                                                {{ 'valider.stage.etranger'|trans }}
                                            </a>
                                            <a class="dropdown-item"
                                               href="{{ path('administration_stage_etudiant_change_etat', {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant.etudiant.id, etat: constant
                                                   ('App\\Entity\\StageEtudiant::ETAT_STAGE_ERASMUS')}) }}">
                                                {{ 'semestre.erasmus'|trans }}
                                            </a>
                                            <a class="dropdown-item"
                                               href="{{ path('administration_stage_etudiant_change_etat', {stagePeriode: stagePeriode.uuidString, etudiant:stageEtudiant.etudiant.id, etat: constant
                                                   ('App\\Entity\\StageEtudiant::ETAT_STAGE_APPRENTISSAGE')}) }}">
                                                {{ 'annee.en.apprentissage'|trans }}
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_stage_periode_gestion_export', {_format:'pdf', uuid: stagePeriode
            .uuidString}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf"
        },
        {
            type:'info',
            href:path('administration_stage_periode_gestion_export', {_format:'csv', uuid: stagePeriode
            .uuidString}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('administration_stage_periode_gestion_export_xlsx', {_format:'xlsx', uuid: stagePeriode
            .uuidString}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_stage_periode'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.stage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.stage') }}
{% endblock %}
