{% extends 'base-but.html.twig' %}

{% block header %}{{ apc_ressource.display }} - Fiche ressource {% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3>
                {{ apc_ressource.display }}
            </h3>
        </div>
        <div class="card-body">
            {{ include('apc/apc_ressource/_detail.html.twig') }}
        </div>
    </div>

    <br>
    <twig:Alert type="warning">
        * Cette décomposition est propre à {{ settings('NOM_IUT') }} en fonction des contraintes et spécificités
        locales.
    </twig:Alert>

    <twig:Alert class="warning">
        ** La répartition CM/TD (ressource) ou CM/TD/TP et Projet Tutoré est libre dans chaque département.
    </twig:Alert>
{% endblock %}
