{% extends 'base-but.html.twig' %}

{% block header %}
    Recherche dans le Référentiel
{% endblock %}

{% block content %}
    <h2>Ressources</h2>
    <div class="row">
        {% for ressource in ressources %}
            {{ include('apc/public/_cardRessource.html.twig') }}
        {% else %}
            <div class="col-sm-12">
                <twig:Alert type="info">
                    Aucun résultat dans les ressources
                </twig:Alert>
            </div>
        {% endfor %}
    </div>
    <h2>SAE</h2>
    <div class="row">
        {% for sae in saes %}
            {{ include('apc/public/_cardSae.html.twig') }}
        {% else %}
            <div class="col-sm-12">
                <twig:Alert type="info">
                    Aucun résultat dans les SAÉs
                </twig:Alert>
            </div>
        {% endfor %}
    </div>
{% endblock %}

