{%- block base_widget -%}
    <{{ element }}{{ block('attributes') }}
    {% if stimulus is defined %}
        {{ stimulus_controller(stimulus.controller, {
            modalUrl: stimulus.modalUrl,
            size: stimulus.size,
            modalTitle: stimulus.title,
        }) }}
        data-action="{{ stimulus.controller }}#{{ stimulus.action }}"
    {% endif %}
    >
    {{- block('icon') }}
    {%- if name != 'widget' -%}
        {{- block('text') }}
    {%- endif -%}
    {%- for child in widget -%}
        {{- render_widget(child) -}}
    {%- endfor -%}
    </{{ element }}>

{%- endblock -%}

{%- block button_dropdown_widget -%}
    <div class="dropdown">
        <button{{ block('attributes') }}>
            {{- block('icon') }}&nbsp;
            {{- block('text') }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {%- for child in widget -%}
                {{ child.addClass('dropdown-item') }}
                {{ render_widget(child) }}
            {%- endfor -%}
        </div>
    </div>
{%- endblock -%}

{%- block select_change_widget -%}
    {% if choices != false %}
        todo à ajouter
        {# todo à ajouter #}
    {% else %}
        <select {{ block('attributes') }}>
            {% if attr.required == false %}
                <option value="" selected>Choisir</option>
            {% endif %}
            {% for key, data in datas %}
                <option value="{{ key }}" {% if key == value %}selected{% endif %}>{{ data }}</option>
            {% endfor %}
        </select>
    {% endif %}
{%- endblock -%}

{% block attributes -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['title', 'data-confirm'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans([], translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock attributes -%}

{%- block text -%}
    {% if text is not same as(false) -%}
        {% if text is empty -%}
            {% set text = name | humanize %}
        {%- endif -%}

        {%- if translation_domain is same as(false) -%}
            {{- text|raw -}}
        {%- else -%}
            {{- text|trans([], translation_domain)|raw -}}
        {%- endif -%}
    {%- endif -%}
{%- endblock text -%}

{%- block icon -%}
    {% if icon is not empty -%}
        <i class="{{ icon }}"></i>
    {%- endif -%}
{%- endblock icon -%}
