{% extends 'base.html.twig' %}

{% block header %}
    <strong>Saisie</strong> des notes | {{ matiere.display }} | {{ evaluation.libelle }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_personnel_note_index', {matiere: matiere.typeIdMatiere, index: evaluation.id}) }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_synthese'|trans }}"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="card card-slided-up">
        <header class="card-header">
            <h4 class="card-title"><strong>Détails</strong> de l'évaluation | {{ matiere.display }}
                                                            | {{ evaluation.libelle }}</h4>
            <ul class="card-controls">
                <li>
                    <a class="card-btn-slide" href="#" title="Plus de détails et modifications" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        Cliquez pour éditer l'évaluation <i class="fas fa-chevron-down"></i>
                    </a>
                </li>
            </ul>
        </header>
        <div class="card-content">
            <div class="card-body">
                {{ render_esi(controller(
                    'App\\Controller\\composants\\NoteController::editFormEvaluation', {evaluation: evaluation.id,
                        source:'app'}
                )) }}
            </div>
        </div>
    </div>

    <div class="card">
        <h4 class="card-title"><strong>Saisie</strong> des notes | {{ matiere.display }} | {{ evaluation.libelle }}
        </h4>
        <div class="card-body">
            {{ include('composants/_saisie_notes.html.twig') }}
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('notes') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('notes') }}
{% endblock %}

