<h2>Ajouter une section</h2>
<div {{ stimulus_target('questionnaire--creation', 'section') }}>
    <div class="alert alert-info mb-2">
        Choissiez une section déjà existante pour la dupliquer dans ce questionnaire, ou ajoutez une section vide
    </div>
    <label for="selectSection" class="sr-only">Choisir une section à ajouter</label>
    <select class="form-select"
            id="selectSection"
            is="select-complete" {{ stimulus_action('questionnaire--creation', 'addSection') }}>
        <option value="">Choisir...</option>
        <option value="new">Ajouter une nouvelle section</option>
        {% for section in liste %}
            <option value="{{ section.id }}">{{ section.titre }}</option>
        {% endfor %}
    </select>
</div>
