<div class="row">
    <div class="col-4 d-grid">
        <a href="{{ path('administration_qualite_apercu', {id: questionnaire.id, type:type}) }}"
           target="_blank" class="btn btn-info
        d-block">
            <i class="fa-solid fa-magnifying-glass"></i>
            Aperçu <i class="fas fa-external-link-alt"></i>
        </a>
    </div>
    <div class="col-4 d-grid">
        <button class="btn btn-warning d-block"
                {{ stimulus_controller('modal', {
                    size: 'lg',
                    modalTitle: 'Configurer le questionnaire',
                    modalUrl: path('adm_questionnaire_creation_modal_configurer', {questionnaire:questionnaire.id, type:type}) }) }}
                data-action="click->modal#openModal"
        >
            <i class="fas fa-wrench"></i>
            Configurer
        </button>
    </div>
    <div class="col-4 d-grid">
        <button class="btn btn-success d-block"
                {{ stimulus_controller('modal', {
                    size: 'lg',
                    modalTitle: 'Diffuser le questionnaire',
                    modalUrl: path('adm_questionnaire_creation_modal_lancer', {questionnaire:questionnaire.id, type:type}) }) }}
                data-action="click->modal#openModal"
        >
            <i class="fas fa-envelope-circle-check"></i>
            Diffuser
        </button>
    </div>
</div>
