{% extends 'base-super_admin.html.twig' %}

{% block header %}
    Export vers Apogée | {{ semestre.display }}
{% endblock %}


{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in semestre.diplome.semestres %}
            <a href="{{ path('sa_scolarite_semestre_export_apogee', {semestre:sem.id}) }}"
               class="btn btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'atitle.changer.semestre'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"

            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('sa_scolarite_diplome', {diplome:semestre.diplome.id}) }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_scolarite'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_liste_diplome'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">Export vers Apogée | {{ semestre.display }}</h4>
        <div class="card-body">

            <form action="{{ path('sa_scolarite_semestre_genere_apogee', {semestre:semestre.id}) }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-2">
                        Fichier type
                    </label>
                    <div class="col-sm-10">
                        <input type="file" name="fichier" class="form-control"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-success">Export Apogée (va générer le fichier txt pour la
                                                                        scolarité)
                </button>
            </form>
            <br/>
            {#            <a href="{{ path('da_kernel_administration_sc_export_gj', {semestre:semestre.id}) }}" class="btn btn-block btn-success">#}
            {#                Sauvegarde Excel / Fichier de Grand Jury#}
            {#            </a>#}
        </div>
    </div>
{% endblock %}
