{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'scolarite.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('super_admin_homepage') }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_administration'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_administration'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="card">
                <h4 class="card-title">{{ 'scolarite.rdd.heading'|trans }}</h4>
                <div class="card-body">
                    <a href="{{ path('sa_rdd_index') }}" class="btn btn-block btn-primary">Suivi des inscriptions
                                                                                           RDD</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="card">
                <h4 class="card-title">{{ 'scolarite.enquete.heading'|trans }}</h4>
                <div class="card-body">
                    <a href="{{ path('administratif_enquete_diplome_index') }}" class="btn btn-block btn-primary">
                        Enquête des diplômés
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <h4 class="card-title">{{ 'scolarite.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Diplôme</th>
                    <th>Actif</th>
                    <th>Année en cours</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for diplome in diplomes %}
                    <tr>
                        <td>{{ diplome.typeDiplome.libelle }}</td>
                        <td>{{ diplome.libelle }}</td>
                        <td>{{ diplome.actif == true ? 'Actif' : 'Désactivé' }}</td>
                        <td>{{ diplome.anneeUniversitaire.libelle }}</td>
                        <td>
                            <a href="{{ path('sa_scolarite_diplome', {'diplome': diplome.id}) }}"
                               class="btn btn-info btn-outline btn-square"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                               title="{{ 'atitle.details'|trans }}">
                                <i class="{{ iconShow }}"></i>
                                <span class="sr-only">{{ 'atitle.details'|trans }}</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


