<ul class="nav nav-process nav-process-circle">
    <li class="nav-item {% if step is not defined or step == 1 %}processing{% elseif step is defined and
        step > 1 %}complete{% endif %}">
        <span class="nav-title">Paramètrage général</span>
        <a class="nav-link {% if step is not defined or step == 1 %}active{% endif %}"
           data-bs-toggle="tab" href="#wizard-1"></a>
    </li>

    {# <li class="nav-item {% if step is defined and step == 2 %}processing{% elseif step is defined and #}
    {# step > 2 %}complete{% endif %}"> #}
    {# <span class="nav-title ">Questions</span> #}
    {# <a class="nav-link {% if step is defined and step == 2 %}active{% endif %}" data-toggle="tab" href="#wizard-2"></a> #}
    {# </li> #}

    <li class="nav-item {% if step is defined and step == 2 %}processing{% elseif step is defined and
        step > 2 %}complete{% endif %}">
        <span class="nav-title">Matières</span>
        <a class="nav-link {% if step is defined and step == 2 %}active{% endif %}" data-bs-toggle="tab" href="#wizard-3"></a>
    </li>

    <li class="nav-item {% if step is defined and step == 4 %}processing{% elseif step is defined and
        step > 4 %}complete{% endif %}">
        <span class="nav-title">Confirmation</span>
        <a class="nav-link {% if step is defined and step == 2 %}active{% endif %}" data-bs-toggle="tab" href="#wizard-4"></a>
    </li>
</ul>
