Bonjour {{ personnel.prenom }},<br>

<p>Les relevés de notes pour le semestre {{ semestre.display }} sont générés et peuvent être téléchargés depuis le lien
   ci-dessous.</p>

<p><a href="{{ baseUrl ~ 'temp/'~lien }}" target="_blank">{{ lien }}</a></p>

<p>Cordialement,</p>

<p><i>Message automatiquement généré par l'intranet et ne pouvant recevoir de réponse</i></p>
