<p>Bonjour,</p>

<p>L'étudiant {{ etudiant.displayPr }} a complété le questionnaire {{ questionnaire.titre }}.</p>

<p>Ce message est un message automatique envoyé depuis l'intranet de l'{{ settings('NOM_IUT') }}. Aucune réponse ne
   pourra être prise en compte.</p>
