<div class="row">
    <div class="col-sm-2">
        {{ form_row(form.codeMatiere) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.libelle) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.libelleCourt) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.codeElement) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.tdPpn) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.tpPpn) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.projetPpn) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.cmFormation) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.tdFormation) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.tpFormation) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.projetFormation) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.description) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.livrables) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.exemples) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.semestre) }}
        {{ form_row(form.competences) }}
        <fieldset class="form-group">
            <legend class="col-form-label required">
                Apprentissage(s) critique(s) couvert(s)
            </legend>
            <div id="acSae">
                <div class="alert alert-warning">Indiquer un semestre et au moins une compétence</div>
            </div>
            <small id="apc_sae_competences_help" class="form-text text-muted">Ajoutez les compétences couvertes par la
                                                                              SAÉ.</small>
        </fieldset>

        <fieldset class="form-group">
            <legend class="col-form-label required">
                Ressources combinées
            </legend>
            <div id="ressourcesSae">
                <div class="alert alert-warning">Indiquer un semestre</div>
            </div>
            <small id="apc_sae_ressource_help" class="form-text text-muted">Ajoutez les ressources couvertes par la SAÉ
                                                                            .</small>
        </fieldset>
    </div>
</div>
