{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.apc_sae.edit.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_apc_sae_delete', {id:  apc_sae.id}) }}"
               data-csrf="{{ csrf_token('delete' ~  apc_sae.id) }}"
               class="btn btn-danger btn-sm btn-float supprimer"
               title="{{ 'atitle.supprimer'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-trash"></i>
                <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
            </a>
            <a href="{{ path('administration_apc_sae_show', {id: apc_sae.id}) }}"
               class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.voir'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-eye"></i>
                <span class="sr-only">{{ 'atitle.voir'|trans }}</span>
            </a>
            <a href="{{ path('administration_matiere_index', {diplome:diplome.id}) }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_liste'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_liste'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.apc_sae.edit.heading'|trans }}</h4>
        <div class="card-body">
            {{ form_start(form) }}
            {% form_theme form 'form/my-form.html.twig' %}
            {{ include('apc/apc_sae/_form.html.twig') }}

            <button class="btn btn-success">{{ 'label.update'|trans }}</button>
            <button class="btn btn-success" value="redirect_to_index" name="btn_update">{{ 'button_update_index'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('apc') }}
{% endblock %}

{% block javascripts %}
    <script>
      let sae = {{ apc_sae.id }}
        let
      ressource = null
    </script>
    {{ parent() }}
    {{ encore_entry_script_tags('apc') }}
{% endblock %}
