{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'administration.covid.attestation.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_index') }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip" data-bs-placement="bottom"

               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconAdmin }}"><span class="sr-only">administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'administration.covid.attestation.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>

                    <th>#</th>
                    <th>Date de la demande</th>
                    <th>Personnel</th>
                    <th>Durée validité</th>
                    <th>Motif</th>
                    <th>Validation Département</th>
                    <th>Validation Direction</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for covid_attestation_personnel in covid_attestation_personnels %}
                    <tr id="ligne_{{ covid_attestation_personnel.id }}">
                        <td>{{ covid_attestation_personnel.created ? covid_attestation_personnel.created|date('Y-m-d') :'' }}</td>
                        <td>{{ covid_attestation_personnel.created ? covid_attestation_personnel.created|format_datetime
                                ('short', 'short') : '' }}</td>
                        <td>{{ covid_attestation_personnel.personnel.displayPr }}</td>
                        <td>
                            <ul>{% for creneau in covid_attestation_personnel.covidCreneauPresences %}
                                    <li>{{ creneau.display }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ covid_attestation_personnel.motif|trans }}</td>
                        <td class="{{ covid_attestation_personnel.validationDepartement|bg }}">{{ covid_attestation_personnel.validationDepartementDisplay|trans }}</td>
                        <td class="{{ covid_attestation_personnel.validationDirection|bg }}">{{ covid_attestation_personnel
                            .validationDirectionDisplay|trans }}</td>
                        <td>
                            <a href="{{ path('sa_covid_attestation_personnel_show', {'id':
                                covid_attestation_personnel.id}) }}"
                               class="btn btn-info btn-outline btn-square"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                               title="{{ 'atitle.details'|trans }}">
                                <i class="{{ iconShow }}"></i>
                                <span class="sr-only">{{ 'atitle.details'|trans }}</span>
                            </a>

                            {% if covid_attestation_personnel.validationDirection == null or covid_attestation_personnel
                                .validationDirection == false %}
                                <a href="{{ path('sa_covid_attestation_personnel_change_etat', {id:
                                    covid_attestation_personnel.id, etat:'true'}) }}"
                                   class="btn btn-success btn-outline btn-square"
                                   title="{{ 'atitle.valider'|trans }}"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                                >
                                    <i class="fas fa-check"></i>
                                    <span class="sr-only">{{ 'atitle.valider'|trans }}</span>
                                </a>
                                <a href="{{ path('sa_covid_attestation_personnel_change_etat', {id:
                                    covid_attestation_personnel.id, etat:'false'}) }}"
                                   class="btn btn-warning btn-outline btn-square"
                                   title="{{ 'atitle.refuser'|trans }}"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                                >
                                    <i class="fas fa-ban"></i>
                                    <span class="sr-only">{{ 'atitle.refuser'|trans }}</span>
                                </a>
                                <a href="{{ path('sa_covid_attestation_personnel_delete', {id:
                                    covid_attestation_personnel.id}) }}"
                                   data-csrf="{{ csrf_token('delete' ~ covid_attestation_personnel.id) }}"
                                   class="btn btn-danger btn-outline btn-square supprimer"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom"

                                   title="{{ 'atitle.supprimer'|trans }}">
                                    <i class="{{ iconDelete }}"></i>
                                    <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}



{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {
            type:'info',
            href:path('sa_covid_attestation_personnel_export'),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        }
    ]}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('sadmCovid') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sadmCovid') }}
{% endblock %}
