{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'administration.covid.attestation.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            {% if covid_attestation_personnel.validationDirection == null or covid_attestation_personnel
                .validationDirection == false %}

                <a href="{{ path('sa_covid_attestation_personnel_change_etat', {id:
                    covid_attestation_personnel.id, etat:'true'}) }}"
                   class="btn btn-success btn-sm btn-float"
                   title="{{ 'atitle.valider'|trans }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                >
                    <i class="fas fa-check"></i>
                    <span class="sr-only">{{ 'atitle.valider'|trans }}</span>
                </a>
                <a href="{{ path('sa_covid_attestation_personnel_change_etat', {id:
                    covid_attestation_personnel.id, etat:'false'}) }}"
                   class="btn btn-warning btn-sm btn-float"
                   title="{{ 'atitle.refuser'|trans }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                >
                    <i class="fas fa-ban"></i>
                    <span class="sr-only">{{ 'atitle.refuser'|trans }}</span>
                </a>
                <a href="{{ path('sa_covid_attestation_personnel_delete', {id:
                    covid_attestation_personnel.id}) }}"
                   data-csrf="{{ csrf_token('delete' ~ covid_attestation_personnel.id) }}"
                   class="btn btn-danger btn-sm btn-float supprimer"
                   title="{{ 'atitle.supprimer'|trans }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                >
                    <i class="{{ iconDelete }}"></i>
                    <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                </a>
            {% endif %}

            <a href="{{ path('sa_covid_attestation_personnel_index') }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_liste'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_liste'|trans }}</span>
            </a>
        </div>

    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'administration.covid.attestation.show.heading'|trans }}</h4>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>Demande du</th>
                    <td>{{ covid_attestation_personnel.created ? covid_attestation_personnel.created|format_datetime
                            ('medium', 'short') }}</td>
                </tr>
                <tr>
                    <th>Moyen de Deplacement</th>
                    <td>{{ covid_attestation_personnel.moyenDeplacement }}</td>
                </tr>
                <tr>
                    <th>Duree de Validitée</th>
                    <td>
                        <ul>{% for creneau in covid_attestation_personnel.covidCreneauPresences %}
                                <li>{{ creneau.display }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Motif</th>
                    <td>{{ covid_attestation_personnel.motif|trans }}</td>
                </tr>
                <tr>
                    <th>Validation Departement</th>
                    <td>{{ covid_attestation_personnel.validationDepartementDisplay|trans }}</td>
                </tr>
                <tr>
                    <th>Validation Direction</th>
                    <td>{{ covid_attestation_personnel.validationDirectionDisplay|trans }}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
