{% extends is_granted('ROLE_SUPER_ADMIN') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block title %}Edit ApcParcoursNiveau{% endblock %}

{% block body %}
    <h1>Edit ApcParcoursNiveau</h1>

    {{ include('apc_parcours_niveau/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('apc_parcours_niveau_index') }}">back to list</a>

    {{ include('apc_parcours_niveau/_delete_form.html.twig') }}
{% endblock %}
