{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.covid_attestation_etudiant.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-index.html.twig', {elt:'covid_attestation_etudiant'}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.covid_attestation_etudiant.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Date Début</th>
                    <th>Date Fin</th>
                    <th>Groupe(s)</th>
                    <th>Envoyé?</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for covid_attestation_etudiant in covid_attestation_etudiants %}
                    <tr>
                        <td>{{ covid_attestation_etudiant.dateDebut != null ? covid_attestation_etudiant
                            .dateDebut|format_date('short') : '' }}</td>
                        <td>{{ covid_attestation_etudiant.dateFin != null ? covid_attestation_etudiant
                            .dateFin|format_date('short') : '' }}</td>
                        <td>{% for groupe in covid_attestation_etudiant.groupes %}{{ groupe.displaySemestre }}{% if not
                                loop
                                .last %}, {% endif %}{% endfor %}</td>
                        <td>{% if covid_attestation_etudiant.convocationEnvoyee == true %}
                                {{ covid_attestation_etudiant.dateEnvoi != null ? covid_attestation_etudiant
                                .dateEnvoi|format_date('short') : '' }}
                            {% else %}
                                Non envoyé
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('administration_covid_attestation_etudiant_duplicate', {'id':
                                covid_attestation_etudiant.id}) }}"
                               class="btn btn-success btn-outline btn-square"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="{{ 'atitle.dupliquer'|trans }}">
                                <i class="{{ iconDuplicate }}"></i>
                                <span class="sr-only">{{ 'atitle.dupliquer'|trans }}</span>
                            </a>


                            <a href="{{ path('administration_covid_attestation_etudiant_show', {'id':
                                covid_attestation_etudiant.id}) }}"
                               class="btn btn-info btn-outline btn-square"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="{{ 'atitle.details'|trans }}">
                                <i class="{{ iconShow }}"></i>
                                <span class="sr-only">{{ 'atitle.details'|trans }}</span>
                            </a>
                            {% if covid_attestation_etudiant.convocationEnvoyee == false %}
                                <a href="{{ path('administration_covid_attestation_etudiant_edit', {'id':
                                    covid_attestation_etudiant.id}) }}"
                                   class="btn btn-warning btn-outline btn-square"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   title="{{ 'atitle.modifier'|trans }}">
                                    <i class="{{ iconEdit }}"></i>
                                    <span class="sr-only">{{ 'atitle.modifier'|trans }}</span>
                                </a>
                                <a href="{{ path('administration_covid_attestation_etudiant_delete', {id:
                                    covid_attestation_etudiant.id}) }}"
                                   data-csrf="{{ csrf_token('delete' ~ covid_attestation_etudiant.id) }}"
                                   class="btn btn-danger btn-outline btn-square supprimer"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   title="{{ 'atitle.supprimer'|trans }}">
                                    <i class="{{ iconDelete }}"></i>
                                    <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

