{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.covid_attestation_etudiant.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-show.html.twig', {elt: 'covid_attestation_etudiant', id: covid_attestation_etudiant.id}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.covid_attestation_etudiant.show.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <td>Période</td>
                    <td>{{ covid_attestation_etudiant.dateDebut != null ? covid_attestation_etudiant
                        .dateDebut|format_date('short') : '' }} au {{ covid_attestation_etudiant.dateFin != null ?
                        covid_attestation_etudiant.dateFin|format_date('short') : '' }}</td>
                </tr>
                {# <tr> #}
                {# <td>Heure</td> #}
                {# <td>{{ covid_attestation_etudiant.heureLong }}</td> #}
                {# </tr> #}
                {# <tr> #}
                {# <td>Matieres</td> #}
                {# <td>{% for matiere in covid_attestation_etudiant.matieres %}{{ matiere.codeMatiere }}{% if not loop #}
                {# .last %}, {% endif %}{% endfor %}</td> #}
                {# </tr> #}
                <tr>
                    <td>Groupes</td>
                    <td>{% for groupe in covid_attestation_etudiant.groupes %}{{ groupe.displaySemestre }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                </tr>
                {# <tr> #}
                {# <th>Motif</th> #}
                {# <td>{{ covid_attestation_etudiant.motif|trans }}</td> #}
                {# </tr> #}
                {# <tr> #}
                {# <th>Salles</th> #}
                {# <td>{{ covid_attestation_etudiant.salles }}</td> #}
                {# </tr> #}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <h4 class="card-title">{{ 'adm.covid_attestation_etudiant.concerne.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mail Univ / Perso</th>
                    <th>Semestre</th>
                    <th>Groupe(s)</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for groupe in covid_attestation_etudiant.groupes %}
                    {% for etudiant in groupe.etudiants %}
                        <tr>
                            <td>{{ etudiant.nom }}</td>
                            <td>{{ etudiant.prenom }}</td>
                            <td>{{ etudiant.mailUniv }}, {{ etudiant.mailPerso }}</td>
                            <td>{{ etudiant.semestre.display }}</td>
                            <td>{% for gr in etudiant.groupes %}{{ gr.displaySemestre }}, {% endfor %}</td>
                            <td>
                                <a href="{{ path('administration_covid_attestation_etudiant_export_one', {'id':
                                    covid_attestation_etudiant.id, etudiant:etudiant.id}) }}"
                                   class="btn btn-info btn-outline btn-square"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="bottom""
                                                             title="{{ 'atitle.print'|trans }}">
                                    <i class="{{ iconPrint }}"></i>
                                    <span class="sr-only">{{ 'atitle.print'|trans }}</span>
                                </a>

                                <a href="{{ path('administration_covid_attestation_etudiant_send_one', {'id':
                                    covid_attestation_etudiant.id, etudiant:etudiant.id}) }}"
                                   class="btn btn-success btn-outline btn-square"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="bottom""
                                                             title="{{ 'atitle.renvoyer'|trans }}">
                                    <i class="fas fa-envelope"></i>
                                    <span class="sr-only">{{ 'atitle.renvoyer'|trans }}</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
            <br>
            {% if covid_attestation_etudiant.convocationEnvoyee == true %}
                {{ covid_attestation_etudiant.dateEnvoi != null ? covid_attestation_etudiant
                .dateEnvoi|format_date('short') : '' }}
            {% else %}
                <a href="{{ path('administration_covid_attestation_etudiant_send_all', {'id':
                    covid_attestation_etudiant.id}) }}"
                   class="btn btn-success btn-block"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="Envoyer toutes les convocations">
                    <i class="fas fa-envelope"></i> Envoyer toutes les convocations aux étudiants
                </a>
            {% endif %}
            <br>
            <div class="alert alert-warning">
                L'envois d'email est limité à 5000 / jours pour tout l'intranet. En ce moment, il est très sollicité,
                pour éviter que les mails ne partent par, merci de priviligier les envois des convocations la veille
                des cours concernées.
            </div>
        </div>
    </div>
{% endblock %}

