{% extends 'base.html.twig' %}

{% block header %}
    {{ 'default.heading'|trans({'%departement%':user_data.departement.libelle})|raw }}
{% endblock %}

{% block content %}
    {% if settings('APPLICATION_COVID') == true %}
        {% if not is_granted('ROLE_ETUDIANT') %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-warning">
                        <header class="card-header">
                            <h4 class="card-title">{{ 'covid.autorisation.heading'|trans }}</h4>
                        </header>
                        <div class="card-body">
                            <a href="{{ path('application_personnel_covid_attestation_personnel_index') }}" class="btn
                        btn-success btn-block">
                                Faire une nouvelle demande de déplacement</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {{ render_esi(controller(
                'App\\Controller\\appEtudiant\\CovidController::index'
            )) }}
        {% endif %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">{{ 'dernieres.actualites.departement.heading'|trans }}</h4>
                    {% if user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ASS') %}
                        <div class="card-header-actions" style="">
                            <a href="{{ path('administration_actualite_new') }}" class="btn btn-sm btn-primary"
                               title="{{ 'atitle.deposer_nouvelle_actualite'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"><i
                                        class="{{ iconAdd }}"></i><span class="sr-only">{{ 'atitle.deposer_nouvelle_actualite'|trans }}</span></a>
                        </div>
                    {% endif %}
                </header>
                <div class="card-body">
                    <ol class="timeline timeline-activity timeline-point-sm timeline-content-right text-left w-100">
                        {% for actualite in actualites %}
                            <li class="timeline-block">
                                <div class="timeline-point timeline-point-primary">
                                    <span class="badge badge-ring bg-primary"></span>
                                </div>
                                <div class="timeline-content">
                                    <time datetime="{{ actualite.updated|date('Y-m-d') }}">{{ actualite.updated|format_datetime('short', 'short') }}</time>
                                    <p><strong>{{ actualite.titre }}</strong> : {{ actualite.texte|striptags }}
                                    </p>
                                </div>
                            </li>
                        {% else %}
                            <li class="alert alert-info">{{ 'pas.encore.actualite'|trans }}</li>
                        {% endfor %}
                    </ol>
                    <a href="{{ path('actualite_liste') }}"
                       class="pull-right">{{ 'voir.anciennes.actualites'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">{{ 'prochains.evenements.heading'|trans }}</h4>
                    {% if user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ASS') %}
                        <div class="card-header-actions" style="">
                            <a href="{{ path('administration_date_new') }}" class="btn btn-sm btn-primary"
                               title="{{ 'atitle.deposer_nouvel_evenement'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"><i
                                        class="{{ iconAdd }}"></i><span class="sr-only">{{ 'atitle.deposer_nouvel_evenement'|trans }}</span></a>
                        </div>
                    {% endif %}
                </header>
                <div class="card-body">
                    <ol class="timeline timeline-activity timeline-point-sm timeline-content-right text-left w-100">
                        {% for date in dates %}
                            <li class="timeline-block">
                                <div class="timeline-point timeline-point-primary">
                                    <span class="badge badge-ring {{ date.couleurBadge }}"></span>
                                </div>
                                <div class="timeline-content">
                                    <time datetime="{{ date.dateDebut|date('Y-m-d') }}">{{ date.dateDebut|format_date('short') }} {{ date.heureDebut|format_time('short') }}</time>
                                    <p>{{ date.libelle }} : {{ date.texte }}</p>
                                </div>
                            </li>
                        {% else %}
                            <li class="alert alert-info">{{ 'pas.encore.date'|trans }}</li>
                        {% endfor %}
                    </ol>
                    <a href="{{ path('planning_index', {annee: user_data.anneeUniversitaire}) }}"
                       class="pull-right">{{ 'voir.planning'|trans }}</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            {% if user_data.departement.optEdt == true %}
                {% if is_granted('ROLE_PERMANENT') %}
                    {{ render_esi(controller(
                        'App\\Controller\\EdtController::dashboardPersonnel'
                    )) }}
                {% elseif is_granted('ROLE_ETUDIANT') %}
                    {{ render_esi(controller(
                        'App\\Controller\\EdtController::dashboardEtudiant'
                    )) }}
                {% else %}
                    erreur
                {% endif %}
            {% endif %}
        </div>

        {% if is_granted('ROLE_PERMANENT') %}
            {{ render_esi(controller(
                'App\\Controller\\BlocNotesAbsencesController::personnel'
            )) }}
        {% elseif is_granted('ROLE_ETUDIANT') %}
            <div class="col-12">
                {{ render_esi(controller(
                    'App\\Controller\\BlocNotesAbsencesController::etudiantAbsences'
                )) }}
            </div>
            <div class="col-12">
                {{ render_esi(controller(
                    'App\\Controller\\BlocNotesAbsencesController::etudiantNotes'
                )) }}
            </div>

            {{ render_esi(controller(
                'App\\Controller\\BlocNotesAbsencesController::mccSemestre'
            )) }}
        {% endif %}

        {% if is_granted('ROLE_PERMANENT') %}
            <div class="col-sm-12">
                <div class="card">
                    <h3 class="card-title">Listing Etudiants</h3>
                    <div class="card-body">
                        <!-- 1 onglets par promo -->
                        <div class="tabs">
                            <ul class="nav nav-tabs">
                                {% for semestre in user_data.semestresActifs %}
                                    <li class="nav-item">
                                        <a class="nav-link {% if loop.first %} active{% endif %}" data-bs-toggle="tab"
                                           href="#semgr_{{ semestre.id }}">{{ semestre.display }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tab-content">
                            {% for semestre in user_data.semestresActifs %}
                                <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="semgr_{{ semestre.id }}">
                                    <h4>Les listings du semestre {{ semestre.libelle }}</h4>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                {% for typeGroupe in typegroupes|filter(typeGroupe => (typeGroupe.defaut
                                                    == true) and (typeGroupe.semestre == semestre)) %}
                                                    {% for groupe in typeGroupe.groupes %}
                                                        <div class="col-md-3 col-sm-12 d-grid d-block mb-2">
                                                            <a href="{{ path('trombinoscope_etudiant_export_groupe',
                                                                {_format:'pdf', groupe:groupe.id}) }}"
                                                               class="btn btn-cyan">
                                                                {{ groupe.libelle }}
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <div class="alert alert-info">
                                                        Aucun ensemble de groupe par défaut de défini.
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if not is_granted("ROLE_ETUDIANT") %}
                                        <div class="row">
                                            <div class="col-sm-12 col-md-2">
                                                <div class="dropdown d-grid d-block">
                                                    <button class="btn btn-primary dropdown-toggle"
                                                            data-bs-toggle="dropdown">Format PDF
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        {% for typegroupe in typegroupes|filter(typegroupe => typegroupe
                                                        .semestre == semestre) %}
                                                            <li>
                                                                <a class="dropdown-item" href="{{ path('trombinoscope_etudiant_export', {_format:'pdf', typeGroupe: typegroupe.id}) }}">{{ typegroupe.libelle }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <div class="dropdown d-grid d-block">
                                                    <button class="btn btn-primary dropdown-toggle"
                                                            data-bs-toggle="dropdown">Format Excel
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        {% for typegroupe in typegroupes|filter(typegroupe => typegroupe
                                                        .semestre == semestre) %}
                                                            <li>
                                                                <a class="dropdown-item" href="{{ path('trombinoscope_etudiant_export',
                                                                    {_format:'xlsx', typeGroupe: typegroupe.id}) }}">{{ typegroupe.libelle }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <div class="dropdown d-grid d-block">
                                                    <button class="btn btn-primary dropdown-toggle"
                                                            data-bs-toggle="dropdown">Format Csv
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        {% for typegroupe in typegroupes|filter(typegroupe => typegroupe
                                                        .semestre == semestre) %}
                                                            <li>
                                                                <a class="dropdown-item" href="{{ path('trombinoscope_etudiant_export',
                                                                    {_format:'csv', typeGroupe: typegroupe.id}) }}">{{ typegroupe.libelle }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <div class="dropdown d-grid d-block">
                                                    <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                                        Trombi. (PDF)
                                                    </button>

                                                    <div class="dropdown-menu">
                                                        {% for typegroupe in typegroupes|filter(typegroupe => typegroupe
                                                        .semestre == semestre) %}
                                                            <li>
                                                                <a class="dropdown-item" href="{{ path
                                                                    ('trombinoscope_etudiant_image',
                                                                    {typeGroupe: typegroupe.id}) }}">{{ typegroupe.libelle }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4 d-grid d-block">
                                                <button
                                                        {{ stimulus_controller('modal', {
                                                            size: 'lg',
                                                            form: true,
                                                            formAction: path('export_listing'),
                                                            modalTitle: 'export.heading'|trans,
                                                            modalUrl:  path('api_export_document_personnalise',
                                                                {semestre:semestre.id}) }) }}
                                                        data-action="click->modal#openModal"
                                                        class="btn btn-primary"
                                                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                        title="{{ 'atitle.export'|trans }}"
                                                >
                                                    Export personnalisé
                                                </button>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <h4 class="card-title">{{ 'liens.utiles.heading'|trans }}</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 text-center">
                            <a href="{{ settings('SITE_UNIVERSITE') }}" target="_blank"><img
                                        src="{{ asset('upload/logo/'~ settings('LOGO_UNIVERSITE')) }}"
                                        alt="{{ settings('NOM_UNIVERSITE') }}" class="img-rounded"
                                        width="90px"/><br/>
                                {{ settings('NOM_UNIVERSITE') }}</a>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center">
                            <a href="https://{{ settings('SITE_IUT') }}"
                               target="_blank"><img
                                        src="{{ asset('upload/logo/' ~ settings('LOGO_IUT')) }}"
                                        alt="{{ settings('NOM_IUT') }}" class="img-rounded"
                                        width="90px"/><br/>
                                {{ settings('NOM_IUT') }}</a>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center">
                            <a href="{{ settings('SITE_ENT') }}" target="_blank"><img
                                        src="{{ asset('upload/logo/' ~ settings('LOGO_IUT')) }}"
                                        alt="Bureau Virtuel / ENT" class="img-rounded" width="90px"/><br/>
                                Bureau Virtuel / ENT
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center">
                            <a href="{{ user_data.departement.siteWeb }}" target="_blank"><img
                                        src="{{ asset('upload/logo/'~user_data.departement.logoName) }}"
                                        alt="{{ user_data.departement.libelle }}" class="img-rounded" width="90px"/><br/>
                                {{ user_data.departement.libelle }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <h4 class="card-title">{{ 'contacts.heading'|trans }}</h4>
                <div class="card-body">
                    {% for diplome in user_data.diplomes %}
                        <h5>{{ diplome.typeDiplome.sigle }} {{ diplome.libelle }} ({{ diplome.sigle }})</h5>
                        <dl class="row">
                            {% if diplome.responsableDiplome != null %}
                                <dt class="col-sm-4">Responsable :</dt>
                                <dd class="col-sm-6"><a
                                            href="{{ path('user_profil', {slug: diplome.responsableDiplome.slug,
                                                type: 'personnel'}) }}"
                                            target="_blank">{{ diplome.responsableDiplome.displayPr }}</a></dd>
                            {% endif %}
                            {% if diplome.assistantDiplome != null %}
                                <dt class="col-sm-4">Assistant(e) :</dt>
                                <dd class="col-sm-6"><a
                                            href="{{ path('user_profil', {slug: diplome.assistantDiplome.slug, type:
                                                'personnel'}) }}"
                                            target="_blank">{{ diplome.assistantDiplome.displayPr }}</a></dd>
                            {% endif %}
                        </dl>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

