<table style="width: 100%; border:0;">
    <tr>
        <td style="text-align: center; width:20%"><img
                    src="{{ settings('BASE_PATH') }}{{ 'logo/'~user_data.departement.logoName }}" alt="logo"
                    height="70px"/></td>
        <td style="text-align: center; width:60%"><h1>{{ user_data.departement.libelle }}</h1>

            <h2>{{ matiere.semestre.display }}</h2>

            <H2>{{ user_data.displayAnneeUniversitaire }}</H2></td>
        <td style="text-align: center; width:20%"><img
                    src="{{ settings('BASE_PATH') }}{{ 'logo/' }}{{ settings('LOGO_IUT') }}"
                    alt="logo"
                    height="70px"/></td>
    </tr>
</table>
<br>
<h3>{{ matiere.display }}</h3>
<h4>Surveillants</h4>
{% if ens1 != "" %}
    <p>{{ ens1.display }}</p>
{% else %}
    <p>Surveillant 1 : ______________________________________________________________</p>
{% endif %}

        {% if ens2!="" %}
            <p>{{ ens2.display }}</p>
        {% else %}
            <p>Surveillant 2 : ______________________________________________________________</p>
        {% endif %}

        {% if depreuve!="" %}
            <p>Date épreuve : {{ depreuve }}</p>
        {% else %}
            <p>Date épreuve : _____________________________________________________________</p>
        {% endif %}
