<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'adm.plan_cours.diplome.heading'|trans }} | {{ diplome.libelle }}</h4>
        <div class="card-header-actions">

        </div>
    </header>


    <div class="card-body">
        {{table_render(table)}}
    </div>
</div>
