{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.edt.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">
            <strong>{{ 'adm.edt.actions'|trans }}</strong>
        </h4>
        <div class="card-body">
            <form action="{{ path('administration_edt_export_script_ajax') }}" method="POST">
                <div class="row">
                    <div class="col-4">
                        <label for="semestre">Semestre</label>
                        <select name="semestre" id="semestre" class="form-select">
                            <option>Choisir</option>
                            {% for semestre in semestres %}
                                <option value="{{ semestre.id }}">{{ semestre.display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="semaine">Semaine MMI</label>
                        <select name="semaine" id="semaine" class="form-select">
                            <option>Choisir</option>
                            {% for semaine in semaines %}
                                <option value="{{ semaine.semaineFormation }}">
                                    Semaine {{ semaine.semaineReelle }}. Lundi {{ semaine.dateLundi|date('d/m/Y') }}
                                    (MMI: {{ semaine.semaineFormation }})
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-4">
                        <button class="btn btn-success btn-block" type="submit">Générer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

