{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.edt.export.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="header-action">
            <div class="buttons">
                <a href="{{ path('administration_edt_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
                   data-bs-placement="bottom" title="{{ 'atitle.retour_edt'|trans }}"><i class="fas fa-arrow-left"></i></a>
                <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
                   data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title"><strong>{{ 'adm.edt.actions'|trans }}</strong></h4>
        <div class="card-body">
            <form action="{{ path('administration_edt_export_profs', {source:source}) }}" method="post">
                Choisir
                <div class="row">
                    {% for personnel in user_data.personnels %}
                        <div class="form-check col-sm-6 col-md-3">
                            <input class="form-check-input"
                                   name="personnels[]"
                                   type="checkbox"
                                   value="{{ personnel.id }}"
                                   id="personnel_{{ personnel.id }}">
                            <label class="form-check-label" for="personnel_{{ personnel.id }}">
                                {{ personnel.displayPr }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3"></div>
                    <div class="col-sm-6 col-md-3"></div>
                    <div class="col-sm-6 col-md-6">
                        <button class="btn btn-success btn-block" type="submit">Exporter les éléments séléectionnés
                        </button>
                    </div>
                </div>
            </form>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <a href="{{ path('administration_edt_export_all', {source:source, _format: 'pdf'}) }}"
                       class="btn btn-info btn-block">
                        Générer les PDF pour tous
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{{ path('administration_edt_export_all', {source:source, _format: 'xlsx'}) }}"
                       class="btn btn-info btn-block">
                        Générer les XLSX (Excel) pour tous
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{{ path('administration_edt_export_all', {source:source, _format: 'csv'}) }}"
                       class="btn btn-info btn-block">
                        Générer les CSV (;) pour tous
                    </a>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-12">
                    <a href="{{ path('administration_edt_export_voir') }}" class="btn btn-info btn-block">
                        Voir/Envoyer (mail) les PDF / Ical</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block fabactions %}

{% endblock %}
