{% extends 'base.html.twig' %}

{% block header %}
    Sous <strong>commission live du semestre {{ semestre.libelle }}</strong>
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestresActifs %}
            <a href="{{ path('administration_sous_commission_live', {semestre:sem.id}) }}"
               class="btn btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'atitle.changer.semestre'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"

            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_sous_commission_exporter', {semestre:semestre.id}) }}" class="btn btn-info
            btn-float btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.exporter'|trans }}"><i
                        class="fas fa-download"></i></a>
            <a href="{{ path('administration_sous_commission_travail', {semestre:semestre.id}) }}" class="btn btn-info
            btn-float btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.basculer.sous_comm_travail'|trans }}"><i
                        class="fas fa-pencil-ruler"></i></a>
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h4><strong>Synthèse</strong> | {{ semestre.display }}</h4>
        </div>
        <div class="card-body">
            <br>
            {{ render(controller('App\\Controller\\administration\\NoteController::analyse', {semestre:semestre
            .id})) }}
            <br>
            {% if semestre.optPenaliteAbsence == true %}
                <div class="alert alert-info">
                    Les moyennes affichées sont les moyennes avec les pénalités pour les absences. Survolez une note
                    pour
                    voir la moyenne sans ces pénalités.
                </div>
            {% endif %}
            {# todo: bouton pour masquer les colonnes pénalités ou les colonnes modules #}
            <button id="masqueMatieres">Masquer Matieres</button>
            <div style="overflow: auto; width: 100%; height: 500px">
                <table class=" table table-striped table-hover table-bordered"
                       style="font-size:10px;" cellpadding="2">
                    <thead>
                    <tr>
                        <th colspan="4" rowspan="2" style="text-align: right">Matière</th>
                        {% for matiere in sousCommission.matieres|filter(matiere => matiere.nbNotes!=0 and matiere
                        .suspendu == false) %}
                            <th
                                class="matiere">
                                <abbr title="{{ matiere.libelle }}">
                                    {{ matiere.codeMatiere }}</abbr></th>
                        {% endfor %}
                        <th colspan="{{ (sousCommission.ues|length*2) + 5 }}" style="text-align: center">
                            Semestre {{ semestre.libelle }}</th>
                        {# decision semestre #}
                        {% for sem in sousCommission.semestresScolarite|filter(sem => sem.id != semestre.id) %}
                            <th colspan="{{ (sem.ues|length*2)+3 }}" style="text-align: center">
                                Semestre {{ sem.libelle }}</th>
                        {% endfor %}
                    </tr>

                    <tr>
                        {% for matiere in sousCommission.matieres|filter(matiere => matiere.nbNotes!=0 and matiere
                        .suspendu == false) %}
                            <th class="matiere" rowspan="2">
                                {% for comp in matiere.tab_ues %}
                                <span class="carre-{{ comp.ue_couleur }}">&nbsp;</span>
                                {% endfor %}
                            </th>
                        {% endfor %}
                        {% for u in sousCommission.ues %}
                            <th colspan="2" class="text-center">
                                <span class="badge badge-{{ u.apcCompetence.couleur }}">
                                    <abbr title="{{ u.apcCompetence.nomCourt }}">UE {{ u.numeroue }}</abbr>
                                    </span>
                            </th>
                        {% endfor %}
                        <th rowspan="2">Bonif</th>
                        <th rowspan="2">Décis.</th>
                        <th rowspan="2">Prop.</th>
                        <th rowspan="2">Abs.</th>
                        <th rowspan="2">Etudiant</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Etudiant</th>
                        <th>Bac</th>
                        <th>Coeff.</th>
                        {% for u in sousCommission.ues %}
                            <th>Moy.</th>
                            <th>Décis.</th>
                        {% endfor %}

                        {% for sem in sousCommission.semestresScolarite|filter(sem => sem.id != semestre.id) %}
                            {% for ue in sem.ues %}
                                <th>UE {{ ue.numeroue }} ({{ ue.coefficient }})</th>
                                <th>Décis.</th>
                            {% endfor %}
                            <th>Décis.</th>
                        {% endfor %}

                    </tr>
                    </thead>
                    <tbody>
                    {% for etudiant in sousCommission.etudiants %}
                        {% set myEtudiant = sousCommission.sousCommissionEtudiant(etudiant.id) %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="{{ path('user_profil',{type:'etudiant', slug:etudiant.slug}) }}"
                                   target="_blank" title="Profil de l'étudiant"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom">{{ etudiant.display }}</a></td>
                            <td>{{ etudiant.bac ? etudiant.bac.libelle : 'N.C.' }}</td>
                            <td>{{ etudiant.numetudiant }}</td>

                            {# matieres #}
                            {% for matiere in sousCommission.matieres|filter(matiere => matiere.nbNotes!=0 and matiere
                            .suspendu == false) %}
                                {% if matiere.pac == true %}
                                    {% if myEtudiant.moyenneMatieres[matiere.typeIdMatiere].moyenne != '-0.01'
                                        and myEtudiant.moyenneMatieres[matiere.typeIdMatiere]
                                    .moyenne > 0 %}
                                        <span class="{{ myEtudiant.moyenneMatieres[matiere.typeIdMatiere].style }}">
	                                        {{ myEtudiant.moyenneMatieres[matiere.typeIdMatiere].moyenne|number_format
                                                (2) }}
	                                        </span>
                                    {% else %}
                                        <span class="badge bg-success">No PAC</span>
                                    {% endif %}
                                {% else %}
                                    {% if semestre.optPenaliteAbsence == true %}
                                        <td class="matiere">
                                            {% if myEtudiant.moyenneMatieres[matiere.typeIdMatiere].optionFaite == true %}
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                   title="{{ matiere.codeMatiere }}, sans pénalité : {{ myEtudiant
                                                   .moyenneMatieres[matiere.typeIdMatiere].moyenne|number_format(2) }}">
                                                    {{ myEtudiant.moyenneMatieres[matiere.typeIdMatiere]
                                                    .moyennePenalisee|number_format(2)|styleMatiere }}
                                                </a>
                                            {% else %}
                                                <span class="badge bg-gray">
                                            N.C.
                                        </span>
                                            {% endif %}
                                        </td>
                                    {% else %}
                                        <td class="matiere">
                                            {% if myEtudiant.moyenneMatieres[matiere.typeIdMatiere].optionFaite == false %}
                                                <span class="badge bg-gray">N.C.</span>
                                            {% else %}
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                   title="{{ matiere.codeMatiere }}">{{ myEtudiant
                                                    .moyenneMatieres[matiere.typeIdMatiere].moyenne|number_format(2)
                                                    |styleMatiere }}</a>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endif %}

                            {% endfor %}
                            {# decision semestre #}

                            {% for u in sousCommission.ues %}

                                {% if semestre.optPenaliteAbsence == true %}
                                    <td>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                           title="sans pénalité : {{ myEtudiant.moyenneUes[u.id].moyenne|number_format(3) }}">
                                            {{ myEtudiant.moyenneUes[u.id].moyennePenalisee|number_format(3)|styleMoyenne }}
                                        </a>
                                    </td>
                                {% else %}
                                    <td>
                                        {{ myEtudiant.moyenneUes[u.id].moyenne|number_format(3)|styleMoyenne }}
                                    </td>
                                {% endif %}
                                <td>{{ myEtudiant.moyenneUes[u.id].decision|styleDecision }}</td>
                            {% endfor %}

                            <td>{{ myEtudiant.bonif|number_format(2) }}</td>
                            <td>
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ etudiant.display }}">
                                    {{ myEtudiant.decision|styleDecision }}
                                </a>
                            </td>

                            <td>{{ myEtudiant.proposition }}</td>
                            <td>{{ myEtudiant.nbAbsences|styleAbsences }}</td>
                            <td><a href="{{ path('user_profil',{type:'etudiant', slug:etudiant.slug}) }}"
                                   target="_blank" title="Profil de l'étudiant"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom">{{ etudiant.display }}</a></td>

                            {# decisions passées #}
                            {% for sem in sousCommission.semestresScolarite|filter(sem => sem.id != semestre.id) %}
                                {% for ue in sem.ues %}
                                    {% if myEtudiant.scolarite[sem.ordreLmd] is defined %}
                                        <td>
                                            {% if myEtudiant.scolarite[sem.ordreLmd].parcoursUe[ue.numeroUe] is
                                                defined %}
                                                <span class="{{ myEtudiant.scolarite[sem.ordreLmd].parcoursUe[ue.numeroUe].style }}">
                                                    {{ myEtudiant.scolarite[sem.ordreLmd].parcoursUe[ue.numeroUe]
                                                    .moyenne|number_format(3) }}
                                                    </span>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>Dec.</td>
                                    {% else %}
                                        <td> -</td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    {# <div class="card"> #}
    {# <div class="card-header"> #}
    {# <h4><strong>Statistiques</strong> | {{ semestre.display }}</h4> #}
    {# </div> #}
    {# <div class="card-body"> #}
    {# <table class="table table-striped table-bordered"> #}
    {# <thead> #}
    {# <tr> #}
    {# <th>Bac</th> #}
    {# <th colspan="2">Validé</th> #}
    {# <th colspan="2">Non validé</th> #}
    {# <th colspan="2">Réorientation</th> #}
    {# <th colspan="2">Redoublement</th> #}
    {# </tr> #}
    {# </thead> #}
    {# <tbody> #}
    {# <tr> #}
    {# {% set effectif = sousCommission.etudiants|length %} #}
    {# <th>Global</th> #}
    {# <td>{{ stats['global'].nbValide }}</td> #}
    {# <td>{{ stats['global'].pourcentageValide(effectif)|number_format(2) }}%</td> #}
    {# <td>{{ stats['global'].nbNonvalide }}</td> #}
    {# <td>{{ stats['global'].pourcentageNonValide(effectif)|number_format(2) }}%</td> #}
    {# <td>{{ stats['global'].nbReorientation }}</td> #}
    {# <td>{{ stats['global'].pourcentageReorientation(effectif)|number_format(2) }}%</td> #}
    {# <td>{{ stats['global'].nbRedoublement }}</td> #}
    {# <td>{{ stats['global'].pourcentageRedoublement(effectif)|number_format(2) }}%</td> #}

    {# </tr> #}
    {# {% for bac in bacs %} #}
    {# <tr> #}
    {# <th>{{ bac.libelle }}</th> #}
    {# <td>{{ stats[bac.id].nbValide }}</td> #}
    {# <td>{{ stats[bac.id].pourcentageValide(effectif)|number_format(2) }}%</td> #}
    {# <td>{{ stats[bac.id].nbNonvalide }}</td> #}
    {# <td>{{ stats[bac.id].pourcentageNonValide(effectif)|number_format(2) }}%</td> #}
    {# <td>{{ stats[bac.id].nbReorientation }}</td> #}
    {# <td>{{ stats[bac.id].pourcentageReorientation(effectif)|number_format(2) }}%</td> #}
    {# <td>{{ stats[bac.id].nbRedoublement }}</td> #}
    {# <td>{{ stats[bac.id].pourcentageRedoublement(effectif)|number_format(2) }}%</td> #}
    {# </tr> #}
    {# {% endfor %} #}
    {# </tbody> #}
    {# </table> #}
    {# </div> #}
    {# </div> #}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.notes') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.notes') }}
{% endblock %}
