{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.scolarite.edit.heading'|trans({'%etudiant%': etudiant.displayPr}) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">

            <a href="{{ path('user_profil', {slug: etudiant.slug, type: 'etudiant'}) }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip" data-bs-placement="bottom"

               title="{{ 'atitle.retour_profil'|trans }}">
                <i class="fas fa-user"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}

    {{ include('user/composants/scolarite.html.twig', {scolarites:scolarites}) }}

    <div class="card">
        {% if edit == true %}
            <h4 class="card-title">{{ 'adm.scolarite.edit.heading'|trans({'%etudiant%': etudiant.displayPr}) }}</h4>
        {% else %}
            <h4 class="card-title">{{ 'adm.scolarite.new.heading'|trans({'%etudiant%': etudiant.displayPr}) }}</h4>
        {% endif %}
        <div class="card-body">
            {% form_theme form 'form/my-form.html.twig' %}
            {{ form_start(form) }}
            <div class="row">
                <div class="col-sm-12 col-md-6">{{ form_row(form.ordre) }}</div>
                <div class="col-sm-12 col-md-6">{{ form_row(form.anneeUniversitaire) }}</div>

                <div class="col-sm-12 col-md-4">{{ form_row(form.semestre) }}</div>
                <div class="col-sm-12 col-md-4">{{ form_row(form.moyenne) }}</div>
                <div class="col-sm-12 col-md-4">{{ form_row(form.nbAbsences) }}</div>
            </div>


            <div id="ues_semestre">
                {% if scolarite != null and scolarite.semestre != null %}
                    <div class="row">
                        {% for ue in scolarite.semestre.ues %}
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label for="ue_{{ ue.id }}" class="required">UE {{ ue.numeroue }}</label>
                                    <input type="text" id="ue_{{ ue.id }}" name="ue_{{ ue.id }}" required="required"
                                           class="form-control" value="{{ scolarite.moyennesUes[ue.id] is defined ?
                                    scolarite.moyennesUes[ue.id].moyenne : '' }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        Choisir le semestre pour compléter les données pour les UEs associées
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.decision) }}
                </div>
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.proposition) }}
                </div>
            </div>
            {{ form_rest(form) }}
            <button class="btn btn-success">{{ button_label|default('label.save'|trans) }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_etudiants_scolarite'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('scolarite') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('scolarite') }}
{% endblock %}
