{% extends 'base.html.twig' %}

{% block header %}
    {{ 'justifier.absences.heading'|trans({'%semestre%':semestre.libelle})|raw }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestresActifs %}
            <a href="{{ path('administration_absences_semestre_justifier', {semestre:sem.id}) }}"
               class="btn btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'atitle.changer.semestre'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i><span
                        class="sr-only">{{ 'atitle.retour_semestres'|trans }}</span></a>
            <a href="{{ path('administration_index') }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'selectionnez.un.etudiant'|trans }}</h4>
        <div class="card-body">
            <div class="form-group">
                <label for="justifier_etudiant"
                       class="form-control-label required">{{ 'choisir.letudiant'|trans }}</label>
                <select id="justifier_etudiant" name="justifier_etudiant" required="required"
                        class="form-control selectpicker">
                    <option value="">{{ 'choisir.letudiant'|trans }}</option>
                    {% for etudiant in semestre.etudiants %}
                        <option value="{{ etudiant.id }}">{{ etudiant.display }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="card" id="listeJustifie">
        <h4 class="card-title" id="titre_justifie">{{ 'selectionnez.un.etudiant'|trans }}</h4>
        <div class="card-body">
            <div class="alert alert-info">
                Choisir un étudiant
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.absences') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.absences') }}
{% endblock %}
