{% extends 'base.html.twig' %}

{% block header %}
    {{ 'liste.absence.semestre.heading'|trans({'%semestre%':semestre.libelle})|raw }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestresActifs %}
            <a href="{{ path('administration_absences_semestre_liste', {semestre:sem.id}) }}"
               class="btn btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'atitle.changer.semestre'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i><span
                        class="sr-only">{{ 'atitle.retour_semestres'|trans }}</span></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {# {{ table_render(table) }} #}
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ 'table.etudiant'|trans }}</th>
                    <th>{{ 'table.nb_cours_manques'|trans }}</th>
                    <th>{{ 'table.duree_cours_manques'|trans }}</th>
                    <th>{{ 'table.duree_demi_journee'|trans }}</th>
                    <th>{{ 'table.nb_non_justifies'|trans }}</th>
                    <th>{{ 'table.nb_justifies'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for etudiant in absences.etudiants %}
                    <tr>
                        <td>{{ etudiant.display }}</td>
                        <td>
                            <span class="{{ absences.statistiques[etudiant.id].nbCoursManques|badge }}">{{ absences.statistiques[etudiant.id].nbCoursManques }}</span>
                        </td>
                        <td>{{ absences.statistiques[etudiant.id].totalDuree|format_time('short') }}</td>
                        <td>
                            <span class="{{ absences.statistiques[etudiant.id].nbDemiJournee|badge }}">{{ absences.statistiques[etudiant.id].nbDemiJournee }}</span>
                        </td>
                        <td>
                            <span class="{{ absences.statistiques[etudiant.id].nbNonJustifie|badge }}">{{ absences.statistiques[etudiant.id].nbNonJustifie }}</span>
                        </td>
                        <td>{{ absences.statistiques[etudiant.id].nbJustifie }}</td>
                        <td>
                            <a href="{{ path('user_profil', {type: 'etudiant', 'slug': etudiant.slug, onglet:'absences'}) }}"
                               class="btn btn-info btn-outline btn-square"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom" title="{{ 'atitle.details'|trans }}" target="_blank"><i
                                        class="fas fa-eye"></i><span
                                        class="sr-only">{{ 'atitle.details'|trans }}</span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-button-help.html.twig', {
        href:path('help_article', {sujet: 'administration_absence_liste'})
    }
    ) }}
{% endblock %}


