{% extends 'base.html.twig' %}

{% block header %}
    {{ 'saisir.absence.semestre.heading'|trans({'%semestre%':semestre.libelle})|raw }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestresActifs %}
            <a href="{{ path('administration_absences_semestre_saisie', {semestre:sem.id}) }}"
               class="btn btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'atitle.changer.semestre'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i><span
                        class="sr-only">{{ 'atitle.retour_semestres'|trans }}</span></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}


{% block content %}
    {{ render(controller('App\\Controller\\bloc_saisie_absence\\SaisieAbsenceController::index', {semestre:semestre
    .id, matiere:null, event:null})) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('absences') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('absences') }}
    {% if event is defined %}
        <script>
          $(document).ready(function () {
            console.log('update')
            updateAffichage("{{ dateFr }}", "{{ heure }}")
          })
        </script>
    {% endif %}
{% endblock %}
