{% extends 'base-super_admin.html.twig' %}


{% block header %}
    {{ 'adm.bac.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/sadm-buttons-index.html.twig', {elt:'bac'}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.bac.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <th>{{ 'table.libelle_long'|trans }}</th>
                    <th>{{ 'table.code_apogee'|trans }}</th>
                    <th>{{ 'table.type_bac'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for bac in bacs %}
                    <tr id="ligne_{{ bac.id }}">
                        <td>{{ bac.libelle }}</td>
                        <td>{{ bac.libelleLong }}</td>
                        <td>{{ bac.codeApogee }}</td>
                        <td>{{ 'type_bac.'~bac.typeBac|trans }}</td>
                        <td>
                            {{ include('composants/sadm-buttons-table-index.html.twig', {elt:'bac', id: bac.id}) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">{{ 'no.record.found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('sa_bac_export', {_format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf"},
        {
            type:'info',
            href:path('sa_bac_export', {_format:'csv'}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('sa_bac_export', {_format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('sa_bac_new'),
            title: 'ajouter'|trans,
            icone: 'fas fa-plus'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'super_administration_bac'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}
