{% extends 'base.html.twig' %}

{% block header %}
    {{ 'applications.heading'|trans }}
{% endblock %}

{% block headeractions %}
    {{ include('application/menu.html.twig') }}
{% endblock %}

{% block content %}
    {% if is_granted('ROLE_PERMANENT') %}
        {% if onglet == 'messagerie' %}
            {{ render(controller(
                'App\\Controller\\MessagerieController::index', {param:param}
            )) }}
        {% elseif onglet == 'previsionnel' %}
            {{ render(controller(
                'App\\Controller\\PrevisionnelController::index'
            )) }}
        {% elseif onglet == 'stage' %}
            {{ render(controller(
                'App\\Controller\\appPersonnel\\StageController::index'
            )) }}
        {% elseif onglet == 'projet' %}
            {{ render(controller(
                'App\\Controller\\appPersonnel\\ProjetController::index'
            )) }}
        {% elseif onglet == 'carnet' %}
            {{ render(controller(
                'App\\Controller\\appPersonnel\\CarnetController::index'
            )) }}
        {% elseif onglet == 'quizz' %}
            {{ render(controller(
                'App\\Controller\\appPersonnel\\QuizzController::index'
            )) }}
        {% elseif onglet == 'salle_examen' %}
            {{ render(controller(
                'App\\Controller\\appPersonnel\\SalleExamenController::index'
            )) }}
        {% elseif onglet == 'disponibilite' %}
            {{ render(controller(
                'App\\Controller\\appPersonnel\\DisponibiliteController::index'
            )) }}
        {% elseif onglet == 'progression' %}
            {{ render(controller(
                'App\\Controller\\appPersonnel\\ProgressionController::index'
            )) }}
            {#         elseif onglet == 'emprunt' %}#}
            //gérer en commun avec etudiant ?
            {#            {{ render(controller(#}
            {#                'App\\Controller\\appPersonnel\\EmpruntController::index'#}
            {#            )) }}#}
        {% endif %}
    {% else %}
        {% if onglet == 'rattrapage' %}
            {{ render(controller(
                'App\\Controller\\appEtudiant\\RattrapageController::index'
            )) }}
        {% elseif user_data.user.annee.optAlternance == true and  onglet == 'alternance' %}
            {{ render(controller(
                'App\\Controller\\appEtudiant\\AlternanceController::index'
            )) }}
        {% elseif user_data.user.diplome.optCertifieQualite == true and  onglet == 'qualite' %}
            {{ render(controller(
                'App\\Controller\\appEtudiant\\QualiteController::index'
            )) }}
        {% elseif onglet == 'stage' %}
            {{ render(controller(
                'App\\Controller\\appEtudiant\\StageController::index'
            )) }}
        {% elseif onglet == 'projet' %}
            {{ render(controller(
                'App\\Controller\\appEtudiant\\ProjetController::index'
            )) }}
        {% elseif onglet == 'justificatif' %}
            {{ render(controller(
                'App\\Controller\\appEtudiant\\AbsenceJustificatifController::index'
            )) }}
        {% elseif onglet == 'emprunt' %}
            {{ render(controller(
                'App\\Controller\\appEtudiant\\EmpruntController::index'
            )) }}
        {% else %}
            {{ render(controller(
                'App\\Controller\\MessagerieController::index'
            )) }}
        {% endif %}

    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('applications') }}
    {% if not is_granted('ROLE_ETUDIANT') %}
        {{ encore_entry_link_tags('creneaux') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('applications') }}
    {% if not is_granted('ROLE_ETUDIANT') %}
        {{ encore_entry_script_tags('creneaux') }}
    {% endif %}
{% endblock %}
