<div class="header-action">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link changeapplication active" href="{{ path('previsionnel_index') }}">{{ 'menu.previsionnel'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link changeapplication" href="{{ path('messagerie_index') }}">{{ 'menu.messagerie'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link changeapplication" href="" role="tab">Quizz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link changeapplication" href="" role="tab">Stages</a>
        </li>
    </ul>
</div>