<div class="header-action">
    <ul class="nav nav-tabs" role="tablist">
        {% if is_granted('ROLE_PERMANENT') %}
            <li class="nav-item">
                <a class="nav-link changeapplication {% if onglet == 'messagerie' %}active{% endif %}"
                   href="{{ path('messagerie_index') }}">{{ 'menu.messagerie'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link changeapplication {% if onglet == 'previsionnel' %}active{% endif %}"
                   href="{{ path('previsionnel_index') }}">{{ 'menu.previsionnel'|trans }}</a>
            </li>

            {% if user_data.departement.optStage == true %}
                <li class="nav-item">
                    <a class="nav-link changeapplication {% if onglet == 'stage' %}active{% endif %}"
                       href="{{ path('application_personnel_stage_index') }}"
                       role="tab">{{ 'menu.stages'|trans }}</a>
                </li>
            {% endif %}
            {# todo: décomposer en deux entrées #}
            <li class="nav-item">
                <a class="nav-link changeapplication {% if onglet == 'salle_examen' %}active{% endif %}"
                   href="{{ path('application_personnel_salle_examen_index') }}" role="tab">{{ 'menu.salle_examen'|trans }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link changeapplication {% if onglet == 'carnet' %}active{% endif %}"
                   href="{{ path('application_personnel_carnet_index') }}" role="tab">{{ 'menu.carnet'|trans }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link changeapplication {% if onglet == 'quizz' %}active{% endif %}"
                   href="{{ path('application_personnel_quizz_index') }}" role="tab">{{ 'menu.quizz'|trans }}</a>
            </li>
        {% else %}
            <li class="nav-item ">
                <a class="nav-link changeapplication {% if onglet == 'messagerie' %}active{% endif %}"
                   href="{{ path('messagerie_index') }}">{{ 'menu.messagerie'|trans }}</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link changeapplication {% if onglet == 'justificatif' %}active{% endif %}"
                   href="{{ path('app_etudiant_absence_justificatif_index') }}">{{ 'menu.justificatif'|trans }}</a>
            </li>

            {% if  user_data.user.annee.optAlternance == true %}
                <li class="nav-item ">
                    <a class="nav-link changeapplication {% if onglet == 'alternance' %}active{% endif %}"
                       href="{{ path('application_etudiant_alternance_index') }}"
                       role="tab">{{ 'menu.alternance'|trans }}</a>
                </li>
            {% endif %}
            {% if user_data.user.diplome.optCertifieQualite == true %}
                <li class="nav-item ">
                    <a class="nav-link changeapplication {% if onglet == 'qualite' %}active{% endif %}"
                       href="{{ path('application_etudiant_qualite_index') }}"
                       role="tab">{{ 'menu.qualite'|trans }}</a>
                </li>
            {% endif %}
            {% if user_data.departement.optStage == true %}
                <li class="nav-item ">
                    <a class="nav-link changeapplication {% if onglet == 'stage' %}active{% endif %}"
                       href="{{ path('application_etudiant_stage_index') }}"
                       role="tab">{{ 'menu.stages'|trans }}</a>
                </li>
            {% endif %}
            <li class="nav-item ">
                <a class="nav-link changeapplication {% if onglet == 'carnet' %}active{% endif %}"
                   href="{{ path('application_etudiant_carnet_index') }}" role="tab">{{ 'menu.carnet'|trans }}</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link changeapplication {% if onglet == 'projet' %}active{% endif %}"
                   href="{{ path('application_etudiant_projet_index') }}" role="tab">{{ 'menu.projet'|trans }}</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link changeapplication {% if onglet == 'rattrapage' %}active{% endif %}"
                   href="{{ path('application_etudiant_rattrapage_index') }}"
                   role="tab">{{ 'menu.rattrapage'|trans }}</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link changeapplication {% if onglet == 'quizz' %}active{% endif %}"
                   href="{{ path('application_etudiant_quizz_index') }}" role="tab">{{ 'menu.quizz'|trans }}</a>
            </li>
            {% if user_data.departement.optMateriel == true %}
                <li class="nav-item ">
                    <a class="nav-link changeapplication {% if onglet == 'emprunt' %}active{% endif %}"
                       href="{{ path('application_etudiant_emprunt_index') }}" role="tab">{{ 'menu.emprunt'|trans }}</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
    <div class="buttons">
        <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
           title="{{ 'atitle.retour_dashboard'|trans }}">
            <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
        </a>
    </div>
</div>
