<table class="table table-bordered">
    <thead>
    <tr>
        <th>Compétences</th>
        <th>AC</th>
        <th>&nbsp;</th>
        {% for sae in saes %}
            <th>{{ sae.codeMatiere }}</th>
        {% endfor %}
        <th>portfolio</th>
        <th>stage</th>{# todo: dynamique? #}
        <th>&nbsp;</th>
        {% for ressource in ressources %}
            <th>{{ ressource.codeMatiere }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>

    {% for niveau in niveaux %}
        <tr>
            <th rowspan="{{ niveau.apcApprentissageCritiques|length + 1 }}">{{ niveau.competence.nomCourt }}</th>
        </tr>

        {% for ac in niveau.apcApprentissageCritiques %}
            <tr>
                <th>AC</th>
                <th>&nbsp;</th>
                {% for sae in saes %}
                    <td>.S.</td>
                {% endfor %}
                <td>P.</td>{# todo: obligatoire mais présent en SAE ? #}
                <td>S.</td>{# todo: dynamique? #}
                <th>&nbsp;</th>
                {% for ressource in ressources %}
                    <td>.R.</td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
