{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.apc_referentiel_formation.grille.heading'|trans({'%diplome%':diplome.display}) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">

            <a href="{{ path('administration_matiere_index', {diplome:diplome.id}) }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_liste'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_liste'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.apc_referentiel_formation.grille.heading'|trans({'%diplome%':diplome.display}) }}</h4>
        <div class="card-body">
            <ul class="nav nav-tabs">
                {% for semestre in user_data.semestresByDiplome(diplome.id) %}
                    <li class="nav-item">
                        <a class="nav-link {% if loop.first %}active{% endif %} " data-bs-toggle="tab"
                           href="#semestre{{ semestre.id }}">{{ semestre.libelle }}</a>
                    </li>
                {% endfor %}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                {% for semestre in user_data.semestresByDiplome(diplome.id) %}
                    <div class="tab-pane {% if loop.first %}fade active show{% endif %}"
                         id="semestre{{ semestre.id }}">
                        {{ render_esi(controller(
                            'App\\Controller\\administration\\apc\\ApcReferentielFormationController::grilleCoefficientsSemestre', {semestre:semestre.id}
                        )) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{{ encore_entry_script_tags('adm.apcCoefficients') }}
{% endblock %}

