{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'super-admin.personnel-departement.heading'|trans({"%departement%": departement.libelle}) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('sa_rh_add_personnel') }}" class="btn btn-info btn-sm btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.creer_nouveau'|trans }}"><i class="fas fa-plus"></i></a>
            <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <header class="card-header">
            <h4 class="card-title"><strong>{{ 'super-admin.personnel-departement.heading'|trans({"%departement%": departement.libelle}) }}</strong></h4>
            <div class="card-header-actions">
                <a class="btn btn-sm btn-primary btn-square"
                   title="{{ 'sa.ajouter.personnel'|trans }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"

                   href="#addpersonnel"
                >
                    <i class="fas fa-plus"></i>
                </a>
                <ul class="card-controls">
                    <li class="dropdown">
                        <a data-bs-toggle="dropdown" href="#"><i
                                    class="fas fa-ellipsis-h rotate-90"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item"><i class="fas fa-file-export"></i>{{ 'exporter.xls'|trans }}
                            </a>
                            <a href="#" class="dropdown-item"><i class="fa fa-file-pdf"></i>{{ 'exporter.pdf'|trans }}
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <div class="card-body">
            <table class="table table-striped table-bordered" id="personnelsdepartement"
                   data-departement="{{ departement.id }}">
                   <thead>
                   <tr>
                       <th>Nom Prénom</th>
                       <th>Status</th>
                       <th>N° Adm.</th>
                       <th>Login URCA</th>
                       <th>Droits</th>
                       <th>Actions</th>
                   </tr>
                   </thead>
                   <tbody>
                   {% for personnel in personnels|filter(personnel => personnel.personnel != null) %}
                       <tr>
                           <td>{{ personnel.personnel.display }}</td>
                           <td>{{ personnel.personnel.statut }}</td>
                           <td>{{ personnel.personnel.numeroHarpege }}</td>
                           <td>{{ personnel.personnel.username }}</td>
                           <td>
                               <label class="sr-only" for="droit_{{ personnel.id }}">Role(s)/droit(s)</label>
                               <select class="form-control change_droit_pf" data-pf="{{ personnel.id }}" id="droit_{{ personnel.id }}">
                                   {% for role in constant('App\\Entity\\Constantes::ROLE_LISTE') %}
                                       <option value="{{ role }}" {% if role in personnel.roles %}selected{% endif %}>{{ role|trans }}</option>
                                   {% endfor %}
                               </select>
                           </td>
                           <td>
                               {# todo: peut être créer des pages spécifiques pour show et edit... #}
                               <a href="{{ path('administration_personnel_show', {'id': personnel.personnel.id}) }}"
                                  class="btn btn-info btn-outline btn-square" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                  title="{{ 'atitle.details'|trans }}" target="_blank"><i class="{{ iconShow }}"></i></a>
                               <a href="{{ path('administration_personnel_edit', {'id': personnel.personnel.id}) }}"
                                  class="btn btn-warning btn-outline btn-square" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                  title="{{ 'atitle.modifier'|trans }}" target="_blank"><i
                                           class="{{ iconEdit }}"></i></a>
                               <a href="{{ path('sa_personnel_departement_remove', {pf: personnel.id}) }}" data-csrf="{{ csrf_token('delete' ~ personnel.id) }}"
                                  class="btn btn-danger btn-outline btn-square supprimer" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                  title="{{ 'atitle.retirer_departement'|trans }}"><i class="{{ iconDelete }}"></i></a>
                           </td>
                       </tr>
                   {% endfor %}
                   </tbody>
               </table>
        </div>
    </div>
    {# todo: mettre à jour le tableau du haut.#}
    <div class="card" id="addpersonnel">
        <header class="card-header">
            <h4 class="card-title"><strong>{{ 'super-admin.add.personnel-departement.heading'|trans({"%departement%": departement.libelle}) }}</strong></h4>
            <div class="card-header-actions">
                <a class="btn btn-sm btn-primary btn-square"
                   title="{{ 'sa.creer.personnel'|trans }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"

                   href="{{ path('sa_rh_add_personnel') }}"
                >
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </header>

        <div class="card-body">
            <div class="form-group">
                <label class="control-label" for="sa_login_urca">Login URCA, nom ou prénom du nouvel intervenant
                                                                 :</label>
                <input type="text" name="login_urca" id="sa_login_urca" class="form-control"
                       placeholder="Saisissez les premiers caractères" data-departement="{{ departement.id }}">

            </div>
            <div>
                <button type="submit" class="btn btn-block btn-warning">Vérifiez si l'intervenant est déjà présent dans un autre
                                                                        département.
                </button>
                <br>
            </div>
            <br/>
            <table class="table table-striped table-bordered" id="table-resultat">
                <thead>
                <tr>
                    <th>{{ 'table.nom'|trans }}</th>
                    <th>{{ 'table.prenom'|trans }}</th>
                    <th>{{ 'table.numero_harpege'|trans }}</th>
                    <th>{{ 'table.login'|trans }}</th>
                    <th>{{ 'table.mail_univ'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody id="result">
                <tr id="ligne-no-result">
                    <td colspan="6">Saisissez quelques caractères pour afficher des résultats</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('sadm.personnels') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sadm.personnels') }}
{% endblock %}

