<div class="col-md-6 col-xl-4 code code-card code-fold">
    <div class="document-categorie afficheDocuments" data-type="favori"
         data-action="click->documents#afficheDocumentsFavori">
        <div class="media align-items-center">
                <span>
                    <i class="fas fa-folder fs-30 text-info"></i>
                </span>
            <div class="media-body">
                <h5>Vos documents favoris</h5>
                <p class="gap-items">
                    <small>{{ 'nb.documents.categories'|trans }} {{ nbDocumentsFavoris }} </small>
                </p>
            </div>
        </div>
    </div>
</div>

{% for typedocument in typedocuments|filter(typedocument => typedocument.parent == null) %}
    {{ include('document/public/_typeDocumentElement.html.twig') }}
{% endfor %}


