<div class="col-md-6 col-xl-4 code code-card code-fold">
    <div class="code-preview" data-type="{{ typedocument.id }}" data-action="click->documents#afficheDocuments">
        <div class="media align-items-center">
                <span>
                    <i class="fas fa-folder fs-30 text-info"></i>
                </span>
            <div class="media-body">
                <h5>{{ typedocument.libelle }}</h5>
                <p class="gap-items">
                    <small>{{ 'nb.documents.categories'|trans }}</small> {# todo: {{ typedocument.documents|length }} filter selon le semestre si étudiant. #}
                </p>
            </div>
        </div>
    </div>
</div>
