{% extends 'base.html.twig' %}

{% block header %}
    {{ 'documents.heading'|trans }}
{% endblock %}

{% block stimulus %}
{{ stimulus_controller('documents', {
    'url': path('document_typedocument_ajax', {source:source}),
    'urlDocuments': path('document_ajax', {source:source}),
    'urlDocumentsFavori': path('document_ajax_favori', {source:source})
}) }}
{% endblock %}


{% block headerright %}
    <a href="#" class="btn btn-outline-primary me-2"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               id="boutonBack" style="display: none"
               data-action="click->documents#boutonBack"
               title="{{ 'atitle.retour_categories'|trans }}">
                <i class="fas fa-arrow-left"></i>
            </a>
{% endblock %}

{% block content %}
    <div class="row" data-documents-target="content">
        ... chargement ...
    </div>
{% endblock %}

