<div class="card">
    <h4 class="card-title">{{ 'application.quizz.heading'|trans }}</h4>

    <div class="card-body">
        <div class="alert alert-info">Cette fonctionnalité sera bientôt disponible.</div>
    </div>
</div>