<table class="table">
    <thead>
    <tr>
        <th>Ordre</th>
        <th>Section</th>
        <th>Configuration</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for question in qualiteSections %}
        <tr>
            <td>{{ question.ordre }}</td>
            <td>{{ question.section.titre }}</td>
            <td>
                {#                            {% if question.section.config == '' %}Pas de config{% else %}{{ question.section.config }}#}
                {#                                <button class="btn btn-primary"><i class="fas fa-gears"></i></button>{% endif %}#}
            </td>
            <td>
                <button class="btn btn-danger"
                        data-action="questionnaire-qualite#btnRemove"
                        data-question="{{ question.id }}"
                >
                    <i class="fas fa-remove"></i>
                </button>
                {% if question.enabled == true %}
                    <button class="btn btn-warning" data-action="questionnaire-qualite#btnHide"
                            data-question="{{ question.id }}"
                            title="Masquer la question"
                    >
                        <i class="fas fa-eye-slash"></i>
                    </button>
                {% else %}
                    <button class="btn btn-info" data-action="questionnaire-qualite#btnShow"
                            data-question="{{ question.id }}"
                            title="Afficher la question masquée"
                    >
                        <i class="fas fa-eye"></i>
                    </button>
                {% endif %}
                {% if not loop.first %}
                    <button class="btn btn-success" data-action="questionnaire-qualite#btnUp"
                            data-question="{{ question.id }}"
                    >
                        <i class="fas fa-up"></i>
                    </button>
                {% endif %}
                {% if not loop.last %}
                    <button class="btn btn-success" data-action="questionnaire-qualite#btnDown"
                            data-question="{{ question.id }}"
                    >
                        <i class="fas fa-down"></i>
                    </button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3">
            <label for="section">ajouter une section</label>
            <select id="section" class="form-select" data-questionnaire-qualite-target="selectedSection">
                <option value=""></option>
                {% for section in sections %}
                    <option value="{{ section.id }}">{{ section.titre }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <button class="btn btn-success" data-action="questionnaire-qualite#btnAdd"><i class="fas fa-plus"></i>
                Ajouter</button>
        </td>
    </tr>
    </tbody>
</table>
