{% extends (is_granted('ROLE_ADMINISTRATIF')) ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.questionnaire.qualite.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('questionnaire_qualite_new'|path_admin) }}"
               class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.creer_nouveau'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="{{ iconAdd }}"></i>
                <span class="sr-only">{{ 'atitle.creer_nouveau'|trans }}</span>
            </a>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_QUALITE') %}
                <a href="{{ path('sa_qualite_index') }}"
                   class="btn btn-primary btn-float"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"

                   title="{{ 'retour.qualite'|trans }}">
                    <i class="fas fa-arrow-left"></i>
                    <span class="sr-only">{{ 'retour.qualite'|trans }}</span>
                </a>
                <a href="{{ path('super_admin_homepage') }}"
                   class="btn btn-primary btn-float"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"

                   title="{{ 'retour.administratif'|trans }}">
                    <i class="fas fa-home"></i>
                    <span class="sr-only">{{ 'retour.administratif'|trans }}</span>
                </a>
            {% elseif is_granted('ROLE_PERMANENT') %}
                <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.retour_dashboard'|trans }}">
                    <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">
            {{ 'adm.questionnaire.qualite.index.heading'|trans }}
        </h4>
        <div class="card-body">
            <div class="alert alert-info mb-2">
                Un questionnaire est composé d'un ensemble de section. Chaque
                section peut avoir des paramètres en fonction du questionnaire.
            </div>
            {{ table_render(table) }}
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-button-help.html.twig', {
        href:path('help_article', {sujet: 'administration_questionnaire_questionnaire'})
    }
    ) }}
{% endblock %}
