<div id="groupes_semestre">
    <div class="card">
        <header class="card-header">
            <h4 class="card-title">{{ 'adm.groupe.semestre.index.heading'|trans }} | {{ semestre.libelle }}</h4>
            <div class="card-header-actions" style="">
                <a class="btn btn-sm btn-primary"
                   title="{{ 'generation.automatique'|trans }}"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   href="{{ path('administration_groupe_semestre_generation_auto', {semestre:semestre.id}) }}"
                >
                    <i class="fas fa-hat-wizard"></i>
                </a>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="btn btn-sm btn-primary"
                       title="{{ 'importer.fichier.liste.groupe'|trans }}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                       href="{{ path('sa_groupes_etudiant_import_semestre', {semestre:semestre.id}) }}"
                    >
                        <i class="fas fa-tablet-alt"></i>
                    </a>
                    |
                    <a class="btn btn-sm btn-primary"
                       title="{{ 'sa.synchro_apogee_groupe_etudiant_semestre'|trans }}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                       href="{{ path('sa_groupes_etudiant_synchro_semestre', {semestre:semestre.id}) }}"
                    >
                        <i class="fas fa-undo"></i>
                    </a>
                    <a class="btn btn-sm btn-primary"
                       title="{{ 'sa.synchro_apogee_semestre'|trans }}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                       href="{{ path('sa_groupes_departement_synchro_semestre', {semestre:semestre.id}) }}"
                    >
                        <i class="fas fa-file-import"></i>
                    </a>
                {% endif %}
            </div>
        </header>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Libellé</th>
                    <th>Ordre</th>
                    <th>Parent</th>
                    <th>Code Apogée</th>
                    <th>Type Groupe</th>
                    <th>Parcours</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% import 'macros/tree-groupe.html.twig' as m %}
                {% for groupe in groupes|filter(groupe => groupe.parent == null) %}
                    {{ include('administration/groupe/_ligne_groupe.html.twig') }}
                    {{ m.tree(groupe.enfants, 1, semestre, groupes, typeGroupes, parcours) }}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {{ render(controller(
        'App\\Controller\\administration\\GroupeController::new', {semestre:semestre.id}
    )) }}
</div>



