<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'adm.groupe.semestre.add.heading'|trans }} | {{ semestre.libelle }}</h4>
        <div class="card-header-actions" style=""></div>
    </header>
    <div class="card-body">
        {% form_theme form 'form/my-form.html.twig' %}
        {{ form_start(form) }}
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td>{{ form_row(form.libelle) }}</td>
                <td>{{ form_row(form.ordre) }}</td>
                <td>{{ form_row(form.parent) }}</td>
                <td>{{ form_row(form.codeApogee) }}</td>
                <td>{{ form_row(form.typeGroupe) }}</td>
                <td>{{ form_row(form.parcours) }}</td>
            </tr>
            <tr>
                <td colspan="6">
                    <button class="btn btn-success btn-block" id="addGroupe" data-semestre="{{ semestre.id }}">{{ button_label|default('label.save'|trans) }}</button>
                </td>
            </tr>
            </tbody>
        </table>
        {{ form_end(form) }}
    </div>
</div>
