{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.groupe.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <nav class="nav nav-tabs">
            {% for semestre in user_data.semestres %}
                {% if (semestre.diplome.responsableDiplome.id == user_data.user.id and user_data.isGoodDepartement('ROLE_RP')) or user_data.isGoodDepartement
                    ('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ASS') %}
                    <li class="nav-item">
                        <a class="nav-link {% if (afficheSemestre != null and afficheSemestre == semestre.id) or
                            (afficheSemestre == null and loop.first) %}active show{% endif %} change-semestre"
                           data-bs-toggle="tab"
                           href="#semestre{{ semestre.id }}" role="tab" data-semestre="{{ semestre.id }}">{{ semestre
                            .libelle }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </nav>

        <div class="buttons">
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}

        {% for semestre in user_data.semestres %}
            {% if (semestre.diplome.responsableDiplome.id == user_data.user.id and user_data.isGoodDepartement('ROLE_RP')) or user_data.isGoodDepartement
                ('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ASS') %}
                {% if (afficheSemestre != null and afficheSemestre == semestre.id) or
                    (afficheSemestre == null and loop.first) %}
                    <div id="liste_semestre">
                        {{ render(controller(
                            'App\\Controller\\administration\\GroupeController::listeSemestre', {semestre:semestre.id}
                        )) }}
                    </div>

                    <div id="type_groupes_semestre">
                        {{ render(controller(
                            'App\\Controller\\administration\\TypeGroupeController::listeSemestre', {semestre:semestre.id}
                        )) }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block fabactions %}
    {% set semestreExport = 0 %}
    {% for semestre in user_data.semestres %}
        {% if (semestre.diplome.responsableDiplome.id == user_data.user.id and user_data.isGoodDepartement('ROLE_RP')) or user_data.isGoodDepartement
            ('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ASS') %}
            {% if (afficheSemestre != null and afficheSemestre == semestre.id) or
                (afficheSemestre == null and loop.first) %}
                {% set semestreExport = semestre.id %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_groupe_export', {_format:'pdf', semestre:semestreExport}),
            title: 'exporter.pdf'|trans,
            id: 'export_pdf',
            icone : "fa fa-file-pdf"
        },
        {
            type:'info',
            href:path('administration_groupe_export', {_format:'csv',semestre:semestreExport}),
            title: 'exporter.csv'|trans,
            id: 'export_csv',
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('administration_groupe_export', {_format:'xlsx',semestre:semestreExport}),
            title: 'exporter.xls'|trans,
            id: 'export_xlsx',
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_groupe'}),
            title: 'aide'|trans,
            icone: 'fas fa-question',
            target: '_blank'
        }
    ]}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.groupe') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.groupe') }}
{% endblock %}
