{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.mcc_type_epreuve.new.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/sadm-buttons-new.html.twig', {elt: 'mcc_type_epreuve'}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.mcc_type_epreuve.new.heading'|trans }}</h4>

        <div class="card-body">
            {{ include('composants/adm-form.html.twig') }}
        </div>
    </div>
{% endblock %}
