
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div data-formulaire-target="output" class="modal-body">

            </div>
            <div class="modal-footer">
                <a href="{{ path ( modalRetour, {stageEtudiant:stageEtudiant.uuidString} ) }}"><button type="button"
                                                                                                class="btn
                btn-secondary">Corriger</button></a>
                <button type="button" class="btn btn-primary" id="confirm" data-bs-dismiss="modal">Confirmer</button>
            </div>
        </div>
    </div>
</div>
