{% extends 'base.html.twig' %}

{% block header %}
    Agenda / Emploi du temps
{% endblock %}

{% block content %}

    <div class="card">
        <h4 class="card-title">Card title</h4>

        <div class="card-body">

        </div>
    </div>
{% endblock %}