{% extends 'base.html.twig' %}

{% block header %}
    {{ 'agenda.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('planning_index',{annee:user_data.departement.optAnneePrevisionnel}) }}"
               class="btn btn-info btn-sm btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.planning_annuel'|trans }}"><i class="fas fa-calendar"></i></a>
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_dashboard'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if user_data.departement.optEdt == true %}
        {% if is_granted('ROLE_PERMANENT') %}
            {% if filtre == 'prof' %}
                {{ render(controller(
                    'App\\Controller\\EdtController::dashboardPersonnel', {semaine:semaine}
                )) }}
            {% elseif filtre == 'promo' %}
                {{ render(controller(
                    'App\\Controller\\EdtController::personnelSemestre', {semestre:valeur, semaine:semaine}
                )) }}
            {% endif %}
        {% elseif is_granted('ROLE_ETUDIANT') %}
            {{ render(controller(
                'App\\Controller\\EdtController::dashboardEtudiant', {semaine:semaine}
            )) }}
        {% else %}
            erreur
        {% endif %}
    {% endif %}
{% endblock %}


{% block quickViewUrl %}{% if is_granted('ROLE_PERMANENT') %}{{ path('agenda_qv') }}{% endif %}{% endblock %}
{% block sizeQv %}{% if is_granted('ROLE_PERMANENT') %}quickview-xl{% endif %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_granted('ROLE_PERMANENT') %}
        {{ encore_entry_script_tags('agenda') }}
    {% endif %}
{% endblock %}



