{% block type_chainee %}
    <fieldset class="form-group"
            {{ stimulus_controller('enquete', {
                parametres: parametres|json_encode,
                idQuestion: id,
                typeQuestionnaire: typeQuestionnaire,
                questionnaireId: questionnaire_id
            }) }}
    >
        {{ block('libelle') }}
        <div aria-describedby="quizz_question_{{ id }}_help">
            <small id="quizz_question_{{ id }}_help" class="form-text text-muted">{{ help }}</small>
        </div>
        {% for subQuestion in questionsEnfants %}
            <div class="sub-question {% if loop.index is odd %}row-striped{% endif %}">
                <div class="row">
                    <div class="col-sm-12 col-md-12 sub-question-titre">
                        # {{ subQuestion.libelle }}
                    </div>

                    {% if valeurs == null %}
                        {% set name = 'q'~subQuestion.id %}
                    {% else %}
                        {% set name = 'q'~subQuestion.id~'_c'~valeurs[ordre] %}
                    {% endif %}
                    {% for reponse in reponses %}
                        <div class="col-sm-12 col-md-2">
                            <div class="form-check">
                                <input type="radio" id="quizz_question_qcu_{{ name }}_{{ reponse.id }}"
                                       name="quizz_question_reponses_{{ name }}"
                                       data-action="change->enquete#change"
                                       data-fieldset="{{ id }}"
                                       data-typeQuestionnaire="radio" {# todo: pourrait être autre chose... #}
                                        {% if apercu is not defined or apercu == false %}
                                            data-etudiant="{{ etudiant_id }}"
                                        {% endif %}
                                        {% if reponseEtudiant != null and
                                            reponseEtudiant.valeur == reponse.valeur %}checked{% endif %}
                                        {% if obligatoire %}required{% endif %}
                                       class="form-check-input"
                                       value="{{ reponse.valeur }}">
                                <label class="form-check-label required" for="quizz_question_qcu_{{ name }}_{{ reponse.id }}">{{ reponse.libelle }}</label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </fieldset>
{% endblock %}
{% block type_echelle %}
    <fieldset class="form-group mt-2" {% if visible == false %}style="display:none"{% endif %}
            {{ stimulus_controller('enquete', {
                parametres: parametres|json_encode,
                idQuestion: id,
                typeQuestionnaire: typeQuestionnaire,
                questionnaireId: questionnaire_id
            }) }}
              data-action="enquete:change-value->enquete#updateQuestion"
              id="field_{{ id }}">
        {{ block('libelle') }}
        <div aria-describedby="quizz_question_{{ id }}_help">
            <small id="quizz_question_{{ id }}_help" class="form-text text-muted">{{ help }}</small>
        </div>
        <div class="row">
            {{ block('liste_reponses') }}
        </div>
    </fieldset>
{% endblock %}

{% block type_libre %}
    <fieldset class="form-group mt-2" {% if visible == false %}style="display:none"{% endif %}
            {{ stimulus_controller('enquete', {
                parametres: parametres|json_encode,
                idQuestion: id,
                typeQuestionnaire: typeQuestionnaire,
                questionnaireId: questionnaire_id
            }) }}
              data-action="enquete:change-value@window->enquete#updateQuestion"
              id="field_{{ id }}">
        {{ block('libelle') }}

        <div aria-describedby="quizz_question_{{ id }}_help">
            <small id="quizz_question_{{ id }}_help" class="form-text text-muted">{{ help }}</small>
        </div>
        <div class="mb-3">
            <label class="form-label {% if obligatoire %}required{% endif %}"
                   for="quizz_question_text_{{ name }}">Votre réponse</label>
            <textarea id="quizz_question_text_{{ name }}"
                      name="quizz_question_text_{{ name }}"
                      data-action="change->enquete#onTextAreaChange"
                      data-typeQuestionnaire="{{ type_question }}"
                     {% if apercu is not defined or apercu == false %}
                         data-etudiant="{{ etudiant_id }}"
                     {% endif %}
                    {% if obligatoire %}required{% endif %}
         class="form-control
">{% if reponseEtudiant != null %}{{ reponseEtudiant.valeur }}{% endif %}</textarea>
            <div class="form-control-feedback"></div>
        </div>
    </fieldset>
{% endblock %}

{% block type_oui_non %}
    <fieldset class="form-group mt-2" {% if visible == false %}style="display:none"{% endif %}
            {{ stimulus_controller('enquete', {
                parametres: parametres|json_encode,
                idQuestion: id,
                typeQuestionnaire: typeQuestionnaire,
                questionnaireId: questionnaire_id
            }) }}
              data-action="enquete:change-value->enquete#updateQuestion"
              id="field_{{ id }}">
        {{ block('libelle') }}
        <div aria-describedby="quizz_question_{{ id }}_help">
            <small id="quizz_question_{{ id }}_help" class="form-text text-muted">{{ help }}</small>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="form-check">
                    <input type="radio" id="quizz_question_qcu_{{ name }}_{{ reponse.id }}"
                           name="quizz_question_reponses_{{ name }}"
                           data-typeQuestionnaire="{{ type_question }}"
                           data-action="change->enquete#change"
                            {% if apercu is not defined or apercu == false %}
                                data-etudiant="{{ etudiant_id }}"
                            {% endif %}
                            {% if reponseEtudiant != null and
                                reponseEtudiant.valeur == reponse.valeur %}checked{% endif %}
                            {% if obligatoire %}required{% endif %}
                           class="form-check-input  {% if apercu is not defined or apercu == false %}questionQualite{% endif %}"
                           value="{{ reponse.valeur }}">
                    <label class="form-check-label required" for="quizz_question_qcu_{{ name }}_{{ reponse.id }}">{{ reponse.libelle }}</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-check">
                    <input type="radio" id="quizz_question_qcu_{{ name }}_{{ reponse.id }}"
                           name="quizz_question_reponses_{{ name }}"
                           data-action="change->enquete#change"
                           data-typeQuestionnaire="{{ type_question }}"
                            {% if apercu is not defined or apercu == false %}
                                data-etudiant="{{ etudiant_id }}"
                            {% endif %}
                            {% if reponseEtudiant != null and
                                reponseEtudiant.valeur == reponse.valeur %}checked{% endif %}
                            {% if obligatoire %}required{% endif %}
                           class="form-check-input  {% if apercu is not defined or apercu == false %}questionQualite{% endif %}"
                           value="{{ reponse.valeur }}">
                    <label class="form-check-label required" for="quizz_question_qcu_{{ name }}_{{ reponse.id }}">{{ reponse.libelle }}</label>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block type_qcm %}
    <fieldset class="form-group mt-2" {% if visible == false %}style="display:none"{% endif %}
            {{ stimulus_controller('enquete', {
                parametres: parametres|json_encode,
                idQuestion: id,
                typeQuestionnaire: typeQuestionnaire,
                questionnaireId: questionnaire_id
            }) }}
              data-action="enquete:change-value->enquete#updateQuestion"
              id="field_{{ id }}"
    >
        {{ block('libelle') }}
        <div aria-describedby="quizz_question_{{ id }}_help">
            <small id="quizz_question_{{ id }}_help" class="form-text text-muted">{{ help }}</small>
        </div>
        <div class="row">
            {{ block('liste_reponses') }}
        </div>
    </fieldset>
{% endblock %}

{% block type_qcu %}
    <fieldset class="form-group mt-2"
              {% if visible == false %}style="display:none"{% endif %}
              id="field_{{ id }}"
            {{ stimulus_controller('enquete', {
                parametres: parametres|json_encode,
                idQuestion: id,
                typeQuestionnaire: typeQuestionnaire,
                questionnaireId: questionnaire_id
            }) }}
              data-action="enquete:change-value@window->enquete#updateQuestion"
    >
        {{ block('libelle') }}
        <div aria-describedby="quizz_question_{{ id }}_help">
            <small id="quizz_question_{{ id }}_help" class="form-text text-muted">{{ help }}</small>
        </div>
        <div class="row">
            {{ block('liste_reponses') }}
        </div>
    </fieldset>
{% endblock %}

{% block libelle %}
    <legend class="col-form-label {% if obligatoire %}required{% endif %}"><strong>{{ numero }}</strong>.
        {% if config is null %}
            {{ libelle }}
        {% else %}
            {{ libelle|personnalise(config) }}
        {% endif %}
    </legend>
{% endblock %}

{% block liste_reponses %}
    {% for reponse in reponses %}
        <div class="col-sm-12 col-md-2">
            <div class="form-check">
                <input type="{{ type_question }}" id="quizz_question_qcu_{{ name }}_{{ reponse.id }}"
                       name="quizz_question_reponses_{{ name }}"
                       data-action="change->enquete#change"
                       data-fieldset="{{ id }}"
                       data-typeQuestionnaire="{{ type_question }}"
                        {% if apercu is not defined or apercu == false %}
                            data-etudiant="{{ etudiant_id }}"
                        {% endif %}
                        {% if reponseEtudiant != null and
                            reponseEtudiant.valeur == reponse.valeur %}checked{% endif %}
                        {% if obligatoire %}required{% endif %}
                       class="form-check-input"
                       value="{{ reponse.valeur }}">
                <label class="form-check-label required" for="quizz_question_qcu_{{ name }}_{{ reponse.id }}">{{ reponse.libelle }}</label>
                {% if reponse.valeur == "CHX:OTHER" %}
                    <input type="text" id="quizz_question_qcm_autre_{{ name }}_{{ reponse.id }}"
                           name="quizz_question_reponses_{{ name }}_autre"
                           data-typeQuestionnaire="{{ type_question }}"
                           data-action="change->enquete#onTextAreaChange"
                            {% if mode is defined or mode == false %}
                                data-etudiant="{{ etudiant_id }}"
                            {% endif %}
                           class="form-control"
                            {% if reponseEtudiant != null and reponseEtudiant.valeur == 'CHX:OTHER' %}
                                value="{{ reponseEtudiant.complementValeur }}"
                            {% endif %}
                    >
                {% endif %}
            </div>
            <div class="form-control-feedback"></div>
        </div>
    {% endfor %}
{% endblock %}
