<h3>...Questionnaire...</h3>{# todo: doit être paramétrable ? #}
{% if questionnaire.options.mode == constant('App\\Components\\Questionnaire\\DTO\\AbstractQuestionnaire::MODE_APERCU') %}
<div class="alert alert-info mt-2 mb-2">
    Le questionnaire est en <strong>mode Aperçu</strong>. Aucune réponse n'est sauvegardée.
</div>
{% endif %}
<form {{ stimulus_controller('wizard', {
    url: url,
    step: 0,
    etudiant: etudiant,
    questionnaire: questionnaire.questionnaire.id,
    maxStep: sections|length-1 }) }}>
    <input type="hidden" value="{{ id }}" id="questionnaire">
    <ul class="nav nav-process nav-process-circle">
        {% for section in sections %}
            <li class="nav-item {% if loop.first %}processing{% endif %}" data-step="{{ loop.index0 }}">
                <span class="nav-title">Section #{{ section.ordre }}</span>
                <a class="nav-link {% if loop.first %}active{% endif %}" href="#"
                   {% if questionnaire.options.mode == constant('App\\Components\\Questionnaire\\DTO\\AbstractQuestionnaire::MODE_APERCU') %}
                   data-action="wizard#step"
                   data-step="{{ loop.index0 }}"
                   {% endif %}
                ></a>
            </li>
        {% endfor %}
    </ul>

    <div data-wizard-target="page">
        ... chargement ...
    </div>

    <div class="flexbox mt-2">
        <button class="btn btn-secondary" data-action="wizard#prev" id="prev-button">
            <i class="fas fa-left"></i> Précédent
        </button>
        <button class="btn btn-secondary" data-action="wizard#next" id="next-button">
            Suivant <i class="fas fa-right"></i>
        </button>
        <a class="btn btn-primary d-none"  id="finish-button" href="{{ urlEnd }}">
            Terminer
        </a>
    </div>
</form>
