{% extends 'base.html.twig' %}

{% block header %}
    {{ 'application.votre.previsionnel.chronologique.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_index',{onglet:'previsionnel'}) }}" class="btn btn-primary btn-float"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_applications'|trans }}"><i class="fas
               fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_applications'|trans }}</span></a>
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_dashboard'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>

            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <header class="card-header">
            <h4 class="card-title"><strong>{{ 'service.chronologique.heading'|trans }}</strong>
                | {{ user_data.user.display }} | ({{ 'periode'|trans }}
                : {{ user_data.departement.optAnneePrevisionnel }})</h4>
            <ul class="card-controls">
                <li class="dropdown">
                    <a data-bs-toggle="dropdown" href="#"><i class="fas fa-ellipsis-h rotate-90"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-file-export"></i> {{ 'export'|trans }}</a>
                    </div>
                </li>
            </ul>
        </header>

        <div class="card-body">
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th>{{ 'table.date'|trans }}</th>
                    <th>{{ 'table.jour'|trans }}</th>
                    <th>{{ 'table.heure'|trans }}</th>
                    <th>{{ 'table.matiere'|trans }}</th>
                    <th>{{ 'table.type_cours'|trans }}</th>
                    <th>{{ 'table.groupe'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for cours in chronologique %}
                    <tr class="previ{{ cours.type_cours|lower }}">
                        <td>{{ cours.date }}</td>
                        <td>{{ cours.jour }}</td>
                        <td>{{ cours.heure }}</td>
                        <td>
                            {{ matieres[cours.typeIdMatiere] is defined ? matieres[cours.typeIdMatiere].display :
                            '-Matière inconnue-' }}
                        </td>
                        <td>{{ cours.type_cours }}</td>
                        <td>{{ cours.groupe }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

