<div class="card">
    <header class="card-header">
        <h4 class="card-title"><strong>{{ 'service.previsionnel.heading'|trans }}</strong> | {{ personnel.display }}
                                                                                           | ({{ 'periode'|trans }}
                                                                                           : {{ anneePrevisionnel }}
                                                                                           )</h4>
        <ul class="card-controls">
            <li class="dropdown">
                <a data-bs-toggle="dropdown" href="#"><i class="fas fa-ellipsis-h rotate-90"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item"
                       title="{{ 'atitle.service_chronologique'|trans }}"
                       href="{{ path('previsionnel_chronologique') }}">
                        <i class="fas fa-bell"></i> {{ 'chronologique'|trans }}</a>
                    <a href="{{ path('application_personnel_previsionnel_export', {_format:'pdf'}) }}"
                       class="dropdown-item"><i class="fa fa-file-pdf"></i> {{ 'exporter.pdf'|trans }}</a>
                    <a href="{{ path('application_personnel_previsionnel_export', {_format:'xlsx'}) }}"
                       class="dropdown-item"><i class="fa fa-file-excel"></i>
                        {{ 'exporter.xls'|trans }}</a>
                    <a href="{{ path('application_personnel_previsionnel_export', {_format:'csv'}) }}"
                       class="dropdown-item"><i class="fa fa-file-csv"></i> {{ 'exporter.csv'|trans }}</a>
                </div>
            </li>
        </ul>
    </header>

    <div class="card-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            {% for semestre in semestres %}
                <li class="nav-item">
                    <a class="nav-link {% if loop.first %} active{% endif %}" data-bs-toggle="tab"
                       href="#semestre{{ semestre.id }}">{{ semestre.libelle }}</a>
                </li>
            {% endfor %}
            {# feature: devrait afficher les semestres dans lesquels ont intervient ? Que faire si année de prévi
                différente ? Possibilité de changer l'année pour l'enseignant. #}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            {% for semestre in semestres %}
                <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="semestre{{ semestre.id }}">
                    {{ include('bloc_previsionnel/_previ_semestre.html.twig') }}

                    <div class="alert alert-info">* CM non majorés; ** CM majorés, TP=TD.
                                                  Information indicative !
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {{ include('bloc_previsionnel/hrs.html.twig') }}

    {{ include('bloc_previsionnel/total.html.twig') }}



{{ include('composants/fab-buttons.html.twig', {boutons:[
    {type: 'info',
        href: path('application_personnel_previsionnel_export', {_format:'pdf'}),
        title: 'exporter.pdf'|trans,
        icone : "fa fa-file-pdf"
    },
    {
        type:'info',
        href:path('application_personnel_previsionnel_export', {_format:'csv'}),
        title: 'exporter.csv'|trans,
        icone: 'fa fa-file-csv'
    },
    {
        type:'info',
        href:path('application_personnel_previsionnel_export', {_format:'xlsx'}),
        title: 'exporter.xls'|trans,
        icone: 'fa fa-file-excel'
    },
    {
        type:'info',
        href:path('help_article', {sujet: 'personnel_previsionnel'}),
        title: 'aide'|trans,
        icone: 'fa fa-question'
    },
    {type: 'info',
        href: path('previsionnel_chronologique'),
        title: 'chronologique'|trans,
        icone : "fas fa-clock"}
]}) }}
