<table class="table table-bordered">
    <tr>
        <th style="width: 25%">Nom de la ressource</th>
        <td style="width: 25%" colspan="2">{{ apc_ressource.libelle }}</td>
        <th style="width: 25%">Code</th>
        <td style="width: 25%">{{ apc_ressource.codeMatiere }}</td>
    </tr>
    <tr>
        <th>Semestre</th>
        <td colspan="4">{{ apc_ressource.semestre != null ? apc_ressource.semestre.display : 'non.defini'|trans }}</td>
    </tr>
    <tr>
        <th>
            Compétence(s) ciblée(s)
        </th>
        <td colspan="4">
            {% for competence in apc_ressource.apcRessourceCompetences|filter(competence => competence.competence !=
                null) %}
                <span class="badge badge-lg badge-{{ competence.competence.couleur }}"
                      data-bs-toggle="tooltip" data-bs-placement="bottom"
                      title="{{ competence.competence.libelle }}">
                    {{ competence.competence.nomCourt }}
                </span>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>
            Apprentissages critiques
        </th>
        <td colspan="4">
            {% for ac in apc_ressource.apcRessourceApprentissageCritiques|filter(ac => ac.apprentissageCritique !=
                null) %}
                <span class="badge badge-lg badge-{{ ac.apprentissageCritique.niveau.competence.couleur }}"
                      data-bs-toggle="tooltip" data-bs-placement="bottom"
                      title="{{ ac.apprentissageCritique.libelle }}">
                    {{ ac.apprentissageCritique.code }}</span>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <th>SAÉ concernée(s)</th>
        <td colspan="4">
            {% for sae in apc_ressource.apcSaeRessources|filter(sae => sae.sae !=
                null) %}
                <span class="badge badge-lg bg-primary"
                      data-bs-toggle="tooltip" data-bs-placement="bottom"
                      title="{{ sae.sae.libelle }}"
                >{{ sae.sae.codeMatiere }}</span>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Prérequis</th>
        <td colspan="4">{{ apc_ressource.preRequis|nl2br }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td colspan="4">{{ apc_ressource.description != null ? apc_ressource.description|markdown_to_html : '' }}</td>
    </tr>
    <tr>
        <th>Mots clés</th>
        <td colspan="4">{{ apc_ressource.motsCles|keyWords }}</td>
    </tr>
    <tr>
        <th rowspan="2">Heures Programme National</th>
        <th class="text-center" colspan="2">Heures CM/TD**</th>
        <th class="text-center">Heures TP</th>
        <th class="text-center">Total</th>
    </tr>
    <tr>
        <th class="text-center" colspan="2">{{ apc_ressource.cmPpn + apc_ressource.tdPpn }}</th>
        <th class="text-center">{{ apc_ressource.tpPpn }}</th>
        <th class="text-center">{{ apc_ressource.cmPpn + apc_ressource.tdPpn + apc_ressource.tpPpn }}</th>
    </tr>
    <tr>
        <th rowspan="2">Heures de formation ({{ settings('NOM_IUT') }}*)</th>
        <th class="text-center">Heures CM</th>
        <th class="text-center">Heures TD</th>
        <th class="text-center">Heures TP</th>
        <th class="text-center">Total</th>
    </tr>
    <tr>
        <th class="text-center">{{ apc_ressource.cmFormation }}</th>
        <th class="text-center">{{ apc_ressource.tdFormation }}</th>
        <th class="text-center">{{ apc_ressource.tpFormation }}</th>
        <th class="text-center">{{ apc_ressource.cmFormation + apc_ressource.tdFormation + apc_ressource.tpFormation }}</th>
    </tr>
</table>
