<table class="table {% if ressources|length>0 %}table-striped{% endif %} table-bordered"
       id="tab_semestre{{ semestre.id }}"
>
    <thead>
    <tr>
        <th>{{ 'table.code_ressource'|trans }}</th>
        <th>{{ 'table.code_element'|trans }}</th>
        <th>{{ 'table.libelle'|trans }}</th>
        <th>{{ 'table.cm'|trans }}</th>
        <th>{{ 'table.td'|trans }}</th>
        <th>{{ 'table.tp'|trans }}</th>
        <th>{{ 'table.nb_notes'|trans }}</th>
        <th>{{ 'table.suspendu'|trans }}</th>
        <th>{{ 'table.actions'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for ressource in ressources|filter(ressource => ressource.semestre.id == semestre.id) %}
        <tr {% if ressource.suspendu == true %}class="bg-pale-warning"{% endif %}>
            <td>{{ ressource.codeMatiere }}</td>
            <td>{{ ressource.codeElement }}</td>
            <td>{{ ressource.libelle }}</td>
            <td>
                <a class="myedit"
                   data-field="CmPpn"
                   href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   data-title="Corriger le volume horaire">
                    {{ ressource.cmPpn }}</a> |
                <a class="myedit"
                   data-field="CmFormation"
                   href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   data-title="Corriger le volume horaire">
                    {{ ressource.cmFormation }}</a>
            </td>
            <td>
                <a class="myedit"
                   data-field="TdPpn"
                   href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   data-title="Corriger le volume horaire">
                    {{ ressource.tdPpn }}</a> |
                <a class="myedit"
                   data-field="TdFormation"
                   href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   data-title="Corriger le volume horaire">
                    {{ ressource.tdFormation }}</a>
            </td>
            <td>
                <a class="myedit"
                   data-field="TpPpn"
                   href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   data-title="Corriger le volume horaire">
                    {{ ressource.tpPpn }}</a> |
                <a class="myedit"
                   data-field="TpFormation"
                   href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   data-title="Corriger le volume horaire">
                    {{ ressource.tpFormation }}</a>
            </td>
            <td>
                <a class="myedit"
                   data-field="NbNotes"
                   href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   data-title="Corriger le nombre de notes">
                    {{ ressource.nbNotes }}</a></td>
            <td>{{ ressource.suspendu ? 'Yes'|trans : 'No'|trans }}</td>
            <td>
                {% if settings('MODIFICATION_PPN') == 1 %}

                    <a href="{{ path('administration_apc_ressource_duplicate', {'id': ressource.id}) }}"
                       class="btn btn-success btn-outline btn-square"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"

                       title="{{ 'atitle.dupliquer'|trans }}">
                        <i class="{{ iconDuplicate }}"></i>
                        <span class="sr-only">{{ 'atitle.dupliquer'|trans }}</span>
                    </a>

                {% endif %}
                <a href="{{ path('administration_apc_ressource_show', {'id': ressource.id}) }}"
                   class="btn btn-info btn-outline btn-square"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"

                   title="{{ 'atitle.details'|trans }}">
                    <i class="{{ iconShow }}"></i>
                    <span class="sr-only">{{ 'atitle.details'|trans }}</span>
                </a>
                {% if settings('MODIFICATION_PPN') == 1 %}

                    <a href="{{ path('administration_apc_ressource_edit', {'id': ressource.id}) }}"
                       class="btn btn-warning btn-outline btn-square"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"

                       title="{{ 'atitle.modifier'|trans }}">
                        <i class="{{ iconEdit }}"></i>
                        <span class="sr-only">{{ 'atitle.modifier'|trans }}</span>
                    </a>
                    <a href="{{ path('administration_apc_ressource_delete', {id: ressource.id}) }}"
                       data-csrf="{{ csrf_token('delete' ~ ressource.id) }}"
                       class="btn btn-danger btn-outline btn-square supprimer"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"

                       title="{{ 'atitle.supprimer'|trans }}">
                        <i class="{{ iconDelete }}"></i>
                        <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr class="bg-pale-warning">
            <td colspan="12">{{ 'no.record.found'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
