{% extends 'base.html.twig' %}

{% block header %}{{ 'administration.note.saisie.titre'|trans }} | <strong>{{ matiere.display }}</strong>{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestresActifs %}
            <a href="{{ path('administration_notes_semestre_index', {semestre:sem.id}) }}"
               class="btn btn-round {% if sem.id == matiere.semestre.id %}btn-primary{% endif %}"
               title="{{ 'atitle.changer.semestre'|trans }}"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_notes_semestre_index', {semestre:matiere.semestre.id}) }}"
               class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'administration.note.saisie.titre'|trans }} | <strong>{{ matiere.display }}</strong>
        </h4>
        <div class="card-body">
            {{ include('composants/_saisie_eval.html.twig') }}
        </div>
    </div>
{% endblock %}


