{% extends 'base.html.twig' %}

{% block header %}
    {{ 'administration.evaluation.details.heading'|trans }}
{% endblock %}


{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestresActifs %}
            <a href="{{ path('administration_notes_semestre_index', {semestre:sem.id}) }}"
               class="btn btn-round {% if sem.id == matiere.semestre.id %}btn-primary{% endif %}"
               title="{{ 'atitle.changer.semestre'|trans }}"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_notes_semestre_index', {semestre:matiere.semestre.id}) }}"
               class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="card card-slided-up">
        <header class="card-header">
            <h4 class="card-title"><strong>Détails</strong> de l'évaluation | {{ matiere.display }}
                                                            | {{ evaluation.libelle }}</h4>
            <ul class="card-controls">
                <li><a class="card-btn-slide btn-warning text-white" href="#" title="Plus de détails et modifications"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom">
                        <i class="{{ iconEdit }}"></i> Cliquez pour éditer l'évaluation <i class="fas
                        fa-chevron-down"></i>
                    </a></li>
            </ul>
        </header>
        <div class="card-content">
            <div class="card-body">
                {{ render_esi(controller(
                    'App\\Controller\\composants\\NoteController::editFormEvaluation', {evaluation: evaluation.id,
                        source:'admin', autorise:true}
                )) }}
            </div>
        </div>
    </div>

    <div class="card">
        <h4 class="card-title"><strong>Saisie</strong> des notes | {{ matiere.display }} | {{ evaluation.libelle }}
        </h4>
        <div class="card-body">
            {{ include('composants/_saisie_notes.html.twig') }}
        </div>
    </div>

    <div class="card">
        <h4 class="card-title"><strong>Répartition</strong> des notes | Evaluation : {{ evaluation.libelle }}
        </h4>
        <div class="card-body">
            {{ render_esi(controller(
                'App\\Controller\\GraphiqueController::evaluation', {
                    evaluation: evaluation.id
                }
            )) }}
            <canvas id="graphEval_{{ evaluation.id }}"></canvas>
        </div>
    </div>
{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('notes') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('notes') }}
    {% endblock %}

    {% block fabactions %}
        {{ include('composants/fab-buttons.html.twig', {boutons:[
            {type: 'info',
                href: path('administration_evaluation_export', {_format:'pdf', uuid: evaluation.uuidString}),
                title: 'exporter.pdf'|trans,
                id: 'export_pdf',
                icone : "fa fa-file-pdf"
            },
            {
                type:'info',
                href:path('administration_evaluation_export', {_format:'csv', uuid: evaluation.uuidString}),
                title: 'exporter.csv'|trans,
                id: 'export_csv',
                icone: 'fa fa-file-csv'
            },
            {
                type:'info',
                href:path('administration_evaluation_export', {_format:'xlsx', uuid: evaluation.uuidString}),
                title: 'exporter.xls'|trans,
                id: 'export_xlsx',
                icone: 'fa fa-file-excel'
            },
            {
                type:'info',
                href:path('help_article', {sujet: 'administration_evaluation'}),
                title: 'aide'|trans,
                icone: 'fas fa-question',
                target: '_blank'
            }
        ]}) }}
    {% endblock %}
