<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'heading.edt.dashboard'|trans }}</h4>
    </header>
    <div class="card-body">
        <div class="alert alert-warning">
            Emploi du temps inaccessible pour le moment.
            Vous n'êtes pas encore affecté dans un semestre/groupe ou l'affichage de l'emploi du temps est désactivé.
        </div>
    </div>
</div>
