<div class="card">
    <header class="card-header">
        <h4 class="card-title">
            {{ 'heading.edt.dashboard'|trans }} | {{ user_data.user.displayPr }} |
                                                Semaine {{ edt.semaine }}
                                                (semaine formation {{ edt.semaineFormation }})
        </h4>
        <div class="card-header-actions">
            <ul class="card-controls">
                <li class="dropdown">
                    <a data-bs-toggle="dropdown" href="#">
                        <i class="fas fa-ellipsis-h rotate-90"
                           data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="Options d'export ou de synchronisation"></i>
                        <span class="sr-only">Options d'export ou de synchronisation</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#"
                                {{ stimulus_controller('modal', {
                                    modalTitle: 'edt.intervenant.synchro.ical.heading'|trans,
                                    modalUrl:  path('edt_affiche_ical') }) }}
                           data-action="click->modal#openModal"
                           data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="{{ 'atitle.lien_ical'|trans }}"
                           class="dropdown-item">
                            <i class="fas fa-file-export"></i>
                            {{ 'edt.intervenant.synchro.ical'|trans }}
                        </a>
                        <a class="dropdown-item" href="{{ path('previsionnel_chronologique') }}"
                           title="{{ 'atitle.service_chronologique'|trans }}"
                        >
                            <i class="fas fa-bell"></i>
                            {{ 'chronologique'|trans }}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="card-body" {{ stimulus_controller('edt-personnel', {
        urlCarnetDeBord: path('application_personnel_absence_ajax_pas_absent'),
        urlPasDAbsent: path('application_personnel_absence_ajax_pas_absent')
    }) }}>
        {{ include('edt/_navpersonnel.html.twig') }}
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="schedule-individual" aria-labelledby="schedule-heading">
                    {{ include('edt/_header_edt2.html.twig') }}
                    {% for ligne in 0..24 %}
                        <h2 class="time-slot" style="grid-row: time-{{ tabHeures[ligne][0] }};">{{ tabHeures[ligne][1] }}</h2>
                        {% for j in 1..5 %}
                            {% if edt.planning[j][ligne] is defined %}
                                <div class="session {{ edt.planning[j][ligne].classCss }}" style="grid-column: track-{{ j }}; grid-row:
                                        time-{{ edt
                                .planning[j][ligne].gridStart }} / time-{{ edt.planning[j][ligne].gridEnd }};">
                                    <div class="session-body">
                                        <a href="{{ path('application_personnel_absence_from_planning',{
                                            'event':edt.planning[j][ligne].id,
                                            'source': edt.planning[j][ligne].source }) }}">
                                            <span class="session-title">{{ edt.planning[j][ligne].matiere|raw }}</span>
                                            <span class="session-time">{{ edt.planning[j][ligne].heureDebut|format_time('short') }} - {{ edt
                                                .planning[j][ligne].heureFin|format_time('short') }}</span>
                                            <span class="session-track">{{ edt.planning[j][ligne].groupe }}</span>
                                            <span class="session-room">{{ edt.planning[j][ligne].salle }}</span>
                                        </a>
                                    </div>
                                    <div class="session-footer">
                                        <div class="row no-gutters ">
                                            <div class="col-4 d-grid d-block">
                                                <a href="#" class="btn btn-purple no-radius"
                                                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                   data-action="edt-personnel#btnCahierTexte"
                                                   title="Cahier de texte enseignant">
                                                    <i class="fas fa-book-open"></i>
                                                </a>
                                            </div>
                                            <div class="col-4 d-grid d-block">
                                                <a href="#" class="btn btn-warning no-radius"
                                                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                   data-action="edt-personnel#btnPasAbsent"
                                                   data-event="intranet_{{ edt.planning[j][ligne].id }}" {# todo : gérer
                                        _intranet _celcat _... autre comme pour matière ?? #}
                                                   title="Appel fait, pas d'absents">
                                                    <i class="fas fa-users-slash"></i>
                                                </a>
                                            </div>
                                            <div class="col-4 d-grid d-block">
                                                <a href="#" class="btn btn-danger no-radius" data-bs-toggle="tooltip"
                                                   data-edt-personnel-target="etatAppel"
                                                   data-bs-placement="bottom" title="Appel fait">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                                {# <a href="" class="btn btn-block btn-success no-radius"> #}
                                                {# <i class="fas fa-check"></i> #}
                                                {# </a> #}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
