<div class="row">
    <div class="col-md-3 col-sm-12 mt-2 ">
        <label for="semaine" class="sr-only">Choisir la semaine</label>
        <select class="form-select"
                id="semaine"
        >
            <option value="">Choisir une semaine</option>
            {% for sem in edt.semaines %}
                <option value="{{ edt.filtre }}_{{ edt.valeur }}_{{ sem.semaineReelle }}">
                    du {{ sem.debut|format_date('short') }} au {{ sem.fin|format_date('short') }} | S{{ sem
                    .semaineIUT }}</option>
            {% endfor %}

        </select>
    </div>
    <div class="col-md-6 col-sm-12 mt-2 d-grid d-block">
        <div class="btn-group hide-on-large">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Semestres
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                {% for sem in user_data.semestresActifs %}
                        <a class="dropdown-item" href="{{ path('agenda_index',{filtre:'promo',valeur:sem.id,semaine:edt.semaine}) }}">{{ sem.libelle }}</a>
                    {% endfor %}
                </div>
            <a class="btn {% if edt.filtre=='prof' %} btn-primary{% else %}btn-secondary{% endif %}"
               href="{{ path('agenda_index',{filtre:'prof',valeur:user_data.user.id,semaine:edt.semaine}) }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Votre emploi du temps">Perso.</a>
        </div>
        <div class="btn-group hide-on-small">
            {% for sem in user_data.semestresActifs %}
                <a class="btn {% if filtre == 'promo' and semestre.id==sem.id %}btn-primary{% else %}btn-secondary{% endif %}"
                   href="{{ path('agenda_index',{filtre:'promo',valeur:sem.id,semaine:edt.semaine}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Emploi du temps du semestre {{ sem.libelle }}">{{ sem.libelle }}</a>
            {% endfor %}
            <a class="btn {% if edt.filtre=='prof' %} btn-primary{% else %}btn-secondary{% endif %}"
               href="{{ path('agenda_index',{filtre:'prof',valeur:user_data.user.id,semaine:edt.semaine}) }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Votre emploi du temps">Perso.</a>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 mt-2 d-grid d-block">
        <div class="btn-group">
            <a class="btn btn-primary w-25" href="{{ path('agenda_index',{filtre:filtre,valeur:valeur,semaine:edt
            .semainePrecedente}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Semaine précédente"><i
                        class="fa fa-caret-left"></i><span class="sr-only">Semaine précédente</span></a>
            <a class="btn btn-secondary" href="{{ path('agenda_index', {semaine:'now'|date('W')}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cette semaine"><i class="fa
	fa-calendar"></i> Semaine</a>
            <a class="btn btn-primary w-25" href="{{ path('agenda_index',{filtre:filtre,valeur:valeur,semaine:edt
            .semaineSuivante}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Semaine suivante"><i
                        class="fa fa-caret-right"></i><span class="sr-only">Semaine suivante</span></a>
        </div>
    </div>
    <div class="col-sm-12  mt-2 d-grid d-block">
        <div class="btn-group hide-on-large">
            <a class="btn btn-primary w-25" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jour précédent"
               id="jourPrecedent">
                <i class="fa fa-caret-left"></i><span class="sr-only">Jour précédent</span>
            </a>
            <a class="btn btn-secondary" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="Aujourd'hui" id="jourCourant">
                <i class="fa fa-calendar"></i> Aujourd'hui
            </a>
            <a class="btn btn-primary w-25" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jour suivant" id="jourSuivant">
                <i class="fa fa-caret-right"></i><span class="sr-only">Jour suivant</span>
            </a>
        </div>
    </div>
</div>
