<div class="col-sm-12">
    <div class="card">
        <header class="card-header">
            <h4 class="card-title">{{ 'heading.edt.dashboard'|trans }} | {{ user_data.user.displayPr }} | Semaine {{ edt.semaine }}
                (semaine formation {{ edt.semaineFormation }})</h4>
        </header>
        <div class="card-body">

        </div>
    </div>
</div>

