<p>Vous trouverez ci-dessous un lien permettant une synchronisation automatique avec votre logiciel d'agenda. Le
   format est ics.</p>

<label for="lienIcal">Lien Ical</label>
<div
        data-controller="clipboard"
        data-clipboard-success-content="Copié !"
        class="input-group"
>
    <input type="text"
           class="form-control"
           value="{{ lienIcal }}"
           data-clipboard-target="source">
    <span class="input-group-append">
        <button class="btn btn-light"
                type="button"
                data-action="clipboard#copy"
                data-clipboard-target="button">
            Copier
        </button>
      </span>
</div>
