<p>Vous trouverez ci-dessous un lien permettant une synchronisation automatique avec votre logiciel d'agenda. Le
   format est ics.</p>

<label for="lienIcal">Lien Ical</label>
<div class="input-group">
    <input type="text" class="form-control" value="{{ lienIcal }}" id="lienIcal">
    <span class="input-group-append">
        <button class="btn btn-light" type="button" id="copyLink">Copier</button>
      </span>
</div>
