{% deprecated 'Deprécié, Remplacé par un componsant' %}

<fieldset class="form-group" {% if question.parametre.type is defined and question.parametre.type=='condition' %}style="display:none"{% endif %} id="field_{{ question.id }}">
    {{ include('quizz_question/_libelle.html.twig') }}

    <div aria-describedby="quizz_question_{{ question.id }}_help">
        <small id="quizz_question_{{ question.id }}_help" class="form-text text-muted">{{ question.help }}</small>
    </div>
    <div class="form-group">
        <label class="form-check-label {% if question.obligatoire %}required{% endif %}"
               for="quizz_question_text_{{ name }}">Votre réponse</label>
        <textarea id="quizz_question_text_{{ name }}"
                  name="quizz_question_text_{{ name }}"
                  data-typeQuestionnaire="{{ typeQuestionnaire }}"
                  {% if apercu is not defined or apercu == false %}
                      data-etudiant="{{ etudiant.id }}"
                  {% endif %}
                {% if question.obligatoire %}required{% endif %}
        class="form-control {% if apercu is not defined or apercu == false %}questionQualiteTextArea{% endif %}">{% if
                reponses['quizz_question_text_'~name] is defined %}{{ reponses['quizz_question_text_'~name].valeur }}{% endif %}</textarea>
        <div class="form-control-feedback"></div>
    </div>
</fieldset>
{% if question.parametre.type is defined and question.parametre.type=='condition' %}
    <script>
      function changeHandler (event) {
        if (event.target.name === 'quizz_question_reponses_q{{ question.parametre.declenchement }}') {
          var valeurs = [{% for critere in question.parametre.criteres %}"{{ critere }}"{% if not loop.last %}, {% endif %}{% endfor %}]
          document.getElementById('field_{{ question.id }}').style.display = 'none'
          for (var i = 0; i < valeurs.length; i++) {
            if (event.target.value == valeurs[i]) {
              document.getElementById('field_{{ question.id }}').style.display = 'block'
            }
          }
        }
      }

      document.addEventListener('change', changeHandler, false)
    </script>
{% endif %}
