{% deprecated 'Deprécié, Remplacé par un componsant' %}

<fieldset class="form-group" {% if question.parametre.type is defined and question.parametre.type=='condition' %}style="display:none"{% endif %} id="field_{{ question.id }}">
    {{ include('quizz_question/_libelle.html.twig') }}
    <div aria-describedby="quizz_question_{{ question.id }}_help">
        <small id="quizz_question_{{ question.id }}_help" class="form-text text-muted">{{ question.help }}</small>
    </div>
    <div class="row">
        {% for reponse in question.quizzReponses %}
            <div class="col-sm-12 col-md-2">
                <div class="form-check">
                    <input type="checkbox" id="quizz_question_qcm_{{ name }}_{{ reponse.id }}"
                           name="quizz_question_reponses_{{ name }}"
                           data-typeQuestionnaire="{{ typeQuestionnaire }}"
                            {% if apercu is not defined or apercu == false %}
                                data-etudiant="{{ etudiant.id }}"
                            {% endif %}
                            {% if question.obligatoire %}required{% endif %}
                            {% if reponses['quizz_question_reponses_'~name] is defined and
                                reponses['quizz_question_reponses_'~name].valeur|has_reponse(reponse.valeur) %}
                                checked
                            {% endif %}
                            {% if question.obligatoire %}required{% endif %}
                           class="form-check-input {% if apercu is not defined or apercu == false %}questionQualite{% endif %}"
                           value="{{ reponse.valeur }}">
                    <label class="form-check-label required" for="quizz_question_qcm_{{ name }}_{{ reponse.id }}">{{ reponse.libelle }}</label>
                    {% if reponse.valeur == "CHX:OTHER" %}
                        <input type="text" id="quizz_question_qcm_autre_{{ name }}_{{ reponse.id }}"
                               name="quizz_question_reponses_{{ name }}_autre"
                               data-typeQuestionnaire="{{ typeQuestionnaire }}"
                                {% if apercu is not defined or apercu == false %}
                                    data-etudiant="{{ etudiant.id }}"
                                {% endif %}
                               class="form-control {% if apercu is not defined or apercu == false %}questionQualiteTextArea{% endif %}"
                                {% if reponses['quizz_question_reponses_'~name~'_autre'] is defined %}
                                    value="{{ reponses['quizz_question_reponses_'~name~'_autre'].valeur }}"
                                {% endif %}
                        >
                    {% endif %}
                </div>
            </div>
            <div class="form-control-feedback"></div>
        {% endfor %}
    </div>
</fieldset>

{% if question.parametre.type is defined and question.parametre.type=='condition' %}
    <script>
      function changeHandler (event) {
        if (event.target.name === 'quizz_question_q{{ question.parametre.declenchement }}') {
          console.log(event.target.value)
          var valeurs = [{% for critere in question.parametre.criteres %}"{{ critere }}"{% if not loop.last %}, {% endif %}{% endfor %}]
          console.log(valeurs)
          document.getElementById('field_{{ question.id }}').style.display = 'none'
          for (var i = 0; i < valeurs.length; i++) {
            if (event.target.value == valeurs[i]) {
              document.getElementById('field_{{ question.id }}').style.display = 'block'
            }
          }
        }
      }

      document.addEventListener('change', changeHandler, false)
    </script>
{% endif %}
