{% deprecated 'Deprécié, Remplacé par un componsant' %}

<fieldset class="form-group" {% if question.parametre.type is defined and question.parametre.type=='condition' %}style="display:none"{% endif %} id="field_{{ question.id }}">
    {{ include('quizz_question/_libelle.html.twig') }}
    <div aria-describedby="quizz_question_{{ question.id }}_help">
        <small id="quizz_question_{{ question.id }}_help" class="form-text text-muted">{{ question.help }}</small>
    </div>
    <div class="row">
        {% for reponse in question.quizzReponses %}
            <div class="col-sm-12 col-md-2">
                <div class="form-check">
                    <input type="radio" id="quizz_question_qcu_{{ name }}_{{ reponse.id }}"
                           name="quizz_question_reponses_{{ name }}"
                           data-typeQuestionnaire="{{ typeQuestionnaire }}"
                            {% if apercu is not defined or apercu == false %}
                                data-etudiant="{{ etudiant.id }}"
                            {% endif %}
                            {% if reponses['quizz_question_reponses_'~name] is defined and
                                reponses['quizz_question_reponses_'~name].valeur == reponse.valeur %}checked{% endif %}
                            {% if question.obligatoire %}required{% endif %}
                           class="form-check-input  {% if apercu is not defined or apercu == false %}questionQualite{% endif %}"
                           value="{{ reponse.valeur }}">
                    <label class="form-check-label required" for="quizz_question_qcu_{{ name }}_{{ reponse.id }}">{{ reponse.libelle }}</label>
                    {% if reponse.valeur == "CHX:OTHER" %}
                        <input type="text" id="quizz_question_qcm_autre_{{ name }}_{{ reponse.id }}"
                               name="quizz_question_reponses_{{ name }}_autre"
                               data-typeQuestionnaire="{{ typeQuestionnaire }}"
                                {% if apercu is not defined or apercu == false %}
                                    data-etudiant="{{ etudiant.id }}"
                                {% endif %}
                               class="form-control {% if apercu is not defined or apercu == false %}questionQualiteTextArea{% endif %}"
                                {% if reponses['quizz_question_reponses_'~name~'_autre'] is defined %}
                                    value="{{ reponses['quizz_question_reponses_'~name~'_autre'].valeur }}"
                                {% endif %}
                        >
                    {% endif %}
                </div>
                <div class="form-control-feedback"></div>
            </div>
        {% endfor %}
    </div>
</fieldset>

{% if question.parametre.type is defined and question.parametre.type=='condition' %}
    <script>
      function changeHandler{{ question.id }} (event) {
        if (event.target.name === 'quizz_question_reponses_q{{ question.parametre.declenchement }}') {
          var valeurs = [{% for critere in question.parametre.criteres %}"{{ critere }}"{% if not loop.last %}, {% endif %}{% endfor %}]
          document.getElementById('field_{{ question.id }}').style.display = 'none'
          for (var i = 0; i < valeurs.length; i++) {
            if (event.target.value == valeurs[i]) {
              document.getElementById('field_{{ question.id }}').style.display = 'block'
            }
          }
        }
      }

      document.addEventListener('change', changeHandler{{ question.id }}, false)
    </script>
{% endif %}
{% if question.parametre is defined %}
    {% for param in question.parametre %}
        {% if param.type is defined and param.type == 'masquage' %}
            <script>
              function changeHandlerMasquage{{ question.id }}_{{ loop.index }} (event) {
                var criteres = [{% for critere in param.criteres %}"{{ critere }}"{% if not loop.last %}, {% endif %}{% endfor %}]
                console.log(criteres)
                if (event.target.name === 'quizz_question_reponses_q{{ question.id }}' && criteres.includes(event.target.value)) {
                  var questions = [{% for question in param.questions %}"{{ question }}"{% if not loop.last %}, {% endif %}{% endfor %}]
                  console.log(questions)
                  for (var i = 0; i < questions.length; i++) {
                    document.getElementById('field_' + questions[i]).style.display = 'none'
                  }
                }
              }

              document.addEventListener('change', changeHandlerMasquage{{ question.id }}_{{ loop.index }}, false)
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

