{% deprecated 'Deprécié, Remplacé par un componsant' %}

{% if config == null or config is not defined %}
    {% set config = null %}
    {% set name = 'q'~question.id %}
{% else %}
    {% set name = 'q'~question.id~'_c'~config.id %}
{% endif %}

{% if question.questionParent == null %}
    {% if question.questionsEnfants|length == 0 %}
        {% if question.type == 'qcu' or question.type == 'yesno' %}
            {{ include('quizz_question/_qcu.html.twig', {question:question, numeror:numero, name: name,
                config:config, typeQuestionnaire:typeQuestionnaire}) }}
        {% elseif question.type == 'qcm' %}
            {{ include('quizz_question/_qcm.html.twig', {question:question, numeror:numero, name: name,config:config, typeQuestionnaire:typeQuestionnaire}) }}
        {% elseif question.type == 'libre' %}
            {{ include('quizz_question/_libre.html.twig', {question:question, numeror:numero, name: name,config:config, typeQuestionnaire:typeQuestionnaire}) }}
        {% elseif question.type == 'echelle' %}
            {{ include('quizz_question/_qcu.html.twig', {question:question, numeror:numero, name: name,config:config, typeQuestionnaire:typeQuestionnaire}) }}
        {% endif %}
    {% else %}
        {{ include('quizz_question/_question_chainee.html.twig', {question:question, numeror:numero, name: name,
            config:config, typeQuestionnaire:typeQuestionnaire}) }}
    {% endif %}
{% endif %}
