{% deprecated 'Deprécié, remplacé par une gestion dans questionnaire/administration/....' %}

{% extends 'base.html.twig' %}

{% block title %}Edit QuizzQuestion{% endblock %}

{% block body %}
    <h1>Edit QuizzQuestion</h1>

    {{ include('quizz_question/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quizz_question_index') }}">back to list</a>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.articles') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.articles') }}
{% endblock %}
