{% deprecated 'Deprécié, remplacé par une gestion dans questionnaire/administration/....' %}
{% extends (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_QUALITE')) ? 'base-super_admin.html.twig' : 'base
.html.twig' %}

{% block header %}
    {{ 'quizz.question.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('quizz_question_new') }}"
               class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.creer_nouveau'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-plus"></i>
                <span class="sr-only">{{ 'atitle.creer_nouveau'|trans }}</span>
            </a>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_QUALITE') %}
                <a href="{{ path('sa_qualite_index') }}"
                   class="btn btn-primary btn-float"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"

                   title="{{ 'retour.administratif'|trans }}">
                    <i class="fas fa-home"></i>
                    <span class="sr-only">{{ 'retour.qualite'|trans }}</span>
                </a>
            {% elseif is_granted('ROLE_PERMANENT') %}
                <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.retour_dashboard'|trans }}">
                    <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'quizz.question.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-bordered">

                <thead>
                <tr>
                    <th>Libelle</th>
                    <th>Help</th>
                    <th>Type</th>
                    <th>Updated</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for quizz_question in quizz_questions %}
                    <tr>
                        <td>{{ quizz_question.libelle }}</td>
                        <td>{{ quizz_question.help }}</td>
                        <td>{{ quizz_question.type }}</td>
                        <td>{{ quizz_question.updated ? quizz_question.updated|format_datetime('long', 'short') : '' }}</td>
                        <td>
                            <a href="{{ path('quizz_question_duplicate', {'id': quizz_question.id}) }}"
                               class="btn btn-success btn-outline btn-square"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                               title="{{ 'atitle.dupliquer'|trans }}">
                                <i class="{{ iconDuplicate }}"></i>
                                <span class="sr-only">{{ 'atitle.dupliquer'|trans }}</span>
                            </a>

                            <button data-provide="modaler"
                                    data-url="{{ path('quizz_question_show', {'id': quizz_question.id}) }}"
                                    class="btn btn-info btn-outline btn-square"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    data-size="lg"
                                    title="{{ 'atitle.details'|trans }}"
                                    data-title="{{ 'quizz_question.show.heading'|trans }}"
                            >
                                <i class="{{ iconShow }}"></i>
                                <span class="sr-only">{{ 'atitle.details'|trans }}</span>
                            </button>

                            <a href="{{ path('quizz_question_edit', {'id': quizz_question.id}) }}"
                               class="btn btn-warning btn-outline btn-square"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                               title="{{ 'atitle.modifier'|trans }}">
                                <i class="{{ iconEdit }}"></i>
                                <span class="sr-only">{{ 'atitle.modifier'|trans }}</span>
                            </a>
                            <a href="{{ path('quizz_question_delete', {id: quizz_question.id}) }}"
                               data-csrf="{{ csrf_token('delete' ~ quizz_question.id) }}"
                               class="btn btn-danger btn-outline btn-square supprimer"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                               title="{{ 'atitle.supprimer'|trans }}">
                                <i class="{{ iconDelete }}"></i>
                                <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
