{% extends "pdf/basepdf.html.twig" %}

{% block content %}
    Convention de
    PROJET TUTEURE




    entre :

    l’Université de Reims Champagne-Ardenne représentée par Guillaume GELLÉ, Président de l’Université, 9
    boulevard
    de la Paix, 51097 REIMS Cedex ; la mise en application de la convention est suivie par Martial MARTIN, Directeur de l’IUT de Troyes – 9 rue de Québec CS 90396 10026 TROYES Cedex</p>

    Et

    l’Entreprise, l’organisme ou la (ou les)  personne(s) physique(s), dénommés ci-après commanditaire(s) :
    Cliquez
    ou appuyez ici pour entrer du texte.
    Commanditaire (Entreprise ou organisme) représenté(e) par : Cliquez ou appuyez ici pour entrer du texte. En qualité de :Cliquez ou appuyez ici pour entrer du texte.
    Adresse: Cliquez ou appuyez ici pour entrer du texte.
    Tél : Cliquez ou appuyez ici pour entrer du texte.
    Courriel : Cliquez ou appuyez ici pour entrer du texte.

    Article 1 : La présente convention concerne :

    Le projet tuteuré obligatoire en vue de la délivrance du diplôme :
    Cliquez ou appuyez ici pour entrer du texte.
    option : Cliquez ou appuyez ici pour entrer du texte.

    Le projet tuteuré ne constitue en aucun cas un stage. Il est placé sous la responsabilité unique de l’Université.
    Les membres du groupe de projet, étudiants-es à l’Université de Reims Champagne-Ardenne, sont :

    Civilité    Nom et Prénom    Tél.    Courriel
    Mme ☐ M ☐
    Cliquez ou appuyez ici pour entrer du texte.
    Cliquez ou appuyez ici pour entrer du texte.
    Cliquez ou appuyez ici pour entrer du texte.

    Mme ☐ M ☐
    Cliquez ou appuyez ici pour entrer du texte.
    Cliquez ou appuyez ici pour entrer du texte.
    Cliquez ou appuyez ici pour entrer du texte.

    Mme ☐ M ☐
    Cliquez ou appuyez ici pour entrer du texte.
    Cliquez ou appuyez ici pour entrer du texte.
    Cliquez ou appuyez ici pour entrer du texte.

    Mme ☐ M ☐
    Cliquez ou appuyez ici pour entrer du texte.
    Cliquez ou appuyez ici pour entrer du texte.
    Cliquez ou appuyez ici pour entrer du texte.

    Mme ☐ M ☐
    Cliquez ou appuyez ici pour entrer du texte.
    Cliquez ou appuyez ici pour entrer du texte.
    Cliquez ou appuyez ici pour entrer du texte.


    Article 2 : Durée du projet

    La durée du projet est fixée du Cliquez ou appuyez ici pour entrer du texte. au Cliquez ou appuyez ici pour entrer du texte..

    ☐ à temps complet        ☐ Cliquez ou appuyez ici pour entrer du texte. jours par semaine        ☐ Cliquez ou appuyez ici pour entrer du texte. heures par semaine
    ☐ Cliquez ou appuyez ici pour entrer du texte. à temps partiel (hors heures enseignement)


    Article 3 : But du projet

    Le projet tuteuré a pour but de faciliter l’acquisition de la pratique et le maniement des concepts enseignés dans le cadre de la formation encadrée.
    Le projet tuteuré est une des épreuves du diplôme :
    Cliquez ou appuyez ici pour entrer du texte.
    option : Cliquez ou appuyez ici pour entrer du texte.

    Article 4 : Contenu du projet

    Le contenu du projet est défini par le responsable des projets en accord avec le commanditaire qui peut être un représentant d’une entreprise, d’un organisme ou une ou plusieurs personnes physiques.
    Sujet du projet : Cliquez ou appuyez ici pour entrer du texte.
    Activités confiées : Cliquez ou appuyez ici pour entrer du texte.

    Le projet sera réalisé par des étudiants en cours de formation. De ce fait, le commanditaire ne peut exiger aucune garantie de résultats.

    Le commanditaire est :
    Mme ☐    M ☐ Cliquez ou appuyez ici pour entrer du texte.    En qualité de : Cliquez ou appuyez ici pour entrer du texte.
    tél : Cliquez ou appuyez ici pour entrer du texte.
    Courriel : Cliquez ou appuyez ici pour entrer du texte.

    A l’Université, le responsable des projets est :
    Mme ☐    M ☐ Cliquez ou appuyez ici pour entrer du texte.    En qualité de : Cliquez ou appuyez ici pour entrer du texte.
    tél : Cliquez ou appuyez ici pour entrer du texte.
    Courriel : Cliquez ou appuyez ici pour entrer du texte.

    Article 5 : Fin du projet et fin du travail réalisé par le groupe de projet

    A la fin de la mission réalisée dans le cadre du projet tuteuré, le responsable des projets pourra ou non, selon la nature du projet, demander au commanditaire son appréciation sur les résultats obtenus au regard du contrat de projet. Cependant, seul le responsable des projets est responsable de l’évaluation du projet tuteuré.
    La mission prend fin au jour de la soutenance par les étudiants du projet. Par conséquent, le commanditaire ne peut pas demander de travail supplémentaire au groupe d’étudiants après cette date sauf dans des cas exceptionnels où un événement est programmé à une date précise nécessitant la présence du groupe.

    Article 6 : Indemnités éventuelles

    Dans le cadre des projets tuteurés, les étudiants ne sont liés par aucun contrat de travail, et ils ne peuvent prétendre à aucun salaire. Cependant, le commanditaire peut indemniser les étudiants des divers frais entraînés par la réalisation des projets tuteurés, et notamment les frais de déplacement.

    Article 7 : Protection sociale, responsabilité civile

    Pendant toute la durée du projet tuteuré, les étudiants demeurent sous le statut d’étudiants de l’Université de Reims Champagne-Ardenne et restent affiliés au même régime de sécurité sociale que durant la formation encadrée et bénéficient des dispositions de l’article L412-8-2) a et b du Code de la sécurité sociale modifié par le décret n°2006-757 du 29 juin 2006. A ce titre, ils bénéficieront des prestations maladie et seront garantis contre les accidents qui pourraient leur arriver au cours du projet tuteuré ou durant le trajet les conduisant sur les lieux du projet tuteuré. En cas d’accident survenant à un étudiant, soit dans l’entreprise ou dans l’organisme ou chez la personne physique, soit au cours des trajets rendus nécessaires pour l’objet du projet tuteuré, le commanditaire s’engage à faire parvenir aussitôt tous les éléments permettant la déclaration de l’accident auprès de la CPAM au service de scolarité concerné.

    Dans le cadre d’activités pédagogiques extérieures, l’Université assure la responsabilité civile de ses étudiants. Cependant, l’Université peut se retourner contre l’assureur de l’étudiant en cas de faute de celui-ci.

    Article 8 : Discipline, confidentialité

    Les étudiants doivent respecter la discipline et le règlement de l’entreprise ou de l’organisme qui accueille le projet tuteuré. En outre, ils s’engagent à respecter la confidentialité des données qui leur sont confiées. En cas de manquement grave, le commanditaire informe le responsable des projets qui peut décider de mettre fin au projet tuteuré.
    En cas de difficultés ou d’accident, le commanditaire est tenu de prendre contact le plus rapidement possible avec le responsable des projets de la formation concernée.

    Article 9 : Absences

    L’étudiant est autorisé à s’absenter dans le cadre d’obligations attestées par l’Université (notamment examens). En cas d’absence ne relevant pas de ces dispositions, l’étudiant doit aviser le responsable des projets et le commanditaire.
    Le commanditaire devra signaler à l’Université toute absence injustifiée.

    Fait à Troyes, le Cliquez ou appuyez ici pour entrer du texte. en 2 exemplaires.


    Pour l’Université de Reims Champagne-Ardenne
    Pour le Président et par Délégation,
    Le Directeur de l’IUT de Troyes :


    Martial MARTIN



    Pour le département Cliquez ou appuyez ici pour entrer du texte.
    Le responsable des projets :


    Cliquez ou appuyez ici pour entrer du texte.





























    Pour l’entreprise, l’organisme ou la (ou les) personne(s) physique(s)
    Le commanditaire :


    Cliquez ou appuyez ici pour entrer du texte.


{% endblock %}
