@media screen and (min-width: 768px) {
  .block_admin {
    margin-bottom: 25px;

    .administration {
      height: 100%;
      margin: 0;
    }
  }
}

.administration {

  .etudiant_bloc {
    margin: 25px 0;
    display: flex !important;
    flex-direction: column !important;

    hr {
      margin: 20px 0;
      height: 0;

    }
  }

  .card-header {
    justify-content: flex-start;

    .fa-2x {
      color: var(--colorIUT);
    }
  }

  .row {
    justify-content: space-evenly;

    .admin_links_bloc_header {
      height: 120px;

      .fa-2x {
        color: var(--colorIUT);
      }

    }

    a {
      text-decoration: underline;
      color: var(--police);
      padding: 5px 10px;

      &:hover {
        text-decoration: underline;
        color: var(--police);
        background-color: var(--colorTextPrimaryHoverOpacity);

      }
    }
  }
}
