// Copyright (c) 2021. | David Annebicque | IUT de Troyes  - All Rights Reserved
// @file /Users/davidannebicque/htdocs/intranetV3/assets/css/apc.scss
// @author davidannebicque
// @project intranetV3
// @lastUpdate 05/03/2021 11:11
@use "sass:map";

$colorsApc: (
        c1:rgb(156, 43, 38),
        c2: rgb(208, 119, 64),
        c3: rgb(229, 185, 77),
        c4: rgb(65, 108, 63),
        c5: rgb(43, 76, 118),
        c6: rgb(127, 31, 83)
);

$colorsApcLight: (
        c1:rgba(156, 43, 38, 0.2),
        c2: rgba(208, 119, 64, 0.2),
        c3: rgba(229, 185, 77, 0.2),
        c4: rgba(65, 108, 63, 0.2),
        c5: rgba(43, 76, 118, 0.2),
        c6: rgba(127, 31, 83, 0.2)
);

$colorsApcMedium: (
        c1:rgba(156, 43, 38, 0.6),
        c2: rgba(208, 119, 64, 0.6),
        c3: rgba(229, 185, 77, 0.6),
        c4: rgba(65, 108, 63, 0.6),
        c5: rgba(43, 76, 118, 0.6),
        c6: rgba(127, 31, 83, 0.6)
);
//todo: gérer la déclinaison de couleur. Le jaune à 50% disparait ? définir les 3 nuances dans 3 tableaux
.comp {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; /* column | row */
  font-size: 24px;
  text-align: center;
}

.situationpro {
  height: 100%;
  font-size: 18px;
  text-align: right;
}

.titreniveau {
  text-align: center;
  font-size: 20px;
}

.titreac {
  text-align: center;
  font-size: 20px;
}

.niveauliste {
  height: 100%;
}

.niveaucourt {
  text-align: center;
  font-size: 18px;
}

.competencelongue {
  padding-left: 0px;
}

.situationliste {
  padding-left: 0px;
  padding-right: -15px;
}

.niveaulong {
  text-align: center;
  font-size: 16px;
}


.d-flex {
  display: flex !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.col-flex-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-flex-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-flex-9 {
  flex: 0 0 auto;
  width: 75%;
}

.niveau {

}

@each $color-key, $color-value in $colorsApcMedium {
  .niveau2#{$color-key} {
    background-color: $color-value;
  }

}

@each $color-key, $color-value in $colorsApcLight {
  .situationliste#{$color-key} {
    background-color: $color-value;
  }


  .niveau1#{$color-key} {
    background-color: $color-value;
  }
}

@each $color-key, $color-value in $colorsApc {
  .competence#{$color-key} {
    background-color: $color-value;
    color: white;
    height: 100%;
  }


  .composantesessentielles#{$color-key} {
    border: 4px solid $color-value;
    background-color: white;
    color: $color-value;
    margin-left: -15px;
  }

  .competencelongue#{$color-key} {
    background-color: $color-value;
    color: white;
    height: 100%;
  }

  .situation#{$color-key} {
    border-right: 4px solid $color-value;
  }

  .niveau3#{$color-key} {
    background-color: $color-value;
    color: white;
  }

  .badge-#{$color-key} {
    background-color: $color-value;
    color: white;
  }

  .carre-#{$color-key} {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: $color-value;
    color: white;
  }
}

