// Copyright (c) 2021. | David Annebicque | IUT de Troyes  - All Rights Reserved
// @file /Users/davidannebicque/htdocs/intranetV3/assets/css/theme-troyes.scss
// @author davidannebicque
// @project intranetV3
// @lastUpdate 22/10/2021 13:36

body.troyes {
  --avatar-size: 2rem;
  --avatar-size-md: 4rem;
  --avatar-size-xxl: 6rem;
  --colorIUT: #F7B000;
  --colorIUTComplementaire: #4D3677; //#0F8A5F;
  --colorFocus: #4D3677; //#0F8A5F;
  --backgroundEdtVide: #f4f4f4;
  --backgroundEdtVidePair: #eaeaea;
  --colorTextA: #4D3677; //#4D3677;
  --policeDark: #313944;
  --policeLight: #eaeaea;
  --body: #f5f6fa;
  --header: #fff;
  --footer: #fff;
  --card: #fff;
  --borderCard: rgba(77, 82, 89, 0.07);
  --police: #4d5259;
  --policeH: #313944;
  --colorHoverBtnTopBar: #4d5259;

  --colorPrimaryHover: #4D3677; //#4D3677;
  --colorTextPrimaryHover: #F7B000;
  --colorSuccess: #15c377;
  --colorSecondary: #e4e7ea;
  --colorPrimary: #F7B000;
  --colorInfo: #48b0f7;
  --colorWarning: #faa64b;
  --colorDanger: #f96868;
  --colorPink: #f96197;
  --colorPurple: #926dde;
  --colorBrown: #8d6658;
  --colorCyan: #57c7d4;
  --colorYellow: #fcc525;
  --colorGray: #868e96;
  --colorDark: #465161;
}

body.troyes.dark-theme {
  --colorIUT: #F7B000;
  --colorFocus: #F7B000;
  --colorIUTComplementaire: #4D3677;
  --colorTextA: #F7B000;
  --policeDark: #202945;
  --policeLight: #eaeaea;
  --backgroundEdtVide: #f4f4f4;
  --backgroundEdtVidePair: #eaeaea;
  --body: #202945;
  --header: #152028;
  --footer: #152028;
  --card: #152028;
  --police: #eaeaea;
  --borderCard: #F7B000;
  --colorHoverBtnTopBar: #F7B000;
  --policeH: #eaeaea;

  --colorPrimaryHover: #4D3677;
  --colorTextPrimaryHover: #F7B000;

  --colorSuccess: #008A00;
  --colorPrimary: #F7B000;
  --colorInfo: #238CF2;
  --colorSecondary: #e4e7ea;
  --colorWarning: #F0730B;
  --colorDanger: #BF0000;
  --colorPink: #A2204E;
  --colorPurple: #472490;
  --colorBrown: #5c2e1d;
  --colorCyan: #1890A7;
  --colorYellow: #fcc525;
  --colorGray: #868e96;
  --colorDark: #465161;
}
