<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab"
           href="#onglet1">Réglages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab"
           href="#onglet2">Choix des données</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab"
           href="#onglet3">Choix des stagiaires</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active show"
         id="onglet1">
        <h2>Réglages généraux</h2>
        <fieldset class="mb-3" id="fieldset_questionnaire_qualite_dateOuverture">
            <legend class="col-form-label">Date d'ouverture du questionnaire</legend>
            <div id="questionnaire_qualite_dateOuverture" aria-describedby="questionnaire_qualite_dateOuverture_help">
                <div class="input-group mb-3">
                    <input type="date" id="questionnaire_qualite_dateOuverture_date" name="questionnaire_qualite[dateOuverture][date]" class="form-control" value="2021-12-09">
                </div>
                <div class="visually-hidden">
                    <label class="" for="questionnaire_qualite_dateOuverture_time_hour">Hour</label>
                    <label class="" for="questionnaire_qualite_dateOuverture_time_minute">Minute</label>
                </div>
                <div class="input-group">
                    <select id="questionnaire_qualite_dateOuverture_time_hour" name="questionnaire_qualite[dateOuverture][time][hour]" class="form-select">
                        <option value=""></option>
                        <option value="0">00</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8" selected="selected">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select><span class="input-group-text">:</span><select id="questionnaire_qualite_dateOuverture_time_minute" name="questionnaire_qualite[dateOuverture][time][minute]" class="form-select">
                        <option value=""></option>
                        <option value="0" selected="selected">00</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                    </select></div>
            </div>
            <p id="questionnaire_qualite_dateOuverture_help" class="form-text mb-0 help-text">Date d'ouverture du
                                                                                              questionnaire.</p>
        </fieldset>
        <fieldset class="mb-3" id="fieldset_questionnaire_qualite_dateFermeture">
            <legend class="col-form-label">Date de fermeture du questionnaire</legend>
            <div id="questionnaire_qualite_dateFermeture" aria-describedby="questionnaire_qualite_dateFermeture_help">
                <div class="input-group mb-3">
                    <input type="date" id="questionnaire_qualite_dateFermeture_date" name="questionnaire_qualite[dateFermeture][date]" class="form-control" value="2021-12-30">
                </div>
                <div class="visually-hidden">
                    <label class="" for="questionnaire_qualite_dateFermeture_time_hour">Hour</label>
                    <label class="" for="questionnaire_qualite_dateFermeture_time_minute">Minute</label>
                </div>
                <div class="input-group">
                    <select id="questionnaire_qualite_dateFermeture_time_hour" name="questionnaire_qualite[dateFermeture][time][hour]" class="form-select">
                        <option value=""></option>
                        <option value="0">00</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22" selected="selected">22</option>
                        <option value="23">23</option>
                    </select><span class="input-group-text">:</span><select id="questionnaire_qualite_dateFermeture_time_minute" name="questionnaire_qualite[dateFermeture][time][minute]" class="form-select">
                        <option value=""></option>
                        <option value="0" selected="selected">00</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                    </select></div>
            </div>
            <p id="questionnaire_qualite_dateFermeture_help" class="form-text mb-0 help-text">Date de fermeture du
                                                                                              questionnaire. Peut être
                                                                                              complété par la suite.</p>
        </fieldset>
    </div>
    <div class="tab-pane"
         id="onglet2">
        <h2>Choix des données (ressources, SAE, matières, prévisionnels)</h2>
        {% for section in sections %}
            <h2>{{ section.titre }}</h2>
            {% if section.section.configQuestionnaire != null %}
                {{ dump(section.section.configQuestionnaire) }}
                <button class="btn btn-success validConfiguration" data-section="{{ section.id }}">
                    Enregistrer
                </button>
            {% else %}
                <div class="alert alert-info">
                    Pas de configuration pour cette section.
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="tab-pane"
         id="onglet3">
        <h2>Choix des étudiants</h2>
        <div class="alert alert-info">
            Coming Soon...
        </div>
    </div>
</div>
