{% extends 'base-super_admin.html.twig' %}

{% block content %}
    <div class="row">
        {% for qualiteQuestionnaireSection in questionnaire.qualiteQuestionnaireSections %}
            {% if qualiteQuestionnaireSection.section.config == null %}
                {% for qualiteSectionQuestion in qualiteQuestionnaireSection.section.qualiteSectionQuestions %}
                    <div class="col-lg-6 col-sm-12">
                        <div class="card">
                            <h4 class="card-title">{{ qualiteSectionQuestion.question.libelle }}</h4>
                            <div class="card-body">
                                <canvas class="mx-auto" id="chart-doughnut" width="280" height="280"></canvas>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                ----
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('src/assets/vendor/chartjs/Chart.min.js') }}"></script>
    <script>
      new Chart($('#chart-doughnut'), {
        type: 'doughnut',

        // Data
        //
        data: {
          labels: [
            'Red',
            'Blue',
            'Orange'
          ],
          datasets: [
            {
              data: [300, 50, 100],
              backgroundColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
              ]
            }]
        },

        // Options
        //
        options: {
          responsive: false
        }
      })


    </script>
{% endblock %}

