{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.creneau_cours.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-index.html.twig', {elt:'creneau_cours'}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.creneau_cours.index.heading'|trans }}</h4>
        <div class="card-body">

            <label class="sr-only" for="change_annee_universitiare_temp">{{ 'change_annee_universitiare_temp'|trans }}</label>
            <select id="change_annee_universitiare_temp" class="form-control">
                <option value="0">{{ 'change_annee_universitiare_temp'|trans }}</option>
                {% for annee in annee_universitaires %}
                    <option value="{{ annee.id }}" {% if defaut != null %}{% if  annee.id == defaut.id %}selected{% endif %}{% endif %}>{{ annee.libelle }}</option>
                {% endfor %}
            </select>
            <small class="form-text">Le changement d'année universitaire de manière permanent <a href="{{ path
                    ('administration_configuration') }}">se fait dans la configuration</a>.
            </small>

            <table class="table table-striped table-bordered">
                <thead>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Jour</th>
                    <th>Debut</th>
                    <th>Fin</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody id="liste_creneaux">
                {{ include('administration/creneau_cours/_liste_creneaux.html.twig') }}
                </tbody>
                <tfoot>
                <tr>
                    <td>(+)</td>
                    <td><label for="creneau_jour" class="sr-only">Jour</label>
                        <select id="creneau_jour"
                                name="creneau_jour"
                                class="form-control"
                        >
                            <option value="1">Lundi</option>
                            <option value="2">Mardi</option>
                            <option value="3">Mercredi</option>
                            <option value="4">Jeudi</option>
                            <option value="5">Vendredi</option>
                            <option value="6">Samedi</option>
                            <option value="7">Dimanche</option>
                        </select>
                    </td>
                    <td><label for="creneau_debut" class="sr-only">creneau début</label>
                        <input type="time" name="creneau_debut"
                               id="creneau_debut"
                               class="form-control"></td>
                    <td><label for="creneau_fin" class="sr-only">creneau fin</label>
                        <input type="time" name="creneau_fin"
                               id="creneau_fin"
                               class="form-control"></td>
                    <td>
                        <button class="btn btn-primary" id="btn_creneau_add">Ajouter</button>
                    </td>
                </tr>
                </tfoot>

            </table>
        </div>
    </div>

    <div class="card">
        <h4 class="card-title">{{ 'adm.creneau_cour.duplicate.annee.heading'|trans }}</h4>
        <div class="card-body">
            <form action="{{ path('administration_creneau_cour_duplicate_annee') }}" method="post" class="form">

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="annee_depart">Année à copier</label>
                            <select name="annee_depart" id="annee_depart" class="form-control">
                                <option value="">Choisir</option>
                                {% for annee in annee_universitaires %}
                                    <option value="{{ annee.id }}" {% if defaut != null %}{% if  annee.id == defaut.id %}selected{% endif %}{% endif %}>{{ annee.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="annee_destination">Année de destination</label>
                            <select name="annee_destination" id="annee_destination" class="form-control">
                                <option value="">Choisir</option>
                                {% for annee in annee_universitaires %}
                                    <option value="{{ annee.id }}">{{ annee.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">

                    </div>
                    <div class="col-md-6 col-sm-12">
                        <button class="btn btn-block btn-success" type="submit">
                            Dupliquer les créneaux de l'année universitaire
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

