{% if mail == 'courrier' %}
    {{ include('pdf/stages/courrier.html.twig')|nl2br|raw }}
{% else %}
    {{ include('mails/stages/stage_chgt.'~mail|lower~'.txt.twig')|nl2br|raw }}
{% endif %}
<br>
<br>
<div class="alert alert-info">
    Les données sont fictives.
</div>
