{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.stage_periode_courrier.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_stage_periode_gestion', {uuid: stagePeriode.uuidString}) }}"
               class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour.stage_periode_gestion'|trans }}"><i
                        class="fas fa-arrow-left"></i></a>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h3 class="card-title">{{ 'adm.stage_periode_courrier.index.heading'|trans }}</h3>
        <div class="card-body">
            <p>Personnalisation des courriers et des mails associés à la période :
                <strong>{{ stagePeriode.libelle }}</strong></p>
            <div class="nav-tabs-left">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-success">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#courrier">Courrier d'accompagement</a>
                    </li>
                    {% for etat in etatsConvention %}
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#{{ etat }}">{{ etat|trans }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="courrier">
                        <h4>Courrier d'accompagnement</h4>
                        <div class="alert alert-info">
                            Dans cette partie vous pouvez éditer le contenu du courrier d'accompagnement
                            envoyés avec la convention. Si vous laissez la zone de texte vide le courrier
                            par défaut sera généré. <a href="#"
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'Courrier d\'accompagnement par défaut',
                                        modalUrl:  path
                                            ('administration_stage_periode_courrier_apercu_defaut',
                                            {'mail': 'courrier'}) }) }}
                                                       data-action="click->modal#openModal"
                                                       title="Courrier d'accompagnement par défaut"
                                                      >
                                Vous pouvez consulter le courrier d'accompagnement par défaut ici
                            </a>.
                            Vous avez à votre disposition tous les champs disponibles (équivalent aux champs de
                            fusion d'un publipostage word) pour générer votre mail.
                        </div>
                        <input type="hidden"
                               value="courrier"
                               name="sujet_courrier"
                               id="sujet_courrier"/>
                        <div class="editCourrier" id="text_courrier">
                            {% if courriers['courrier'] is defined %}
                                {{ courriers['courrier'].twigTemplate.source|transformeFromTwig|raw }}
                            {% endif %}
                        </div>

                        <div class="row mt-10">
                            <div class="col-sm-12">
                                <div class="alert alert-info">
                                    Laisser vide pour utiliser le mail par défaut.
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <button data-type="courrier" class="btn btn-danger btn-block resetDefaut"
                                        data-periode="{{ stagePeriode.id }}">Revenir
                                                                             au
                                                                             courrier par défaut
                                                                             (effacera le contenu du
                                                                             texte ci-dessus)
                                </button>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <a {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            modalTitle: 'Courrier d\'accompagnement par défaut',
                                            modalUrl:  path
                                        ('administration_stage_periode_courrier_apercu_modele',
                                        {mail: 'courrier', stagePeriode:stagePeriode.id}) }) }}
                                   data-action="click->modal#openModal"
                                   title="Courrier d'accompagnement par défaut"
                                   class="btn btn-info btn-block">
                                    Aperçu du mail
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <button data-type="courrier" data-periode="{{ stagePeriode.uuidString }}" class="btn
                                btn-success btn-block enregistreModeleMail" data-ed="courrier">Enregistrer le modèle
                                </button>
                            </div>
                        </div>
                        <div class="editCourrier" id="editCourrier"></div>
                    </div>
                    {% for etat in etatsConvention %}
                    <div class="tab-pane fade" id="{{ etat }}">
                        <h4>{{ etat|trans }}</h4>
                        <div class="alert alert-info">
                            Dans cette partie vous pouvez éditer le contenu des emails
                            envoyés lors des différentes phases de la gestion de la
                            convetion. Si vous laissez la zone de texte vide le mail
                            par défaut sera envoyé. <a href="#"
                                                       {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            modalTitle: 'Mail par défaut pour ' ~ etat|trans,
                                            modalUrl:  path
                                               ('administration_stage_periode_courrier_apercu_defaut',
                                                {'mail': etat}) })}}
                                                           data-action="click->modal#openModal"
                                                           title="Mail par défaut pour {{ etat|trans }}"
                                                           >
                                    Vous pouvez consulter le mail par défaut ici
                                </a>.
                                Vous avez à votre disposition tous les champs disponibles (équivalent aux champs de
                                fusion d'un publipostage word) pour générer votre mail.
                        </div>

                        <div>
                            <label for="sujet_{{ etat }}">Sujet du message : </label>
                                <input type="text"
                                       class="form-control"
                                       value="{% if courriers[etat] is defined %}{{ courriers[etat].subject }}{% endif %}"
                                       name="sujet_{{ etat }}"
                                       id="sujet_{{ etat }}" />
                            </div>

                            <div class="editCourrier" id="text_{{ etat }}">
                                {% if courriers[etat] is defined %}
                                    {{ courriers[etat].twigTemplate.source|transformeFromTwig }}
                                {% endif %}
                            </div>

                            <div class="row mt-10">
                                <div class="col-sm-12">
                                    <div class="alert alert-info">
                                        Laisser vide pour utiliser le mail par défaut.
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <button data-type="{{ etat }}" data-periode="{{ stagePeriode.id }}" class="btn
                                 btn-danger btn-block resetDefaut">Revenir au mail par
                                                                   défaut
                                                                   (effacera le contenu du
                                                                   texte ci-dessus)
                                    </button>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <a {{ stimulus_controller('modal', {
                                                size: 'lg',
                                                modalTitle: 'Courrier d\'accompagnement par défaut',
                                                modalUrl:  path
                                                    ('administration_stage_periode_courrier_apercu_modele',
                                                    {mail: etat, stagePeriode:stagePeriode.id}) })}}
                                       data-action="click->modal#openModal"
                                   title="Courrier d'accompagnement par défaut"
                                   class="btn btn-info btn-block">
                                Aperçu du mail
                                </a>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <button data-type="{{ etat }}" data-periode="{{ stagePeriode.uuidString }}" class="btn btn-success
                                    btn-block enregistreModeleMail" data-ed="{{ etat }}">Enregistrer le modèle
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.stage_courrier') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.stage_courrier') }}
{% endblock %}

