<div class="row">
    <div class="col-md-12">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title"><strong>{{ 'service.previsionnel.matiere.heading'|trans }}</strong>
                    | {{ matiere.display }} |
                    ({{ 'periode'|trans }}
                    : {{ user_data.departement.optAnneePrevisionnel }})</h4>
                <ul class="card-controls">
                    <li class="dropdown">
                        <a data-bs-toggle="dropdown" href="#"><i class="fas fa-ellipsis-h rotate-90"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ path('administration_previsionnel_export', {'annee': annee,
                                '_format': 'csv',  data: matiere.typeIdMatiere, type:'semestre'}) }}"><i
                                        class="fas fa-file-export"></i> {{ 'exporter.csv'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('administration_previsionnel_export', {'annee':
                                annee, '_format': 'pdf', data:matiere.typeIdMatiere, type:'semestre'}) }}"><i
                                        class="fas fa-file-export"></i> {{ 'exporter.pdf'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('administration_previsionnel_export', {'annee':
                                annee, '_format': 'xlsx', data: matiere.typeIdMatiere, type:'semestre'}) }}"><i
                                        class="fas fa-file-export"></i> {{ 'exporter.xlsx'|trans }}</a>
                        </div>
                    </li>
                    <li>
                        <a class="card-btn-reload" href="#" id="reloadPreviMatiere" data-annee="{{ annee }}"
                           data-matiere="{{ matiere.id }}"
                           data-type="{{ matiere.typeMatiere }}"
                           title="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-original-title="{{ 'atitle.refresh'|trans }}"><i class="fa fa-refresh"></i></a>
                    </li>
                </ul>
            </header>

            <div class="card-body">
                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th class="cm">NB h*</th>
                        <th class="cm">NB Gr.</th>
                        <th class="cm">1.5**</th>

                        <th class="previtd">NB h/ Gr.*</th>
                        <th class="previtd">NB Gr.</th>
                        <th class="previtd">1.5**</th>

                        <th class="previtp">NB h/ Gr.*</th>
                        <th class="previtp">NB Gr.</th>
                        <th class="previtp">1.5**</th>

                        <th class="cm">tot. CM*</th>
                        <th class="previtd">tot. TD</th>
                        <th class="previtp">tot. TP</th>

                        <th>total eq. TD**</th>
                        <th>total etu.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for previsionnel in previsionnel.previsionnels %}
                        <tr>
                            <td colspan="11">
                                <select
                                        class="form-control changeIntervenantPrevi selectpicker"
                                        data-previ="{{ previsionnel.id }}"
                                >
                                    <option value="" {% if previsionnel.personnel_id == 0 %}selected{% endif %}>
                                        Intervenant non défini
                                    </option>
                                    {% for personnel in user_data.personnels %}
                                        <option value="{{ personnel.id }}"
                                                {% if previsionnel.personnel_id != 0 and previsionnel.personnel_id ==
                                                    personnel.id %}selected{% endif %}
                                        >{{ personnel.displayPr }}</option>
                                    {% endfor %}
                                </select>

                            </td>
                            <td colspan="2">
                                <a href="">Voir son service complet</a>
                            </td>
                            <td colspan="1">
                                <a href="{{ path('administration_previsionnel_duplicate', {id: previsionnel.id}) }}"
                                   class="btn btn-success btn-outline btn-sm btn-square" data-bs-toggle="tooltip" data-bs-placement="bottom"

                                   title="{{ 'atitle.dupliquer'|trans }}"><i
                                            class="{{ iconDuplicate }}"></i></a>
                                <a href="{{ path('administration_previsionnel_delete', {id: previsionnel.id}) }}"
                                   class="btn btn-danger btn-outline btn-sm btn-square supprimer" data-bs-toggle="tooltip" data-bs-placement="bottom"

                                   data-csrf="{{ csrf_token('delete' ~ previsionnel.id) }}"
                                   title="{{ 'atitle.supprimer'|trans }}"><i
                                            class="{{ iconDelete }}"></i></a>
                            </td>
                        </tr>
                        <tr id="ligne_{{ previsionnel.id }}">
                            <td>
                                <a class="myedit"
                                   data-field="NbHCm"
                                   href="{{ path('administration_previsionnel_ajax_edit', {id:previsionnel.id}) }}"
                                   data-title="Corriger le volume horaire">
                                    {{ previsionnel.nbHCm }}</a> h
                            </td>
                            <td>
                                <a class="myedit"
                                   data-field="NbGrCm"
                                   href="{{ path('administration_previsionnel_ajax_edit', {id:previsionnel.id}) }}"
                                   data-title="Corriger le nombre de groupes">
                                    {{ previsionnel.nbGrCm }}</a></td>
                            <td>{{ previsionnel.nbSeanceCm }}</td>
                            <td class="previtd">
                                <a class="myedit"
                                   data-field="NbHTd"
                                   href="{{ path('administration_previsionnel_ajax_edit', {id:previsionnel.id}) }}"
                                   data-title="Corriger le volume horaire">
                                    {{ previsionnel.nbHTd }}</a> h
                            </td>
                            <td class="previtd">
                                <a class="myedit"
                                   data-field="NbGrTd"
                                   href="{{ path('administration_previsionnel_ajax_edit', {id:previsionnel.id}) }}"
                                   data-title="Corriger le nombre de groupes">
                                    {{ previsionnel.nbGrTd }}</a></td>
                            <td class="previtd">{{ previsionnel.nbSeanceTd }}</td>

                            <td class="previtp">
                                <a class="myedit"
                                   data-field="NbHTp"
                                   href="{{ path('administration_previsionnel_ajax_edit', {id:previsionnel.id}) }}"
                                   data-title="Corriger le volume horaire">
                                    {{ previsionnel.nbHTp }}</a> h
                            </td>
                            <td class="previtp">
                                <a class="myedit"
                                   data-field="NbGrTp"
                                   href="{{ path('administration_previsionnel_ajax_edit', {id:previsionnel.id}) }}"
                                   data-title="Corriger le nombre de groupes">
                                    {{ previsionnel.nbGrTp }}</a></td>
                            <td class="previtp">{{ previsionnel.nbSeanceTp }}</td>

                            <td>{{ previsionnel.totalHCm }} h</td>
                            <td class="previtd">{{ previsionnel.totalHTd }} h</td>
                            <td class="previtp">{{ previsionnel.totalHTp }} h</td>

                            <td>{{ previsionnel.totalEqTd }} h</td>
                            <td>{{ previsionnel.totalEtudiant }} h</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="alert alert-info">* CM non majorés; ** CM majorés, TP=TD.
                    Information indicative !
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">

            <h4 class="card-title"><strong>{{ 'service.previsionnel.matiere.heading'|trans }}</strong>
                | {{ matiere.display }} |
                ({{ 'periode'|trans }}
                : {{ user_data.departement.optAnneePrevisionnel }})</h4>


            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th></th>
                        <th class="importantgros text-center">CM</th>
                        <th class="previtd text-center">TD</th>
                        <th class="previtp text-center">TP</th>
                        <th class="importantgros text-center">Total</th>
                    </tr>
                    <tr>
                        <td class="importantgros">Total général (h)</td>
                        <td class="importantgros text-center">{{ synthese.totalCm }}</td>
                        <td class="previtd text-center">{{ synthese.totalTd }}</td>
                        <td class="previtp text-center">{{ synthese.totalTp }}</td>
                        <td class="importantgros text-center">{{ synthese.totalService }}</td>
                    </tr>
                    <tr>
                        <td class="importantgros">Total Etudiant</td>
                        <td class="importantgros text-center">{{ synthese.totalEtuCm }}</td>
                        <td class="previtd text-center">{{ synthese.totalEtuTd }}</td>
                        <td class="previtp text-center">{{ synthese.totalEtuTp }}</td>
                        <td class="importantgros text-center">{{ synthese.totalEtu }}</td>
                    </tr>
                    <tr>{# todo: les liens ne sont pas bon ? Mettre en modal ? #}
                        <td class="importantgros">
                            <a href="{{ path('administration_matiere_show', {id: matiere.typeIdMatiere}) }}" target="_blank">Prévisionnel
                                                                                                                             Matière</a>
                        </td>
                        <td class="importantgros text-center">{{ matiere.cmFormation }}</td>
                        <td class="previtd text-center">{{ matiere.tdFormation }}</td>
                        <td class="previtp text-center">{{ matiere.tpFormation }}</td>
                        <td class="importantgros text-center">{{ matiere.etuFormation }}</td>
                    </tr>
                    <tr>
                        <td class="importantgros">Différence</td>
                        <td class="importantgros text-center">{{ (matiere.cmFormation - synthese.totalEtuCm)|formatDifference }}</td>
                        <td class="importantgros previtd text-center">{{ (matiere.tdFormation - synthese.totalEtuTd)|formatDifference }}</td>
                        <td class="importantgros previtp text-center">{{ (matiere.tpFormation - synthese.totalEtuTp)|formatDifference }}</td>
                        <td class="importantgros text-center">-</td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div class="alert alert-info">Total donné à titre indicatif.</div>
            </div>
        </div>
    </div>
</div>
