<div class="card">
    <header class="card-header">
        <h4 class="card-title"><strong>{{ 'service.previsionnel.heading'|trans }}</strong>
            | {{ user_data.departement.libelle }} | {{ personnel.display }} | ({{ 'periode'|trans }}
            : {{ user_data.departement.optAnneePrevisionnel }})</h4>
        <ul class="card-controls">
            <li class="dropdown">
                <a data-bs-toggle="dropdown" href="#"><i class="fas fa-ellipsis-h rotate-90"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ path('administration_previsionnel_export', {'annee': annee,
                        '_format': 'csv', type:'personnel', data: personnel.id}) }}"><i
                                class="fas fa-file-export"></i> {{ 'exporter.csv'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('administration_previsionnel_export', {'annee': annee, '_format': 'pdf', type:'personnel', data: personnel.id}) }}"><i
                                class="fas fa-file-export"></i> {{ 'exporter.pdf'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('administration_previsionnel_export', {'annee': annee, '_format': 'xlsx', type:'personnel', data: personnel.id}) }}"><i
                                class="fas fa-file-export"></i> {{ 'exporter.xlsx'|trans }}</a>
                </div>
            </li>
            <li>
                <a class="card-btn-reload" href="#" id="reloadPreviPersonnel" data-annee="{{ annee }}" data-personnel="{{ personnel.id }}" title="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-original-title="{{ 'atitle.refresh'|trans }}"><i class="fa fa-refresh"></i></a>
            </li>
        </ul>
    </header>


    <div class="card-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            {% for semestre in user_data.semestres %}
                <li class="nav-item">
                    <a class="nav-link {% if loop.first %} active{% endif %}" data-bs-toggle="tab"
                       href="#semestre{{ semestre.id }}">{{ semestre.libelle }}</a>
                </li>
            {% endfor %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            {% for semestre in user_data.semestres %}
                <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="semestre{{ semestre.id }}">
                    {{ include('bloc_previsionnel/_previ_semestre.html.twig') }}

                    <div class="alert alert-info">* CM non majorés; ** CM majorés, TP=TD.
                        Information indicative !
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{{ include('bloc_previsionnel/hrs.html.twig') }}

{{ include('bloc_previsionnel/total.html.twig') }}
