<div class="row">
    <div class="col-md-12">
        <div class="card">

            <header class="card-header">
                <h4 class="card-title"><strong>{{ 'service.previsionnel.semestre.heading'|trans }}</strong>
                    | {{ semestre.libelle }} | {{ semestre.codeElement }} |
                    ({{ 'periode'|trans }}
                    : {{ annee }})</h4>
                <ul class="card-controls">
                    <li class="dropdown">
                        <a data-bs-toggle="dropdown" href="#"><i class="fas fa-ellipsis-h rotate-90"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ path('administration_previsionnel_export', {'annee':
                                annee, '_format': 'csv', type:'semestre', data: semestre.id}) }}"><i
                                        class="fas fa-file-export"></i> {{ 'exporter.csv'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('administration_previsionnel_export', {'annee': annee, '_format': 'pdf', type:'semestre', data: semestre.id}) }}"><i
                                        class="fas fa-file-export"></i> {{ 'exporter.pdf'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('administration_previsionnel_export', {'annee': annee, '_format': 'xlsx', type:'semestre', data: semestre.id}) }}"><i
                                        class="fas fa-file-export"></i> {{ 'exporter.xlsx'|trans }}</a>
                        </div>
                    </li>
                    <li>
                        <a class="card-btn-reload" href="#" id="reloadPreviSemestre" data-annee="{{ annee }}" data-semestre="{{ semestre.id }}" title="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-original-title="{{ 'atitle.refresh'|trans }}"><i class="fa fa-refresh"></i></a>
                    </li>
                </ul>
            </header>

            <div class="card-body">
                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th class="cm">NB h*</th>
                        <th class="cm">NB Gr.</th>
                        <th class="cm">1.5**</th>

                        <th class="previtd">NB h/ Gr.*</th>
                        <th class="previtd">NB Gr.</th>
                        <th class="previtd">1.5**</th>

                        <th class="previtp">NB h/ Gr.*</th>
                        <th class="previtp">NB Gr.</th>
                        <th class="previtp">1.5**</th>

                        <th class="cm">tot. CM*</th>
                        <th class="previtd">tot. TD</th>
                        <th class="previtp">tot. TP</th>

                        <th>total eq. TD**</th>
                        <th>total etu.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for previ in previsionnel %}
                        <tr>
                            <td colspan="3">
                                {{ previ.matiere_code }} | {{ previ.matiere_libelle }}
                            </td>
                            <td colspan="3">
                                <select
                                        class="form-control changeIntervenantPrevi selectpicker"
                                        data-previ="{{ previ.id }}"
                                >
                                    <option value="" {% if previ.personnel_id == 0 %}selected{% endif %}>
                                        Intervenant non défini
                                    </option>
                                    {% for personnel in user_data.personnels %}
                                        <option value="{{ personnel.id }}"
                                                {% if previ.personnel_id != 0 and previ.personnel_id == personnel.id %}selected{% endif %}
                                        >{{ personnel.displayPr }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td colspan="3">
                                <button
                                        {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            modalTitle: 'Service de la matière ' ~previ.matiere_code,
                                            modalUrl:  path('administration_previsionnel_matiere', {matiere: previ
                                            .matiere_id, annee: annee, type: previ.type_matiere}) })}}
                                        data-action="click->modal#openModal"
                                        class="btn btn-primary btn-sm"
                                >
                                    Service de la matière {{ previ.matiere_code }}
                                </button>
                            </td>
                            <td>&nbsp;</td>
                            <td colspan="3">
                                {% if previ.personnel_id != 0 %}
                                    <button
                                            {{ stimulus_controller('modal', {
                                                size: 'lg',
                                                modalTitle: 'Service complet de '~ previ.personnel_prenom ~ ' ' ~
                                                previ.personnel_nom,
                                                modalUrl:  path('administration_previsionnel_personnel', {personnel:
                                                    previ.personnel_id, annee:annee}) })}}
                                            data-action="click->modal#openModal"
                                            class="btn btn-primary btn-sm"
                                    >
                                        Service complet de {{ previ.personnel_prenom }} {{ previ.personnel_nom }}
                                    </button>
                                {% else %}
                                    {{ 'intervenant.non.defini'|trans }}
                                {% endif %}
                            </td>

                            <td>
                                <a href="{{ path('administration_previsionnel_duplicate', {id: previ.id}) }}"
                                   class="btn btn-success btn-outline btn-sm btn-square" data-bs-toggle="tooltip" data-bs-placement="bottom"

                                   title="{{ 'atitle.dupliquer'|trans }}"><i
                                            class="{{ iconDuplicate }}"></i></a>
                                <a href="{{ path('administration_previsionnel_delete', {id: previ.id}) }}"
                                   class="btn btn-danger btn-outline btn-square btn-sm supprimer" data-bs-toggle="tooltip" data-bs-placement="bottom"

                                   data-csrf="{{ csrf_token('delete' ~ previ.id) }}"
                                   title="{{ 'atitle.supprimer'|trans }}"><i
                                            class="{{ iconDelete }}"></i></a>
                            </td>
                        </tr>
                        <tr id="ligne_{{ previ.id }}">
                            <td><a class="myedit"
                                   data-field="NbHCm"
                                   href="{{ path('administration_previsionnel_ajax_edit', {id:previ.id}) }}"
                                   data-title="Corriger le volume horaire">
                                    {{ previ.nbHCm }}</a> h
                            </td>
                            <td>
                                <a class="myedit"
                                   data-field="NbGrCm"
                                   href="{{ path('administration_previsionnel_ajax_edit', {id:previ.id}) }}"
                                   data-title="Corriger le nombre de groupes">
                                    {{ previ.nbGrCm }}</a></td>
                            <td>{{ previ.nbSeanceCm }}</td>
                            <td class="previtd">
                                <a class="myedit"
                                   data-field="NbHTd"
                                   href="{{ path('administration_previsionnel_ajax_edit', {id:previ.id}) }}"
                                   data-title="Corriger le volume horaire">
                                    {{ previ.nbHTd }}</a> h
                            </td>
                            <td class="previtd">
                                <a class="myedit"
                                   data-field="NbGrTd"
                                   href="{{ path('administration_previsionnel_ajax_edit', {id:previ.id}) }}"
                                   data-title="Corriger le nombre de groupes">
                                    {{ previ.nbGrTd }}</a></td>
                            <td class="previtd">{{ previ.nbSeanceTd }}</td>

                            <td class="previtp">
                                <a class="myedit"
                                   data-field="NbHTp"
                                   href="{{ path('administration_previsionnel_ajax_edit', {id:previ.id}) }}"
                                   data-title="Corriger le volume horaire">
                                    {{ previ.nbHTp }}</a> h
                            </td>
                            <td class="previtp">
                                <a class="myedit"
                                   data-field="NbGrTp"
                                   href="{{ path('administration_previsionnel_ajax_edit', {id:previ.id}) }}"
                                   data-title="Corriger le nombre de groupes">
                                    {{ previ.nbGrTp }}</a></td>
                            <td class="previtp">{{ previ.nbSeanceTp }}</td>

                            <td>{{ previ.totalHCm }} h</td>
                            <td class="previtd">{{ previ.totalHTd }} h</td>
                            <td class="previtp">{{ previ.totalHTp }} h</td>

                            <td>{{ previ.totalEqTd }} h</td>
                            <td>{{ previ.totalEtudiant }} h</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="alert alert-info">* CM non majorés; ** CM majorés, TP=TD.
                    Information indicative !
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">

            <h4 class="card-title"><strong>{{ 'service.previsionnel.semestre.heading'|trans }}</strong>
                | {{ semestre.libelle }} | {{ semestre.codeElement }} |
                ({{ 'periode'|trans }}
                : {{ user_data.departement.optAnneePrevisionnel }})</h4>


            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th></th>
                        <th class="importantgros text-center">CM</th>
                        <th class="previtd text-center">TD</th>
                        <th class="previtp text-center">TP</th>
                        <th class="importantgros text-center">Total</th>
                    </tr>
                    <tr>
                        <td class="importantgros">Total général (h)</td>
                        <td class="importantgros text-center">{{ synthese.totalCm }}</td>
                        <td class="previtd text-center">{{ synthese.totalTd }}</td>
                        <td class="previtp text-center">{{ synthese.totalTp }}</td>
                        <td class="importantgros text-center">{{ synthese.totalService }}</td>
                    </tr>
                    <tr>
                        <td class="importantgros">Total Etudiant</td>
                        <td class="importantgros text-center">{{ synthese.totalEtuCm }}</td>
                        <td class="previtd text-center">{{ synthese.totalEtuTd }}</td>
                        <td class="previtp text-center">{{ synthese.totalEtuTp }}</td>
                        <td class="importantgros text-center">{{ synthese.totalEtu }}</td>
                    </tr>

                    </tbody>
                </table>
                <br>
                <div class="alert alert-info">Total donné à titre indicatif.</div>
            </div>
        </div>
    </div>
</div>
