{% extends 'base.html.twig' %}

{% block header %}
    {{ 'administration.previsionnel.heading'|trans({'%annee%': annee}) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_previsionnel_import') }}" class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.import_previsionnel'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="fas fa-file-import"></i><span
                        class="sr-only">importer</span></a>
            <a href="{{ path('administration_previsionnel_export_omega', {annee:annee}) }}" class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.export_omega'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="fa fa-table"></i><span
                        class="sr-only">Exporter</span></a>
            <a href="{{ path('administration_previsionnel_new') }}" class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.creer_nouveau'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"><i
                        class="fas fa-plus"></i><span
                        class="sr-only">Ajouter</span></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card card-body">
        <label class="sr-only" for="change_annee_temp_previsionnel">{{ 'change_annee_temp_previsionnel'|trans }}</label>
        <select id="change_annee_temp_previsionnel" class="form-control">
            <option value="0">{{ 'change_annee_temp_previsionnel'|trans }}</option>
            {% for annee in 2017..'now'|date('Y')+4 %}
                <option value="{{ annee }}">{{ annee }}</option>
            {% endfor %}
        </select>
        <small class="form-text">Le changement d'année de manière permanent
            <a href="{{ path('administration_configuration') }}">se fait dans la configuration</a>. Le prévisionnel de
                                 l'année selectionné dans le configuration est celui actif sur l'intranet</small>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <h4 class="card-title">Par enseignant</h4>
                <div class="card-body">
                    <div class="form-group">
                        <label class="sr-only" for="previPersonnel">{{ 'choisir.intervenant'|trans }}</label>
                        <select class="form-control selectpicker" data-annee="{{ annee }}"
                                id="previPersonnel">
                            <option value="">{{ 'choisir.intervenant'|trans }}</option>
                            {% for personnel in user_data.personnels %}
                                <option value="{{ personnel.id }}">{{ personnel.display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h4 class="card-title">Par matière</h4>
                <div class="card-body">
                    <label class="sr-only" for="previMatiere">{{ 'choisir.matiere'|trans }}</label>
                    <select class="form-control selectpicker" id="previMatiere" data-annee="{{ annee }}">
                        <option value="">{{ 'choisir.matiere'|trans }}</option>
                        {% for key, matiere in matieres %}
                            <option value="{{ matieres[key].typeIdMatiere }}">{{ matieres[key].display }}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h4 class="card-title">Par semestre</h4>
                <div class="card-body">
                    <label class="sr-only" for="previSemestre">{{ 'choisir.un.semestre'|trans }}</label>
                    <select class="form-control selectpicker" id="previSemestre" data-annee="{{ annee }}">
                        <option value="">{{ 'choisir.un.semestre'|trans }}</option>
                        {% for semestre in user_data.semestres %}
                            <option value="{{ semestre.id }}">{{ semestre.display }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div id="blocPrevisionnel">
        <div class="card">
            <h4 class="card-title">{{ 'adm.previsionnel.index.heading'|trans }}</h4>
            <div class="card-body">
                <div class="alert alert-info">Veuillez choisir dans une des listes ci-dessus.</div>
            </div>
        </div>
    </div>

    <div class="card">
        <h4 class="card-title">{{ 'adm.previsionnel.duplicate.annee.heading'|trans }}</h4>
        <div class="card-body">
            <form action="{{ path('administration_previsionnel_duplicate_annee') }}" method="post" class="form">

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="annee_depart">Année à copier</label>
                            <select name="annee_depart" id="annee_depart" class="form-control">
                                <option value="">Choisir</option>
                                {% for annee in 2017..'now'|date('Y')+2 %}
                                    <option value="{{ annee }}">{{ annee }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="annee_destination">Année de destination</label>
                            <select name="annee_destination" id="annee_destination" class="form-control">
                                <option value="">Choisir</option>
                                {% for annee in 2017..'now'|date('Y')+4 %}
                                    <option value="{{ annee }}">{{ annee }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="custom-controls-stacked">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="annee_concerver" name="annee_concerver" value="true">
                                <label class="custom-control-label" for="annee_concerver">Conserver les données dans l'année de destination ? (par défaut la copie remplace l'ensemble des données)</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <button class="btn btn-block btn-success" type="submit">
                            Dupliquer le prévisionnel de l'année
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card card-danger">
        <h4 class="card-title">{{ 'adm.previsionnel.supprimer.annee.heading'|trans }}</h4>
        <div class="card-body">
            <form action="{{ path('administration_previsionnel_supprimer_annee') }}" method="POST" class="form">
                {# todo: petite confirmation avant la suppression... #}
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="hidden" value="{{ csrf_token('supprimer') }}" name="_token">
                            <label class="sr-only" for="annee_supprimer">{{ 'choisir'|trans }}</label>
                            <select name="annee_supprimer" id="annee_supprimer" class="form-control">
                                <option value="">Choisir</option>
                                {% for annee in 2017..'now'|date('Y')+2 %}
                                    <option value="{{ annee }}">{{ annee }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <button class="btn btn-block btn-warning" type="submit">
                            Supprimer les données pour l'année selectionnée
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_previsionnel_export_omega', {annee: annee}),
            title: 'exporter.omega'|trans,
            icone : "fa fa-table"
        },
        {
            type:'info',
            href:path('administration_previsionnel_new'),
            title: 'ajouter'|trans,
            icone: 'fas fa-plus'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_previsionnel'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.previsionnel') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.previsionnel') }}
{% endblock %}
