Bonjour,<br><br>

<p>La demande d'autorisation de déplacement professionnel décrite ci-après vient d'être refusée par la direction de
   l'iIUT.</p>

<p>Cordialement,<br>
   La direction de l'IUT</p>

<br><br>
<i>Ce message est un message automatique envoyé depuis l'intranet de l'{{ settings('NOM_IUT') }}.</i>
