Bonjour,<br><br>

<p>La demande d'autorisation de déplacement professionnel vient d'être refusée par la direction de l'IUT. Un message
   personnalisé vous sera transmis par la direction expliquant le refus de la demande</p>

<p>Demande concernant la période :</p>
<ul>{% for creneau in covidAttestationPersonnel.covidCreneauPresences %}
        <li> {{ creneau.display }}</li>
    {% endfor %}
</ul>
<p>Pour le motif: {{ covidAttestationPersonnel.motif|trans }}</p>
<p>Moyen de déplacement: {{ covidAttestationPersonnel.moyenDeplacement }}</p>
<br>

<p>Cordialement,<br>
   La direction de l'IUT</p>

<br><br>
<i>Ce message est un message automatique envoyé depuis l'intranet de l'{{ settings('NOM_IUT') }}.</i>
