<p>Bonjour {{ etudiant.displayPr }},</p>

<p>Dans le cadre des activités en présentiel autorisées par arrêté du Président de l’URCA du 26 janvier 2021 faisant
   suite à la circulaire ministérielle du 22 janvier 2021, des TP, TD ou des évaluations en présentiel à l'IUT de Troyes
   sont prévues à votre emploi du temps fourni par le département de DUT ou le secrétariat de votre formation pour la
   semaine à venir.</p>

<p><strong>La présence sur site est autorisée uniquement sur les créneaux prévus en présentiel à votre emploi du
           temps.</strong></p>

<p>Les conditions d'accès et mesures sanitaires sont précisées en annexe - vous devez <strong>
        impérativement en prendre connaissance et vous y conformer.</strong></p>

<p>Vous devrez obligatoirement vous munir de votre carte d'étudiant pour accéder à l'IUT.</p>

<p>Une attestation de déplacement universitaire est joint à cet envoi, pour justifier, si vos horaires d’enseignement en
   présentiel le requièrent, des déplacements entre l’IUT et votre domicile pendant la période de couvre-feu. Vous
   devrez présenter également en cas de contrôle votre emploi du temps.</p>

<p>
    Bien cordialement,<br>
    {{ covidAttestationEtudiant.diplome.responsableDiplome.displayPr }}<br>
    {{ covidAttestationEtudiant.diplome.display }}
</p>
