{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.alternance.show.heading'|trans({'%etudiant%': alternance.etudiant.displayPr}) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_alternance_delete', {id: alternance.id}) }}" data-csrf="{{ csrf_token('delete' ~ alternance.id) }}"
               class="btn btn-danger btn-sm btn-float supprimer" title="{{ 'atitle.supprimer'|trans }}" data-bs-toggle="tooltip"
               data-bs-placement="bottom"><i class="fas fa-trash"></i></a>
            <a href="{{ path('administration_alternance_edit', {id: alternance.id}) }}" class="btn btn-warning btn-sm btn-float" title="{{ 'atitle.modifier'|trans }}" data-bs-toggle="tooltip"
               data-bs-placement="bottom"><i class="{{ iconEdit }}"></i></a>
            <a href="{{ path('administration_alternance_index',{annee:alternance.annee.id}) }}" class="btn btn-primary btn-float" title="{{ 'atitle.retour_liste'|trans }}" data-bs-toggle="tooltip"
               data-bs-placement="bottom"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.alternance.show.heading'|trans({'%etudiant%': alternance.etudiant.displayPr}) }}</h4>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'table.etudiant'|trans }}</th>
                    <td>{{ alternance.etudiant ? alternance.etudiant.displayPr : 'non.defini'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.fiche_suivi'|trans }}</th>
                    <td>
                        <table class="table">
                            {% for fiche in alternance.alternanceFicheSuivis %}
                                <tr>
                                    <td>Fiche du
                                        {{ fiche.created|format_datetime('long', 'short') }}</td>
                                    <td>
                                        <a href="{{ path('administration_alternance_fiche_suivi_show', {id:fiche.id}) }}" class="btn btn-info"><i class="{{ iconShow }}"></i></a>
                                        <a href="{{ path('administration_alternance_fiche_suivi_export', {id:fiche.id}) }}" class="btn btn-default"><i class="{{ iconPrint }}"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                {{ include('composants/entreprise_array.html.twig', {entreprise: alternance.entreprise}) }}
                {{ include('composants/contact_array.html.twig', {contact: alternance.tuteur}) }}

                <tr>
                    <th>{{ 'table.anneeUniversitaire'|trans }}</th>
                    <td>{{ alternance.anneeUniversitaire.displayAnneeUniversitaire }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.type_contrat'|trans }}</th>
                    <td>{{ alternance.typeContrat }}</td>
                </tr>

                <tr>
                    <th>{{ 'table.dateDebut'|trans }}</th>
                    <td>{{ alternance.dateDebut ? alternance.dateDebut|format_datetime('long', 'short') : 'non.defini'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.dateFin'|trans }}</th>
                    <td>{{ alternance.dateFin ? alternance.dateFin|format_datetime('long', 'short') : 'non.defini'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.sujetAlternance'|trans }}</th>
                    <td>{{ alternance.sujet }}</td>
                </tr>
                {{ include('composants/adresse_array.html.twig', {adresse:alternance.adresseAlternance}) }}
                <tr>
                    <th>{{ 'table.tuteur_universitaire'|trans }}</th>
                    <td>{{ alternance.tuteurUniversitaire ? alternance.tuteurUniversitaire.displayPr : 'non.defini'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.created'|trans }}</th>
                    <td>{{ alternance.created ? alternance.created|format_datetime('long', 'short') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.updated'|trans }}</th>
                    <td>{{ alternance.updated ? alternance.updated|format_datetime('long', 'short') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
