{% extends 'base.html.twig' %}

{% block header %}
    {{ 'liste.des.notes.du.semestre'|trans({'%libelle%':semestre.libelle})|raw }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestresActifs %}
            <a href="{{ path('administration_notes_semestre_index', {semestre:sem.id}) }}"
               class="btn btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'atitle.changer.semestre'|trans }}"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
               class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="d-grid d-block col-sm-12 col-md-6 mb-2">
                    <a href="{{ path('administration_evaluation_initialisation_index',{semestre:semestre.id}) }}"
                       class="btn btn-primary">
                        {{ 'initialiser.les.evaluations'|trans }}
                    </a>
                </div>
                <div class="d-grid d-block col-sm-12 col-md-6 mb-2">
                    <a href="{{ path('administration_semestre_export_tous_les_releves_provisoires',{'semestre':semestre.id}) }}"
                       class="btn btn-primary"><i class="fas fa-print"></i> Imprimer tous les relevés provisoires</a>
                </div>
                <div class="d-grid d-block col-sm-12 col-md-3">
                    <a href="{{ path('administration_evaluation_visibilite_all',{'etat':'visible', 'semestre':semestre.id}) }}"
                       class="btn btn-info"><i class="fas fa-eye"></i> Afficher les notes</a>
                </div>
                <div class="d-grid d-block col-sm-12 col-md-3">
                    <a href="{{ path('administration_evaluation_visibilite_all',{'etat':'nonvisible', 'semestre':semestre.id}) }}"
                       class="btn btn-danger"><i class="fas fa-eye-slash"></i> Masquer les notes</a>
                </div>
                <div class="d-grid d-block col-sm-12 col-md-3">
                    <a href="{{ path('administration_evaluation_modifiable_all',{'etat':'autorise', 'semestre':semestre.id}) }}"
                       class="btn btn-warning"><i class="fas fa-unlock"></i> Autoriser la modification</a>
                </div>
                <div class="d-grid d-block col-sm-12 col-md-3">
                    <a href="{{ path('administration_evaluation_modifiable_all',{'etat':'nonautorise', 'semestre':semestre.id}) }}"
                       class="btn btn-danger"><i class="fas fa-lock"></i> Interdire la modification</a>
                </div>
            </div>
            <br>
            {{ render(controller('App\\Controller\\administration\\NoteController::analyse', {semestre:semestre
            .id})) }}
            <br>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ 'table.matiere'|trans }}</th>
                    <th>{{ 'table.coefficient'|trans }}</th>
                    <th>{{ 'table.nb_notes'|trans }}</th>
                    <th>{{ 'table.intervenants'|trans }}</th>
                    <th>{{ 'table.evaluations'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for matiere in matieres %}
                    <tr>
                        <td>{{ matiere.display }}</td>
                        <td>{{ matiere.coefficient }}</td>
                        <td>{{ matiere.nbNotes }}</td>
                        <td>
                            <button
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'previsionnel.et.intervenants.matiere'|trans({'%matiere%':matiere.display}),
                                        modalUrl:  path('api_previsionnel_matiere', {'matiere': matiere.id, type:
                                            matiere.typeMatiere}) })}}
                                    data-action="click->modal#openModal"

                                    class="btn btn-info btn-outline btn-xs"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="{{ 'previsionnel.et.intervenants.matiere'|trans({'%matiere%':matiere.display}) }}"
                            ><i class="fas fa-user"></i>
                            </button>
                        </td>
                        <td>
                            {% set nbEval = 0 %}
                            <div class="btn-toolbar">
                                {% if evaluations[matiere.typeIdMatiere] is defined %}
                                    {% for evaluation in evaluations[matiere.typeIdMatiere] %}
                                        <div class="btn-group mt-2 me-2">
                                            <a class="btn btn-success"
                                               href="{{ path('administration_evaluation_show', {uuid:evaluation.uuidString}) }}"
                                               data-bs-toggle="tooltip"
                                               data-bs-placement="bottom"
                                               title="{{ 'detail.evaluation'|trans }}">
                                                {{ 'eval.de'|trans }} : {{ evaluation.libelle }}
                                                                      (#{{ evaluation.id }})
                                            </a>

                                            <button class="btn {% if evaluation.visible == false %}btn-danger{% else %}btn-outline btn-info{% endif %}  btn-square optAfficher"
                                                    data-id="{{ evaluation.uuidString }}"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom"
                                                    title="{% if evaluation.visible == true %}Evaluation visible. Masquer l'évaluation{% else %}Evaluation masquée. Rendre visible l'évaluation{% endif %}">
                                                <i class="fas {% if evaluation.visible == true %}fa-eye{% else %}fa-eye-slash{% endif %}"> </i>
                                            </button>
                                            <button class="btn {% if evaluation.modifiable == false %}btn-danger{% else %}btn-outline btn-warning{% endif %}  btn-square optVerrouiller"
                                                    data-id="{{ evaluation.uuidString }}"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom"
                                                    title="{% if evaluation.modifiable == false %}Modification interdite. Autoriser la modificaiton.{% else %}Modification autorisée. Interdire la modification{% endif %}">
                                                <i class="fas {% if evaluation.modifiable == false %}fa-lock{% else %}fa-lock-open{% endif %}"> </i>
                                            </button>
                                            <a class="btn btn-danger btn-outline btn-square supprimer"
                                               data-bs-toggle="tooltip"
                                               data-bs-placement="bottom"
                                               title="{{ 'atitle.supprimer'|trans }}"
                                               href="{{ path('administration_evaluation_delete', {uuid: evaluation.uuidString}) }}"
                                               data-csrf="{{ csrf_token('delete' ~ evaluation.uuidString) }}">
                                                <i class="{{ iconDelete }}"></i>
                                            </a>
                                        </div>
                                        {% set nbEval = nbEval + 1 %}
                                    {% endfor %}
                                {% endif %}
                                {% if nbEval < matiere.nbNotes %}
                                    {% for i in (nbEval+1)..matiere.nbNotes %}
                                        <div class="btn-group mt-2">
                                            <a class="btn btn-label btn-primary"
                                               href="{{ path('administration_evaluation_create', {matiere:matiere
                                               .typeIdMatiere}) }}"
                                               data-bs-toggle="tooltip"
                                               data-bs-placement="bottom"
                                               title="{{ 'atitle.saisir.evaluation'|trans }}">
                                                <label><i class="fas fa-plus"></i></label> {{ 'saisir.evaluation'|trans }}
                                            </a>
                                        </div>&nbsp;
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.notes') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.notes') }}
{% endblock %}
