<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <th class="cm">NB h*</th>
        <th class="cm">NB Gr.</th>
        <th class="cm">1.5**</th>

        <th class="previtd">NB h/ Gr.*</th>
        <th class="previtd">NB Gr.</th>
        <th class="previtd">1.5**</th>

        <th class="previtp">NB h/ Gr.*</th>
        <th class="previtp">NB Gr.</th>
        <th class="previtp">1.5**</th>

        <th class="cm">tot. CM*</th>
        <th class="previtd">tot. TD</th>
        <th class="previtp">tot. TP</th>

        <th>total eq. TD**</th>
        <th>total etu.</th>
    </tr>
    </thead>
    <tbody>
        {% for previsionnel in previsionnels|filter(previsionnel => previsionnel.semestre_id == semestre.id) %}
            <tr>
                <td colspan="11">
                    {{ previsionnel.matiere_code }} | {{ previsionnel.matiere_libelle }}
                                                    | {{ previsionnel.matiere_code_element }}
                </td>

                <td colspan="2">
                    <button
                            {{ stimulus_controller('modal', {
                                size: 'lg',
                                modalTitle: 'previsionnel.et.intervenants.matiere'|trans,
                                modalUrl:  path('api_previsionnel_matiere', {'matiere': previsionnel.matiere_id, type: previsionnel.type_matiere}) })}}
                            data-action="click->modal#openModal"
                            class="btn btn-block btn-cyan"
                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="{{ 'previsionnel.et.intervenants.matiere'|trans }}"
                    >
                        {{ 'detail.du.module'|trans }}
                    </button>
                </td>
                <td colspan="1">
                    {% if (user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE')) %}
                        <a href="{{ path('administration_previsionnel_duplicate', {id: previsionnel.id}) }}"
                           class="btn btn-success btn-outline btn-sm btn-square" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="{{ 'atitle.dupliquer'|trans }}"><i
                                    class="{{ iconDuplicate }}"></i></a>
                        <a href="{{ path('administration_previsionnel_delete', {id: previsionnel.id}) }}"
                           class="btn btn-danger btn-outline btn-sm btn-square supprimer" data-bs-toggle="tooltip" data-bs-placement="bottom"

                           data-csrf="{{ csrf_token('delete' ~ previsionnel.id) }}"
                           title="{{ 'atitle.supprimer'|trans }}"><i
                                    class="{{ iconDelete }}"></i></a>
                    {% endif %}
                </td>
            </tr>
            <tr id="ligne_{{ previsionnel.id }}">
                {% if (user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE')) %}
                    <td>
                        <a class="myedit"
                           data-field="NbHCm"
                           href="{{ path('administration_previsionnel_ajax_edit', {id:previsionnel.id}) }}"
                           data-title="Corriger le volume horaire">
                            {{ previsionnel.nbHCm }}</a> h
                    </td>
                    <td><a class="myedit"
                           data-field="NbGrCm"
                           href="{{ path('administration_previsionnel_ajax_edit', {id:previsionnel.id}) }}"
                           data-title="Corriger le nombre de groupes">
                        {{ previsionnel.nbGrCm }}</td>
                    <td>{{ previsionnel.nbSeanceCm }}</td>
                    <td class="previtd">
                        <a class="myedit"
                           data-field="NbHTd"
                           href="{{ path('administration_previsionnel_ajax_edit', {id:previsionnel.id}) }}"
                           data-title="Corriger le volume horaire">
                            {{ previsionnel.nbHTd }}</a> h
                    </td>
                    <td class="previtd">
                        <a class="myedit"
                           data-field="NbGrTd"
                           href="{{ path('administration_previsionnel_ajax_edit', {id:previsionnel.id}) }}"
                           data-title="Corriger le nombre de groupes">
                            {{ previsionnel.nbGrTd }}</a></td>
                    <td class="previtd">{{ previsionnel.nbSeanceTd }}</td>

                    <td class="previtp">
                        <a class="myedit"
                           data-field="NbHTp"
                           href="{{ path('administration_previsionnel_ajax_edit', {id:previsionnel.id}) }}"
                           data-title="Corriger le volume horaire">
                            {{ previsionnel.nbHTp }}</a> h
                    </td>
                    <td class="previtp">
                        <a class="myedit"
                           data-field="NbGrTp"
                           href="{{ path('administration_previsionnel_ajax_edit', {id:previsionnel.id}) }}"
                           data-title="Corriger le nombre de groupes">
                            {{ previsionnel.nbGrTp }}</a></td>
                    <td class="previtp">{{ previsionnel.nbSeanceTp }}</a></td>

                    <td>{{ previsionnel.totalHCm }} h</td>
                    <td class="previtd">{{ previsionnel.totalHTd }} h</td>
                    <td class="previtp">{{ previsionnel.totalHTp }} h</td>

                    <td>{{ previsionnel.totalEqTd }} h</td>
                    <td>{{ previsionnel.totalEtudiant }} h</td>
                {% else %}
                    <td>{{ previsionnel.nbHCm }} h
                    </td>
                    <td>{{ previsionnel.nbGrCm }}</td>
                    <td>{{ previsionnel.nbSeanceCm }}</td>
                    <td class="previtd">{{ previsionnel.nbHTd }} h
                    </td>
                    <td class="previtd">{{ previsionnel.nbGrTd }}</td>
                    <td class="previtd">{{ previsionnel.nbSeanceTd }}</td>

                    <td class="previtp">{{ previsionnel.nbHTp }} h
                    </td>
                    <td class="previtp">{{ previsionnel.nbGrTp }}</td>
                    <td class="previtp">{{ previsionnel.nbSeanceTp }}</td>

                    <td>{{ previsionnel.totalHCm }} h</td>
                    <td class="previtd">{{ previsionnel.totalHTd }} h</td>
                    <td class="previtp">{{ previsionnel.totalHTp }} h</td>

                    <td>{{ previsionnel.totalEqTd }} h</td>
                    <td>{{ previsionnel.totalEtudiant }} h</td>
                {% endif %}
            </tr>
    {% else %}
        <tr>
            <td colspan="14">Pas de service</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
