{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.alternance.fiche_suivi.new.heading'|trans }}
{% endblock %}

{%block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-new.html.twig', {elt: 'alternace_fiche_suivi', retour:
            {path: 'administration_alternance_show', params: {id:alternance.id}, titre:'Détails de
            l\'alternance'}}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.alternance.fiche_suivi.new.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('composants/adm-form.html.twig') }}
        </div>
    </div>
{% endblock %}
