<div class="row">
    <div class="col-sm-2">
        {{ include('messagerie/sidebar.html.twig') }}
    </div>
    <div class="col-sm-10">
        <div class="media-list media-list-divided media-list-hover" data-provide="selectall" id="messages-liste">
            {{ render(controller(
                'App\\Controller\\MessagerieController::listeMessages'
            )) }}
        </div>
    </div>
</div>
