<div class="row">
    {% if is_granted('ROLE_PERMANENT') %}
        <div class="col-2">
            {{ include('messagerie/sidebar.html.twig') }}
        </div>
    {% endif %}
    <div class="{% if is_granted('ROLE_PERMANENT') %}col-10{% else %}col-12{% endif %}">
        <div class="media-list media-list-divided media-list-hover" data-provide="selectall" id="messages-liste">
            {% if param != '' %}
                {{ render(controller(
                    'App\\Controller\\MessagerieController::message', {message:param}
                )) }}
            {% else %}
                {{ render(controller(
                    'App\\Controller\\MessagerieController::listeMessages'
                )) }}
            {% endif %}
        </div>
    </div>
</div>
