<div class="card">
    <header class="card-header">
        <div class="card-title flexbox">
            <div class="avatar-circle-sm">
                <span class="initials">
                    {{ message.type|upper }}
                </span>
            </div>
            <div>
                <h6 class="mb-0">Envoyé à : {{ message.typeDestinataires }}</h6>
                <small>{{ message.created ? message.created|format_datetime('long', 'short') : '' }}</small>
            </div>
        </div>

        <div class="dropdown">
            <a class="text-lighter" data-bs-toggle="dropdown" href="#"><i class="fas fa-ellipsis-h rotate-90"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#"><i class="fa fa-print"></i> {{ 'imprimer'|trans }}</a>
                <div class="dropdown-divider"></div>
            </div>
        </div>
    </header>

    <div class="collapse show" id="email-2">
        <div class="card-body">
            <p>{{ message.message|raw }}</p>
            <hr>
            {% if message.messagePieceJointes|length > 0 %}
                <h6 class="text-lighter text-uppercase mb-3">
                    <i class="fa fa-paperclip me-2"></i>
                    <small>{{ message.messagePieceJointes|length }} Pièce(s) jointe(s)</small>
                </h6>
                <div class="gap-items-2 gap-y">
                    {% for pj in message.messagePieceJointes %}
                        <a class="d-inline-block" href="{{ asset('upload/pj/'~pj.fichier) }}">
                            <i class="fas fa-file fa-5x"></i>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>


