<div class="card card-body">
    <form>
        <div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input messageDestinataireType" type="radio" name="messageDestinataireType"
                           id="messageSemestre" value="s"
                           {% if message != null and message.type== "s" %}checked{% endif %}>
                    <label class="form-check-label" for="messageSemestre">Semestre</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input messageDestinataireType"
                           type="radio" name="messageDestinataireType" id="messageGroupe"
                           value="g"
                           {% if message != null and message.type== "g" %}checked{% endif %}>
                    <label class="form-check-label" for="messageGroupe">Groupe(s)</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input messageDestinataireType" type="radio" name="messageDestinataireType"
                           id="messageEtudiant"
                           value="e"
                           {% if message != null and message.type== "e" %}checked{% endif %}>
                    <label class="form-check-label" for="messageEtudiant">Etudiant(s)</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input messageDestinataireType" type="radio" name="messageDestinataireType"
                           id="messagePersonnel" value="p"
                           {% if message != null and message.type== "p" %}checked{% endif %}>
                    <label class="form-check-label" for="messagePersonnel">Personnel(s)/vacataire(s)</label>
                </div>
            </div>
            <div id="blocDestMessgaeInfo" class="alert alert-info">Choisir d'abord le type de destinataire pour filtrer
            </div>
            <div id="blocDestSemestre"
                 class="form-group"
                 {% if message != null and message.type== "s" %}style="display:block" {% else %}style="display:none"{% endif %}>
                <label for="messageToSemestre">Choix semestre(s)</label>
                <select
                        multiple
                        is="select-complete"
                        class="form-control"
                        id="messageToSemestre" name="messageToSemestre[]" data-size="10"
                        title="Choisir le(s) semestre(s)"
                >
                    {% for semestre in user_data.semestresActifs %}
                        <option value="{{ semestre.id }}">{{ semestre.display }}</option>
                    {% endfor %}
                </select>

            </div>
        </div>
        <div id="blocDestGroupe"
             {% if message != null and message.type== "g" %}style="display:block" {% else %}style="display:none"{% endif %}
             class="form-group">
            <label for="messageToGroupe">Choix groupe(s)</label>
            <select
                    is="select-complete"
                    multiple
                    class="form-control selectpicker"
                    id="messageToGroupe" name="messageToGroupe[]" data-size="10"
                    title="Choisir le(s) groupe(s)"
            >
                {% for type_groupe in type_groupes %}
                    <optgroup label="{{ type_groupe.display }}">
                        {% for groupe in type_groupe.groupes %}
                            <option value="{{ groupe.id }}">{{ groupe.libelle }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
        <div id="blocDestLibreEtudiant"
             class="form-group"
             {% if message != null and message.type== "e" %}style="display:block" {% else %}style="display:none"{% endif %}>
            <label for="messageToLibreEtudiant">Choisir le(s) étudiants(s)</label>
            <select
                    is="select-complete"
                    multiple
                    class="form-control selectpicker"
                    id="messageToLibreEtudiant" name="messageToLibreEtudiant[]"
                    title="Choisir le(s) étudiants(s)"
                    data-size="10"

            >
                {% for semestre in user_data.semestres %}
                    <optgroup label="{{ semestre.display }}">
                        {% for etudiant in semestre.etudiants %}
                            <option value="{{ etudiant.id }}">{{ etudiant.display }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
            <div>Saisissez les premières lettre d'un nom d'étudiant.</div>
        </div>
        <div id="blocDestLibrePersonnel"
             class="form-group"
             {% if message != null and message.type== "p" %}style="display:block" {% else %}style="display:none"{% endif %}>
            <div class="row">
                <div class="col-sm-6">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cc-permanent"
                               name="messageToLibrePersonnel[]" value="permanent">
                        <label class="custom-control-label" for="cc-permanent">Tous les permanents</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="custom-control custom-checkbox" data-children-count="1">
                        <input type="checkbox" class="custom-control-input" id="cc-vacataires"
                               name="messageToLibrePersonnel[]" value="vacataire">
                        <label class="custom-control-label" for="cc-vacataires">Tous les vacataires</label>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="messageCopy">Copie(s)</label>
            <select class="form-control selectpicker" data-size="10"
                    is="select-complete"
                    title="{{ 'message.copy'|trans }}" id="messageCopy" name="messageCopy[]" multiple>
                {% for personnel in user_data.personnels %}
                    <option value="{{ personnel.id }}">{{ personnel.display }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="messageSubject">Sujet</label>
            <input class="form-control form-control-lg" type="text" maxlength="255"
                   placeholder="{{ 'message.subject'|trans }}" id="messageSubject" name="messageSubject"
               {% if message != null %}value="{{ message.sujet }}"{% endif %}>
        </div>
        <div class="form-group">
            <label for="messageMessage">Message</label>
            <textarea id="messageMessage" name="messageMessage">
            {% if message != null %}{{ message.message|raw }}{% endif %}
        </textarea>
        </div>
        <div style="display:none" id="blocPj">
            <div class="alert alert-info">
                Le total du poids des pièces jointes, ne peut pas exceder 10Mo. Dans le cas contraire utilisez par
                exemple
                <a href="https://filesender.renater.fr" target="_blank">filesender</a> pour obtenir un lien de partage
                de vos fichiers volumineux.
            </div>
            <div class="row" id="file1">
                <div class="col-10">
                    <input type="file" name="pj1" id="pj1" class="form-control pjFile" placeholder="Ajouter une pièce
                jointe">
                </div>
                <div class="col-1">
                    <button class="btn btn-block btn-success-outline addFile" data-file="1"><i class="fa
                fa-plus-circle"></i></button>
                </div>
                <div class="col-1">
                    <button class="btn btn-block btn-danger-outline removeFile" data-file="1"><i class="fa
            fa-minus-circle"></i></button>
                </div>
            </div>
        </div>
        <br>

        <div class="gap-items-2 text-right p-10 bg-lightest bt-1">
            <span id="poidPj"></span>
            <button class="btn btn-light" type="button" id="modalPj">
                <i class="fa fa-paperclip" title="Ajouter des pièces jointes"></i></button>
            <button class="btn btn-light" type="button" title="Sauvegarder le brouillon"><i
                        class="fa fa-save" id="saveDraft"></i></button>

            <button class="btn btn-secondary" type="button" data-dock="close">{{ 'annuler'|trans }}</button>
            <button class="btn btn-primary" type="submit" id="messageSent">{{ 'envoyer'|trans }}</button>
        </div>
    </form>
</div>
