<!-- Page aside -->
<aside class=""
       style="background-color: white; margin-left: -30px;margin-top: -30px; margin-bottom: 30px; height: 100%;
       padding-left: 10px; padding-right: 10px">
    <div class="aside-body">

        <button id="new-message" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            {{ 'nouveau.message'|trans }}
        </button>
        <ul class="nav nav-lg nav-pills flex-column">
            <li class="nav-item {% if filtre=='all' %}active{% endif %}">
                <i class="fa fa-inbox"></i>
                <a class="nav-link messagerie-filtre" href="#" data-filtre="all">{{ 'messagerie.boite.reception'|trans }}</a>
                <span class="badge badge-pill badge-info">{# user_data.nbUnread #}</span>
            </li>
            <li class="nav-item {% if filtre=='sent' %}active{% endif %}">
                <i class="fa fa-envelope"></i>
                <a class="nav-link messagerie-filtre" href="#" data-filtre="sent">{{ 'messagerie.boite.envoyes'|trans }}</a>
            </li>

            <li class="nav-item {% if filtre=='draft' %}active{% endif %}">
                <i class="fa fa-file"></i>
                <a class="nav-link messagerie-filtre" href="#" data-filtre="draft">{{ 'messagerie.boite.brouillons'|trans }}</a>
            </li>
        </ul>

        <hr>
    </div>

    <button class="aside-toggler"></button>
</aside>
<!-- END Page aside -->
