{% extends 'base.html.twig' %}

{% block title %}Edit AlternanceFicheSuivi{% endblock %}

{% block body %}
    <h1>Edit AlternanceFicheSuivi</h1>

    {{ include('alternance_fiche_suivi/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('alternance_fiche_suivi_index') }}">back to list</a>

    {{ include('alternance_fiche_suivi/_delete_form.html.twig') }}
{% endblock %}
