{% extends 'base.html.twig' %}

{% block title %}New AlternanceFicheSuivi{% endblock %}

{% block body %}
    <h1>Create new AlternanceFicheSuivi</h1>

    {{ include('alternance_fiche_suivi/_form.html.twig') }}

    <a href="{{ path('alternance_fiche_suivi_index') }}">back to list</a>
{% endblock %}
