{% extends 'base.html.twig' %}

{% block header %}
    {{ 'gestion.du.semestre.heading'|trans({'%libelle%':semestre.displayAvecTypeDiplome})|raw }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestresActifs  %}
            <a href="{{ path('administration_semestre_index', {semestre:sem.id}) }}"
               class="btn btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'changer.de.semestre'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"

            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            {% if semestre.actif == true %}
                <a href="{{ path('administration_semestre_actif',{semestre:semestre.id, actif:0}) }}"
                   class="btn btn-warning btn-sm btn-float"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.masquer_semestre'|trans }}"><i class="fa fa-eye-slash"></i>
                    <span class="sr-only">{{ 'atitle.masquer_semestre'|trans }}</span></a>
            {% else %}
                <a href="{{ path('administration_semestre_actif',{semestre:semestre.id, actif:1}) }}"
                   class="btn btn-info btn-sm btn-float"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.afficher_semestre'|trans }}"><i class="fa fa-eye"></i>
                    <span class="sr-only">{{ 'atitle.afficher_semestre'|trans }}</span></a>
            {% endif %}
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        {% if semestre.actif == false %}
            <div class="col-sm-12">
                <div class="alert alert-warning">Ce semestre n'est pas actif, <strong>aucune action ne peut être faite
                                                                                      par les
                                                                                      enseignants</strong>.
                </div>
            </div>
        {% endif %}

        {% if user_data.isGoodDepartement('ROLE_CDD') or user_data
            .isGoodDepartement('ROLE_DDE') or user_data
            .isGoodDepartement('ROLE_ASS') or user_data.isGoodDepartement('ROLE_ABS') or user_data.isGoodDepartement
            ('ROLE_RP') %}
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title">{{ 'gestion.des.absences'|trans|raw }}</h4>
                        <div class="card-header-actions">
                            <a class="btn btn-primary btn-sm"
                               type="button"
                               title="{{ 'saisir.absences'|trans }}"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                               href="{{ path('administration_absences_semestre_saisie',{semestre:semestre.id}) }}"
                            >
                                <i class="fas fa-plus"></i>
                            </a>
                            <ul class="card-controls">
                                <li class="dropdown">
                                    <a data-bs-toggle="dropdown" href="#"><i
                                                class="fas fa-ellipsis-h rotate-90"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
{#                                        <a href="{{ path('administration_all_absences_semestre_export', {semestre:semestre.id, _format:'pdf'}) }}"#}
{#                                           class="dropdown-item"><i#}
{#                                                    class="fa fa-file-pdf"></i>{{ 'exporter.pdf'|trans }}</a>#}
{#                                        <a href="{{ path('administration_all_absences_semestre_export', {semestre:semestre.id, _format:'csv'}) }}"#}
{#                                           class="dropdown-item"><i#}
{#                                                    class="fas fa-file-export"></i>{{ 'exporter.csv'|trans }}</a>#}
                                        <a href="{{ path('administration_all_absences_semestre_export', {semestre:semestre.id, _format:'xlsx'}) }}"
                                           class="dropdown-item"><i
                                                    class="fas fa-file-export"></i>{{ 'exporter.xls'|trans }}</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <div class="card-body">
                        <div class="col-12 d-block d-grid mb-2">
                            <a href="{{ path('administration_absences_semestre_liste',{semestre:semestre.id}) }}"
                               class="btn btn-primary">
                                {{ 'afficher.les.absences'|trans }}</a>
                        </div>
                        <div class="col-12 d-block d-grid mb-2">
                            <a href="{{ path('administration_absences_justificatif_semestre_liste',{semestre:semestre.id}) }}"
                               class="btn btn-primary">
                                {{ 'liste.justificatifs'|trans }}
                                (<span class="badge rounded-pill bg-info">{{ nbJustificatifs }}</span> nouveaux)</a>
                        </div>
                        <div class="col-12 d-block d-grid mb-2">
                            <a href="{{ path('administration_absences_semestre_justifier',{semestre:semestre.id}) }}"
                               class="btn btn-primary">
                                {{ 'justifier.les.absences'|trans }}</a>
                        </div>
                        <div class="col-12 d-block d-grid mb-2">
                            <a href="{{ path('administration_commission_absences_semestre_index',{semestre:semestre.id}) }}"
                               class="btn btn-primary">
                                {{ 'commission.des.absences'|trans }}</a>
                        </div>
                        <div class="col-12 d-block d-grid mb-2">
                            <a href="{{ path('administration_absence_appel_index',{semestre:semestre.id}) }}"
                               class="btn btn-primary">
                                {{ 'suivi.appels'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_ABS') or user_data.isGoodDepartement('ROLE_DDE') or user_data
            .isGoodDepartement('ROLE_ASS') or user_data.isGoodDepartement('ROLE_NOTES') or user_data.isGoodDepartement('ROLE_RP') %}
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title">{{ 'gestion.des.notes'|trans|raw }}</h4>
                        <ul class="card-controls">
                            <li class="dropdown">
                                <a data-bs-toggle="dropdown" href="#"><i class="fas fa-ellipsis-h rotate-90"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{{ path('administration_all_notes_export', {semestre:semestre.id, _format:'xlsx'}) }}"
                                       class="dropdown-item"><i class="fas fa-file-export"></i>{{ 'exporter.xlsx'|trans }}
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </header>
                    <div class="card-body">

                        <div class="col-12 d-block d-grid mb-2">
                            <a href="{{ path('administration_notes_semestre_index',{semestre:semestre.id}) }}"
                               class="btn btn-primary">
                                {{ 'afficher.les.notes'|trans }}
                            </a>
                        </div>
                        <div class="col-12 d-block d-grid mb-2">
                            <a href="{{ path('administration_evaluation_initialisation_index',{semestre:semestre.id}) }}"
                               class="btn btn-primary">
                                {{ 'initialiser.les.evaluations'|trans }}
                            </a>
                        </div>
                        <div class="col-12 d-block d-grid mb-2">
                            <a href="{{ path('administration_affecter_enseignant_groupe_index',{semestre:semestre.id}) }}"
                               class="btn btn-primary">
                                {{ 'affecter.enseignant.groupe'|trans }}
                            </a>
                        </div>
                        <div class="col-12 d-block d-grid mb-2">
                            <a href="{{ path('administration_rattrapage_semestre_index',{semestre:semestre.id}) }}"
                               class="btn btn-primary">
                                {{ 'demandes.rattrapages'|trans }}
                                <span class="badge rounded-pill bg-info">{{ nbRattrapages }}</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}

        {% if user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data
            .isGoodDepartement('ROLE_ASS') or user_data.isGoodDepartement('ROLE_RP') %}
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <header class="card-header"><h4 class="card-title">{{ 'gestion.des.etudiants'|trans|raw }}</h4>
                        <div class="card-header-actions">
                            <a href="{{ path('administration_etudiant_semestre_add', {semestre:semestre.id}) }}"
                               class="btn btn-primary btn-sm"
                               title="{{ 'Ajouter.des.etudiants'|trans }}"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"
                            >
                                <i class="fas fa-plus"></i>
                            </a>
                            <ul class="card-controls">
                                <li class="dropdown">
                                    <a data-bs-toggle="dropdown" href="#"><i class="fas fa-ellipsis-h rotate-90"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="{{ path('administration_etudiant_semestre_export', {semestre:semestre.id, _format:'pdf'}) }}"
                                           class="dropdown-item"><i
                                                    class="fa fa-file-pdf"></i>{{ 'exporter.pdf'|trans }}</a>
                                        <a href="{{ path('administration_etudiant_semestre_export', {semestre:semestre.id, _format:'csv'}) }}"
                                           class="dropdown-item"><i
                                                    class="fas fa-file-export"></i>{{ 'exporter.csv'|trans }}</a>
                                        <a href="{{ path('administration_etudiant_semestre_export', {semestre:semestre.id, _format:'xlsx'}) }}"
                                           class="dropdown-item"><i
                                                    class="fas fa-file-export"></i>{{ 'exporter.xls'|trans }}</a>
                                        <a href="{{ path('administration_etudiant_import_photo', {semestre:semestre.id}) }}"
                                           class="dropdown-item"><i
                                                    class="fas fa-file-import"></i>{{ 'importer.photo'|trans }}</a>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <div class="card-body">

                        <div class="col-12 d-block d-grid mb-2">
                            <a href="{{ path('administration_etudiant_semestre_index',{semestre:semestre.id}) }}"
                               class="btn btn-primary"> {{ 'donnees.des.etudiants'|trans }}</a>
                        </div>
                        <div class="col-12 d-block d-grid mb-2">
                            <a href="{{ path('administration_etudiant_parcours_semestre_index',{semestre:semestre.id}) }}"
                               class="btn btn-primary"> {{ 'synthese.des.parcours'|trans }}</a>
                        </div>
                        <div class="col-12 d-block d-grid mb-2">
                            <a href="{{ path('administration_etudiant_groupe_semestre_index',{semestre:semestre.id}) }}"
                               class="btn btn-primary"> {{ 'groupes'|trans }}</a>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}

        {% if user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data
            .isGoodDepartement('ROLE_ASS') or user_data.isGoodDepartement('ROLE_RP') or user_data.isGoodDepartement('ROLE_NOTES') %}
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title">{{ 'gerer.fin.semestre'|trans|raw }}</h4>
                        <div class="card-header-actions">
                            <ul class="card-controls">
                                <li class="dropdown">
                                    <a data-bs-toggle="dropdown" href="#"><i
                                                class="fas fa-ellipsis-h rotate-90"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="{{ path('administration_scolarite_saisie_promo', {semestre:semestre
                                        .id}) }}"
                                           class="dropdown-item"><i
                                                    class="fa fa-file-pdf"></i>Saisie des parcours de scolarité
                                                                               pour un
                                                                               semestre</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <div class="card-body">

                        <div class="col-12 d-block d-grid mb-2">
                            <a href="{{ path('administration_sous_commission_live',{semestre:semestre.id}) }}"
                               class="btn btn-primary">{{ 'simulation.sous-commission'|trans }}</a>
                        </div>
                        <div class="col-12 d-block d-grid mb-2">
                            <a href="{{ path('administration_sous_commission_travail',{semestre:semestre.id}) }}"
                               class="btn btn-warning"> {{ 'preparer.sous-commission'|trans }}</a>
                        </div>
                        <div class="col-12 d-block d-grid mb-2">
                            <a href="{{ path('administration_fin_semestre_index',{semestre:semestre.id}) }}"
                               class="btn btn-danger"> {{ 'changement.semestre'|trans }}</a>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
