<dl class="row">
    <dt class="col-md-5 col-sm-12">{{ 'matiere'|trans }}:</dt>
    <dd class="col-md-7 col-sm-12"> {{ matiere.display }}</dd>
    <dt class="col-md-5 col-sm-12">{{ 'date'|trans }}:</dt>
    <dd class="col-md-7 col-sm-12"> {{ absence.dateHeure ? absence.dateHeure|format_date('long') : '' }} </dd>
    <dt class="col-md-5 col-sm-12">{{ 'heure'|trans }}:</dt>
    <dd class="col-md-7 col-sm-12"> {{ absence.dateHeure ? absence.dateHeure|format_time('short') : '' }} </dd>
    <dt class="col-md-5 col-sm-12">{{ 'justifiee'|trans }}:</dt>
    <dd class="col-md-7 col-sm-12"> {{ absence.justifie ? 'Yes'|trans : 'No'|trans }} </dd>
    <dt class="col-md-5 col-sm-12">{{ 'saisie_par'|trans }}:</dt>
    <dd class="col-md-7 col-sm-12"> {{ absence.personnel.displayPr }}</dd>
    <dt class="col-md-5 col-sm-12">{{ 'created'|trans }}:</dt>
    <dd class="col-md-7 col-sm-12"> {{ absence.created ? absence.created|format_datetime('long', 'short') : '' }} </dd>
</dl>

