{% extends 'base.html.twig' %}

{% block header %}{{ 'app.personnel.absence.voir'|trans }} | <strong>{{ matiere.libelle }}</strong>{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_personnel_absence_index',{matiere:matiere.id}) }}" class="btn btn-info btn-sm btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_saisie'|trans }}"><i class="fas fa-plus"></i></a>
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_dashboard'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'app.personnel.absence.voir'|trans }} | <strong>{{ matiere.display }}</strong></h4>
        <div class="card-body">
            <table class="table table-bordered" id="liste-absences">
                <thead>
                <tr>
                    <th>{{ 'app.personnel.absence.nom'|trans }}</th>
                    <th>{{ 'app.personnel.absence.prenom'|trans }}</th>
                    <th>{{ 'app.personnel.absence.dateHeure'|trans }}</th>
                    <th>{{ 'app.personnel.absence.duree'|trans }}</th>
                    <th>{{ 'app.personnel.absence.saisiepar'|trans }}</th>
                    <th>{{ 'app.personnel.absence.justifie'|trans }}</th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for absence in absences %}
                    <tr class="{% if absence.justifie == true %}bg-pale-success{% else %}bg-pale-error{% endif %}"
                        id="ligne_{{ absence.uuidString }}">
                        <td>{{ absence.etudiant.nom }}</td>
                        <td>{{ absence.etudiant.prenom }}</td>
                        <td>{{ absence.dateHeure ? absence.dateHeure|format_datetime('long', 'short') : '' }}</td>
                        <td>{{ absence.duree ? absence.duree|format_time('short') : '' }}</td>
                        <td>{{ absence.personnel.display }}</td>
                        <td>{{ absence.justifie ? 'Yes'|trans : 'No'|trans }}</td>
                        <td>
                            <a href="{{ path('user_profil', {'type': 'etudiant', slug: absence.etudiant.slug, onglet: 'absences'}) }}"
                               class="btn btn-info btn-outline btn-square" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'details.des.absences'|trans }}"><i class="fas
                         fa-eye"></i></a>
                            {% if absence.personnel.id == user_data.user.id and matiere.semestre.diplome.optSupprAbsence == true %}
                                <a href="{{ path('application_personnel_absence_delete', {uuid: absence.uuidString}) }}"
                                   class="btn btn-danger btn-outline btn-square supprimer"
                                   data-csrf="{{ csrf_token('delete' ~ absence.uuidString) }}"><i class="{{ iconDelete }}"
                                                                                                  data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                                                  title="{{ 'supprimer'|trans }}"></i></a>
                            {% endif %}
                        </td>
                  </tr>
                {% else %}
                    <tr>
                        <td colspan="7">{{ 'no.record.found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('application_personnel_absence_export', {matiere:matiere.typeIdMatiere, _format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf"
        },
        {
            type:'info',
            href:path('application_personnel_absence_export', {matiere:matiere.typeIdMatiere,_format:'csv'}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('application_personnel_absence_export', {matiere:matiere.typeIdMatiere,_format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('application_personnel_absence_index',{matiere:matiere.typeIdMatiere}),
            title: 'ajouter'|trans,
            icone: 'fas fa-plus'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'personnel_absence'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('absences') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('absences') }}
{% endblock %}
