{% extends 'base.html.twig' %}

{% block header %}
    {{ 'projet_periode_gestion.heading'|trans({'%libelle%':projetPeriode.libelle})|raw }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for periode in periodes %}
            <a href="{{ path('administration_projet_periode_gestion', {uuid:periode.uuidString}) }}"
               class="btn btn-round {% if periode.id == projetPeriode.id %}btn-primary{% endif %}"
               title="{{ 'changer.de.projet_periode'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"

            >{{ periode.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_projet_periode_edit', {id: projetPeriode.uuidString}) }}"
               class="btn btn-warning btn-sm btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.modifier.la.periode'|trans }}"><i
                        class="{{ iconEdit }}"></i></a>

            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 sol-sm-12">
            <div class="card card-slided-up">
                <header class="card-header">
                    <h4 class="card-title">{{ 'periode'|trans }} : <strong>{{ projetPeriode.libelle }}</strong>
                                                                 ({{ projetPeriode.semestre.libelle }})</h4>
                    <ul class="card-controls">
                        <li>
                            <a class="card-btn-slide" href="#" title="plus de détails" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <i class="fas fa-chevron-down"></i>
                            </a></li>
                    </ul>
                </header>
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <p>{{ 'periode.de.projet.du'|trans }}
                                    <strong>{{ projetPeriode.dateDebut ? projetPeriode.dateDebut|format_date('long') : 'non.defini'|trans }}
                                        {{ 'au'|trans }}   {{ projetPeriode.dateFin ? projetPeriode
                                        .dateFin|format_date('long') : 'non.defini'|trans }}</strong>
                                </p>
                                <p>{{ 'les.responsables.sont'|trans }} : </p>
                                <ul>
                                    {% for personnel in projetPeriode.responsables %}
                                        <li>{{ personnel.displayPr }}</li>
                                    {% else %}
                                        {{ 'non.defini'|trans }}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-12">
            <div class="card">
                <h4 class="card-header">Etudiants</h4>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ 'table.etudiant'|trans }}</th>
                            <th>{{ 'table.organisme'|trans }}</th>
                            <th>{{ 'table.ville'|trans }}</th>
                            <th>{{ 'table.periode'|trans }}</th>
                            <th>{{ 'table.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for projetEtudiant in myProjet.dataEtudiants %}
                        <tr>
                            <td>{{ projetEtudiant.etudiant.display }}</td>
                            {% if projetEtudiant.projet is defined %}
                                {% if projetEtudiant.projet.etatProjet == constant
                                    ('App\\Entity\\ProjetEtudiant::ETAT_PROJET_AUTORISE') %}
                                    <td colspan="3">
                                        <button class="btn btn-block btn-primary">{{ 'saisie.autorise.formulaire.non.completee'|trans }}</button>
                                    </td>
                                    <td>
                                        ...
                                    </td>
                                {% else %}
                                    <td>{{ projetEtudiant.projet.organisme != null ? projetEtudiant.projet.organisme
                                        .raisonSociale : 'non.defini'|trans }}</td>
                                    <td>{% if projetEtudiant.projet.organisme!= null and projetEtudiant.projet.organisme.adresse != null %}

                                            {{ projetEtudiant.projet.organisme.adresse.ville|capitalize }} ({{ projetEtudiant.projet.organisme.adresse.codePostal }})
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ projetEtudiant.projet.projetPeriode.dateDebut|format_date('long') }}
                                        <br/> {{ projetEtudiant.projet.projetPeriode.dateFin|format_date('long') }}
                                    </td>

                                    <td>


                                        {% if projetEtudiant.projet.etatProjet == constant
                                            ('App\\Entity\\ProjetEtudiant::ETAT_PROJET_VALIDE') %}
                                            <a href="#" class="btn
                                                   btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                               title="Valider le projet">Projet validé</a>
                                        {% else %}
                                            <a href="{{ path('administration_projet_etudiant_change_etat',
                                                {projetPeriode: projetPeriode.uuidString, etudiant:projetEtudiant
                                                    .etudiant.id, etat: constant
                                                    ('App\\Entity\\ProjetEtudiant::ETAT_PROJET_VALIDE')}) }}" class="btn
                                                    btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                               title="Valider le projet"><i class="fa fa-check"></i></a>

                                        {% endif %}
                                        <a href="{{ path
                                            ('administration_projet_etudiant_convention_pdf', {id:projetEtudiant
                                                .projet.id}) }}"
                                           class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" data-placement="top"
                                           title="Editer la convention" target="_blank"><i
                                                    class="fa fa-print"></i></a>
                                        <a href="{{ path('administration_projet_etudiant_edit', {id:projetEtudiant
                                            .projet.id}) }}"
                                           class="btn btn-warning btn-outline btn-square"
                                           data-bs-toggle="tooltip" data-bs-placement="bottom"

                                           title="{{ 'atitle.modifier'|trans }}"><i class="{{ iconEdit }}"></i></a>
                                        <a href="{{ path('administration_projet_etudiant_delete', {id:projetEtudiant
                                            .projet.id}) }}"
                                           data-csrf="{{ csrf_token('delete' ~ projetEtudiant.projet.id) }}"
                                           class="btn btn-danger btn-outline btn-square supprimer"
                                           data-bs-toggle="tooltip" data-bs-placement="bottom"
                                           title="{{ 'atitle.supprimer'|trans }}"><i class="{{ iconDelete }}"></i></a>
                                    </td>
                                {% endif %}
                            {% else %}
                                <td>{{ 'pas.de.projet'|trans }}</td>
                                <td>{{ 'pas.de.projet'|trans }}</td>
                                <td>{{ 'pas.de.projet'|trans }}</td>

                                <td>
                                    <a href="{{ path('administration_projet_etudiant_change_etat', {projetPeriode:
                                        projetPeriode.uuidString, etudiant:projetEtudiant.etudiant.id, etat: constant
                                            ('App\\Entity\\ProjetEtudiant::ETAT_PROJET_AUTORISE')}) }}"
                                       class="btn btn-danger btn-block" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="Cliquez pour autoriser la saisie des informations (proposition signée reçue)">{{ 'autoriser.la.saisie'|trans }}</a>
                                </td>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_projet_periode_gestion_export', {_format:'pdf', uuid: projetPeriode
            .uuidString}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf"
        },
        {
            type:'info',
            href:path('administration_projet_periode_gestion_export', {_format:'csv', uuid: projetPeriode
            .uuidString}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('administration_projet_periode_gestion_export', {_format:'xlsx', uuid: projetPeriode
            .uuidString}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_projet_periode'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}

