{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.emprunts.historique.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_emprunts_index') }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_emprunt'|trans }}">
                <i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.emprunts.historique.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th><label class="sr-only" for="select_all">Tout selectionner</label>
                        <input name="select_all" value="1" id="select_all" type="checkbox"/></th>
                    <th>Etudiant</th>
                    <th>Date demande</th>
                    <th>Date debut emprunt</th>
                    <th>Date fin emprunt</th>
                    <th>Motif</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for emprunt in emprunts|filter(emprunt => emprunt.etat == constant('App\\Entity\\Emprunt::REVENU')
                    ) %}
                    <tr id="ligne_{{ emprunt.id }}">
                        <td></td>
                        <th>
                            <a href="{{ path('user_profil',{slug:emprunt.etudiant.slug, type:'etudiant' }) }}" target="_blank">
                                {{ emprunt.etudiant.display }}
                            </a>
                        </th>

                        <th>{{ emprunt.created ? emprunt.created|format_datetime('long', 'short') : '' }}</th>
                        <th>{{ emprunt.dateDebut ? emprunt.dateDebut|format_datetime('long', 'short') : '' }}</th>
                        <th>{{ emprunt.datefin ? emprunt.datefin|format_datetime('long', 'short') : '' }}</th>
                        <th>{{ emprunt.motif }}</th>
                        <th>
                            <a data-provide="modaler"
                               data-url="{{ path('administration_emprunt_show', {emprunt: emprunt
                                   .id}) }}"
                               class="btn btn-info btn-outline btn-square"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="{{ 'atitle.details'|trans }}"
                               data-title="{{ 'adm.emprunt.show.heading'|trans }}"
                            >
                                <i class="{{ iconShow }}"></i>
                                <span class="sr-only">{{ 'atitle.details'|trans }}</span>
                            </a>


                            <a href="{{ path('administration_emprunt_imprimer_fiche', {emprunt: emprunt.id}) }}"
                               data-csrf="{{ csrf_token('delete' ~ emprunt.id) }}"
                               class="btn btn-primary btn-outline btn-square"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="{{ 'atitle.imprimer'|trans }}">
                                <i class="{{ iconPrint }}"></i>
                                <span class="sr-only">{{ 'atitle.imprimer'|trans }}</span>
                            </a>
                            <a href="{{ path('administration_emprunt_delete', {emprunt: emprunt.id}) }}"
                               data-csrf="{{ csrf_token('delete' ~ emprunt.id) }}"
                               class="btn btn-danger btn-outline btn-square supprimer"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="{{ 'atitle.supprimer'|trans }}">
                                <i class="{{ iconDelete }}"></i>
                                <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                            </a>
                        </th>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_emprunts_export', {_format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf"
        },
        {
            type:'info',
            href:path('administration_emprunts_export', {_format:'csv'}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('administration_emprunts_export', {_format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_emprunts_historique'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}

