{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.emprunts.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_emprunt_historique') }}"
               class="btn btn-sm btn-info btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.historique.emprunt'|trans }}">
                <i class="fas fa-history"></i></a>
            <a href="{{ path('administration_index') }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.emprunts.index.heading'|trans }}</h4>
        <div class="card-body">
            <ul class="nav nav-tabs">
                {% for key, value in types %}
                    <li class="nav-item">
                        <a class="nav-link {% if loop.first %} active{% endif %}" data-bs-toggle="tab"
                           href="#type{{ key }}">{{ value }}
                            <span class="badge rounded-pill bg-info">{{ statistiques[key] }}</span></a>
                    </li>
                {% endfor %}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                {% for key, value  in types %}
                    <div class="tab-pane {% if loop.first %}fade active show{% endif %}"
                         id="type{{ key }}">
                        <h2>{{ value }}</h2>
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th><label class="sr-only" for="select_all">Tout selectionner</label>
                                    <input name="select_all" value="1" id="select_all" type="checkbox"/></th>
                                <th>Etudiant</th>
                                {% if key == constant('App\\Entity\\Emprunt::DEMANDE') %}
                                    <th>Date demande</th>
                                    <th>Date debut emprunt</th>
                                    <th>Date fin emprunt</th>
                                    <th>Motif</th>
                                {% endif %}
                                {% if key == constant('App\\Entity\\Emprunt::ACCEPTE') %}
                                    <th>Date debut emprunt</th>
                                    <th>Date fin emprunt</th>
                                    <th>Motif</th>
                                {% endif %}
                                {% if key == constant('App\\Entity\\Emprunt::SORTIE') %}
                                    <th>Date debut emprunt</th>
                                    <th>Date fin emprunt</th>
                                    <th>Telephone</th>
                                {% endif %}
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for emprunt in emprunts|filter(emprunt => emprunt.etat == key) %}
                                <tr id="ligne_{{ emprunt.id }}">
                                    <td></td>
                                    <th>
                                        <a href="{{ path('user_profil',{slug:emprunt.etudiant.slug, type:'etudiant' }) }}" target="_blank">
                                            {{ emprunt.etudiant.display }}
                                        </a>
                                    </th>
                                    {% if key == constant('App\\Entity\\Emprunt::DEMANDE') %}
                                      <th>{{ emprunt.created ? emprunt.created|format_datetime('long', 'short') : '' }}</th>
                                      <th>{{ emprunt.dateDebut ? emprunt.dateDebut|format_datetime('long', 'short') : '' }}</th>
                                      <th>{{ emprunt.datefin ? emprunt.datefin|format_datetime('long', 'short') : '' }}</th>
                                      <th>{{ emprunt.motif }}</th>
                                    {% endif %}
                                    {% if key == constant('App\\Entity\\Emprunt::ACCEPTE') %}
                                      <th>{{ emprunt.dateDebut ? emprunt.dateDebut|format_datetime('long', 'short') : '' }}</th>
                                      <th>{{ emprunt.datefin ? emprunt.datefin|format_datetime('long', 'short') : '' }}</th>
                                      <th>{{ emprunt.motif }}</th>
                                    {% endif %}
                                    {% if key == constant('App\\Entity\\Emprunt::SORTIE') %}
                                      <th>{{ emprunt.dateDebut ? emprunt.dateDebut|format_datetime('long', 'short') : '' }}</th>
                                      <th>{{ emprunt.datefin ? emprunt.datefin|format_datetime('long', 'short') : '' }}</th>
                                      <th>{{ emprunt.telephone|tel_format }}</th>
                                    {% endif %}
                                    <th>
                                        <a data-provide="modaler"
                                           data-url="{{ path('administration_emprunt_show', {emprunt: emprunt
                                               .id}) }}"
                                           class="btn btn-info btn-outline btn-square"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="bottom"
                                           title="{{ 'atitle.details'|trans }}"
                                           data-title="{{ 'adm.emprunt.show.heading'|trans }}"
                                        >
                                            <i class="{{ iconShow }}"></i>
                                            <span class="sr-only">{{ 'atitle.details'|trans }}</span>
                                        </a>
                                        {% if key == constant('App\\Entity\\Emprunt::DEMANDE') %}
                                            <a href="{{ path('administration_emprunt_change_etat', {emprunt: emprunt.id, etat:
                                                constant('App\\Entity\\Emprunt::ACCEPTE')}) }}"
                                               class="btn btn-success btn-outline btn-square"
                                               data-bs-toggle="tooltip"
                                               data-bs-placement="bottom"
                                               title="{{ 'atitle.emprunt_accepte'|trans }}">
                                                <i class="fas fa-check"></i>
                                                <span class="sr-only">{{ 'atitle.emprunt_accepte'|trans }}</span>
                                            </a>
                                            <a href="{{ path('administration_emprunt_change_etat', {emprunt: emprunt.id, etat:
                                                constant('App\\Entity\\Emprunt::REFUS')}) }}"
                                               class="btn btn-danger btn-outline btn-square"
                                               data-bs-toggle="tooltip"
                                               data-bs-placement="bottom"
                                               title="{{ 'atitle.emprunt_refuse'|trans }}">
                                                <i class="fas fa-ban"></i>
                                                <span class="sr-only">{{ 'atitle.emprunt_refuse'|trans }}</span>
                                            </a>
                                        {% endif %}
                                        {% if key == constant('App\\Entity\\Emprunt::ACCEPTE') %}
                                            <a href="{{ path('administration_emprunt_change_etat', {emprunt: emprunt.id, etat:
                                                constant('App\\Entity\\Emprunt::SORTIE')}) }}"
                                               class="btn btn-success btn-outline btn-square"
                                               data-bs-toggle="tooltip"
                                               data-bs-placement="bottom"
                                               title="{{ 'atitle.emprunt_sortie'|trans }}">
                                                <i class="fas fa-check"></i>
                                                <span class="sr-only">{{ 'atitle.emprunt_sortie'|trans }}</span>
                                            </a>
                                        {% endif %}
                                        {% if key == constant('App\\Entity\\Emprunt::SORTIE') %}
                                            <a href="{{ path('administration_emprunt_change_etat', {emprunt: emprunt.id, etat:
                                                constant('App\\Entity\\Emprunt::REVENU')}) }}"
                                               class="btn btn-success btn-outline btn-square"
                                               data-bs-toggle="tooltip"
                                               data-bs-placement="bottom"
                                               title="{{ 'atitle.emprunt_revenu'|trans }}">
                                                <i class="fas fa-check"></i>
                                                <span class="sr-only">{{ 'atitle.emprunt_revenu'|trans }}</span>
                                            </a>
                                        {% endif %}
                                        <a href="{{ path('administration_emprunt_imprimer_fiche', {emprunt: emprunt.id}) }}"
                                           data-csrf="{{ csrf_token('delete' ~ emprunt.id) }}"
                                           class="btn btn-primary btn-outline btn-square"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="bottom"
                                           title="{{ 'atitle.imprimer'|trans }}">
                                            <i class="{{ iconPrint }}"></i>
                                            <span class="sr-only">{{ 'atitle.imprimer'|trans }}</span>
                                        </a>
                                        <a href="{{ path('administration_emprunt_delete', {emprunt: emprunt.id}) }}"
                                           data-csrf="{{ csrf_token('delete' ~ emprunt.id) }}"
                                           class="btn btn-danger btn-outline btn-square supprimer"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="bottom"
                                           title="{{ 'atitle.supprimer'|trans }}">
                                            <i class="{{ iconDelete }}"></i>
                                            <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                                        </a>
                                    </th>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_emprunts_export', {_format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf"
        },
        {
            type:'info',
            href:path('administration_emprunts_export', {_format:'csv'}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('administration_emprunts_export', {_format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_emprunts'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}
