{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.borne.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-show.html.twig', {elt: 'borne', id: borne.id}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.borne.show.heading'|trans }}</h4>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'table.id'|trans }}</th>
                    <td>{{ borne.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.icone'|trans }}</th>
                    <td><i class="{{ borne.icone }}"></i></td>
                </tr>
                <tr>
                    <th>{{ 'table.couleur'|trans }}</th>
                    <td><span class="badge" style="background-color:{{ borne.couleur }}">{{ borne.couleur }}</span></td>
                </tr>
                <tr>
                    <th>{{ 'table.message'|trans }}</th>
                    <td>{{ borne.message }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.semestres'|trans }}</th>
                    <td>{% for semestre in borne.semestres %}
                            <span class="badge bg-success me-2">{{ semestre.display }}</span>
                        {% endfor %}</td>
                </tr>

                <tr>
                    <th>{{ 'table.message_visible'|trans }}</th>
                    <td>{{ borne.visible ? 'Yes'|trans : 'No'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.url'|trans }}</th>
                    <td>{{ borne.url }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.qrcode'|trans }}</th>
                    <td>{% if borne.url|trim != '' or borne.url != null %}<img src="{{ qr_code_data_uri(borne.url, {
                            writer: 'svg', size: 150 }) }}" alt="QRcode de l'événement" />{% endif %}</td>
                </tr>
                <tr>
                    <th>{{ 'table.dateDebutPublication'|trans }}</th>
                    <td>{{ borne.dateDebutPublication ? borne.dateDebutPublication|format_datetime('long', 'short') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.dateFinPublication'|trans }}</th>
                    <td>{{ borne.dateFinPublication ? borne.dateFinPublication|format_datetime('long', 'short') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.created'|trans }}</th>
                    <td>{{ borne.created ? borne.created|format_datetime('long', 'short') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.updated'|trans }}</th>
                    <td>{{ borne.updated ? borne.updated|format_datetime('long', 'short') : '' }}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
