<div class="card">
    <h4 class="card-title">{{ 'parametres'|trans }}</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="absence-matiere">{{ 'matiere'|trans }}</label>
                    <select class="form-control selectpicker"
                            id="absence-matiere"
                            is="select-complete"
                    >
                        {% for mati in matieres %}
                            <option value="{{ mati.typeIdMatiere }}"
                                    {% if matiere != null and mati.typeIdMatiere == matiere.typeIdMatiere %}selected{% endif %}>
                                {{ mati.display }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="absence-date">{{ 'date_'|trans }}</label>
                    <div class="input-group">
                        <input type="text" class="form-control"
                               is="my-datepicker"
                               id="absence-date"
                               value="{% if event != null and event.dateObjet != null %}{{ event.dateObjet|date
                                   ('d/m/Y') }}
                                {% else %}
                                {{ date("now")|date('d/m/Y') }}{% endif %}">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="absence-heure">Heure</label>
                    <select class="form-control selectpicker" id="absence-heure"
                            is="select-complete"
                    >
                        <option value="">{{ 'choisir.heure.debut'|trans }}</option>
                        {% for i in 08..19 %}
                            <option value="{{ i|formatHeure }}:00" {% if event != null and i|formatHeure~':00' ==
                                event.heureDebut|date('H:i') %} selected {% endif %}>
                                {{ i|formatHeure }}h00
                            </option>
                            <option value="{{ i|formatHeure }}:15" {% if event != null and
                                i|formatHeure~':15'
                                == event.heureDebut|date('H:i') %} selected {% endif %}>
                                {{ i|formatHeure }}h15
                            </option>
                            <option value="{{ i|formatHeure }}:30" {% if event != null and  i|formatHeure~':30' == event.heureDebut|date('H:i') %} selected {% endif %}>
                                {{ i|formatHeure }}h30
                            </option>
                            <option value="{{ i|formatHeure }}:45" {% if event != null and  i|formatHeure~':45' == event.heureDebut|date('H:i') %} selected {% endif %}>
                                {{ i|formatHeure }}h45
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="absence-groupe">{{ 'groupe'|trans }}</label>
                    <div class="row">
                        {% if typeGroupes is defined %}
                            {% for typeGroupe in typeGroupes %}
                                <div class="col-sm-2 d-grid d-block">
                                    <button data-typegroupe="{{ typeGroupe.id }}"
                                            class="btn {% if event != null and event.type_cours|upper ==
                                                typeGroupe.libelle|upper %}btn-primary{% endif %} absChangeTypeGroupe">{{ typeGroupe.libelle }}</button>
                                </div>
                            {% else %}
                                <div class="col-md-12">
                                    <div class="alert alert-warning">
                                        {% if user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement
                                            ('ROLE_DDE') %}
                                            Aucun groupe n'existe dans ce semestre. <a
                                                href="{{ path('administration_groupe_index') }}">Veuillez
                                                                                                 d'abord ajouter des
                                                                                                 types de groupe et
                                                                                                 des groupes.</a>
                                        {% else %}
                                            Aucun groupe n'existe dans ce semestre. Contactez les responsables du
                                            département.
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% for typeGroupe in groupes.typeGroupes %}
                                <div class="col-sm-2 d-grid d-block">
                                    <button data-typegroupe="{{ typeGroupe.id }}"
                                            class="btn {% if event != null and event.type_cours|upper ==
                                                typeGroupe.libelle|upper %}btn-primary{% endif %} absChangeTypeGroupe">{{ typeGroupe.libelle }}</button>
                                </div>

                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <h4 class="card-title">{{ 'etudiants.du.semestre'|trans }}</h4>
    <div class="card-body" id="listeEtudiantsAbsences">
        {% if event != null %}
            {{ include('api/absence/listeEtudiant.html.twig', {selectedTypeGroupe: groupes, numerogroupe: event.groupe}) }}
        {% else %}
            <div class="alert alert-info">Choisir d'abord un groupe ci-dessus</div>
        {% endif %}
    </div>
</div>
