{% extends 'base.html.twig' %}

{% block header %}
    {{ 'planning.annuel.heading'|trans({'%annee%': annee, '%annees%':annee+1}) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab"
                   href="#semestre1">Septembre-Février</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                   href="#semestre2">Mars-Août</a>
            </li>
        </ul>
        <div class="buttons">
            <a href="{{ path('agenda_index') }}"
               class="btn btn-info btn-sm btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.agenda'|trans }}"><i class="fas
               fa-calendar"></i></a>
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_dashboard'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="tab-content card">
        <div class="tab-pane fade active show" id="semestre1">
            {{ include('planning/semestre.html.twig', {
                title: 'Septembre-Février',
                onglet: 1
            }) }}
        </div>
        <div class="tab-pane" id="semestre2">
            {{ include('planning/semestre.html.twig', {
                title: 'Mars-Août',
                onglet: 2
            }) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('planning') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('planning') }}
{% endblock %}
