<div class="col-md-6 col-lg-6 col-sm-12">
    <div class="card administration">
        <header class="card-header">
            <i class="fa-solid fa-briefcase fa-2x"></i>
            <h2 class="card-title">{{ 'adm.alternances'|trans }}</h2>
        </header>
        <div class="card-body">
            <div class="row">
                {% set alternance = false %}
                {% for annee in user_data.annees|filter(annee => annee.optAlternance == true) %}
                    {% set alternance = true %}
                        <a href="{{ path('administration_alternance_index',{annee:annee.id}) }}"> Alternances pour l'année {{ annee.libelle }}</a>
                {% endfor %}
                {% if alternance == false %}
                    <div class="alert alert-info">Aucune année n'est proposée en alternance</div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
