<div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card"><h2 class="card-title">{{ 'adm.parametres.departement'|trans }}</h2>
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_creneau_cours_index') }}" class="btn btn-primary">
                        {{ 'adm.creneau_cours_menu'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
