<div class="row">
    <div class="col-md-12 col-lg-12  col-sm-12">
        <div class="card card-warning">
            <header class="card-header">
                <h2 class="card-title">{{ 'adm.attestation_deplacement'|trans }}</h2>
            </header>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <a href="{{ path('administration_covid_attestation_personnel_index') }}" class="btn
                btn-info">Voir les demandes des personnels</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{{ path('administration_covid_attestation_etudiant_index') }}" class="btn
                btn-info">Gérer les convocations pour les étudiants</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

