<div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card">
        <header class="card-header">
            <h2 class="card-title">{{ 'adm.edt.menu'|trans }}</h2>
            <div class="card-header-actions" style="">
                <a href="{{ path('administration_date_new') }}" class="btn btn-sm btn-info"
                   title="Ajouter une date" data-bs-toggle="tooltip" data-bs-placement="bottom">
                    <i class="fas fa-plus"></i><span
                            class="sr-only">ajouter un événement</span></a>
            </div>
        </header>
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_edt_index') }}"
                       class="btn btn-primary"> {{ 'adm.gerer.edt'|trans }}</a>
                </div>

                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_date_index') }}"
                       class="btn btn-primary"> {{ 'adm.gerer.dates'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
