<div class="col-md-12 col-lg-12  col-sm-12">
    <div class="card">
        <header class="card-header">
            <h2 class="card-title">{{ 'adm.etudiants'|trans }}</h2>
        </header>

        <div class="card-body administration">
            {{ render_esi(controller(
                'App\\Controller\\administration\\AbsenceController::listeTempsReel'
            )) }}

            <div class="row">
                {% for semestre in user_data.semestres|filter(semestre => semestre.actif == true) %}
                    <div class="col-lg-3 col-10 d-grid d-block mb-2 etudiant_bloc">
                        <div class="admin_links_bloc_header">
                            <i class="fa-solid fa-user-graduate fa-2x"></i>
                            <h4>Formation Continue</h4>
                            <p>Gestion des absences, des notes, des étudiants, des fins de semestres,
                                des alternances et des PPN</p>
                        </div>
                        <hr>
                        <a href="">B.U.T MMI | S3 - DWeb-DI</a>
                        <a href="">B.U.T MMI | S3 - Strat UX</a>
                        <a href="">LPro LP DEV | LPDEV</a>
                        <a href="">LPro LP Comm | LPMC</a>
                    </div>

                    <div class="col-lg-3 col-10 d-grid d-block mb-2 etudiant_bloc">
                        <div class="admin_links_bloc_header">
                            <i class="fa-solid fa-user-graduate fa-2x"></i>
                            <h4>Formation Initiale</h4>
                            <p>Gestion des absences, des notes, des étudiants, des fins de semestres,
                                des
                                stages</p>
                        </div>
                        <hr>
                        {# TODO: lier l'affichage au semestre en cours #}
                        <a href="">B.U.T MMI | S1</a>
                        <a href="">B.U.T MMI | S3 - DWeb-DI | FI</a>
                        <a href="">Stage - B.U.T MMI | S3 - DWeb-DI | FI</a>
                        <a href="">B.U.T MMI | S3 - Créa | FI</a>
                        <a href="">Stage - B.U.T MMI | S3 - Créa | FI</a>
                    </div>

                    <div class="col-lg-3 col-10 d-grid d-block mb-2 etudiant_bloc">
                        <div class="admin_links_bloc_header">
                            <i class="fa-solid fa-users fa-2x"></i>
                            <h4>Général</h4>
                            <p>Gestion des différents semestres</p>
                        </div>
                        <hr>
                        <a href="">Tous les étudiants</a>
                        <a href="">Cohortes</a>
                        <a href="">Statistiques</a>
                        <a href="">Mise à jour d’une sous-commission</a>
                        <a href="">Ajouter des étudiants</a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
