<div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card">
        <header class="card-header">
            <h2 class="card-title">{{ 'adm.materiels'|trans }}</h2>
            <div class="card-header-actions" style="">
                <a href="{{ path('administration_materiel_new') }}" class="btn btn-sm btn-info"
                   title="Ajouter un matériel" data-bs-toggle="tooltip" data-bs-placement="bottom">
                    <i class="fas fa-plus"></i><span
                            class="sr-only">aAjouter un matériel</span></a>
            </div>
        </header>
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">

                    <a href="{{ path('administration_materiel_index') }}"
                       class="btn btn-primary">{{ 'gestion.materiel'|trans }}</a>

                </div>

                <div class="col-12 d-grid d-block mb-2">

                    <a href="{{ path('administration_type_materiel_index') }}"
                       class="btn btn-primary">{{ 'gestion.categorie.materiel'|trans }}</a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card">
        <header class="card-header">
            <h2 class="card-title">{{ 'adm.emprunts.menu'|trans }}</h2>
        </header>
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">

                    <a href="{{ path('administration_emprunts_index') }}"
                       class="btn btn-primary">{{ 'gestion.des.emprunts'|trans }}</a>

                </div>
            </div>
        </div>
    </div>
</div>
