<div class="col-md-6 col-lg-6 col-sm-12">
    <div class="card-top-header">
        <h2 class="card-top-title">
            <i class="fa-solid fa-user-group text-primary"></i>
            {{ 'adm.personnels'|trans }}
        </h2>
    </div>
    <div class="card administration">
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_personnel_index') }}">Permanents et vacataires du département</a>
                    <a href="{{ path('administration_previsionnel_index') }}">Prévisionnels</a>
                    <a href="{{ path('administration_hrs_index') }}">HRS/Primes</a>

                </div>
            </div>
        </div>
    </div>
</div>
