<div class="col-md-6 col-lg-6 col-sm-12">
    <div class="card administration">
        <div class="card-header">
            <i class="fa-solid fa-user-group fa-2x"></i>
            <h2 class="card-title">{{ 'adm.personnels'|trans }}</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_personnel_index') }}">Permanents et vacataires du département</a>
                    <a href="{{ path('administration_personnel_index') }}">Prévisionnels</a>
                    <a href="{{ path('administration_hrs_index') }}">HRS/Primes</a>

                </div>
            </div>
        </div>
    </div>
</div>
