<div class="col-md-6 col-lg-6 col-sm-12">
    <div class="card-top-header">

        <h2 class="card-top-title">
            <i class="fa-solid fa-book text-primary"></i>
            {{ 'adm.ppn.menu'|trans }}</h2>
    </div>
    <div class="card administration">

    <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_matiere_index') }}">Liste des matières</a>
                    <a href="{{ path('administration_plan_cours_index') }}">Liste des plans de cours</a>
                    <a href="{{ path('administration_ppn_index') }}">Voir les Programmes Pédagogiques</a>
                </div>
            </div>
        </div>
    </div>
</div>
