<div class="col-md-6 col-lg-6 col-sm-12">
    <div class="card administration">
        <header class="card-header">
            <i class="fa-solid fa-hammer fa-2x"></i>
            <h2 class="card-title">{{ 'adm.projet'|trans }}</h2>
        </header>
        <div class="card-body">
            <div class="row">
                {% for periode in projetPeriodes %}
                    <div class="col-6 d-grid d-block  mb-2">
                        <a href="{{ path('administration_projet_periode_gestion', {uuid:periode.uuidString}) }}"> Période : <strong>{{ periode.libelle }}
                                ({% for semestre in periode.semestres %}{{ semestre.display }}{% endfor
                                %})</strong></a>
                    </div>
                {% else %}
                    <div class="col-sm-12">

                        <div class="alert alert-info">Aucune période de projet.</div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
