<div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card">
        <header class="card-header">
            <h2 class="card-title">{{ 'adm.qualite.menu'|trans }}</h2>
        </header>
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_qualite_index') }}"
                       class="btn btn-primary"> {{ 'adm.gerer.questionnaire_qualite'|trans }}
                    </a>
                </div>
                <div class="col-12 d-grid d-block mb-2">
                    <a href="#"
                       class="btn btn-primary disabled"> {{ 'adm.creer.questionnaire_qualite'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
