<div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card"><h2 class="card-title">{{ 'adm.structure.departement'|trans }}</h2>
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_structure_index') }}"
                       class="btn btn-primary"> {{ 'adm.structure.menu'|trans }}</a>
                </div>

                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_configuration') }}" class="btn btn-primary">
                        {{ 'adm.configuration.menu'|trans }}</a>
                </div>
            </div>

        </div>
    </div>
</div>
