<div class="col-md-6 col-lg-6 col-sm-12">
    <div class="card-top-header">
        <h2 class="card-top-title">
            <i class="fa-solid fa-wrench text-primary"></i>
            {{ 'adm.structure.departement'|trans }}
        </h2>
    </div>
    <div class="card administration">
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_structure_index') }}">Structure de la formation</a>
                    <a href="{{ path('administration_semestre_organisation_index') }}">Organisation des semestres</a>
                    <a href="{{ path('administration_configuration') }}">Configuration de l'intranet</a>
                </div>

            </div>
        </div>
    </div>
</div>
