<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Récapitulatif des erreurs EduSign</title>
</head>
<body>
<h1>EduSign - Récapitulatif des erreurs</h1>
<h2>{{ diplome }}</h2>
{% if errors %}
    <ul>
        {% for id, error in errors %}
            <li>{{ type }} id : {{ id }} => {{ error }}</li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucune erreur rencontrée lors de la mise à jour.</p>
{% endif %}
</body>
</html>
