Bonjour  {{ etudiant.displayPr }},<br><br>

<p>Vous avez été invité(e) à répondre au questionnaire "{{ titre }}". Nous constatons que vous
   n'avez pas encore répondu et vous demandons de bien vouloir le faire dès à présent.</p>

<p>Pour y répondre, merci de vous rendre dans votre espace Intranet (onglet Applications, puis onglet Qualité et
   cliquez sur Compléter le questionnaire).</p>

<p>Bien cordialement,</p>

<p>Le Responsable pédagogique,<br>
    {{ etudiant.semestre.diplome.responsableDiplome.displayPr }}</p>
