{% extends 'base.html.twig' %}

{% block meta %}
    <meta http-equiv="refresh" content="900">
{% endblock %}

{% block full_body %}
    <!-- CONTENEUR 1080PX -->
    <div id="container" style="font-size:.8rem">
        <!-- Date -->
        <div class="row">
            <div class="col-2">
                <div class="heure">
                    <article class="clock">
                        <div class="hours-container">
                            <div class="hours"></div>
                        </div>
                        <div class="minutes-container">
                            <div class="minutes"></div>
                        </div>
                        <div class="seconds-container">
                            <div class="seconds"></div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-10">
                <div id="date">
                    <span class="element">{{ datedujourlong(app.request.locale) }}</span>
                    <span class="element" id="heure">16:45</span>
                </div>
            </div>
        </div>

        <!-- /Date -->

        {% for i in 1..2 %}
            {% if zones['zone'~i] is defined %}
                {% set zone =  zones['zone'~i] %}
                {% if zone.type == 'semestre' %}
                    <!-- HEADER SEMESTRE -->
                    <div class="row mt-2">
                        <div class="col-12 semestre-header">
                            <span>{{ zone.data.semestre.display }}</span>
                        </div>
                        <!-- /HEADER SEMESTRE -->
                        <div class="col-12">
                            <div class="schedule-semestre-{{ zone.data.semestre.nbgroupeTPEDT }} semestre_borne"
                                 aria-labelledby="schedule-heading">
                                {% for j in 1..zone.data.semestre.nbgroupeTPEDT %}
                                    <span class="track-slot col-edt-header jour"
                                          style="grid-column: track-{{ j }}; grid-row: tracks;">
                                        {{ zone.data.p1.groupes[j] }}
                                    </span>
                                {% endfor %}
                                {% for ligne in 0..22 %}
                                    <h2 class="time-slot" style="grid-row: time-{{ tabHeures[ligne][0] }};">{{ tabHeures[ligne][1] }}</h2>
                                    {% for j in 1..zone.data.semestre.nbgroupeTPEDT %}
                                        {% if zone.data.planning[j][tabHeures[ligne][0]] is defined %}
                                            <div class="session {{ zone.data.planning[j][tabHeures[ligne][0]].classCss }}"
                                                    {% if zone.data.planning[j][tabHeures[ligne][0]].type_cours == 'TP' %}
                                                        style="grid-column: track-{{ zone.data.planning[j][tabHeures[ligne][0]]
                                                        .ordreGroupe }}-start / track-{{ zone.data.planning[j][tabHeures[ligne][0]]
                                                        .ordreGroupe }}-end; grid-row:
                                                                time-{{ zone.data.planning[j][tabHeures[ligne][0]].gridStart }} / time-{{ zone.data.planning[j][tabHeures[ligne][0]].gridEnd }};"
                                                    {% elseif zone.data.planning[j][tabHeures[ligne][0]].type_cours ==
                                                        'TD' %}
                                                        style="grid-column: track-{{ zone.data.planning[j][tabHeures[ligne][0]]
                                                        .ordreGroupe }}-start / track-{{ zone.data.planning[j][tabHeures[ligne][0]]
                                                        .ordreGroupe + 1 }}-end;
                                                                grid-row: time-{{ zone.data.planning[j][tabHeures[ligne][0]]
                                                        .gridStart }} / time-{{ zone.data.planning[j][tabHeures[ligne][0]].gridEnd }};"
                                                    {% else %}

                                                        style="grid-column: track-1-start / track-{{ zone.data.semestre.nbgroupeTPEDT }}-end;
                                                                grid-row: time-{{ zone.data.planning[j][tabHeures[ligne][0]]
                                                        .gridStart }} / time-{{ zone.data.planning[j][tabHeures[ligne][0]].gridEnd }};"
                                                    {% endif %}
                                            >

                                                <div class="session-body">
                                                    <a href="{{ path('application_personnel_absence_from_planning',{
                                                        'event':zone.data.planning[j][tabHeures[ligne][0]].id,
                                                        'source': zone.data.planning[j][tabHeures[ligne][0]].source }) }}">
                                                        <span class="session-title">{{ zone.data
                                                            .planning[j][tabHeures[ligne][0]].code_matiere }}</span>
                                                        <span class="session-presenter">{{ zone.data
                                                            .planning[j][tabHeures[ligne][0]].personnel }}</span>
                                                        <span class="session-room">{{ zone.data.planning[j][tabHeures[ligne][0]].salle }}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- CONTENU SEMESTRE -->

                    <!-- /CONTENU SEMESTRE -->
                {% else %}
                    Non défini
                {% endif %}
            {% endif %}
        {% endfor %}




        {# <!-- BANDEAU INFOS --> #}
        {# <section class="bandeau"> #}
        {# <div class="carousel carousel-slider center" data-indicators="true"> #}
        {# <div class="carousel-item" style="background-color:#F9B000" href="#sli_0"> #}
        {# <div class="align"> #}

        {# <p class="white-text"> #}
        {# Toutes les informations du département. #}
        {# </p> #}

        {# <div class="qrcode"> #}
        {# <img src="{{ qr_code_data_uri('http://mmi.iut-troyes.univ-reims.fr') }}" /> #}
        {# <p>Flashez moi pour plus d'informations.</p> #}
        {# </div> #}
        {# </div> #}
        {# </div> #}

        {# {% for message in messages %} #}
        {# {% for m in message|filter(m => (m.visible == true)) %} #}
        {# <div class="carousel-item" style="background-color:{{ m.couleur }}" href="#sli_{{ loop.index }}"> #}
        {# <div class="align"> #}
        {# <i class="{{ m.icone }} fa-7x"></i> #}
        {# <p class="white-text"> #}
        {# {{ m.message }} #}
        {# </p> #}
        {# {% if m.url != '' or m.url != null %} #}
        {# <div class="qrcode"> #}
        {# <img src="{{ qr_code_data_uri(m.url) }}"/> #}
        {# <p>Flashez moi pour plus d'informations.</p> #}
        {# </div> #}
        {# {% endif %} #}
        {# </div> #}
        {# </div> #}
        {# {% endfor %} #}
        {# {% endfor %} #}
        {# </div> #}
        {# </section> #}
        {# <!-- /BANDEAU INFOS --> #}
        <br>
        <!--Footer-->
        <section style="width:100%; text-align: center">
            <div style="width:25%; text-align: center; float: left">
                <img src="{{ asset('upload/logo/'~settings('LOGO_IUT')) }}" alt="logo IUT" width="100px"/>
            </div>
            <div style="width:25%; text-align: center; float: left">
                <img src="{{ asset('upload/logo/'~settings('LOGO_UNIVERSITE')) }}" alt="logo Université" width="100px"/>
            </div>
            <div style="width:25%; text-align: center; float: left; padding-top: 20px">
                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="30%" height="30%" viewBox="0 0 1811.638 1426" enable-background="new 0 0 1811.638 1426" xml:space="preserve">
<g>
    <path class="pt1b" fill="#333333" d="M380.607,160.948c-47.971,0-86.855,38.885-86.855,86.855c0,47.697,38.451,86.398,86.045,86.834
		c0.273,0.002,0.539,0.021,0.811,0.021c36.641,0,67.959-22.699,80.717-54.793c3.945-9.924,6.137-20.734,6.137-32.063
		C467.461,199.833,428.576,160.948,380.607,160.948z"/>
    <path class="bt2b" fill="#333333" d="M644.994,15.184c-47.969,0-86.854,38.884-86.854,86.854v55.709v74.604v204.872V572.5l0,0
		c0,0.002,0,0.005,0,0.009c0,0.023,0.002,0.047,0.002,0.071c0.002,1.383,0.041,2.757,0.104,4.126c0,0.002,0,0.006,0,0.012
		c0.023,0.466,0.064,0.926,0.092,1.387c0.006,0.05,0.01,0.102,0.012,0.151c0.057,0.869,0.115,1.739,0.199,2.599
		c0,0.014,0.002,0.025,0.002,0.037c0.055,0.543,0.12,1.08,0.182,1.621c0.002,0.018,0.004,0.033,0.006,0.053
		c0.096,0.811,0.193,1.621,0.31,2.426c0,0.008,0.003,0.015,0.003,0.023c0.082,0.566,0.174,1.127,0.264,1.688
		c0.004,0.023,0.008,0.045,0.012,0.066c0.129,0.777,0.266,1.55,0.416,2.32c0.08,0.412,0.166,0.822,0.25,1.232
		c0.029,0.15,0.057,0.301,0.09,0.452c0,0.005,0.002,0.009,0.005,0.015c0.167,0.781,0.349,1.562,0.54,2.337
		c0.041,0.179,0.086,0.353,0.131,0.532c0.088,0.367,0.178,0.732,0.271,1.098c0.004,0.01,0.006,0.023,0.01,0.035
		c0.211,0.795,0.443,1.579,0.674,2.363c0.131,0.457,0.264,0.914,0.404,1.367c0.01,0.033,0.02,0.066,0.029,0.096
		c0.002,0.012,0.004,0.024,0.008,0.036c0.293,0.923,0.609,1.837,0.932,2.749c0.111,0.314,0.213,0.629,0.322,0.94
		c0.015,0.042,0.029,0.085,0.043,0.128c0.45,1.225,0.931,2.436,1.436,3.633c0.086,0.207,0.181,0.41,0.271,0.617
		c0.063,0.141,0.127,0.282,0.189,0.424c0.057,0.127,0.111,0.252,0.168,0.377c0.324,0.737,0.647,1.475,0.994,2.201
		c0.227,0.48,0.469,0.951,0.707,1.428c0.032,0.065,0.065,0.131,0.1,0.197c0.001,0.005,0.004,0.008,0.004,0.01
		c0.32,0.633,0.639,1.268,0.971,1.895c0.075,0.141,0.152,0.277,0.229,0.414c0.229,0.42,0.457,0.839,0.689,1.256
		c0.006,0.007,0.01,0.017,0.015,0.025c0.327,0.58,0.659,1.16,0.999,1.734c0.334,0.563,0.674,1.124,1.02,1.68
		c0.338,0.543,0.684,1.08,1.035,1.614c0.004,0.009,0.01,0.019,0.016,0.028c0.371,0.561,0.74,1.126,1.122,1.68
		c0.003,0.002,0.005,0.008,0.007,0.01c0.344,0.502,0.701,0.994,1.059,1.486c0.006,0.01,0.012,0.017,0.016,0.023
		c0.203,0.283,0.41,0.563,0.615,0.844s0.402,0.563,0.613,0.839c0.35,0.462,0.713,0.911,1.074,1.366
		c0.852,1.079,1.731,2.14,2.634,3.179c0.019,0.021,0.04,0.044,0.058,0.068c0.906,1.039,1.834,2.057,2.786,3.049v0.002
		c0,0.003,0.003,0.003,0.005,0.005c0.301,0.313,0.594,0.631,0.895,0.939c0.008,0.01,0.016,0.02,0.023,0.026
		c0.57,0.573,1.154,1.131,1.736,1.689c0.013,0.012,0.023,0.023,0.036,0.033c0.339,0.325,0.673,0.652,1.018,0.971
		c0.589,0.546,1.192,1.081,1.8,1.611c0.363,0.317,0.727,0.636,1.094,0.947c0.104,0.089,0.212,0.175,0.315,0.261
		c0.521,0.437,1.044,0.87,1.575,1.294c0.357,0.288,0.72,0.57,1.082,0.853c0.004,0.003,0.006,0.006,0.01,0.008
		c0.358,0.275,0.723,0.544,1.084,0.817c0.309,0.231,0.613,0.469,0.924,0.697c0.338,0.245,0.684,0.485,1.027,0.73
		c0.277,0.193,0.561,0.382,0.838,0.577c0.451,0.313,0.896,0.631,1.354,0.936c0.234,0.155,0.471,0.302,0.706,0.452
		c0.021,0.015,0.045,0.028,0.065,0.042c0.008,0.006,0.015,0.01,0.024,0.015c1.903,1.229,3.864,2.384,5.866,3.468
		c0.929,0.505,1.899,0.938,2.852,1.409c1.006,0.499,1.99,1.032,3.018,1.491c0.252,0.111,0.495,0.229,0.744,0.338h0.003
		c0.224,0.098,0.452,0.186,0.679,0.279c0.654,0.276,1.311,0.549,1.969,0.813c0.328,0.127,0.656,0.261,0.985,0.386
		c0.579,0.223,1.167,0.43,1.753,0.637c0.29,0.104,0.578,0.215,0.869,0.315c0.008,0.003,0.015,0.005,0.021,0.007
		c0.348,0.121,0.699,0.238,1.051,0.356c0.881,0.292,1.771,0.572,2.668,0.836c0.346,0.102,0.697,0.198,1.045,0.297
		c0.32,0.093,0.646,0.173,0.971,0.259c0.604,0.166,1.207,0.335,1.818,0.486c0.006,0.002,0.01,0.002,0.018,0.002
		c0.266,0.066,0.535,0.123,0.801,0.186c0.01,0.003,0.021,0.006,0.031,0.008c1.016,0.238,2.029,0.471,3.059,0.674
		c5.463,1.076,11.105,1.654,16.887,1.654c5.783,0,11.426-0.578,16.889-1.654c1.027-0.203,2.043-0.436,3.059-0.674
		c0.01-0.002,0.021-0.005,0.031-0.008c0.266-0.063,0.534-0.119,0.801-0.186c0,0,0.012,0,0.016-0.002
		c0.613-0.151,1.217-0.32,1.82-0.486c0.324-0.086,0.649-0.166,0.969-0.259c0.35-0.099,0.701-0.195,1.047-0.297
		c0.896-0.264,1.785-0.544,2.668-0.836c0.351-0.118,0.701-0.235,1.051-0.356c0.006-0.002,0.014-0.004,0.021-0.007
		c0.292-0.101,0.579-0.212,0.87-0.315c0.586-0.207,1.172-0.414,1.752-0.637c0.33-0.125,0.658-0.259,0.985-0.386
		c0.659-0.265,1.314-0.537,1.97-0.813c0.227-0.094,0.455-0.182,0.678-0.279h0.003c0.249-0.109,0.492-0.227,0.745-0.338
		c1.027-0.459,2.012-0.992,3.018-1.491c0.951-0.472,1.922-0.904,2.85-1.409c2.004-1.084,3.965-2.238,5.867-3.468
		c0.01-0.005,0.018-0.009,0.024-0.015c0.021-0.014,0.044-0.027,0.065-0.042c0.236-0.15,0.471-0.297,0.707-0.452
		c0.457-0.305,0.902-0.622,1.353-0.936c0.278-0.195,0.561-0.384,0.839-0.577c0.344-0.245,0.688-0.485,1.027-0.73
		c0.311-0.229,0.615-0.466,0.924-0.697c0.359-0.273,0.725-0.542,1.084-0.817c0.004-0.002,0.006-0.005,0.01-0.008
		c0.361-0.282,0.725-0.564,1.082-0.853c0.531-0.424,1.053-0.857,1.574-1.294c0.104-0.086,0.213-0.172,0.316-0.261
		c0.367-0.312,0.73-0.63,1.092-0.947c0.609-0.53,1.211-1.065,1.801-1.611c0.344-0.318,0.679-0.646,1.018-0.971
		c0.012-0.01,0.023-0.021,0.035-0.033c0.582-0.559,1.167-1.116,1.737-1.689c0.009-0.007,0.017-0.017,0.023-0.026
		c0.302-0.309,0.593-0.626,0.896-0.939c0.002-0.002,0.004-0.002,0.004-0.005v-0.002c0.953-0.992,1.881-2.01,2.785-3.049
		c0.02-0.024,0.041-0.048,0.059-0.068c0.902-1.039,1.781-2.1,2.635-3.179c0.36-0.455,0.723-0.904,1.074-1.366
		c0.21-0.276,0.408-0.559,0.613-0.839s0.412-0.561,0.614-0.844c0.005-0.007,0.01-0.014,0.017-0.023
		c0.355-0.492,0.714-0.984,1.059-1.486c0.002-0.002,0.004-0.008,0.006-0.01c0.383-0.554,0.752-1.119,1.122-1.68
		c0.007-0.01,0.011-0.02,0.017-0.028c0.352-0.534,0.697-1.071,1.034-1.614c0.347-0.556,0.686-1.116,1.021-1.68
		c0.34-0.574,0.67-1.154,0.998-1.734c0.006-0.009,0.01-0.019,0.015-0.025c0.233-0.417,0.462-0.836,0.69-1.256
		c0.075-0.137,0.152-0.273,0.229-0.414c0.332-0.627,0.65-1.262,0.971-1.895c0-0.005,0.005-0.005,0.005-0.01
		c0.032-0.066,0.065-0.132,0.099-0.197c0.238-0.477,0.48-0.947,0.707-1.428c0.344-0.727,0.67-1.464,0.994-2.201
		c0.061-0.139,0.123-0.277,0.186-0.417c0.151-0.333,0.305-0.662,0.445-1.001c0.006-0.01,0.008-0.02,0.012-0.029
		c0.498-1.188,0.974-2.389,1.422-3.604c0.047-0.133,0.092-0.27,0.137-0.404c0.074-0.221,0.15-0.445,0.23-0.664
		c0.03-0.087,0.057-0.172,0.087-0.256c0.29-0.828,0.577-1.654,0.841-2.493c0.156-0.495,0.297-0.999,0.443-1.499
		c0.23-0.784,0.461-1.568,0.674-2.363c0.002-0.012,0.004-0.025,0.01-0.035c0.141-0.541,0.271-1.086,0.404-1.63
		c0.008-0.028,0.015-0.062,0.021-0.092c0.18-0.747,0.355-1.494,0.516-2.245c0.003-0.006,0.006-0.01,0.006-0.015
		c0.033-0.151,0.061-0.302,0.088-0.452c0.086-0.41,0.171-0.82,0.251-1.232c0.151-0.771,0.288-1.543,0.417-2.32
		c0.002-0.021,0.007-0.043,0.012-0.066c0.09-0.561,0.182-1.121,0.264-1.688c0-0.009,0.002-0.014,0.002-0.023
		c0.115-0.819,0.22-1.648,0.314-2.479c0.035-0.297,0.065-0.594,0.102-0.891c0.027-0.242,0.059-0.484,0.082-0.73
		c0-0.012,0.002-0.023,0.002-0.037c0.082-0.859,0.142-1.729,0.198-2.599c0.001-0.05,0.007-0.102,0.011-0.151
		c0.029-0.461,0.07-0.921,0.092-1.387c0-0.006,0-0.01,0-0.012c0.064-1.369,0.102-2.743,0.104-4.126c0-0.024,0.003-0.048,0.003-0.071
		c0-0.004,0-0.007,0-0.009l0,0V382.162V177.29v-19.926v-55.326C731.85,54.068,692.965,15.184,644.994,15.184z"/>
    <path class="bt1b" fill="#333333" d="M116.83,12.573c-47.969,0-86.854,38.885-86.854,86.854v55.709v414.754l0,0c0,0.002,0,0.004,0,0.008
		c0,0.023,0.002,0.047,0.002,0.072c0.002,1.383,0.04,2.756,0.104,4.125c0,0.002,0,0.006,0,0.012
		c0.023,0.467,0.063,0.926,0.092,1.387c0.004,0.051,0.01,0.102,0.012,0.152c0.057,0.869,0.115,1.738,0.198,2.598
		c0,0.014,0.003,0.025,0.003,0.037c0.055,0.543,0.119,1.08,0.181,1.621c0.003,0.018,0.005,0.033,0.007,0.053
		c0.095,0.811,0.193,1.621,0.309,2.426c0,0.008,0.003,0.016,0.003,0.023c0.082,0.566,0.175,1.127,0.265,1.688
		c0.004,0.023,0.008,0.045,0.01,0.066c0.131,0.777,0.268,1.551,0.418,2.32c0.08,0.412,0.164,0.822,0.25,1.232
		c0.029,0.15,0.057,0.301,0.09,0.453c0,0.004,0.002,0.008,0.004,0.014c0.168,0.781,0.35,1.563,0.539,2.338
		c0.043,0.178,0.088,0.352,0.133,0.531c0.087,0.367,0.177,0.732,0.271,1.098c0.004,0.01,0.006,0.023,0.009,0.035
		c0.212,0.795,0.442,1.58,0.674,2.363c0.132,0.457,0.263,0.914,0.405,1.367c0.01,0.033,0.02,0.066,0.029,0.096
		c0.002,0.012,0.004,0.025,0.008,0.037c0.293,0.922,0.608,1.836,0.932,2.748c0.11,0.314,0.212,0.629,0.322,0.941
		c0.014,0.041,0.029,0.084,0.043,0.127c0.449,1.225,0.93,2.436,1.435,3.633c0.087,0.207,0.181,0.41,0.272,0.617
		c0.063,0.141,0.125,0.283,0.189,0.424c0.057,0.127,0.109,0.252,0.167,0.377c0.325,0.738,0.647,1.475,0.993,2.201
		c0.228,0.48,0.47,0.951,0.708,1.428c0.032,0.066,0.065,0.131,0.099,0.197c0.002,0.006,0.005,0.008,0.005,0.01
		c0.32,0.633,0.638,1.268,0.971,1.895c0.075,0.141,0.153,0.277,0.229,0.414c0.229,0.42,0.456,0.84,0.69,1.256
		c0.005,0.008,0.01,0.018,0.014,0.025c0.328,0.58,0.66,1.16,1,1.734c0.334,0.564,0.674,1.125,1.02,1.68
		c0.337,0.543,0.684,1.08,1.033,1.615c0.006,0.008,0.011,0.018,0.018,0.027c0.37,0.561,0.74,1.127,1.121,1.68
		c0.003,0.002,0.006,0.008,0.008,0.01c0.344,0.502,0.701,0.994,1.059,1.486c0.006,0.01,0.01,0.018,0.016,0.023
		c0.203,0.283,0.41,0.564,0.615,0.844c0.205,0.281,0.402,0.563,0.611,0.84c0.352,0.461,0.715,0.91,1.075,1.365
		c0.853,1.08,1.731,2.141,2.634,3.18c0.02,0.02,0.041,0.043,0.059,0.068c0.906,1.039,1.834,2.057,2.785,3.049v0.002
		c0,0.002,0.003,0.002,0.005,0.004c0.302,0.314,0.593,0.631,0.896,0.939c0.007,0.01,0.014,0.02,0.023,0.027
		c0.57,0.572,1.154,1.131,1.736,1.689c0.012,0.012,0.023,0.023,0.035,0.033c0.34,0.324,0.674,0.652,1.018,0.971
		c0.59,0.545,1.193,1.08,1.801,1.611c0.363,0.316,0.726,0.635,1.094,0.947c0.104,0.088,0.211,0.174,0.314,0.26
		c0.521,0.438,1.045,0.871,1.574,1.295c0.358,0.287,0.721,0.57,1.084,0.852c0.002,0.004,0.005,0.006,0.01,0.008
		c0.357,0.275,0.723,0.545,1.084,0.818c0.309,0.23,0.612,0.469,0.922,0.697c0.34,0.244,0.685,0.484,1.028,0.73
		c0.278,0.193,0.562,0.381,0.839,0.576c0.451,0.314,0.896,0.631,1.352,0.936c0.236,0.156,0.473,0.303,0.707,0.453
		c0.021,0.014,0.045,0.027,0.066,0.041c0.008,0.006,0.015,0.01,0.023,0.016c1.904,1.229,3.864,2.383,5.867,3.467
		c0.928,0.506,1.898,0.938,2.852,1.41c1.005,0.498,1.99,1.031,3.018,1.49c0.252,0.111,0.494,0.229,0.744,0.338h0.002
		c0.225,0.098,0.453,0.186,0.679,0.279c0.655,0.277,1.31,0.549,1.97,0.814c0.328,0.127,0.654,0.26,0.984,0.385
		c0.58,0.223,1.167,0.43,1.754,0.637c0.289,0.104,0.577,0.215,0.869,0.316c0.007,0.002,0.014,0.004,0.021,0.006
		c0.348,0.121,0.699,0.238,1.051,0.357c0.881,0.291,1.771,0.572,2.667,0.836c0.347,0.102,0.697,0.197,1.046,0.297
		c0.32,0.092,0.646,0.172,0.971,0.258c0.604,0.166,1.206,0.336,1.818,0.486c0.006,0.002,0.01,0.002,0.018,0.002
		c0.266,0.066,0.534,0.123,0.801,0.186c0.01,0.004,0.021,0.006,0.03,0.008c1.017,0.238,2.03,0.471,3.058,0.674
		c5.465,1.076,11.107,1.654,16.889,1.654s11.425-0.578,16.889-1.654c1.027-0.203,2.043-0.436,3.059-0.674
		c0.009-0.002,0.021-0.004,0.03-0.008c0.267-0.063,0.534-0.119,0.802-0.186c0.006,0,0.011,0,0.016-0.002
		c0.613-0.15,1.215-0.32,1.818-0.486c0.326-0.086,0.65-0.166,0.971-0.258c0.35-0.1,0.7-0.195,1.047-0.297
		c0.895-0.264,1.785-0.545,2.666-0.836c0.352-0.119,0.703-0.236,1.051-0.357c0.008-0.002,0.016-0.004,0.021-0.006
		c0.293-0.102,0.58-0.213,0.87-0.316c0.587-0.207,1.173-0.414,1.753-0.637c0.33-0.125,0.657-0.258,0.984-0.385
		c0.66-0.266,1.314-0.537,1.969-0.814c0.228-0.094,0.457-0.182,0.68-0.279h0.002c0.25-0.109,0.493-0.227,0.745-0.338
		c1.027-0.459,2.012-0.992,3.019-1.49c0.951-0.473,1.922-0.904,2.85-1.41c2.004-1.084,3.964-2.238,5.867-3.467
		c0.01-0.006,0.017-0.01,0.023-0.016c0.021-0.014,0.045-0.027,0.066-0.041c0.235-0.15,0.471-0.297,0.707-0.453
		c0.457-0.305,0.902-0.621,1.352-0.936c0.278-0.195,0.561-0.383,0.84-0.576c0.344-0.246,0.688-0.486,1.026-0.73
		c0.312-0.229,0.615-0.467,0.923-0.697c0.361-0.273,0.727-0.543,1.084-0.818c0.006-0.002,0.008-0.004,0.01-0.008
		c0.363-0.281,0.727-0.564,1.084-0.852c0.53-0.424,1.053-0.857,1.574-1.295c0.104-0.086,0.212-0.172,0.316-0.26
		c0.367-0.313,0.729-0.631,1.092-0.947c0.607-0.531,1.211-1.066,1.801-1.611c0.344-0.318,0.678-0.646,1.018-0.971
		c0.012-0.01,0.023-0.021,0.035-0.033c0.582-0.559,1.166-1.117,1.736-1.689c0.01-0.008,0.018-0.018,0.023-0.027
		c0.303-0.309,0.594-0.625,0.896-0.939c0.002-0.002,0.004-0.002,0.004-0.004v-0.002c0.952-0.992,1.881-2.01,2.785-3.049
		c0.019-0.025,0.04-0.049,0.059-0.068c0.902-1.039,1.781-2.1,2.635-3.18c0.359-0.455,0.723-0.904,1.074-1.365
		c0.209-0.277,0.406-0.559,0.612-0.84c0.205-0.279,0.412-0.561,0.614-0.844c0.006-0.006,0.01-0.014,0.018-0.023
		c0.355-0.492,0.713-0.984,1.058-1.486c0.002-0.002,0.005-0.008,0.007-0.01c0.381-0.553,0.752-1.119,1.121-1.68
		c0.008-0.01,0.012-0.02,0.018-0.027c0.352-0.535,0.697-1.072,1.033-1.615c0.346-0.555,0.686-1.115,1.021-1.68
		c0.339-0.574,0.671-1.154,0.999-1.734c0.006-0.008,0.01-0.018,0.014-0.025c0.234-0.416,0.463-0.836,0.691-1.256
		c0.074-0.137,0.152-0.273,0.229-0.414c0.332-0.627,0.65-1.262,0.971-1.895c0-0.004,0.004-0.004,0.004-0.01
		c0.033-0.066,0.066-0.131,0.1-0.197c0.237-0.477,0.48-0.947,0.707-1.428c0.344-0.727,0.668-1.463,0.994-2.201
		c0.061-0.139,0.122-0.277,0.186-0.416c0.15-0.334,0.305-0.662,0.445-1.002c0.005-0.01,0.008-0.02,0.012-0.029
		c0.497-1.188,0.973-2.389,1.421-3.604c0.047-0.133,0.092-0.27,0.136-0.404c0.076-0.221,0.152-0.445,0.232-0.664
		c0.029-0.086,0.056-0.172,0.086-0.256c0.291-0.828,0.578-1.654,0.842-2.492c0.155-0.496,0.297-1,0.443-1.5
		c0.23-0.783,0.461-1.568,0.674-2.363c0.002-0.012,0.004-0.025,0.008-0.035c0.143-0.541,0.271-1.086,0.406-1.629
		c0.008-0.029,0.014-0.063,0.021-0.092c0.179-0.748,0.355-1.494,0.516-2.246c0.002-0.006,0.004-0.01,0.004-0.014
		c0.033-0.152,0.063-0.303,0.09-0.453c0.086-0.41,0.17-0.82,0.25-1.232c0.152-0.77,0.288-1.543,0.418-2.32
		c0.002-0.021,0.006-0.043,0.012-0.066c0.089-0.561,0.182-1.121,0.264-1.688c0-0.008,0.002-0.014,0.002-0.023
		c0.115-0.818,0.219-1.648,0.313-2.479c0.035-0.297,0.065-0.594,0.103-0.891c0.027-0.242,0.058-0.484,0.082-0.73
		c0-0.012,0.002-0.023,0.002-0.037c0.082-0.859,0.141-1.729,0.197-2.598c0.002-0.051,0.008-0.102,0.012-0.152
		c0.029-0.461,0.07-0.92,0.092-1.387c0-0.006,0-0.01,0-0.012c0.064-1.369,0.102-2.742,0.104-4.125c0-0.025,0.003-0.049,0.003-0.072
		c0-0.004,0-0.006,0-0.008l0,0v-56.062V154.752V99.426C203.685,51.458,164.8,12.573,116.83,12.573z"/>
</g>
                    <g>
                        <path class="pt2b" fill="#333333" d="M1172.527,370.015c-18.562,0-35.746,5.841-49.859,15.757c-22.363,15.713-36.996,41.689-36.996,71.098
		c0,47.97,38.885,86.854,86.855,86.854c47.97,0,86.854-38.884,86.854-86.854c0-9.332-1.489-18.314-4.214-26.739
		C1243.891,395.249,1211.164,370.015,1172.527,370.015z"/>
                        <path class="bt3b" fill="#333333" d="M908.773,223.274c-47.971,0-86.855,38.883-86.855,86.854v55.712v414.747c0,0,0,0,0,0.004
		c0,0.002,0,0.006,0,0.006c0,1.414,0.04,2.818,0.107,4.213c0.022,0.465,0.063,0.924,0.091,1.385c0.06,0.934,0.125,1.865,0.212,2.787
		c0.054,0.545,0.119,1.082,0.18,1.619c0.1,0.84,0.202,1.674,0.318,2.502c0.084,0.566,0.176,1.127,0.265,1.689
		c0.133,0.799,0.273,1.596,0.43,2.387c0.106,0.563,0.221,1.127,0.339,1.682c0.17,0.793,0.354,1.574,0.543,2.357
		c0.133,0.541,0.263,1.088,0.404,1.625c0.214,0.807,0.447,1.605,0.683,2.404c0.146,0.498,0.288,0.998,0.443,1.496
		c0.292,0.926,0.606,1.84,0.931,2.748c0.125,0.354,0.235,0.715,0.365,1.066c0.45,1.225,0.93,2.436,1.434,3.637
		c0.201,0.477,0.421,0.943,0.629,1.418c0.327,0.736,0.65,1.471,0.996,2.197c0.259,0.549,0.534,1.086,0.805,1.627
		c0.321,0.639,0.643,1.275,0.976,1.904c0.3,0.563,0.608,1.117,0.919,1.67c0.332,0.59,0.67,1.178,1.014,1.758
		c0.335,0.566,0.674,1.127,1.021,1.682c0.341,0.553,0.694,1.098,1.05,1.641c0.371,0.564,0.74,1.127,1.123,1.682
		c0.353,0.514,0.717,1.018,1.082,1.521c0.403,0.563,0.807,1.127,1.225,1.682c0.353,0.463,0.716,0.91,1.074,1.365
		c1.729,2.188,3.555,4.291,5.479,6.299c0.312,0.322,0.613,0.652,0.924,0.971c0.571,0.574,1.155,1.131,1.736,1.691
		c0.352,0.334,0.697,0.674,1.053,1.002c0.59,0.549,1.193,1.08,1.802,1.611c0.362,0.316,0.724,0.635,1.093,0.949
		c0.622,0.525,1.25,1.041,1.888,1.551c0.362,0.291,0.728,0.576,1.095,0.861c0.662,0.514,1.329,1.018,2.008,1.512
		c0.339,0.25,0.682,0.49,1.027,0.73c0.721,0.512,1.445,1.021,2.182,1.508c0.259,0.174,0.522,0.336,0.781,0.502
		c3.734,2.416,7.663,4.555,11.76,6.383c0.252,0.113,0.497,0.232,0.747,0.34c0.878,0.379,1.759,0.738,2.647,1.088
		c0.328,0.133,0.655,0.264,0.985,0.389c0.867,0.332,1.741,0.648,2.622,0.953c0.356,0.121,0.714,0.242,1.072,0.359
		c0.883,0.293,1.772,0.576,2.666,0.84c0.348,0.104,0.698,0.197,1.048,0.297c0.923,0.258,1.851,0.514,2.788,0.744
		c0.283,0.068,0.566,0.129,0.849,0.195c1.015,0.238,2.032,0.471,3.059,0.674c5.464,1.076,11.106,1.654,16.89,1.654
		c5.779,0,11.423-0.578,16.888-1.654c1.026-0.203,2.042-0.436,3.058-0.674c0.283-0.066,0.566-0.127,0.849-0.195
		c0.937-0.23,1.865-0.486,2.79-0.744c0.348-0.1,0.699-0.193,1.045-0.297c0.895-0.264,1.786-0.547,2.667-0.84
		c0.358-0.117,0.717-0.238,1.071-0.359c0.883-0.305,1.757-0.621,2.623-0.953c0.33-0.125,0.656-0.256,0.984-0.389
		c0.889-0.35,1.772-0.709,2.649-1.088c0.249-0.107,0.494-0.227,0.746-0.34c4.098-1.828,8.024-3.967,11.759-6.383
		c0.26-0.166,0.524-0.328,0.783-0.502c0.734-0.486,1.459-0.996,2.182-1.508c0.344-0.24,0.688-0.48,1.027-0.73
		c0.679-0.494,1.344-0.998,2.007-1.512c0.368-0.285,0.733-0.57,1.095-0.861c0.637-0.51,1.267-1.025,1.889-1.551
		c0.367-0.314,0.729-0.633,1.092-0.949c0.607-0.531,1.212-1.063,1.801-1.611c0.357-0.328,0.702-0.668,1.054-1.002
		c0.582-0.561,1.165-1.117,1.736-1.691c0.311-0.318,0.612-0.648,0.923-0.971c1.926-2.008,3.751-4.111,5.479-6.299
		c0.36-0.455,0.725-0.902,1.074-1.365c0.419-0.555,0.822-1.119,1.227-1.682c0.363-0.504,0.729-1.008,1.083-1.521
		c0.382-0.555,0.751-1.117,1.12-1.682c0.356-0.543,0.709-1.088,1.053-1.641c0.345-0.555,0.685-1.115,1.02-1.682
		c0.344-0.58,0.68-1.168,1.012-1.758c0.311-0.553,0.619-1.107,0.92-1.67c0.335-0.629,0.655-1.266,0.975-1.904
		c0.271-0.541,0.548-1.078,0.807-1.627c0.344-0.727,0.669-1.461,0.994-2.197c0.21-0.475,0.429-0.941,0.632-1.418
		c0.501-1.201,0.979-2.412,1.433-3.637c0.129-0.352,0.239-0.713,0.367-1.066c0.32-0.908,0.635-1.822,0.929-2.748
		c0.155-0.498,0.297-0.998,0.442-1.496c0.235-0.799,0.469-1.598,0.684-2.404c0.141-0.537,0.27-1.084,0.405-1.625
		c0.188-0.783,0.372-1.564,0.541-2.357c0.118-0.555,0.231-1.119,0.341-1.682c0.154-0.791,0.296-1.588,0.428-2.387
		c0.09-0.563,0.182-1.123,0.264-1.689c0.118-0.828,0.221-1.662,0.314-2.502c0.064-0.537,0.133-1.074,0.186-1.619
		c0.087-0.922,0.15-1.854,0.211-2.787c0.029-0.461,0.071-0.92,0.093-1.385c0.066-1.395,0.105-2.799,0.105-4.213c0,0,0-0.004,0-0.006
		c0-0.004,0-0.004,0-0.004V365.455v-55.327C995.626,262.157,956.742,223.274,908.773,223.274z"/>
                        <path class="bt4b" fill="#333333" d="M1436.304,223.274c-2.045,0-4.071,0.096-6.08,0.234c-0.478,0.033-0.952,0.068-1.426,0.109
		c-1.985,0.17-3.956,0.387-5.9,0.689c-0.152,0.023-0.302,0.057-0.452,0.08c-1.836,0.295-3.651,0.658-5.446,1.066
		c-0.421,0.096-0.845,0.189-1.262,0.291c-1.901,0.463-3.782,0.973-5.63,1.559c-0.198,0.063-0.392,0.135-0.587,0.199
		c-1.726,0.559-3.426,1.176-5.102,1.838c-0.323,0.127-0.647,0.252-0.968,0.383c-1.821,0.744-3.615,1.543-5.367,2.404
		c-0.179,0.088-0.35,0.182-0.525,0.27c-1.671,0.834-3.311,1.723-4.918,2.66c-0.193,0.111-0.386,0.219-0.58,0.332
		c-1.729,1.027-3.42,2.109-5.066,3.25c-0.125,0.086-0.248,0.178-0.375,0.266c-1.64,1.146-3.242,2.344-4.795,3.598
		c-0.037,0.031-0.078,0.061-0.115,0.092c-1.617,1.309-3.181,2.674-4.698,4.094c-0.069,0.064-0.137,0.131-0.206,0.195
		c-3.043,2.867-5.885,5.949-8.488,9.229c-0.027,0.033-0.051,0.063-0.078,0.094c-2.629,3.316-5.022,6.83-7.151,10.516
		c-0.009,0.012-0.015,0.025-0.021,0.037c-2.139,3.697-4.007,7.564-5.587,11.58c-0.003,0.01-0.008,0.02-0.012,0.029
		c-0.006,0.014-0.01,0.027-0.015,0.041c-0.469,1.188-0.91,2.393-1.327,3.605c-0.021,0.061-0.039,0.123-0.06,0.184
		c-0.401,1.178-0.776,2.371-1.13,3.57c-0.035,0.123-0.07,0.252-0.105,0.377c-0.328,1.137-0.634,2.287-0.917,3.443
		c-0.054,0.225-0.104,0.451-0.155,0.676c-0.252,1.07-0.49,2.15-0.702,3.238c-0.066,0.348-0.123,0.701-0.189,1.055
		c-0.179,0.979-0.348,1.961-0.494,2.951c-0.076,0.514-0.132,1.033-0.197,1.553c-0.108,0.85-0.222,1.697-0.307,2.555
		c-0.07,0.75-0.118,1.504-0.17,2.258c-0.047,0.65-0.108,1.295-0.143,1.949c-0.07,1.424-0.106,2.861-0.106,4.305v55.712v113.893
		v300.854c0,0,0,0,0,0.004c0,0.002,0,0.006,0,0.006c0,0.023,0.001,0.047,0.001,0.07c0.003,1.387,0.041,2.762,0.104,4.129
		c0,0.004,0,0.01,0,0.014c0.022,0.465,0.063,0.924,0.092,1.385c0.005,0.053,0.01,0.1,0.011,0.152c0.061,0.869,0.117,1.738,0.199,2.6
		c0.002,0.012,0.002,0.023,0.002,0.035c0.055,0.545,0.12,1.082,0.182,1.619c0.002,0.02,0.005,0.035,0.007,0.053
		c0.095,0.814,0.193,1.623,0.31,2.428c0,0.008,0.002,0.018,0.002,0.021c0.082,0.566,0.174,1.127,0.264,1.689
		c0.004,0.021,0.01,0.045,0.012,0.066c0.13,0.775,0.267,1.553,0.417,2.32c0.08,0.412,0.165,0.822,0.249,1.232
		c0.029,0.148,0.059,0.301,0.091,0.449c0,0.006,0.001,0.01,0.004,0.016c0.168,0.787,0.35,1.564,0.54,2.342
		c0.041,0.174,0.088,0.354,0.132,0.529c0.087,0.365,0.177,0.732,0.271,1.096c0.004,0.014,0.007,0.025,0.009,0.037
		c0.212,0.795,0.443,1.58,0.674,2.367c0.132,0.453,0.264,0.91,0.405,1.365c0.01,0.031,0.019,0.064,0.028,0.094
		c0.003,0.012,0.004,0.025,0.01,0.037c0.291,0.926,0.607,1.84,0.931,2.748c0.11,0.313,0.212,0.629,0.323,0.943
		c0.014,0.039,0.027,0.084,0.041,0.125c0.45,1.225,0.932,2.436,1.436,3.635c0.087,0.207,0.182,0.41,0.27,0.613
		c0.064,0.143,0.127,0.285,0.192,0.428c0.056,0.123,0.11,0.25,0.167,0.377c0.326,0.736,0.647,1.471,0.994,2.197
		c0.227,0.48,0.469,0.953,0.707,1.43c0.033,0.063,0.065,0.131,0.098,0.197c0,0.002,0.006,0.008,0.006,0.01
		c0.32,0.633,0.639,1.27,0.971,1.895c0.075,0.139,0.152,0.275,0.229,0.416c0.229,0.42,0.457,0.84,0.689,1.254
		c0.006,0.01,0.011,0.018,0.015,0.023c0.328,0.584,0.661,1.164,1,1.734c0.334,0.566,0.674,1.127,1.02,1.682
		c0.337,0.543,0.683,1.08,1.034,1.611c0.005,0.01,0.01,0.02,0.016,0.029c0.371,0.564,0.741,1.127,1.122,1.682
		c0.003,0.006,0.005,0.006,0.009,0.01c0.342,0.5,0.701,0.994,1.057,1.488c0.006,0.008,0.012,0.016,0.016,0.023
		c0.203,0.283,0.411,0.563,0.618,0.844c0.203,0.279,0.399,0.561,0.61,0.838c0.351,0.463,0.713,0.91,1.074,1.365
		c0.852,1.082,1.731,2.141,2.631,3.18c0.024,0.023,0.044,0.047,0.063,0.07c0.904,1.037,1.832,2.055,2.783,3.049l0,0
		c0,0,0.004,0.002,0.006,0.004c0.302,0.311,0.594,0.631,0.896,0.939c0.007,0.008,0.014,0.018,0.022,0.027
		c0.57,0.574,1.154,1.131,1.737,1.691c0.011,0.01,0.023,0.021,0.035,0.033c0.339,0.322,0.674,0.65,1.019,0.969
		c0.589,0.549,1.191,1.08,1.8,1.611c0.363,0.316,0.726,0.635,1.095,0.949c0.102,0.086,0.209,0.172,0.314,0.258
		c0.521,0.439,1.044,0.873,1.573,1.297c0.358,0.285,0.72,0.568,1.083,0.848c0.003,0.006,0.006,0.008,0.011,0.01
		c0.357,0.277,0.723,0.547,1.084,0.818c0.309,0.232,0.612,0.469,0.923,0.693c0.34,0.25,0.684,0.49,1.027,0.73
		c0.277,0.199,0.561,0.387,0.839,0.58c0.45,0.311,0.896,0.631,1.353,0.936c0.235,0.154,0.471,0.303,0.707,0.453
		c0.02,0.014,0.043,0.027,0.064,0.041c0.009,0.006,0.016,0.008,0.024,0.012c1.904,1.236,3.864,2.391,5.867,3.471
		c0.927,0.504,1.898,0.941,2.851,1.41c1.006,0.496,1.991,1.033,3.019,1.49c0.252,0.113,0.494,0.229,0.743,0.338l0.003,0.002
		c0.224,0.096,0.453,0.184,0.679,0.277c0.654,0.277,1.311,0.549,1.969,0.811c0.328,0.133,0.656,0.264,0.986,0.389
		c0.579,0.223,1.166,0.428,1.754,0.637c0.287,0.104,0.576,0.215,0.867,0.316c0.008,0.002,0.012,0.004,0.021,0.006
		c0.35,0.121,0.699,0.24,1.052,0.354c0.881,0.293,1.771,0.576,2.667,0.84c0.347,0.104,0.697,0.197,1.046,0.297
		c0.319,0.09,0.646,0.17,0.972,0.258c0.603,0.166,1.205,0.336,1.816,0.486c0.006,0,0.01,0.002,0.018,0.004
		c0.266,0.064,0.535,0.123,0.801,0.184c0.01,0.004,0.022,0.006,0.031,0.008c1.016,0.238,2.031,0.471,3.059,0.674
		c5.463,1.076,11.107,1.654,16.888,1.654c5.782,0,11.425-0.578,16.89-1.654c1.026-0.203,2.041-0.436,3.058-0.674
		c0.009-0.002,0.021-0.004,0.03-0.008c0.267-0.061,0.535-0.119,0.801-0.184c0.006-0.002,0.012-0.004,0.012-0.004
		c0.617-0.15,1.221-0.32,1.824-0.486c0.324-0.088,0.649-0.168,0.971-0.258c0.349-0.1,0.699-0.193,1.045-0.297
		c0.896-0.264,1.787-0.547,2.668-0.84c0.35-0.113,0.702-0.232,1.051-0.354c0.01-0.002,0.015-0.004,0.021-0.006
		c0.292-0.102,0.578-0.213,0.869-0.316c0.587-0.209,1.173-0.414,1.752-0.637c0.331-0.125,0.658-0.256,0.985-0.389
		c0.661-0.262,1.315-0.533,1.97-0.811c0.227-0.094,0.455-0.182,0.678-0.277l0.003-0.002c0.25-0.109,0.493-0.225,0.745-0.338
		c1.027-0.457,2.012-0.994,3.018-1.49c0.951-0.469,1.922-0.906,2.852-1.41c2.003-1.08,3.963-2.234,5.865-3.471
		c0.01-0.004,0.018-0.006,0.023-0.012c0.024-0.014,0.046-0.027,0.066-0.041c0.236-0.15,0.472-0.299,0.707-0.453
		c0.458-0.305,0.902-0.625,1.353-0.936c0.278-0.193,0.562-0.381,0.841-0.58c0.342-0.24,0.687-0.48,1.025-0.73
		c0.312-0.225,0.615-0.461,0.924-0.693c0.36-0.271,0.725-0.541,1.084-0.818c0.004-0.002,0.008-0.004,0.01-0.01
		c0.361-0.279,0.725-0.563,1.082-0.848c0.531-0.424,1.055-0.857,1.575-1.297c0.103-0.086,0.212-0.172,0.315-0.258
		c0.367-0.314,0.73-0.633,1.094-0.949c0.607-0.531,1.211-1.063,1.799-1.611c0.345-0.318,0.68-0.646,1.018-0.969
		c0.013-0.012,0.023-0.023,0.035-0.033c0.583-0.561,1.168-1.117,1.737-1.691c0.011-0.01,0.018-0.02,0.024-0.027
		c0.301-0.309,0.593-0.629,0.895-0.939c0.003-0.002,0.006-0.004,0.006-0.004l0,0c0.951-0.994,1.879-2.012,2.784-3.049
		c0.019-0.023,0.036-0.047,0.062-0.07c0.899-1.039,1.778-2.098,2.631-3.18c0.361-0.455,0.724-0.902,1.074-1.365
		c0.209-0.277,0.408-0.559,0.61-0.838c0.208-0.281,0.415-0.561,0.618-0.844c0.005-0.008,0.009-0.016,0.016-0.023
		c0.356-0.494,0.715-0.988,1.059-1.488c0.002-0.004,0.004-0.004,0.007-0.01c0.382-0.555,0.752-1.117,1.12-1.682
		c0.008-0.01,0.013-0.02,0.02-0.029c0.35-0.531,0.696-1.068,1.032-1.611c0.347-0.555,0.686-1.115,1.021-1.682
		c0.339-0.57,0.672-1.15,0.998-1.734c0.006-0.006,0.01-0.014,0.016-0.023c0.232-0.414,0.462-0.834,0.69-1.254
		c0.075-0.141,0.152-0.277,0.228-0.416c0.332-0.625,0.65-1.262,0.972-1.895c0-0.002,0.005-0.008,0.005-0.01
		c0.032-0.066,0.064-0.131,0.099-0.197c0.238-0.477,0.48-0.949,0.707-1.43c0.344-0.727,0.669-1.461,0.993-2.197
		c0.061-0.141,0.123-0.279,0.186-0.418c0.15-0.334,0.307-0.666,0.446-1c0.005-0.01,0.008-0.021,0.012-0.031
		c0.497-1.189,0.974-2.389,1.421-3.604c0.047-0.135,0.092-0.27,0.137-0.404c0.075-0.221,0.151-0.441,0.231-0.664
		c0.03-0.084,0.056-0.174,0.087-0.258c0.289-0.826,0.576-1.654,0.841-2.49c0.155-0.498,0.298-0.998,0.443-1.496
		c0.23-0.787,0.461-1.572,0.673-2.367c0.003-0.012,0.005-0.023,0.01-0.037c0.141-0.537,0.271-1.084,0.405-1.625
		c0.008-0.033,0.015-0.064,0.021-0.096c0.179-0.744,0.355-1.492,0.515-2.246c0.004-0.006,0.006-0.01,0.006-0.016
		c0.033-0.148,0.061-0.301,0.09-0.449c0.085-0.41,0.169-0.82,0.249-1.232c0.151-0.768,0.288-1.545,0.417-2.32
		c0.003-0.021,0.008-0.045,0.013-0.066c0.089-0.563,0.182-1.123,0.264-1.689c0-0.004,0.002-0.014,0.002-0.018
		c0.115-0.826,0.218-1.652,0.313-2.484c0.035-0.295,0.066-0.592,0.102-0.885c0.027-0.246,0.059-0.488,0.082-0.734
		c0-0.012,0-0.023,0.003-0.035c0.082-0.861,0.138-1.73,0.197-2.6c0.003-0.053,0.007-0.1,0.011-0.152
		c0.03-0.461,0.072-0.92,0.093-1.385c0-0.004,0-0.01,0-0.014c0.064-1.367,0.102-2.742,0.104-4.129c0-0.023,0.002-0.047,0.002-0.07
		c0,0,0-0.004,0-0.006c0-0.004,0-0.004,0-0.004V611.25V406.376v-40.922v-55.327C1523.158,262.157,1484.273,223.274,1436.304,223.274
		z"/>
                    </g>
                    <g>
                        <circle class="pt3b" fill="#333333" cx="1700.081" cy="102.038" r="86.854"/>
                        <path class="bt5b" fill="#333333" d="M1700.081,302.286c-47.97,0-86.854,38.885-86.854,86.854v161.542c0,0,0,0,0,0.002c0,0.003,0,0.008,0,0.008
		v0.094h0.002c0.004,1.381,0.041,2.752,0.104,4.119c0.025,0.463,0.064,0.923,0.092,1.385c0.063,0.934,0.126,1.863,0.213,2.787
		c0.055,0.545,0.119,1.082,0.182,1.619c0.097,0.838,0.199,1.672,0.318,2.502c0.082,0.565,0.174,1.126,0.264,1.689
		c0.132,0.799,0.273,1.595,0.429,2.387c0.108,0.563,0.222,1.126,0.339,1.682c0.17,0.792,0.354,1.574,0.545,2.356
		c0.131,0.542,0.262,1.089,0.402,1.626c0.215,0.805,0.448,1.604,0.684,2.402c0.146,0.5,0.287,1,0.443,1.496
		c0.292,0.926,0.607,1.84,0.93,2.75c0.125,0.354,0.236,0.714,0.365,1.064c0.449,1.226,0.932,2.437,1.436,3.639
		c0.199,0.476,0.419,0.941,0.629,1.418c0.325,0.734,0.647,1.471,0.994,2.195c0.26,0.549,0.535,1.086,0.806,1.629
		c0.319,0.639,0.641,1.274,0.976,1.903c0.299,0.563,0.607,1.116,0.918,1.671c0.332,0.588,0.67,1.178,1.014,1.758
		c0.335,0.564,0.674,1.125,1.021,1.682c0.342,0.551,0.696,1.098,1.05,1.64c0.371,0.565,0.74,1.126,1.123,1.683
		c0.352,0.514,0.718,1.018,1.081,1.521c0.405,0.561,0.808,1.127,1.228,1.68c0.351,0.465,0.715,0.912,1.074,1.367
		c1.727,2.186,3.553,4.29,5.477,6.298c0.313,0.323,0.613,0.652,0.925,0.971c0.571,0.575,1.155,1.131,1.737,1.691
		c0.35,0.335,0.696,0.674,1.053,1.001c0.589,0.549,1.191,1.082,1.799,1.611c0.363,0.318,0.727,0.637,1.094,0.95
		c0.622,0.525,1.251,1.042,1.889,1.55c0.361,0.293,0.727,0.578,1.094,0.863c0.662,0.514,1.329,1.018,2.008,1.512
		c0.34,0.25,0.684,0.49,1.027,0.73c0.721,0.512,1.447,1.021,2.182,1.508c0.26,0.172,0.523,0.335,0.782,0.502
		c3.734,2.415,7.662,4.555,11.759,6.383c0.253,0.113,0.498,0.23,0.746,0.34c0.877,0.379,1.762,0.736,2.649,1.088
		c0.327,0.132,0.655,0.264,0.985,0.389c0.867,0.332,1.74,0.648,2.621,0.952c0.356,0.122,0.715,0.243,1.072,0.36
		c0.882,0.292,1.772,0.574,2.668,0.839c0.346,0.104,0.697,0.198,1.046,0.297c0.923,0.259,1.852,0.514,2.79,0.744
		c0.282,0.068,0.564,0.13,0.848,0.196c1.016,0.237,2.031,0.471,3.059,0.674c5.463,1.076,11.105,1.653,16.888,1.653
		s11.425-0.577,16.888-1.653c1.027-0.203,2.043-0.437,3.059-0.674c0.283-0.066,0.564-0.128,0.848-0.196
		c0.938-0.23,1.867-0.485,2.791-0.744c0.348-0.099,0.699-0.193,1.046-0.297c0.896-0.265,1.786-0.547,2.667-0.839
		c0.357-0.117,0.716-0.238,1.072-0.36c0.881-0.304,1.755-0.62,2.622-0.952c0.329-0.125,0.657-0.257,0.984-0.389
		c0.889-0.352,1.772-0.709,2.648-1.088c0.25-0.109,0.495-0.227,0.747-0.34c4.097-1.828,8.024-3.968,11.759-6.383
		c0.259-0.167,0.522-0.33,0.782-0.502c0.735-0.487,1.461-0.996,2.182-1.508c0.344-0.24,0.688-0.48,1.027-0.73
		c0.678-0.494,1.346-0.998,2.008-1.512c0.367-0.285,0.731-0.57,1.096-0.863c0.636-0.508,1.265-1.024,1.887-1.55
		c0.367-0.313,0.73-0.632,1.094-0.95c0.606-0.529,1.211-1.063,1.8-1.611c0.355-0.327,0.701-0.666,1.053-1.001
		c0.582-0.561,1.167-1.116,1.736-1.691c0.312-0.318,0.612-0.647,0.924-0.971c1.925-2.008,3.751-4.112,5.478-6.298
		c0.361-0.455,0.724-0.902,1.074-1.367c0.42-0.553,0.822-1.119,1.229-1.68c0.362-0.504,0.728-1.008,1.081-1.521
		c0.382-0.557,0.75-1.117,1.121-1.683c0.356-0.542,0.71-1.089,1.051-1.64c0.347-0.557,0.687-1.117,1.021-1.682
		c0.344-0.58,0.681-1.17,1.014-1.758c0.31-0.555,0.619-1.107,0.918-1.671c0.334-0.629,0.655-1.265,0.976-1.903
		c0.271-0.543,0.547-1.08,0.806-1.629c0.344-0.725,0.67-1.461,0.994-2.195c0.209-0.477,0.43-0.942,0.632-1.418
		c0.502-1.202,0.979-2.413,1.433-3.639c0.129-0.351,0.24-0.711,0.366-1.064c0.321-0.91,0.637-1.824,0.93-2.75
		c0.155-0.496,0.296-0.996,0.442-1.496c0.236-0.799,0.469-1.598,0.684-2.402c0.142-0.537,0.271-1.084,0.404-1.626
		c0.189-0.782,0.372-1.564,0.543-2.356c0.116-0.556,0.23-1.119,0.338-1.682c0.156-0.792,0.298-1.588,0.429-2.387
		c0.091-0.563,0.182-1.124,0.265-1.689c0.118-0.83,0.223-1.664,0.316-2.502c0.063-0.537,0.132-1.074,0.184-1.619
		c0.087-0.924,0.15-1.854,0.212-2.787c0.028-0.462,0.071-0.922,0.092-1.385c0.063-1.367,0.102-2.738,0.104-4.119h0.002v-0.094
		c0,0,0-0.005,0-0.008c0-0.002,0-0.002,0-0.002V389.14C1786.936,341.17,1748.051,302.286,1700.081,302.286z"/>
                    </g>
                    <g>
                        <path fill="#146f88" d="M303.205,1288.405v-193.498h-58.05c-20.25,0-35.55-14.851-35.55-35.101c0-19.8,15.3-34.649,35.55-34.649
		h193.499c20.699,0,35.55,14.85,35.55,34.649c0,20.25-15.301,35.101-35.55,35.101h-58.05v193.498c0,22.5-16.65,39.15-38.7,39.15
		S303.205,1310.905,303.205,1288.405z"/>
                        <path fill="#146f88" d="M631.259,1128.207c0,20.699-13.5,34.649-35.55,37.799c-27.899,4.051-41.399,21.15-41.399,53.55v68.85
		c0,22.5-16.65,39.15-38.7,39.15s-38.699-16.65-38.699-39.15v-157.499c0-22.5,16.199-39.149,37.8-39.149
		c17.1,0,30.6,10.35,35.55,26.1c12.6-15.3,29.249-24.3,47.249-24.3C617.309,1093.557,631.259,1107.507,631.259,1128.207z"/>
                        <path fill="#146f88" d="M888.659,1209.656c0,65.699-54,117.899-122.85,117.899c-68.849,0-122.398-51.75-122.398-117.899
		s53.55-117.899,122.398-117.899C834.659,1091.757,888.659,1143.956,888.659,1209.656z M722.61,1209.656
		c0,27.899,17.55,46.8,43.649,46.8c25.2,0,43.2-19.8,43.2-46.8s-18.45-46.8-43.2-46.8
		C740.61,1162.856,722.61,1181.756,722.61,1209.656z"/>
                        <path fill="#146f88" d="M1147.409,1129.106c0,5.4-1.35,11.25-4.949,18.45l-93.6,186.749c-26.55,52.649-54.899,74.249-98.1,74.249
		c-12.6,0-23.399-2.25-31.05-6.75c-10.8-5.85-16.649-17.1-16.649-29.25c0-19.35,15.3-33.3,34.649-33.3h1.351
		c17.55,0,28.8-5.399,36.899-22.949l6.3-13.95l-71.55-154.799c-3.6-7.2-4.949-13.05-4.949-18.45c0-20.25,17.1-37.35,37.35-37.35
		c14.85,0,27.899,8.1,33.749,21.6l49.05,110.699l50.4-110.699c5.85-13.05,18.899-21.6,33.749-21.6
		C1130.31,1091.757,1147.409,1108.856,1147.409,1129.106z"/>
                        <path fill="#146f88" d="M1388.16,1198.406v0.899c0,22.05-17.1,37.351-40.5,37.351h-107.999c8.1,17.1,24.75,25.649,49.949,25.649
		c12.601,0,27.45-2.7,39.15-7.65c5.399-2.25,9.449-3.6,13.949-3.6c17.101,0,30.601,13.05,30.601,30.149
		c0,12.601-5.851,22.051-19.351,29.7c-19.35,10.8-42.749,16.65-67.049,16.65c-72.899,0-126.449-49.95-126.449-117.899
		c0-67.05,50.85-117.899,118.349-117.899C1341.36,1091.757,1388.16,1137.206,1388.16,1198.406z M1236.961,1186.256h77.85
		c-0.9-19.35-16.2-33.749-37.35-33.749C1257.661,1152.507,1242.812,1165.557,1236.961,1186.256z"/>
                        <path fill="#146f88" d="M1421.008,1299.205c-7.649-6.3-11.699-14.85-11.699-24.3c0-17.1,13.949-31.05,31.5-31.05
		c6.3,0,12.6,1.801,20.699,7.65c11.7,8.1,27.45,14.85,43.649,14.85c10.801,0,19.801-2.25,19.801-9.899c0-5.4-4.5-7.65-13.051-11.25
		l-25.199-10.351c-40.95-16.649-65.25-35.1-65.25-72.449c0-45,35.55-71.1,87.3-71.1c24.75,0,51.3,6.75,70.649,19.8
		c9.45,6.3,14.85,16.2,14.85,26.55c0,17.55-13.949,31.5-31.05,31.5c-6.3,0-12.6-2.7-18-5.85c-11.699-6.75-23.399-10.8-35.999-10.8
		c-9.9,0-15.75,2.25-15.75,8.55c0,5.85,4.95,8.1,15.3,12.149l22.5,9c40.05,16.2,65.699,32.85,65.699,70.649
		c0,47.25-39.6,74.7-93.149,74.7C1471.408,1327.556,1442.158,1317.205,1421.008,1299.205z"/>
                    </g>
</svg>
            </div>
            <div style="width:25%; text-align: center; float: left; padding-top:20px">
                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg"
                     x="0px" y="0px"
                     width="30%" height="30%" viewBox="0 0 376.481 277.486"
                     enable-background="new 0 0 376.481 277.486"
                     xml:space="preserve">
<g>
    <polygon class="l5" fill="#333333" points="327.643,164.671 351.643,141.759 351.643,45.489 327.643,22.42 	"/>
</g>
                    <g>
                        <g>
                            <polygon class="l3" fill="#333333"
                                     points="176.062,164.671 200.063,141.759 200.063,113.252 176.062,89.252 		"/>
                        </g>
                        <g>
                            <polygon class="l4" fill="#333333" points="239.852,85.278 176.062,22.42 176.062,55.311 239.912,119.161 279.643,79.428 279.643,141.759
			303.643,164.671 303.643,22.42 		"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <polygon class="l2" fill="#333333" points="88.272,85.278 72.507,69.743 72.507,103.454 88.272,119.219 128.062,79.428 128.062,141.759
			152.062,164.671 152.062,22.42 		"/>
                        </g>
                        <g>
                            <polygon class="l1" fill="#333333" points="48.507,46.093 36.494,34.256 24.482,22.42 24.482,46.093 24.482,46.094 24.482,79.454
			24.482,79.454 24.507,79.428 24.507,141.759 36.494,153.202 48.507,164.671 48.507,79.454 48.507,79.454 48.507,46.094 		"/>
                        </g>
                    </g>
                    <g>
                        <path fill="#333333" d="M96.334,217.021v9.404H84.732v37.822h-9.521v-37.822H63.58v-9.404H96.334z"/>
                        <path fill="#333333" d="M106.436,217.021h15.41c5.258,0,9.51,1.985,12.363,4.805c2.875,2.875,4.57,5.498,4.57,10.723v1.23
		c0,3.184-0.996,6.182-2.988,8.994c-1.659,2.322-2.973,3.311-5.654,4.365l10.986,17.109h-11.602l-13.564-20.889v20.889h-9.492
		L106.436,217.021z M128.994,232.842c0-1.719-0.625-3.232-1.875-4.541c-1.231-1.197-3.57-1.875-5.859-1.875h-5.332v13.037h3.662
		v0.029h3.164C126.213,239.492,128.994,236.442,128.994,232.842z"/>
                        <path fill="#333333" d="M190.336,223.701c4.707,4.707,7.061,10.361,7.061,16.963c0,6.621-2.354,12.266-7.061,16.934
		c-4.688,4.648-10.332,6.973-16.934,6.973c-6.621-0.02-12.266-2.344-16.934-6.973c-4.688-4.688-7.031-10.332-7.031-16.934
		c0-6.582,2.344-12.236,7.031-16.963c4.707-4.707,10.352-7.061,16.934-7.061S185.629,218.994,190.336,223.701z M163.236,230.439
		c-2.813,2.852-4.219,6.24-4.219,10.166c0,3.965,1.406,7.354,4.219,10.166c2.793,2.793,6.182,4.189,10.166,4.189
		c3.926,0,7.305-1.396,10.137-4.189s4.248-6.182,4.248-10.166c0-3.945-1.416-7.334-4.248-10.166
		c-2.813-2.813-6.191-4.219-10.137-4.219C169.398,226.221,166.01,227.627,163.236,230.439z"/>
                        <path fill="#333333" d="M210.574,217.021l8.613,16.377l8.613-16.377h10.752l-14.648,26.982v20.244h-9.434v-20.244l-14.619-26.982
		H210.574z"/>
                        <path fill="#333333"
                              d="M277.131,216.904v9.463h-18.984v9.521h14.238v9.463h-14.238v9.521h18.984v9.434h-28.477v-47.402H277.131z"
                        />
                        <path fill="#333333" d="M300.393,254.951c2.622,0,5.516-2.177,5.516-4.799c0-4.312-5.787-4.913-9.053-6.044
		c-5.758-1.963-10.844-6.689-10.844-13.121c0-7.965,6.461-14.382,14.425-14.382c7.263,0,13.278,5.386,14.253,12.391l-9.426,1.991
		c0-2.593-2.178-4.771-4.77-4.771c-2.637,0-4.813,2.178-4.813,4.799c0,4.254,5.386,5.386,8.666,6.36
		c5.959,1.719,11.216,6.26,11.216,12.834c0,7.964-7.147,14.396-15.098,14.396c-7.305,0-13.908-5.357-14.982-12.39l9.425-2.006
		c0,2.636,2.864,4.784,5.529,4.784L300.393,254.951z"/>
                    </g>
                    <g>
                        <path fill="#333333" d="M307.607,300.992"/>
                    </g>
</svg>
            </div>

        </section>
        <section style="clear: both;">
            <p style="text-align: right; font-size: 10px; color: darkgray">L'emploi du temps est actualisé toutes les 15
                                                                           minutes. Dernière actualisation
                                                                           à {{ 'now'|date('H:i') }} </p>
        </section>
        <!--Fin footer -->
    </div>
    <!-- /CONTENEUR 1080PX -->
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('borne') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('borne') }}
{% endblock %}
