<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>
            <label class="sr-only" for="select_all">Tout selectionner</label>
            <input name="select_all" value="1" id="select_all" type="checkbox"/></th>
        <th>{{ 'table.libelle'|trans }}</th>
        <th>{{ 'table.type_fichier'|trans }}</th>
        <th>{{ 'table.type_document'|trans }}</th>
        <th>{{ 'table.updated'|trans }}</th>
        <th>{{ 'table.fichier'|trans }}</th>
        <th>{{ 'table.actions'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for document in documents %}
        <tr id="ligne_{{ document.id }}">
            <td></td>
            <td>{{ document.libelle }}</td>
            <td>{{ document.typeFichier }}</td>
            <td>{{ document.typeDocument ? document.typeDocument.libelle : 'non.defini'|trans }}</td>
            <td>{{ document.updated ? document.updated|format_datetime('long', 'short') : '' }}</td>
            <td><a href="{{ asset('upload/documents/'~document.documentName) }}"
                   target="_blank">{{ 'voir.le.fichier'|trans }}</a></td>
            <td>
                {{ include('composants/adm-buttons-table-index.html.twig', {elt:'document', id:document.uuidString}) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
