#planning thead {
  height: 30px;
}

#planning tbody {
  height: 300px;
  overflow: auto;
}

.card-trombi {
  background-color: #f5f6f7;
}

a .btn-round {
  color: white;
}

.afficheDocuments {
  cursor: pointer;
}

.preloader {
  opacity: 0.7;
}

.lignehover:hover {
  background-color: #f5f6fa;
}

.previtd {
  background-color: #e3fcf2;
}

.previtp {
  background-color: #fcf0e3;
}

fieldset {
  border: 1px solid #4d5259;
  padding: 10px;
}

fieldset legend {
  font-weight: 400;
  padding: 5px;
}

.absent {
  background-color: #f96868;
}

.carre {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.alternance {
  background-color:red;
}

.stage {
  background-color: green;
}