<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Intranet des IUT de Troyes et Reims Châlons Charleville. Gestion de la
    scolarité des étudiants en DUT, B.U.T. et LP. GEA, TC, MMI, GMP, GEII, CJ.">
    <meta name="keywords" content="DUT, B.U.T., LP, GEA, TC, MMI, GMP, GEII, CJ, intranet, scolarite">
    {% block meta %}
        <meta name="description" content="Intranet des IUT de Troyes et Reims Châlons Charleville. Gestion de la
    scolarité des étudiants en DUT, B.U.T. et LP. GEA, TC, MMI, GMP, GEII, CJ.">
        <meta name="keywords" content="DUT, B.U.T., LP, GEA, TC, MMI, GMP, GEII, CJ, intranet, scolarite">
    {% endblock %}

    <title>{{ block('header')|escapetitle|raw }} - Intranet {{ settings('NOM_IUT') }}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('ms-icon-144x144.png') }}">
    <meta name="theme-color" content="{{ settings('COLOR_IUT') }}">

    <!-- Routing -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}" defer></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}" defer></script>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script data-provide="sweetalert"></script>

    {% if app.environment == 'prod' %}
        <!-- Matomo -->
        <script type="text/javascript" defer>
          var _paq = window._paq = window._paq || []
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView'])
          _paq.push(['enableLinkTracking']);
          (function () {
            var u = '//intranetv3.iut-troyes.univ-reims.fr/matomo/'
            _paq.push(['setTrackerUrl', u + 'matomo.php'])
            _paq.push(['setSiteId', '1'])
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0]
            g.type = 'text/javascript'
            g.async = true
            g.src = u + 'matomo.js'
            s.parentNode.insertBefore(g, s)
          })()
        </script>
        <!-- End Matomo Code -->
    {% endif %}
</head>

<body class="{{ settings('CODE_IUT') }}">
{% block full_body %}
    <!-- Preloader -->
    <div class="preloader" id="loader">
        <div class="spinner-dots">
            <span class="dot1"></span>
            <span class="dot2"></span>
            <span class="dot3"></span>
        </div>
    </div>

    <!-- Sidebar -->
    <aside class="sidebar sidebar-expand-lg sidebar-iconic" id="sidebar">
        <header class="sidebar-header" style="background-color: white">
        <span class="logo text-cente">
          <a href="{% block link_homepage %}{{ path('default_homepage') }}{% endblock %}" class="div_logo">
              <img src="{{ asset('upload/logo/'~settings('LOGO_INTRANET_IUT')) }}"
                   alt="logo de l'intranet.">
          </a>
        </span>
        </header>

        <nav class="sidebar-navigation ps-container ps-theme-default" data-ps-id="9edea121-7e34-6d68-3caa-50294dffdd48">
            <ul class="menu">
                {% block sidebar_menu %}
                    <li class="menu-item active" id="menu-tableau-de-bord">
                        <a class="menu-link" href="{{ path('default_homepage') }}">
                            <i class="{{ iconDashboard }} fa-2x"><span class="sr-only">dashboard</span></i>
                            <span class="title">{{ 'menu.dashboard'|trans }}</span>
                        </a>
                    </li>

                    <li class="menu-item" id="menu-trombinoscope">
                        <a class="menu-link" href="{{ path('trombinoscope_index') }}">
                            <i class="{{ iconTrombi }} fa-2x"><span class="sr-only">group</span></i>
                            <span class="title">{{ 'menu.trombinoscope'|trans }}</span>
                        </a>
                    </li>

                    <li class="menu-item" id="menu-agenda">
                        {% if user_data.departement.optEdt == true %}
                            <a class="menu-link" href="{{ path('agenda_index') }}">
                                <i class="{{ iconAgenda }} fa-2x"><span class="sr-only">calendar</span></i>
                                <span class="title">{{ 'menu.agenda'|trans }}</span>
                            </a>
                        {% else %}
                            <a class="menu-link" href="{{ path('planning_index', {annee:user_data.anneeUniversitaire
                            .annee}) }}">
                                <i class="{{ iconAgenda }} fa-2x"><span class="sr-only">calendar</span></i>
                                <span class="title">{{ 'menu.agenda'|trans }}</span>
                            </a>
                        {% endif %}
                    </li>

                    <li class="menu-item" id="menu-application">
                        <a class="menu-link" href="{{ path('application_index') }}">
                            <i class="{{ iconApplications }} fa-2x"><span class="sr-only">applications</span></i>
                            <span class="title">{{ 'menu.applications'|trans }}</span>
                        </a>
                    </li>

                    <li class="menu-item" id="menu-document">
                        <a class="menu-link" href="{{ path('document_index') }}">
                            <i class="{{ iconDocuments }} fa-2x"><span class="sr-only">Documents</span></i>
                            <span class="title">{{ 'menu.documents'|trans }}</span>
                        </a>
                    </li>

                    <li class="menu-item" id="menu-information">
                        <a class="menu-link" href="{{ path('informations_index') }}">
                            <i class="{{ iconInformation }} fa-2x"><span class="sr-only">Informations</span></i>
                            <span class="title">{{ 'menu.informations'|trans }}</span>
                        </a>
                    </li>
                    {% if user_data.isGoodDepartement('ROLE_CDD') or
                        user_data.isGoodDepartement('ROLE_RP') or
                        user_data.isGoodDepartement('ROLE_DDE') or
                        user_data.isGoodDepartement('ROLE_ASS') or
                        user_data.isGoodDepartement('ROLE_STA') or
                        user_data.isGoodDepartement('ROLE_ABS') or
                        user_data.isGoodDepartement('ROLE_NOTES') or
                        user_data.isGoodDepartement('ROLE_PRJ') or
                        user_data.isGoodDepartement('ROLE_EDT') %}
                        <li class="menu-item" id="menu-administration">
                            <a class="menu-link" href="{{ path('administration_index') }}">
                                <i class="{{ iconAdmin }} fa-2x"><span class="sr-only">Administration</span></i>
                                <span class="title">{{ 'menu.administration'|trans }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endblock %}

            </ul>

            <div class="ps-scrollbar-x-rail" style="left: 0; bottom: 0;">
                <div class="ps-scrollbar-x" tabindex="0" style="left: 0; width: 0;"></div>
            </div>
            <div class="ps-scrollbar-y-rail" style="top: 0; right: 2px;">
                <div class="ps-scrollbar-y" tabindex="0" style="top: 0; height: 0;"></div>
            </div>
        </nav>
    </aside>
    <!-- END Sidebar -->

    <!-- Topbar -->
    <header class="topbar">
        <div class="topbar-left">
            <span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span>
            {% if is_granted('ROLE_PERMANENT') or is_granted('ROLE_ETUDIANT') %}
                <a class="topbar-btn d-none d-md-block"
                   href="{{ block('link_homepage') }}">
                    Département {{ user_data.departement.libelle }}
                </a>
            {% endif %}
            <a class="topbar-btn d-none d-md-block" href="#" data-provide="fullscreen"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'fullscreen'|trans }}">
                <i class="fas fa-expand fullscreen-default"></i>
                <i class="fas fa-compress fullscreen-active"></i>
                <span class="sr-only">Fullscreen</span>
            </a>

            <div class="dropdown d-none d-md-block">
                <span class="topbar-btn" data-bs-toggle="dropdown"><i class="fas fa-th-large"></i></span>
                <div class="dropdown-menu dropdown-grid">
                    <div class="row" style="max-height: 300px; overflow-y: auto">
                        <a class="dropdown-item col-4" href="{{ path('default_homepage') }}">
                            <span class="fas fa-home fa-3x fa-color-home"></span>
                            <span class="title">Dashboard</span>
                        </a>
                        <a class="dropdown-item col-4" href="{{ path('trombinoscope_index') }}">
                            <span class="fas fa-images fa-3x fa-color-trombi"></span>
                            <span class="title">Trombinoscope</span>
                        </a>
                        <a class="dropdown-item col-4" href="{{ path('agenda_index') }}">
                            <span class="fas fa-calendar-alt fa-3x  fa-color-agenda"></span>
                            <span class="title">Agenda</span>
                        </a>
                        <a class="dropdown-item col-4" href="{{ path('application_index',{'onglet':'messagerie'}) }}">
                            <span class="fas fa-envelope fa-3x  fa-color-messagerie"></span>
                            <span class="title">Messagerie</span>
                        </a>
                        <a class="dropdown-item col-4" href="{{ path('user_mon_profil') }}">
                            <span class="fas fa-address-card fa-3x  fa-color-profil"></span>
                            <span class="title">Profil</span>
                        </a>
                    </div>
                </div>
            </div>

            {% if (is_granted('ROLE_PERMANENT') and user_data.departementMultiple == true) %}
                <div class="dropdown d-none d-md-block">
                <span class="topbar-btn" data-bs-toggle="dropdown">
                    <i class="fas fa-random"></i>
                </span>
                    <div class="dropdown-menu dropdown-grid">
                        <div class="row" style="max-height: 300px; overflow-y: auto">
                            {% for departement in user_data.user.getPersonnelDepartements %}
                                <a class="dropdown-item {% if departement.defaut == true %}is-default{% endif %} col-4"
                                   href="{{ path('security_change_departement',{departement:departement.departement.uuidString}) }}">
                                    <div class="avatar-departement"
                                         style="background-color: {{ departement.departement.couleur }}">
                                        <span class="initials">{{ departement.departement.libelleInitiales|raw }}</span>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div {{ stimulus_controller('lookup-search', {
                url: path('recherche')
            }) }}>
                <a class="topbar-btn d-none d-md-block" href="#" title="{{ 'rechercher'|trans }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                        {# id="lookup" #}
                   data-action="lookup-search#openModal"
                   data-original-title="{{ 'rechercher'|trans }}">
                    <i class="fas fa-search"></i>
                </a>
                <!-- Fullscreen search -->
                {{ include('recherche/_resultat.html.twig') }}
                <!-- END Fullscreen search -->
            </div>
        </div>

        <div class="topbar-right">
            <a class="topbar-btn" href="#qv-global" data-toggle="quickview" data-url="{% block quickViewUrl %}no-url{% endblock %}"><i class="fas fa-align-right"></i></a>
            <div class="topbar-divider"></div>
            <ul class="topbar-btns">
                <li class="dropdown">
                    <span class="topbar-btn-avatar" data-bs-toggle="dropdown">
                        {% if user_data.user.photoName != null and user_data.user.photoName != 'noimage.png' %}
                            <img class="avatar" src="{% if user_data.user.typeUser == 'permanent' %}
{{ asset('upload/personnels/'~user_data.user.photoName)|imagine_filter('avatar') }}{% else %}
{{ asset('upload/etudiants/'~user_data.user.photoName)|imagine_filter('avatar') }}
                                {% endif %}" alt="Votre avatar">
                        {% else %}
                            {{ include('composants/_avatar.html.twig', {user:user_data.user, size:'sm'}) }}
                        {% endif %}
                    </span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{ path('user_mon_profil') }}"><i class="fas fa-user"></i> {{ 'profil'|trans }}
                        </a>
                        <a class="dropdown-item" href="{{ path('user_settings') }}"><i class="fas fa-cogs"></i> {{ 'parametres'|trans }}
                        </a>
                        <a class="dropdown-item" href="#" id="darkMode"><i class="fas fa-adjust"></i> Dark Mode On</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('security_logout') }}"><i class="fas fa-sign-out-alt"></i>
                            {{ 'déconnexion'|trans }}</a>
                    </div>
                </li>

                <!-- Change language -->
                {# <li> #}
                {# {% if app.request.locale == 'en' %} #}
                {# <a class="topbar-btn d-none d-md-block" href="{{ path #}
                {# ('default_homepage',{'_locale':'fr'}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" #}
                {# title="{{ 'passer.en.francais'|trans }}"><img src="{{ asset('assets/img/flag/fr.png') }}" #}
                {# width="16px" alt="{{ 'passer.en.francais'|trans }}"></a> #}
                {# {% else %} #}
                {# <a href="{{ path('default_homepage',{'_locale':'en'}) }}" class="topbar-btn d-none d-md-block" data-bs-toggle="tooltip" data-bs-placement="bottom" #}
                {# title="{{ 'passer.en.anglais'|trans }}" #}
                {# ><img src="{{ asset('assets/img/flag/en.png') }}" width="16px" alt="{{ 'passer.en.anglais'|trans }}"></a> #}

                {# {% endif %} #}
                {# </li> #}
                <!-- END Change language -->

                <!-- Notifications -->
                {{ render_esi(controller(
                    'App\\Controller\\ToolBarController::notifications'
                )) }}
                <!-- END Notifications -->

                <!-- Messagerie -->
                {% if ((is_granted('ROLE_PERMANENT') or is_granted('ROLE_ETUDIANT')) and user_data.departement.optMessagerie == true) %}
                    {{ render_esi(controller(
                        'App\\Controller\\ToolBarController::messages'
                    )) }}
                {% endif %}
                <!-- END Messagerie -->
                {% if not is_granted('ROLE_ETUDIANT') %}
                    {{ render_esi(controller(
                        'App\\Controller\\ToolBarController::anneeUniversitairePermanent'
                    )) }}
                {% endif %}
            </ul>
        </div>
    </header>
    <!-- END Topbar -->


    <!-- Main container -->
    <main class="main-container"
            {% block stimulus %}{% endblock %}
    >
        <header class="header">
            <div class="header-info">
                <div class="left">
                    <h1 class="header-title" id="header-title">
                        {% block header %}
                            <strong>No title</strong>
                        {% endblock %}
                    </h1>
                    {% block breadcrumbs %}
                        <!-- breadcrumb -->
                        {{ breandcrumbs_render() }}
                        <!-- END breadcrumb -->
                    {% endblock %}
                </div>
                {% block headerright %}

                {% endblock %}
            </div>
            {% block headeractions %}

            {% endblock %}
        </header>

        <div class="main-content" id="mainContent">
            {% if not is_granted('ROLE_ETUDIANT') and user_data.anneeUniversitaire.active == false %}
                <div class="alert alert-danger">
                    Attention ! Vous n'êtes pas sur l'année courante. Pour modifier, cliquer en haut, à droite sur la
                    liste déroulante.
                </div>
            {% endif %}
            {% for toast in app.session.flashbag.get('toast') %}
                <div class="position-fixed top-0 end-0 p-3" style="z-index:1000">
                    <div class="align-items-center text-white bg-{{ toast.type }} border-0 transition transform duration-1000 hidden" role="alert"
                         aria-live="assertive"
                         aria-atomic="true"
                         data-controller="notification"
                         data-notification-delay-value="4000"
                         data-transition-enter-from="opacity-0 translate-x-6"
                         data-transition-enter-to="opacity-100 translate-x-0"
                         data-transition-leave-from="opacity-100 translate-x-0"
                         data-transition-leave-to="opacity-0 translate-x-6"
                    >
                        <div class="d-flex">
                            <div class="toast-body">
                                <strong>{{ toast.title }}</strong> : {{ toast.text }}
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close">
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% block content %}

            {% endblock %}

            <!-- bouton fab en bas de chaque page -->
            {% block fabactions %}

            {% endblock %}
            <!-- fin du bouton fab -->
        </div><!--/.main-content -->

              <!-- Footer -->
        <footer class="site-footer">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-md-left">Copyright © 2018-{{ 'now'|date('Y') }}
                        <a href="https://www.davidannebicque.fr" target="_blank">@DavidAnnebicque</a>. All rights
                                            reserved. | Version {{ version.version }}</p>
                </div>

                <div class="col-md-6">
                    <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                        <li class="nav-item">
                            <a class="nav-link" href="https://documentation.iutranet.fr" target="_blank">
                                {{ 'menu.documentation'|trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="{{ path('rgpd_index') }}">{{ 'menu.rgpd'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="{{ path('mentions_about') }}">{{ 'menu.about'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="{{ path('mentions_index') }}">{{ 'menu.mentions_legales'|trans }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer><!-- END Footer -->
    </main>
    <!-- END Main container -->

    <!-- Global quickview -->
    <div id="qv-global" class="quickview {% block sizeQv %}quickview-lg{% endblock %}">
        <div class="spinner-linear">
            <div class="line"></div>
        </div>
    </div>
    <!-- END Global quickview -->

    <!-- modal confirme suppression -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation de suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Veuillez confirmer la suppression de <strong id="exampleModalLabelTexte"></strong> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger">Confirmer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- fin modal confirme suppression -->
    <div {{ stimulus_controller('base') }} data-action="modal:openModal@window->base#openModal">
        {{ include('_modal.html.twig') }}
    </div>
{% endblock %}{# fin du block full body #}
</body>
</html>
