<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Référentiel de formation pour le B.U.T. MMI. Référentiel en cours de rédaction.
     Documents de travail pour l'ACD MMI.">
    <meta name="keywords" content="BUT, B.U.T., MMI, Métiers du multimédia et de l'Internet, ACD, Réforme, IUT">

    <title>{{ block('header')|escapetitle|raw }} - Intranet {{ settings('NOM_IUT') }}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    {% if app.environment == 'prod' %}
        <!-- Matomo -->
        <script type="text/javascript">
          var _paq = window._paq = window._paq || []
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView'])
          _paq.push(['enableLinkTracking']);
          (function () {
            var u = '//intranetv3.iut-troyes.univ-reims.fr/matomo/'
            _paq.push(['setTrackerUrl', u + 'matomo.php'])
            _paq.push(['setSiteId', '1'])
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0]
            g.type = 'text/javascript'
            g.async = true
            g.src = u + 'matomo.js'
            s.parentNode.insertBefore(g, s)
          })()
        </script>
        <!-- End Matomo Code -->
    {% endif %}
</head>

<body class="{{ settings('CODE_IUT') }} {% block body %}{% endblock %}">
<header class="topbar">
    <div class="topbar-left">
        <a class="topbar-btn d-none d-md-block"
           href="{{ path('but_homepage') }}"
        >
            B.U.T.
        </a>
        {% if diplome is defined %}
            <a class="topbar-btn d-none d-md-block" href="{{ path('but_referentiel_competences', {diplome:diplome.sigle|lower }) }}">Référentiel
                                                                                                                                     Compétences</a>
            <a class="topbar-btn d-none d-md-block" href="{{ path('but_sae', {diplome:diplome.sigle|lower}) }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="SAÉ">
                SAÉ
            </a>
            {% for semestre in diplome.semestres %}
                <a class="topbar-btn d-none d-md-block" href="{{ path('but_ressource', { diplome:diplome.sigle|lower,
                    semestre:semestre.id}) }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="Ressources du S1">
                    Ressources {{ semestre.libelle }}
                </a>
            {% endfor %}
            <a class="topbar-btn d-none d-md-block" href="{{ path('but_repartition_horaire', {diplome:diplome.sigle|lower}) }}">
                Répartition horaire
            </a>
            <a class="topbar-btn d-none d-md-block" href="{{ path('but_coefficients', {diplome:diplome.sigle|lower}) }}">
                Coefficients
            </a>
            <div class="dropdown d-sm-block d-md-none">
                <span class="topbar-btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">Menu</span>
                <div class="dropdown-menu" x-placement="bottom-start">
                    <a class="dropdown-item" href="{{ path('but_homepage') }}">Référentiel</a>
                    <a class="dropdown-item" href="{{ path('but_referentiel_competences', {diplome:diplome.sigle|lower }) }}">Référentiel
                                                                                                                              Compétences</a>
                    <a class="dropdown-item" href="{{ path('but_sae', {diplome:diplome.sigle|lower}) }}">SAE</a>
                    {% for semestre in diplome.semestres %}
                        <a class="dropdown-item" href="{{ path('but_ressource', { diplome:diplome.sigle|lower,
                            semestre:semestre.id}) }}">Ressources {{ semestre.libelle }}</a>
                    {% endfor %}
                    <a class="dropdown-item" href="{{ path('but_repartition_horaire', {diplome:diplome.sigle|lower}) }}">
                        Répartition horaire
                    </a>
                    <a class="dropdown-item" href="{{ path('but_coefficients', {diplome:diplome.sigle|lower}) }}">
                        Coefficients
                    </a>
                </div>
            </div>
            <div class="topbar-divider"></div>
            <form class="lookup lookup-circle" action="{{ path('but_recherche',{diplome:diplome.sigle|lower}) }}">
                <input type="text" name="s">
            </form>
        {% endif %}
    </div>
    <div class="topbar-right">
        <a class="dropdown-item" href="#" id="darkMode"><i class="fas fa-adjust"></i> Dark Mode On</a>
    </div>
</header>
<main class="main-container">
    <div class="main-content" id="mainContent">
        {% block content %}

        {% endblock %}
    </div>
</main>

<footer class="footer-speciale">
    <div class="row">
        <div class="col-md-6">
            &nbsp;
        </div>

        <div class="col-md-6">
            <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                <li class="nav-item">
                    <a class="nav-link" href="https://dannebicque.gitbook.io/intranet/" target="_blank">{{ 'menu.documentation'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="{{ path('rgpd_index') }}">{{ 'menu.rgpd'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="{{ path('mentions_about') }}">{{ 'menu.about'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="{{ path('mentions_index') }}">{{ 'menu.mentions_legales'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
