{% extends 'base.html.twig' %}

{% block content %}

{% endblock %}

{% block header %}

{% endblock %}

{% block sidebar_menu %}
    <li class="menu-item active" id="menu-dashboard">
        <a class="menu-link" href="{{ path('super_admin_homepage') }}">
            <span class="material-icons">dashboard</span>
            <span class="title">{{ 'menu.dashboard'|trans }}</span>
        </a>
    </li>
    <li class="menu-item" id="menu-super-administration">
        <a class="menu-link" href="{{ path('super-administration_index') }}">
            <span class="material-icons">build</span>
            <span class="title">{{ 'menu.superadministration'|trans }}</span>
        </a>
    </li>
{% endblock %}

