<div class="card">
    <h4 class="card-title">{{ 'application.vos.stages.heading'|trans }}</h4>

    <div class="card-body">
        Liste des stagiaires et des informations par semestre et par période.
        Filtrer par année, et afficher les anciens en historique.
    </div>
</div>