<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'bloc.absence.etu.heading'|trans }}</h4>
        {% if is_granted('ROLE_ETUDIANT') %}
            <div class="card-header-actions">
                <a href="{{ path('app_etudiant_absence_justificatif_new') }}" class="btn btn-sm btn-primary"
                   title="{{ 'absence_justificatif_deposer'|trans }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                >
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        {% endif %}
    </header>

    <div class="card-body">
        <table class="table table-border" id="tableAbsence">
            <thead>
            <tr>
                <th>{{ 'dateHeure'|trans }}</th>
                <th>{{ 'matiere'|trans }}</th>
                <th>{{ 'justifiee'|trans }}</th>
                <th class="hide">{{ 'saisie_par'|trans }}</th>
                <th>{{ 'infos'|trans }}</th>
                {% if  user_data.isGoodDepartement('ROLE_ABS') or user_data.isGoodDepartement('ROLE_ASS') or
                    user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
                    <th>Justifiée?</th>
                    <th>Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for absence in absences %}
                <tr class="{% if absence.justifie %}bg-pale-success{% else %}bg-pale-warning{% endif %}" id="ligne_{{ absence.uuidString }}">
                    <td>{{ absence.dateHeure ? absence.dateHeure|format_datetime('long', 'short') : '' }}</td>
                    <td>{{ matieres[absence.typeIdMatiere] is defined ? matieres[absence.typeIdMatiere].codeMatiere
                        : '-' }}</td>
                    <td>{{ absence.justifie ? 'Yes'|trans : 'No'|trans }}</td>
                    <td class="hide">{{ absence.personnel ? absence.personnel.display : 'non.defini'|trans }}</td>
                    <td>
                        <button
                                {{ stimulus_controller('modal', {
                                    modalTitle: 'detail.absence'|trans,
                                    modalUrl:  path('app_etudiant_absence_detail', {'uuid': absence.uuidString}) })}}
                                data-action="click->modal#openModal"
                                data-bs-toggle="tooltip" data-bs-placement="bottom"
                                class="btn btn-info btn-outline btn-square btn-xs"
                                title="{{ 'atitle.details'|trans }}"
                        >
                            <i class="{{ iconShow }}"></i>
                        </button>
                    </td>
                    {% if  user_data.isGoodDepartement('ROLE_ABS') or user_data.isGoodDepartement('ROLE_ASS') or user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
                        <td>
                            <div class="custom-control custom-control-lg custom-checkbox">
                                <input type="checkbox" class="custom-control-input checkAbsence" id="check_{{ absence.id }}"
                                       data-absence="{{ absence.id }}" {% if absence.justifie %}checked{% endif %}>
                                <label class="custom-control-label" for="check_{{ absence.id }}">Justifiée*</label>
                            </div>
                        </td>
                        <td>
                            <a href="{{ path('application_personnel_absence_delete', {uuid: absence.uuidString}) }}"
                               class="btn btn-danger btn-outline btn-square supprimer"
                               data-csrf="{{ csrf_token('delete' ~ absence.uuidString) }}"><i class="{{ iconDelete }}"
                                                                                              data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                                              title="{{ 'supprimer'|trans }}"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    {% if  user_data.isGoodDepartement('ROLE_ABS') or user_data.isGoodDepartement('ROLE_ASS') or user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
                    <td colspan="7">
                        {% else %}
                    <td colspan="5">
                        {% endif %}
                        <div class="alert alert-info">Aucune absence n'a été saisie</div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if  user_data.isGoodDepartement('ROLE_ABS') or user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
            <div class="alert alert-info">* Si la case est cochée, l'absence est justifiée.</div>
        {% endif %}

        <div class="alert alert-warning">
            {% if absences|length == 0 %}
                Vous n'avez pas d'absence ou de cours manqué.
            {% else %}
                Vous avez
                <strong> {{ absences|length }} </strong> cours manqué{% if absences|length > 1 %}s{% endif %}, dont
                <strong>{{ statistiquesAbsences.nbNonJustifie }} non justifié{% if statistiquesAbsences.nbNonJustifie
                        > 1 %}s{% endif %}</strong>.<br>
                {% if etudiant.semestre.optPenaliteAbsence == true %}
                    <strong>Vous avez perdu ce semestre {{ statistiquesAbsences.nbNonJustifie * etudiant
                        .semestre.optPointPenaliteAbsence }} point{% if statistiquesAbsences.nbNonJustifie * etudiant
                        .semestre.optPointPenaliteAbsence > 1 %}s{% endif %}.</strong>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
