<div class="col-lg-6 col-md-12 col-sm-12">
        {{ include('bloc_notes_absences/etudiant_absences.html.twig', {absences: etudiant.absences}) }}
    </div>
<div class="col-lg-6 col-md-12 col-sm-12">
        {{ include('bloc_notes_absences/etudiant_notes.html.twig', {notes:etudiant.notes}) }}
    </div>
