<div class="row">
    <div class="col-md-6">
        {{ include('bloc_notes_absences/etudiant_absences.html.twig', {absences: etudiant.absences}) }}
    </div>
    <div class="col-md-6">
        {{ include('bloc_notes_absences/etudiant_notes.html.twig', {notes:etudiant.notes}) }}
    </div>
</div>