<div class="col-sm-12">
    <div class="card">
        <h4 class="card-title">{{ 'mcc'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'table.matiere'|trans }}</th>
                    <th class="hide">{{ 'table.ue'|trans }}</th>
                    <th>{{ 'table.nombre.notes'|trans }}</th>
                    <th>{{ 'table.coefficient'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for matiere in matieres %}
                    <tr>
                        <td>{{ matiere.display }}</td>
                        {% if apc == true %}
                            <td class="hide">
                                {% for ue in matiere.tab_ues %}
                                    <span class="badge badge-{{ ue.ue_couleur }}">{{ ue.ue_display }}</span>
                                {% endfor %}
                            </td>
                        {% else %}
                            <td class="hide">{{ matiere.ue_id != 0 ? matiere.ue_display : 'non.defini'|trans }}</td>
                        {% endif %}
                        <td>{{ matiere.nbNotes }}</td>
                        <td>{{ matiere.coefficient }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
