<div class="col-md-12">
    <div class="card">
        <h3 class="card-header card-title">
            {{ 'mes_cours.heading'|trans }}
        </h3>
        <div class="card-body">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    {% for semestre in user_data.semestresActifs %}
                        <li class="nav-item">
                            <a class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab"
                               href="#sem{{ semestre.id }}">{{ semestre.libelle }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-content">
                {% for semestre in user_data.semestresActifs %}
                    <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="sem{{ semestre.id }}">
                        <h4>{{ 'vos.modules.du.semestre'|trans({'%semestre%':semestre.display}) }}</h4>
                        <div class="wrapper-notes-absences">
                            <div class="col-notes-header">{{ 'table.matiere'|trans }}</div>
                            <div class="col-notes-header">{{ 'table.previ'|trans }}</div>
                            <div class="col-notes-header">{{ 'table.absences'|trans }}</div>
                            <div class="col-notes-header">{{ 'table.notes'|trans }}</div>
                            <div class="col-notes-header">{{ 'table.exports'|trans }}</div>
                            {% for matiere in previsionnel|filter(matiere => matiere.semestre_id ==
                                semestre.id) %}
                                <div>{{ matiere.display }}</div>
                                <div class="d-grid d-block">
                                    <button
                                            {{ stimulus_controller('modal', {
                                                size: 'lg',
                                                modalTitle: 'previsionnel.et.intervenants.matiere'|trans({'%matiere%':matiere.display}),
                                                modalUrl:  path('api_previsionnel_matiere', {'matiere': matiere
                                                .matiere_id, type: matiere.type_matiere}) })}}
                                            data-action="click->modal#openModal"
                                            class="btn btn-cyan h-100"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="{{ 'previsionnel.et.intervenants.matiere'|trans({'%matiere%':matiere.display}) }}"
                                    >
                                        {{ 'voir.previsionnel.et.intervenants.matiere'|trans }}
                                    </button>
                                </div>
                                <div class="d-grid d-block">
                                    <a href="{{ path('application_personnel_absence_index',{'matiere': matiere
                                    .typeIdMatiere}) }}"
                                       class="btn btn-cyan h-100"
                                       title="{{ 'saisir.voir.modifier.absences'|trans }}"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom"

                                    >
                                        {{ 'saisir.voir.modifier.absences'|trans }}
                                    </a></div>
                                <div class="d-grid d-block">
                                    <a href="{{ path('application_personnel_note_index',{'matiere': matiere
                                    .typeIdMatiere}) }}"
                                       class="btn btn-cyan h-100"
                                       title="{{ 'saisir.voir.modifier.notes'|trans }}"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom"

                                    >
                                        {{ 'saisir.voir.modifier.notes'|trans }}
                                    </a></div>
                                <div class="d-grid d-block">
                                    <button
                                            {{ stimulus_controller('modal', {
                                                size: 'lg',
                                                form: true,
                                                formAction: path('export_listing'),
                                                modalTitle: 'export.heading'|trans,
                                                modalUrl:  path('api_export_document_matiere', {'matiere': matiere
                                                .matiere_id, typeMatiere:matiere.type_matiere}) })}}
                                            data-action="click->modal#openModal"
                                            class="btn btn-cyan h-100"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="{{ 'atitle.export'|trans }}"
                                    >
                                        {{ 'choisir.export'|trans }}
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
