{% extends 'base.html.twig' %}

{% block header %}
    {{ 'app.personnel.carnet.edit.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_personnel_carnet_delete', {id: cahierTexte.id}) }}"
               data-csrf="{{ csrf_token('delete' ~ cahierTexte.id) }}" class="btn btn-danger btn-sm btn-float supprimer"
               title="{{ 'atitle.supprimer'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="fas fa-trash"></i></a>
            <a href="{{ path('application_personnel_carnet_show', {id: cahierTexte.id}) }}"
               class="btn btn-info btn-sm btn-float" title="{{ 'atitle.details'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="fas fa-eye"></i></a>

            <a href="{{ path('application_index', {onglet:'carnet'}) }}" class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_applications'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'app.personnel.carnet.edit.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('composants/adm-form.html.twig', {'button_label': 'update'|trans}) }}
        </div>
    </div>
{% endblock %}
