<div class="lookup-fullscreen" id="lookup-full" style="width: 100%; height: 100%">
    <a href="#" title="{{ 'fermer'|trans }}"
       class="close"
       data-bs-toggle="tooltip" data-bs-placement="bottom"
       data-action="lookup-search#closeModal"
       data-original-title="{{ 'fermer'|trans }}">
        <i class="fas fa-times fa-7x"></i>
    </a>
    <div class="lookup-form">
        <label for="search"><span
                    class="sr-only">Rechercher</span></label>
        <input type="text" placeholder="Rechercher quelque chose" id="search" data-action="lookup-search#onSearchInput">
    </div>

    <div class="lookup-results scrollable" data-lookup-search-target="reponses">
        <div class="row">
            <div class="col-12">
                <twig:Alert type="info">Saisir au moins 3 caractères</twig:Alert>
            </div>
        </div>
    </div>
</div>
