{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}
    <div class="card card-body">
        <div class="row gap-y">


            <div class="col-md-6 col-lg-3">
                <h6 class="fs-10 text-uppercase letter-spacing-3 p-20">
                    <span class="ti-layout text-muted pr-1"></span>
                    <span>Etudiants</span>
                    <span class="pl-10 text-muted">(3)</span>
                </h6>

                <div class="media-list media-list-divided media-list-hover">
                    <a class="media" href="#">
                        <div class="media-body">
                            <h6 class="fs-13 lh-1">Sidebar</h6>
                            <p class="fs-12 text-truncate">Main navigation area for your web application</p>
                        </div>
                    </a>

                    <a class="media" href="#">
                        <div class="media-body">
                            <h6 class="fs-13 lh-1">Topbar</h6>
                            <p class="fs-12 text-truncate">A place for most used actions or information</p>
                        </div>
                    </a>

                    <a class="media" href="#">
                        <div class="media-body">
                            <h6 class="fs-13 lh-1">Footer</h6>
                            <p class="fs-12 text-truncate">Copyright and some general links</p>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-md-6 col-lg-3">
                <h6 class="fs-10 text-uppercase letter-spacing-3 p-20">
                    <span class="ti-align-left text-muted pr-1"></span>
                    <span>Personnels</span>
                    <span class="pl-10 text-muted">(2)</span>
                </h6>

                <div class="media-list media-list-divided media-list-hover">
                    <a class="media" href="#">
                        <div class="media-body">
                            <h6 class="fs-13 lh-1">Icons</h6>
                            <p class="fs-12 text-truncate">The best icon sets available in the web</p>
                        </div>
                    </a>

                    <a class="media" href="#">
                        <div class="media-body">
                            <h6 class="fs-13 lh-1">Typography</h6>
                            <p class="fs-12 text-truncate">Simple and easily customized typography for headings, body
                                text, lists, and more.</p>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-md-6 col-lg-3">
                <h6 class="fs-10 text-uppercase letter-spacing-3 p-20">
                    <span class="ti-check-box text-muted pr-1"></span>
                    <span>Matières</span>
                    <span class="pl-10 text-muted">(5)</span>
                </h6>

                <div class="media-list media-list-divided media-list-hover">
                    <a class="media" href="#">
                        <div class="media-body">
                            <h6 class="fs-13 lh-1">Buttons</h6>
                            <p class="fs-12 text-truncate">Call to actions, floating action buttons, toolbar and
                                more.</p>
                        </div>
                    </a>

                    <a class="media" href="#">
                        <div class="media-body">
                            <h6 class="fs-13 lh-1">Dialogs</h6>
                            <p class="fs-12 text-truncate">Modal, lightbox, sweet alert, and docks.</p>
                        </div>
                    </a>

                    <a class="media" href="#">
                        <div class="media-body">
                            <h6 class="fs-13 lh-1">Notification</h6>
                            <p class="fs-12 text-truncate">Alert, tooltip, popover, toast, callout, push notification
                                and more.</p>
                        </div>
                    </a>

                    <a class="media" href="#">
                        <div class="media-body">
                            <h6 class="fs-13 lh-1">Dropdown</h6>
                            <p class="fs-12 text-truncate">Toggleable, contextual overlays for displaying lists of links
                                and more.</p>
                        </div>
                    </a>

                    <a class="media" href="#">
                        <div class="media-body">
                            <h6 class="fs-13 lh-1">Misc</h6>
                            <p class="fs-12 text-truncate">Breadcrumbs, pagination, pager, context menu, sortable and
                                more.</p>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-md-6 col-lg-3">
                <h6 class="fs-10 text-uppercase letter-spacing-3 p-20">
                    <span class="ti-files text-muted pr-1"></span>
                    <span>Documents / Articles</span>
                    <span class="pl-10 text-muted">(4)</span>
                </h6>

                <div class="media-list media-list-divided media-list-hover">
                    <a class="media" href="#">
                        <div class="media-body">
                            <h6 class="fs-13 lh-1">Gallery</h6>
                            <p class="fs-12 text-truncate">Different type of photo gallery; shuffle, masonry,
                                justified.</p>
                        </div>
                    </a>

                    <a class="media" href="#">
                        <div class="media-body">
                            <h6 class="fs-13 lh-1">Invoice</h6>
                            <p class="fs-12 text-truncate">Display a receipt to your customers.</p>
                        </div>
                    </a>

                    <a class="media" href="#">
                        <div class="media-body">
                            <h6 class="fs-13 lh-1">Maps</h6>
                            <p class="fs-12 text-truncate">Different type of google maps and mapael.</p>
                        </div>
                    </a>

                    <a class="media" href="#">
                        <div class="media-body">
                            <h6 class="fs-13 lh-1">Users</h6>
                            <p class="fs-12 text-truncate">View every user of your application.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
