<div class="col-md-4 col-sm-12">
    <div class="card">
        <h4 class="card-title">{{ sae.display }}
            <span class="badge badge-primary">{{ sae
                .semestre.libelle }}</span></h4>
        <div class="card-body">
            <p>{{ sae.description != null ? sae.description|markdown_to_html : '' }}</p>
            <p>
                <a data-bs-toggle="tooltip" data-bs-placement="bottom"
                   href="{{ path('but_fiche_sae',
                       {'apcSae': sae.id, diplome:diplome.sigle|lower}) }}"
                   class="btn btn-info"

                   title="Voir la fiche SAE"
                   target="_blank"
                >
                    Voir la fiche SAE
                </a>
            </p>
            <table class="table">
                <thead>
                <tr>
                    <th>CM/TD</th>
                    <th>TP</th>
                    <th>Projet</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ sae.cmPpn + sae.tdPpn }} heure(s)</td>
                    <td>{{ sae.tpPpn }} heure(s)</td>
                    <td>{{ sae.projetPpn }} heure(s)</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% for competence in sae.apcSaeCompetences %}
                <span class="badge badge-{{ competence.competence.couleur }}">
                        {{ competence.competence.nomCourt }}</span>
            {% endfor %}
        </div>
    </div>
</div>
