<div class="col-md-4 col-sm-12">
    <div class="card">
        <h4 class="card-title">{{ ressource.display }}</h4>
        <div class="card-body">
            <p>{{ ressource.motsCles|keyWords }}</p>
            <p>
                <a href="{{ path('but_fiche_ressource',
                    {'apcRessource': ressource.id, diplome:diplome.sigle|lower}) }}"
                   class="btn btn-info stretched-link"
                   target="_blank"
                >
                    Voir la fiche ressource
                </a>
            </p>
            <h5>Heures ressources (Référentiel national)</h5>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width:50%">CM/TD</th>
                    <th style="width:50%">TP</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ ressource.cmPpn + ressource.tdPpn }}</td>
                    <td>{{ ressource.tpPpn }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% for competence in ressource.apcRessourceCompetences %}
                <span class="badge badge-{{ competence.competence.couleur }}">
                        {{ competence.competence.nomCourt }}</span>
            {% endfor %}
        </div>
    </div>
</div>
