{% extends 'base-but.html.twig' %}

{% block header %}Fiche de la ressource : {{ apc_ressource.codeRessource }} | {{ apc_ressource
.libelle }}{% endblock %}

{% block content %}
    {{ include('apc/apc_ressource/_detail.html.twig') }}
    <br>
    <div class="alert alert-warning">
        * Le volume horaire en lien avec la ressource dans les SAÉ est indicatif et peut être adapté dans chaque
        département.<br>
        ** La répartition CM/TD (ressource) ou CM/TD/TP et Projet Tutoré est libre dans chaque département.
    </div>
{% endblock %}
