<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Nom</th>
      <th>Heures en ressources</th>
      <th>Heures en SAE</th>
      <th>Heures totales</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>R102</td>
      <td><a href="#">Anglais renforcé ou LV2</a></td>
      <td>15</td>
      <td>15</td>
      <td>30</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <th></th>
      <th>15</th>
      <th>15</th>
      <th>30</th>
    </tr>
  </tfoot>
</table>
