{% extends 'base-but.html.twig' %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#complet">Référentiel de compétences complet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#parcours">Référentiel par parcours</a>
        </li>
        <li class="nav-item d-none d-sm-block">
            <a class="nav-link" data-bs-toggle="tab" href="#annee">Référentiel par année</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="complet" role="tabpanel">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">{{ 'adm.referentiel.de.competence.heading'|trans({ '%diplome%': diplome.libelle}) }}</h4>
                </header>
                <div class="card-body">
                    <div class="tabs">
                        <ul class="nav nav-tabs">
                            {% for competence in competences %}
                                <li class="nav-item">
                                    <a class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab"
                                       href="#comptence_{{ competence.id }}">{{ competence.nomCourt }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="tab-content">
                        {% for competence in competences %}
                            <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="comptence_{{ competence.id }}">
                                {{ include('apc/_competence.html.twig') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="parcours" role="tabpanel">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">{{ 'adm.apc.parcours.heading'|trans({ '%diplome%': diplome.libelle}) }}</h4>
                </header>

                <div class="card-body">
                    <div class="tabs">
                        <ul class="nav nav-tabs">
                            {% for parcour in parcours %}
                                <li class="nav-item">
                                    <a class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab"
                                       href="#parcour_{{ parcour.id }}">{{ parcour.libelle }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="tab-content">
                        {% for parcour in parcours %}
                            <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="parcour_{{ parcour.id }}">
                                {{ include('apc/_parcour.html.twig', {parcour: parcour}) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane " id="annee" role="tabpanel">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">{{ 'adm.apc.annee.heading'|trans({ '%diplome%': diplome.libelle}) }}</h4>
                </header>

                <div class="card-body">
                    <div class="tabs">
                        <ul class="nav nav-tabs">
                            {% for annee in 1..3 %}
                                <li class="nav-item">
                                    <a class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab"
                                       href="#annee_{{ annee }}">Année {{ annee }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="tab-content">
                        {% for annee in 1..3 %}
                            <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="annee_{{ annee }}">
                                {{ include('apc/_annee.html.twig', {annee:annee}) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    Référentiel de compétences
{% endblock %}

