{% extends 'base-but.html.twig' %}

{% block header %}Ressources du semestre {{ semestre.libelle }}{% endblock %}

{% block content %}
    <div class="row">
        {% for ressource in ressources %}
           {{ include('but_mmi/_cardRessource.html.twig') }}
        {% endfor %}
    </div>
    <br>
    <div class="alert alert-warning">
        * Le volume horaire en lien avec la ressource dans les SAÉ est indicatif et peut être adapté dans chaque
        département
    </div>
{% endblock %}
