{% extends 'base-but.html.twig' %}

{% block header %}Ressources du semestre {{ semestre.libelle }}{% endblock %}

{% block content %}
    <div class="row">
        {% for ressource in ressources %}
           {{ include('but_mmi/_cardRessource.html.twig') }}
        {% endfor %}
    </div>
{% endblock %}
