{% for document in documents %}
    <div class="col-md-6 col-xl-4 code code-card code-fold">
        <div class="code-preview">
            <div class="media align-items-center">
                <span>
                    <i class="fas fa-file fs-30 text-info"></i>
                </span>
                <div class="media-body">
                    <h5>{{ document.libelle }}</h5>
                    <p class="gap-items">
                        <small>{{ 'taille'|trans }}: {{ document.tailleKo|number_format(2) }} ko</small>
                        <small>{{ 'type_fichier'|trans }}: {{ document.typeFichierTraduit }}</small>
                    </p>
                    <p>
                        <small>{{ 'update'|trans }}: {{ document.updated|format_datetime('long', 'short') }}</small>
                    </p>
                </div>
                <a class="primary" href="{{ asset('upload/documents/'~document.documentName) }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'telecharger'|trans }}"><i
                            class="fas fa-save"></i></a>
                <label class="toggler toggler-danger fs-16" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'favori'|trans }}">
                    <input type="checkbox" class="addFavori" value="{{ document.uuidString }}"
                           {% if document.id in listesFavoris %}checked{% endif %}
                           data-action="click->documents#addFavori"
                    >
                    <i class="fa fa-heart"></i>
                </label>
            </div>
        </div>
    </div>
{% else %}
    <div class="col-12">
        <div class="alert alert-info">
            Il n'y a pas de document dans cette catégorie.
        </div>
    </div>
{% endfor %}
