{% extends 'base.html.twig' %}

{% block header %}
    {{ 'documents.heading'|trans }}
{% endblock %}

{% block stimulus %}
{{ stimulus_controller('documents', {
    'url': path('typedocument_ajax'),
    'urlDocuments': path('document_ajax'),
    'urlDocumentsFavori': path('document_ajax_favori')
}) }}
{% endblock %}


{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="#" class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               id="boutonBack" style="display: none"
               data-action="click->documents#boutonBack"
               title="{{ 'atitle.retour_categories'|trans }}">
                <i class="fas fa-arrow-left"></i>
            </a>
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_dashboard'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row" data-documents-target="content">
        ... chargement ...
    </div>
{% endblock %}

