<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <style>
        /*https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/*/

        body {
            font-family: "DejaVu Sans", serif;
            font-size: 12px;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }

        .table {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .table td {
            border: 1px solid black;
        }

        .table tr {
            border: 1px solid black;
        }

        .table th {
            font-weight: bold;
            border: 1px solid black;
            background-color: darkgray;
        }

        .tableentete {
            width: 100%;
            border: 0;
        }

        h4 {
            text-align: center;
        }

        #table-edt {
            border-collapse: collapse;
            width: 100%;
        }

        #table-edt td, #table-edt th {
            border: 1px solid darkgray;
        }

        #table-edt th {
            font-weight: bold;
        }

        .center {
            text-align: center;
        }

        .commentaire {
            border: none;
            margin-top: 25px;
            border-bottom: dotted 1px;
        }


        footer {
            position: fixed;
            bottom: -80px;
            left: 0px;
            right: 0px;
            border-top: 1px solid black;
            height: 80px;
            padding: 5px
        }

        .noborder {
            border: none;
        }

        .table td {
            padding: 3px;
        }

        {% block style %}
        {% endblock %}
    </style>

    <title>{% block title %}{% endblock %} - Intranet</title>
</head>

<body>

<!--Conteneur principal -->
<div class="container-fluid" id="content">
    {% block content %}

    {% endblock %}
</div><!-- fin conteneur principal-->

</body>
</html>

