{% extends "pdf/basepdf.html.twig" %}

{% block content %}

    {% for groupe in groupes %}
        <table style="width: 100%; border:none;">
            <tr>
                <td style="text-align: center; width:20%">
                    <img src="{{ settings('BASE_PATH') }}{{ 'logo/'~user_data.departement.logoName }}" alt="logo" height="75px"/>
                </td>
                <td style="text-align: center; width:20%"></td>
                <td style="text-align: right; width:60%">
                    Année Universitaire {{ user_data.displayAnneeUniversitaire }}<br><br>
                    FEUILLE D'EMARGEMENT - Semestre {{ typeGroupe.semestre.libelle }}<br>
                    {{ settings('NOM_IUT') }} - {{ typeGroupe.semestre.diplome.display }}<br><br>
                    Période du ______________ au ______________________
                </td>
            </tr>
        </table>
        <table style="width: 100%; border:none;">
            <tr>
                <td style="text-align: left; width:50%">
                    <br>
                    NOM de L'ENSEIGNANT : {% if personnel != null %}{{ personnel.displayPr }}{% endif %}<br><br>
                    MATIERE ENSEIGNÉE : {% if matiere != null %}{{ matiere.display }}{% endif %}<br><br>
                </td>
                <td style="text-align: center; width:10%"></td>
                <td style="text-align: center; width:40%; border: 1px solid black; padding: 5px;
                background-color:darkgray">
                    Total des heures faites sur la période<br>
                    <br><br><br>
                </td>
            </tr>
        </table>
        <table style="width: 100%; border:none;">
            <tr>
                <td style="text-align: center; width:60%">
                    <p>*Toutes les cases grisées sont à remplir par l'enseignant. Merci !</p>
                </td>
                <td style="text-align: right; width:40%; font-weight: bold; font-size:16px">
                    {{ groupe.display }}
                </td>
            </tr>
        </table>


        <br/><br/>
        <table style="width:100%" class="table">
            <thead>
            <tr style="height: 30px">
                <th style="font-weight: bold" colspan="4">Date de la séance</th>
                <th style="width:60px">&nbsp;</th>
                <th style="width:60px">&nbsp;</th>
                <th style="width:60px">&nbsp;</th>
                <th style="width:60px">&nbsp;</th>
                <th style="width:60px">&nbsp;</th>
                <th style="width:60px">&nbsp;</th>

            </tr>
            <tr style="height: 30px">
                <th style="font-weight: bold" colspan="4">Nombre d'heures</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>

            </tr>
            <tr style="height: 30px">
                <th>#</th>
                <th>N° Etudiant</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            {% for etu in groupe.etudiants %}
                <tr style="height: 25px;">
                    <td style="vertical-align: middle">#{{ loop.index }}</td>
                    <td style="vertical-align: middle">{{ etu.numEtudiant }}</td>
                    <td style="vertical-align: middle">{{ etu.nom }}</td>
                    <td style="vertical-align: middle">{{ etu.prenom }}</td>
                    <td style="width:60px">&nbsp;</td>
                    <td style="width:60px">&nbsp;</td>
                    <td style="width:60px">&nbsp;</td>
                    <td style="width:60px">&nbsp;</td>
                    <td style="width:60px">&nbsp;</td>
                    <td style="width:60px">&nbsp;</td>
                </tr>
            {% endfor %}
            <tbody>
            <tr style="height: 30px">
                <th colspan="4">Nb. Absence(s) sur la période</th>
                <th style="width:60px">&nbsp;</th>
                <th style="width:60px">&nbsp;</th>
                <th style="width:60px">&nbsp;</th>
                <th style="width:60px">&nbsp;</th>
                <th style="width:60px">&nbsp;</th>
                <th style="width:60px">&nbsp;</th>
            </tr>
            <tr style="height: 30px">
                <th colspan="4">Signature de l'enseignant</th>
                <th style="width:60px">&nbsp;</th>
                <th style="width:60px">&nbsp;</th>
                <th style="width:60px">&nbsp;</th>
                <th style="width:60px">&nbsp;</th>
                <th style="width:60px">&nbsp;</th>
                <th style="width:60px">&nbsp;</th>
            </tr>
            </tbody>
        </table>

        {% if not loop.last %}
            <div style="page-break-after: always"></div>
        {% endif %}
    {% endfor %}
{% endblock %}
