{% extends "pdf/basepdf.html.twig" %}

{% block style %}
    <style>
    .padding {
        padding:4px;
    }
    </style>
{% endblock %}

{% block content %}
    <table class="table">
        {% for row in data %}
            {% if loop.first %}
                <thead>
                <tr>
                    {% for col in row %}
                        <th>
                            {{ col }}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
            {% else %}
                <tr>
                    {% for col in row %}
                        <td style="padding: 3px">
                            {{ col }}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
