{% extends "pdf/basepdf.html.twig" %}

{% block content %}
    {% for groupe in groupes %}
        <table style="width: 100%; border:none;">
            <tr>
                <td style="text-align: center; width:20%"><img src="{{ settings('BASE_PATH') }}{{ 'logo/'~user_data.departement.logoName }}" alt="logo" height="75px"/></td>
                <td style="text-align: center; width:60%"><h2>{{ typeGroupe.semestre.display }} | {{ user_data.displayAnneeUniversitaire }}</h2></td>
                <td style="text-align: center; width:20%"><img
                            src="{{ settings('BASE_PATH') }}{{ 'logo/' }}{{ settings('LOGO_IUT') }}"
                            alt="logo"
                            height="75px"/></td>
            </tr>
        </table>

        <h4>Trombinoscope | <strong>Groupe {{ groupe.libelle }}</strong></h4>
        <table style="clear:both;width:100%" class="table">
            <tbody>
            {% set i=0 %}
            {% for etu in groupe.etudiants %}
                {% if i==0 %}
                    <tr>
                {% endif %}
                {# todo: pourrait être absolute_url(asset(...)) #}
                <td><img src="{{ settings('BASE_PATH')~'/etudiants/'~etu.photoName }}" alt="Photo" width="100px"
                    /><br />{{ etu.display  }}</td>
                {% set i=i+1 %}
                {% if i==4 %}
                    </tr>
                    {% set i=0 %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% if not loop.last %}
            <div style="page-break-after: always"></div>
        {% endif %}
    {% endfor %}
{% endblock %}
