{% extends "pdf/basepdf.html.twig" %}

{% block content %}
    {% for groupe in groupes %}
        {{include('pdf/_headerPdf.html.twig', {
            departement: user_data.departement,
            titre: '<h2>'~typeGroupe.displaySemestreDiplome ~' | '~ user_data.displayAnneeUniversitaire~'</h2>',
            qualite: typeGroupe.semestre.diplome.optCertifieQualite
        }) }}

        <h4>Trombinoscope | <strong>Groupe {{ groupe.libelle }}</strong></h4>
        <table style="clear:both;width:100%" class="table">
            <tbody>
            {% set i=0 %}
            {% for etu in groupe.etudiants %}
                {% if i==0 %}
                    <tr>
                {% endif %}
                <td>
                    <img src="{{ absolute_url(asset('upload/etudiants/'~etu.photoName)) }}" alt="Photo"
                         width="100px"
                    /><br />{{ etu.display  }}
                </td>
                {% set i=i+1 %}
                {% if i==4 %}
                    </tr>
                    {% set i=0 %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% if not loop.last %}
            <div style="page-break-after: always"></div>
        {% endif %}
    {% endfor %}
{% endblock %}
