<div{{ attributes }} class="col-md-4 col-sm-12">
    <div class="card card-body">
        <a href="{{ link }}">
            <div class="d-flex justify-content-between">
                <div>
                    <i class="fas {{ icon }} fa-2x"></i>
                    <h4 class="card-title">{{ title }}</h4>
                </div>
            </div>
        </a>
    </div>
    <!-- component html -->
</div>
