<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'adm.ressources.et.sae.index.heading'|trans }} | {{ diplome.displayCourt }}</h4>
        <div class="card-header-actions" style="">
            {% if settings('MODIFICATION_PPN') == 1 %}
                <span>
                     <a href="{{ path('administration_apc_referentiel_formation_grille',{diplome:diplome.id}) }}"
                        class="btn btn-sm btn btn-success" title="Coefficients des ressources et des SAÉ"
                        ddata-bs-toggle="tooltip"
                        data-bs-placement="bottom"><i class="fas fa-table"></i>
                         Coefficients des ressources et des SAÉ
                     </a>
                    <a href="{{ path('administration_apc_ressource_new',{diplome:diplome.id}) }}"
                       class="btn btn-sm btn btn-info" title="{{ 'atitle.creer_nouveau'|trans }}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"><i class="fas fa-plus"></i> Ajouter une ressource</a>
                    <a href="{{ path('administration_apc_sae_new',{diplome:diplome.id}) }}"
                       class="btn btn-sm btn btn-info" title="{{ 'atitle.creer_nouveau'|trans }}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"><i class="fas fa-plus"></i> Ajouter une SAÉ</a>
                </span>
            {% endif %}
        </div>
    </header>


    <div class="card-body">
        <ul class="nav nav-tabs">

            {% for semestre in user_data.semestresByDiplome(diplome.id) %}
                <li class="nav-item">
                    <a class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab"
                       href="#sae{{ semestre.id }}">SAÉ {{ semestre.libelle }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-bs-toggle="tab"
                       href="#semestre{{ semestre.id }}">Ress. {{ semestre.libelle }}</a>
                </li>
            {% endfor %}

        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            {% for semestre in user_data.semestresByDiplome(diplome.id) %}
                <div class="tab-pane {% if loop.first %}fade active show{% endif %}"
                     id="sae{{ semestre.id }}">
                    {{ include('apc/apc_sae/_listeSaeDiplome.html.twig',{apc_saes:saes}) }}
                </div>
                <div class="tab-pane"
                     id="semestre{{ semestre.id }}">
                    {{ include('apc/apc_ressource/_listeRessourceDiplome.html.twig') }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
