<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'adm.matiere.index.heading'|trans }} | {{ diplome.libelle }}</h4>
        <div class="card-header-actions" style="">
            {% if settings('MODIFICATION_PPN') == 1 %}
                <span>
                    <a href="{{ path('administration_matiere_new',{diplome:diplome.id}) }}"
                       class="btn btn-sm btn btn-info" title="{{ 'atitle.creer_nouveau'|trans }}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                    ><i class="fas fa-plus"></i></a>
                </span>
            {% endif %}
        </div>
    </header>


    <div class="card-body">
        <ul class="nav nav-tabs">
            {% for semestre in user_data.semestresByDiplome(diplome.id) %}
                <li class="nav-item">
                    <a class="nav-link {% if loop.first %} active{% endif %}" data-bs-toggle="tab"
                       href="#semestre{{ semestre.id }}">{{ semestre.libelle }}</a>
                </li>
            {% endfor %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            {% for semestre in user_data.semestresByDiplome(diplome.id) %}
                <div class="tab-pane {% if loop.first %}fade active show{% endif %}"
                     id="semestre{{ semestre.id }}">

                    <table class="table table-striped table-bordered"
                           id="tab_semestre{{ semestre.id }}">
                        <thead>
                        <tr>
                            <th>{{ 'table.code_element'|trans }}</th>
                            <th>{{ 'table.refmatiere'|trans }}</th>
                            <th>{{ 'table.libelle'|trans }}</th>
                            <th>{{ 'table.ue'|trans }}</th>
                            {% if semestre.parcours|length > 0 %}
                                <th>{{ 'table.parcours'|trans }}</th>
                            {% endif %}
                            <th>{{ 'table.cm'|trans }}</th>
                            <th>{{ 'table.td'|trans }}</th>
                            <th>{{ 'table.tp'|trans }}</th>
                            <th>{{ 'table.nb_notes'|trans }}</th>
                            <th>{{ 'table.coefficient'|trans }}.</th>
                            <th>{{ 'table.nb_ects'|trans }}</th>
                            <th>{{ 'table.suspendu'|trans }}</th>
                            <th>{{ 'table.pac'|trans }}</th>
                            <th>{{ 'table.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for matiere in matieres|filter(matiere => matiere.semestre.id == semestre.id) %}
                            <tr {% if matiere.suspendu == true %}class="bg-pale-warning"{% endif %} id="ligne_{{ matiere.id }}">
                                <td>{{ matiere.codeElement }}</td>
                                <td>{{ matiere.codeMatiere }}</td>
                                <td>{{ matiere.libelle }}</td>
                                <td>
                                    <select class="form-control changeUe" data-matiere="{{ matiere.id }}">
                                        {% for ue in semestre.ues %}
                                            <option value="{{ ue.id }}" {% if matiere.ue != null and ue.id == matiere.ue
                                            .id %}selected{% endif %}>{{ ue.display }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                {% if semestre.parcours|length > 0 %}
                                    <td>

                                        <select class="form-control changeParcours" data-matiere="{{ matiere.id }}">
                                            <option value="null" selected>Tous les parcours</option>
                                            {% for parcour in semestre.parcours %}
                                                <option value="{{ parcour.id }}" {% if matiere.parcours != null
                                                    and parcour.id == matiere.parcours
                                                    .id %}selected{% endif %}>{{ parcour.libelle }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                {% endif %}
                                <td>
                                    <a class="myedit"
                                       data-field="CmPpn"
                                       href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}"
                                       data-title="Corriger le volume horaire">
                                        {{ matiere.cmPpn }}</a> |
                                    <a class="myedit"
                                       data-field="CmFormation"
                                       href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}"
                                       data-title="Corriger le volume horaire">
                                        {{ matiere.cmFormation }}</a>
                                </td>
                                <td>
                                    <a class="myedit"
                                       data-field="TdPpn"
                                       href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}"
                                       data-title="Corriger le volume horaire">
                                        {{ matiere.tdPpn }}</a> |
                                    <a class="myedit"
                                       data-field="TdFormation"
                                       href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}"
                                       data-title="Corriger le volume horaire">
                                        {{ matiere.tdFormation }}</a>
                                </td>
                                <td>
                                    <a class="myedit"
                                       data-field="TpPpn"
                                       href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}"
                                       data-title="Corriger le volume horaire">
                                        {{ matiere.tpPpn }}
                                    </a> |
                                    <a class="myedit"
                                       data-field="TpFormation"
                                       href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}"
                                       data-title="Corriger le volume horaire">
                                        {{ matiere.tpFormation }}
                                    </a>
                                </td>
                                <td><a class="myedit"
                                       data-field="NbNotes"
                                       href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}"
                                       data-title="Corriger le volume horaire">
                                        {{ matiere.nbNotes }}</a>
                                </td>
                                <td><a class="myedit"
                                       data-field="Coefficient"
                                       href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}"
                                       data-title="Corriger le volume horaire">
                                        {{ matiere.coefficient }}</a>
                                </td>
                                <td><a class="myedit"
                                       data-field="NbEcts"
                                       href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}"
                                       data-title="Corriger le volume horaire">
                                        {{ matiere.nbEcts }}</a>
                                </td>
                                <td>{{ matiere.suspendu ? 'Yes'|trans : 'No'|trans }}</td>
                                <td>{{ matiere.pac ? 'Yes'|trans : 'No'|trans }}</td>
                                <td>
                                    {% if settings('MODIFICATION_PPN') == 1 %}

                                        <a href="{{ path('administration_matiere_duplicate', {'id': matiere.id}) }}"
                                           class="btn btn-success btn-outline btn-square"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="bottom"
                                           title="{{ 'atitle.dupliquer'|trans }}">
                                            <i class="{{ iconDuplicate }}"></i>
                                            <span class="sr-only">{{ 'atitle.dupliquer'|trans }}</span>
                                        </a>
                                    {% endif %}
                                    <a href="{{ path('administration_matiere_show', {'id': matiere.id}) }}"
                                       class="btn btn-info btn-outline btn-square"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="bottom"
                                       title="{{ 'atitle.details'|trans }}">
                                        <i class="{{ iconShow }}"></i>
                                        <span class="sr-only">{{ 'atitle.details'|trans }}</span>
                                    </a>
                                    {% if settings('MODIFICATION_PPN') == 1 %}

                                        <a href="{{ path('administration_matiere_edit', {'id': matiere.id}) }}"
                                           class="btn btn-warning btn-outline btn-square"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="bottom"
                                           title="{{ 'atitle.modifier'|trans }}">
                                            <i class="{{ iconEdit }}"></i>
                                            <span class="sr-only">{{ 'atitle.modifier'|trans }}</span>
                                        </a>
                                        <a href="{{ path('administration_matiere_delete', {id: matiere.id}) }}"
                                           data-csrf="{{ csrf_token('delete' ~ matiere.id) }}"
                                           class="btn btn-danger btn-outline btn-square supprimer"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="bottom"
                                           title="{{ 'atitle.supprimer'|trans }}">
                                            <i class="{{ iconDelete }}"></i>
                                            <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr class="bg-pale-warning">
                                <td colspan="12">{{ 'no.record.found'|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
