{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.matiere.new.heading'|trans }}
{% endblock %}

{%block headeractions %}
<div class="header-action">
    {{ include('composants/adm-buttons-new.html.twig', {elt: 'matiere'}) }}
</div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.matiere.new.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('composants/adm-form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.matieres') }}
{% endblock %}
