{% for etudiant in etudiants %}
    <div class="row">
        <div class="col-sm-2">
            <a href="" data-bs-toggle="tooltip" data-bs-placement="bottom"
               data-original-title="Accéder au profil" target="_blank"><img
                        src="{{ asset('upload/etudiants/'~etudiant.photoName) }}"
                        alt="photo Etudiant {{ etudiant.display }}" width="80"/></a>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-9 search-info">
                    <a href="" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       data-original-title="Accéder au profil"
                       target="_blank">{{ etudiant.displayPr }} (N° {{ etudiant.numEtudiant }})</a><br/>
                    <a href="mailto:{{ etudiant.mailuniv }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       data-original-title="Ecrire" target="_blank">{{ etudiant.mailuniv }}</a><br/>
                    <a href="mailto:{{ etudiant.mailperso }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       data-original-title="Ecrire" target="_blank">{{ etudiant.mailperso }}</a>
                    <p class="url">{% if etudiant.semestre != null %}{{ etudiant.semestre.display }} - {% endif %}
                        Promo {{ etudiant.promotion }} - Groupe(s) :
                        {% for gr in etudiant.groupes %}
                            {{ gr.libelle }},
                        {% else %}
                            -
                        {% endfor %}
                    </p>
                </div>
                <div class="col-sm-3">
                    <a href="" class="btn btn-info"
                       data-bs-toggle="tooltip" data-bs-placement="bottom" title="Voir le profil" target="_blank"><i
                                class="fa fa-eye"></i></a>
                    <a href="{{ path('sadm_etudiant_edit', {id:etudiant.id}) }}" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       target="_blank"
                       title="Modifier"><i class="fa fa-pencil"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="chgt_etudiant_departement_{{ loop.index }}">Département actuel</label>
                    <select id="chgt_etudiant_departement_{{ loop.index }}" class="form-control chgt_etudiant_departement"
                            name="departement"
                            data-etudiant="{{ etudiant.id }}">
                        <option value="null" selected>Aucune formation</option>
                        {% for departement in departements %}
                            <option value="{{ departement.id }}" {% if etudiant.departement != null and departement.id
                                == etudiant.departement .id %} selected {% endif %}>{{ departement.libelle }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="chgt_etudiant_departement_{{ loop.index }}">Semestre actuel</label>
                    <select id="chgt_etudiant_departement_{{ loop.index }}" class="form-control chgt_etudiant_semestre"
                            name="semestre"
                            data-etudiant="{{ etudiant.id }}">
                        <option value="null" selected>Aucune semestre</option>
                        {% for semestre in semestres %}
                            <option value="{{ semestre.id }}" {% if etudiant.semestre != null and semestre.id
                                == etudiant.semestre .id %} selected {% endif %}>{{ semestre.display }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="chgt_etudiant_fin_{{ loop.index }}">Année sortie DUT/LP/IUT</label>
                    <select id="chgt_etudiant_fin_{{ loop.index }}" class="form-control chgt_etudiant_fin" name="fin"
                            data-etudiant="{{ etudiant.id }}">
                        {% set thisYear = "now"|date('Y') %}
                        <option value="0" selected>Formation en cours</option>
                        {% for an in 2010.. thisYear %}
                            <option value="{{ an }}" {% if an == etudiant.anneesortie %} selected {% endif %}>{{ an }}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>
        </div>
    </div>

    <br/>
{% else %}
    <div class="alert alert-warning">Il n'y a aucune réponse pour votre recherche</div>
{% endfor %}

