{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.type_materiel.modification.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-edit.html.twig', {elt:'type_materiel', id: type_materiel.id}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.type_materiel.modification.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('composants/adm-form.html.twig', {'button_label': 'update'|trans}) }}
        </div>
    </div>
{% endblock %}