{{ include('components/plan_cours/_header.html.twig') }}

<twig:Alert type="info">
    Vous disposez de 3 manières de joindre votre plan de cours. Choisissez celles qui vous conviennent le mieux, vous
    pouvez combiner les saisies.
</twig:Alert>

<div class="divider">1. Saisie des séquences</div>
{{ form_row(form.planCoursSequences) }}

<div class="divider">2. Upload d'un fichier</div>
{{ form_row(form.fichierPlanCoursFile) }}

<div class="divider">3. Saisie libre</div>
{{ form_row(form.saisiePlanCours) }}




