{% extends 'base.html.twig' %}

{% block header %}
    Planning des <strong>rattrapages du diplome {{ diplome.libelle }}</strong>
{% endblock %}

{% block headerright %}
    {# <div class="right gap-items-2"> #}
    {# {% for sem in user_data.semestresActifs %} #}
    {# <a href="{{ path('administration_rattrapage_semestre_index', {semestre:sem.id}) }}" #}
    {# class="btn btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}" #}
    {# title="{{ 'atitle.changer.semestre'|trans }}" #}
    {# data-bs-toggle="tooltip" data-bs-placement="bottom" #}
    {# #}
    {# >{{ sem.libelle }}</a> #}
    {# {% endfor %} #}
    {# </div> #}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            {# <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}" #}
            {# class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom" #}
            {# title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i></a> #}
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-2"><label for="salle" class="sr-only">Salle</label>
                    <input type="text"
                           name="salle"
                           id="salle"
                           class="form-control"
                           placeholder="Salle">
                </div>
                <div class="col-sm-6 col-md-2">
                    <button class="btn btn-success btn-block" id="sallePartout">Salle partout</button>
                </div>
                <div class="col-sm-6 col-md-2"><label for="date" class="sr-only">Date</label>
                    <input type="text"
                           name="date"
                           id="date"
                           is="my-datepicker"
                           class="form-control"
                           placeholder="Date">
                </div>
                <div class="col-sm-6 col-md-2">
                    <button class="btn btn-success btn-block" id="datePartout">Date partout</button>
                </div>
                <div class="col-sm-6 col-md-2"><label for="heure" class="sr-only">Salle</label>
                    <input type="text"
                           name="heure"
                           id="heure"
                           class="form-control"
                           placeholder="Heure">
                </div>
                <div class="col-sm-6 col-md-2">
                    <button class="btn btn-success btn-block" id="heurePartout">Heure partout</button>
                </div>
            </div>
            <br />
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ 'table.etudiant'|trans }}</th>
                    <th>{{ 'table.semestre'|trans }}</th>
                    <th>{{ 'table.matiere'|trans }}</th>
                    <th>{{ 'table.personnel'|trans }}</th>
                    <th>{{ 'table.date_evaluation'|trans }}</th>
                    <th>{{ 'table.salle'|trans }}</th>
                    <th>{{ 'table.date_rattrapage'|trans }}</th>
                    <th>{{ 'table.heure_rattrapage'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for rattrapage in rattrapages %}
                    <tr>
                        <td>{{ rattrapage.etudiant.display }}</td>
                        <td>{{ rattrapage.etudiant.semestre.libelle }}</td>
                        <td>{{ matieres[rattrapage.typeIdMatiere] is defined ? matieres[rattrapage.typeIdMatiere].codeMatiere : 'non.defini'|trans }}</td>
                        <td>{{ rattrapage.personnel ? rattrapage.personnel.display : 'non.defini'|trans }}</td>
                        <td>{{ rattrapage.dateEval ? rattrapage.dateEval|format_date('long') : 'non.defini'|trans }}</td>
                        <td><label for="salle_{{ rattrapage.uuidString }}" class="sr-only">Salle</label>
                            <input type="text"
                                   name="salle_{{ rattrapage.uuidString }}"
                                   id="salle_{{ rattrapage.uuidString }}"
                                   class="form-control salleChange"
                                   placeholder="Salle"
                                   value="{{ rattrapage.salle }}"
                                   data-rattrapage="{{ rattrapage.uuidString }}">
                        </td>
                        <td><label for="date_{{ rattrapage.uuidString }}" class="sr-only">Date</label>
                            <input type="text"
                                   name="date_{{ rattrapage.uuidString }}"
                                   id="date_{{ rattrapage.uuidString }}"
                                   class="form-control dateChange"
                                   placeholder="Date"
                                   value="{{ rattrapage.dateRattrapage|date('d/m/Y') }}"
                                   data-rattrapage="{{ rattrapage.uuidString }}"
                                   is="my-datepicker"
                            />
                        </td>
                        <td><label for="heure_{{ rattrapage.uuidString }}" class="sr-only">Salle</label>
                            <input type="text"
                                   name="heure_{{ rattrapage.uuidString }}"
                                   id="heure_{{ rattrapage.uuidString }}"
                                   class="form-control heureChange"
                                   placeholder="Heure"
                                   value="{{ rattrapage.heureRattrapage|date('H:i') }}"
                                   data-rattrapage="{{ rattrapage.uuidString }}">
                        </td>
                        <td>
                            <a href="{{ path('administration_rattrapage_delete', {uuid: rattrapage.uuidString}) }}"
                               data-csrf="{{ csrf_token('delete' ~ rattrapage.uuidString) }}"
                               class="btn btn-danger btn-outline btn-square supprimer"><i
                                        class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="{{ 'atitle.supprimer'|trans }}"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_rattrapage_planning_export', {diplome:diplome.id,_format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf"
        },
        {
            type:'info',
            href:path('administration_rattrapage_planning_export', {diplome:diplome.id,_format:'csv'}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('administration_rattrapage_planning_export', {diplome:diplome.id,_format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_etudiants_rattrapage_planning'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.rattrapages') }}
{% endblock %}

{% block javascripts %}
    <script>
      let diplome = {{ diplome.id }}
    </script>
    {{ parent() }}
    {{ encore_entry_script_tags('adm.rattrapages') }}
{% endblock %}
