{% macro attributes(attr) -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {{- attrname }}="{{ attrvalue }}"
    {%- endfor -%}
{%- endmacro -%}

<my-table {{ _self.attributes(attr) }}>

    {% block toolbar %}
        {{ fitlers_render(toolbar) }}
    {% endblock %}

    {% block table %}
        <div class="table-responsive">
            <table {{ _self.attributes(table_attr) }}>
                <thead>
                <tr>
                    {% for column in columns %}
                        <th {{ _self.attributes(column.attr) }}>
                            {%- if column.label is not empty %}
                                {%- if column.translation_domain %}
                                    {{- (column.label)|trans([], column.translation_domain) | raw -}}
                                {% else -%}
                                    {{- (column.label) | raw -}}
                                {% endif -%}
                            {% endif -%}

                            {# {% if column.order == 'ASC' %} &#9650;{% endif %} #}
                            {# {% if column.order == 'DESC' %} &#9660;{% endif %} #}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    {% endblock %}

    {% block paging %}
        {% if paging == true %}
            <div class="row" id="{{ paging_attr.id }}_bloc">
                <div class="col-3">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="{{ paging_attr.id }}_select">Nb éléments par page</label>
                        <select class="form-select" id="{{ paging_attr.id }}_select">
                            {% for length in paging_attr.lengthMenu %}
                                <option value="{{ length }}" {% if length == paging_attr.pageLength %}selected="selected"{% endif %}>{{ length }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-3" id="{{ paging_attr.id }}_middle"></div>
                <div class="col-6">
                    <nav id="{{ paging_attr.id }}_nav">

                    </nav>
                </div>
            </div>
        {% endif %}
    {% endblock %}
</my-table>
