<form method="post" action="{{ path('administration_edt_action_upload') }}" enctype="multipart/form-data" class="form">
<h4 class="card-title">Action | <strong>Importer</strong> un fichier EDT</h4>
<div class="card-body">
    <twig:Alert type="warning">Lorsque vous importez un fichier, la semaine concernée est
        <strong>effacée sur les promos concernées uniquement !</strong>
    </twig:Alert>
        <div class="form-group">
            <label for="evaluation">Fichier .csv</label>
            <input type="file" name="fichieredt" class="form-control">
        </div>
</div>
<footer class="card-footer flexbox flex-justified">
    <div class="text-right">
        <button type="reset" class="btn closeza">Annuler</button>
        <button type="submit" class="btn btn-primary btn-large">Uploader</button>
    </div>
</footer>
</form>
