<div class="card">
    <h3 class="card-title">{{ 'application.progression.heading'|trans }}</h3>

    <div class="card-body">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab"
                   href="#semestre1">Septembre-Janvier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab"
                   href="#semestre2">Février-juin</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade active show" id="semestre1">
                <h4>Septembre-Janvier</h4>
                {{ include('appPersonnel/progression/_tableau.html.twig', {debut:9}) }}
            </div>
            <div class="tab-pane fade" id="semestre2">
                <h4>Février-juin</h4>
                {{ include('appPersonnel/progression/_tableau.html.twig', {debut:2}) }}
            </div>
        </div>

    </div>
</div>
