{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.type_hrs.modification.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/sadm-buttons-edit.html.twig', {elt:'type_hrs', id: type_hrs.id}) }}
    </div>
{% endblock %}



{% block content %}
<div class="card">
    <h4 class="card-title">{{ 'adm.type_hrs.modification.heading'|trans }}</h4>
    <div class="card-body">
        {{ include('composants/adm-form.html.twig', {'button_label': 'update'|trans}) }}
    </div>
</div>
{% endblock %}