{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.type_hrs.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/sadm-buttons-index.html.twig', {elt:'type_hrs'}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.type_hrs.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ 'table.id'|trans }}</th>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <th>{{ 'table.type_hrs'|trans }}</th>
                    <th>{{ 'table.dans_service'|trans }}</th>
                    <th>{{ 'table.maximum'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for type_hr in type_hrs %}
                    <tr id="ligne_{{ type_hr.id }}">
                        <td>{{ type_hr.id }}</td>
                        <td>{{ type_hr.libelle }}</td>
                        <td>{{ type_hr.type }}</td>
                        <td>{{ type_hr.incluService ? 'Yes'|trans : 'No'|trans }}</td>
                        <td>{{ type_hr.maximum }} {{ 'heures'|trans }}</td>
                        <td>
                            {{ include('composants/sadm-buttons-table-index.html.twig', {elt:'type_hrs', id:type_hr.id}) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no.record.found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('sa_type_hrs_export', {_format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf"},
        {
            type:'info',
            href:path('sa_type_hrs_export', {_format:'csv'}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('sa_type_hrs_export', {_format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('sa_type_hrs_new'),
            title: 'ajouter'|trans,
            icone: 'fas fa-plus'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'super_administration_type_hrs'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}
