{% extends is_granted('ROLE_SUPER_ADMIN') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.structure.semestre.new.heading'|trans }}
{% endblock %}

{%block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-new.html.twig', {elt: 'structure_semestre', retour: {path: 'administration_structure_index', titre: 'atitle.retour_structure'|trans}}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.structure.semestre.new.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('composants/adm-form.html.twig') }}
        </div>
    </div>
{% endblock %}