{% extends 'base.html.twig' %}

{% block header %}
    {{ 'app.personnel.covid.attestation.edit.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            {% if covid_attestation_personnel.validationDirection == null or covid_attestation_personnel
                .validationDirection == false %}
                <a href="{{ path('application_personnel_covid_attestation_personnel_delete', {id:
                    covid_attestation_personnel.id}) }}"
                   data-csrf="{{ csrf_token('delete' ~ covid_attestation_personnel.id) }}"
                   class="btn btn-danger btn-sm btn-float supprimer"
                   title="{{ 'atitle.supprimer'|trans }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                >
                    <i class="fas fa-trash"></i>
                    <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                </a>
            {% endif %}
            <a href="{{ path('application_personnel_covid_attestation_personnel_show', {id: covid_attestation_personnel
                .id}) }}"
               class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.voir'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-eye"></i>
                <span class="sr-only">{{ 'atitle.voir'|trans }}</span>
            </a>
            <a href="{{ path('application_personnel_covid_attestation_personnel_index') }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_liste'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_liste'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h3 class="card-title">{{ 'app.personnel.covid.attestation.edit.heading'|trans }}</h3>
        <div class="card-body">
            {{ include('appPersonnel/covid_attestation_personnel/_formulaire.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('covid') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('covid') }}
{% endblock %}
