{% extends 'base.html.twig' %}

{% block header %}
    {{ 'app.personnel.covid.attestation.new.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_personnel_covid_attestation_personnel_index') }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_liste'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_liste'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h3 class="card-title">{{ 'app.personnel.covid.attestation.new.heading'|trans }}</h3>
        <div class="card-body">
            <div class="alert alert-info">Une fois vos informations personnelles mises à jour, elles seront
                                          automatiquement pré-remplie pour les autres demandes.
            </div>
            {{ include('appPersonnel/covid_attestation_personnel/_formulaire.html.twig') }}
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('covid') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('covid') }}
{% endblock %}
