{% form_theme form 'form/bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-success">{{ button_label|default('label.save'|trans) }}</button>
{{ form_end(form) }}