<div class="buttons">
    {% if retour is defined %}
        <a href="{{ path(retour.path) }}"
           class="btn btn-primary btn-float"
           data-bs-toggle="tooltip" data-bs-placement="bottom"

           title="{{ retour.titre }}">
            <i class="fas fa-home"></i>
            <span class="sr-only">{{ retour.titre }}</span>
        </a>
    {% else %}
        <a href="{{ path('administration_'~elt~'_index') }}"
           class="btn btn-primary btn-float"
           title="{{ 'atitle.retour_liste'|trans }}"
           data-bs-toggle="tooltip" data-bs-placement="bottom"
        >
            <i class="fas fa-arrow-left"></i>
            <span class="sr-only">{{ 'atitle.retour_liste'|trans }}</span>
        </a>
    {% endif %}
</div>
