{% extends 'base.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {{ questionnaire_render(questionnaire) }}
        </div>
    </div>
{% endblock %}

