{# feature: Gérer en Ajax la pagination et l'affichage d'un article précis. #}

{% if pagination.data|length > 0 %}
<div id="zone-pagination">
    {% for article in pagination.data %}
        {{ include('composants/un-article.html.twig', {article:article}) }}
    {% endfor %}


    {{ include('composants/pagination.html.twig', {pagination:pagination}) }}
</div>
{% else %}
    <div class="alert alert-info">
        Pour le moment aucun article n'est disponible dans cette catégorie.
    </div>
{% endif %}