{% extends 'base-qv.html.twig' %}

{% block qvTitle %}Actions contextuelles{% endblock %}

{% block qvBody %}
    <div class="alert alert-info">
        Il n'existe pas d'actions contextuelles pour cette page.
    </div>
    <div id="batsignal" style="display: none">
        <img src="{{ asset('upload/logo/batsignal.jpeg') }}">
    </div>
    <script>
      if (localStorage.getItem('theme') === 'dark') {
        document.getElementById('batsignal').style.display = 'block'
      }
    </script>
{% endblock %}

