{% extends 'base-qv.html.twig' %}

{% block qvTitle %}Actions contextuelles{% endblock %}

{% block qvBody %}
    <div class="alert alert-info">
        Il n'existe pas d'actions contextuelles pour cette page.
    </div>
{% endblock %}

