{% extends 'base.html.twig' %}

{% block header %}
    {% if monprofil %}
        {{ 'mon.profil.heading'|trans }}
    {% else %}
        {% if user.typeUser|lower == 'permanent' or user.typeUser|lower == 'vacataire' %}
            {{ 'profil.personnel.heading'|trans({'%user%': user.displayPr}) }}
        {% elseif user.typeUser|lower == 'etudiant' %}
            {{ 'profil.heading'|trans({'%user%': user.displayPr, '%semestre%': user.semestre != null ? user.semestre
            .libelle : 'non.defini'|trans}) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <nav class="nav">
            {% if user.typeUser|lower == 'permanent' or user.typeUser|lower == 'vacataire' %}
                {{ include('user/composants/_menu_personnel.html.twig') }}
            {% elseif user.typeUser|lower == 'etudiant' %}
                {{ include('user/composants/_menu_etudiant.html.twig') }}
            {% endif %}
        </nav>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8" id="profilContent">
            {% if user.typeUser|lower == 'permanent' or user.typeUser|lower == 'vacataire' %}
                {{ include('user/composants/content_personnel.html.twig') }}
            {% elseif user.typeUser|lower == 'etudiant' %}
                {{ include('user/composants/content_etudiant.html.twig') }}
            {% endif %}
        </div>
        <div class="col-md-4">

            <div class="card">
                <div class="text-white card-body bg-img text-center py-50"
                     style="background-image: url({{ asset('assets/bg/2.jpg') }});">

                    {% if user.photoName != null and user.photoName != 'noimage.png' %}
                        {% if user.typeUser|lower == 'permanent' or user.typeUser|lower == 'vacataire' %}
                            <img class="avatar avatar-xxl avatar-bordered"
                                 src="{{ asset('upload/personnels/'~user.photoName)|imagine_filter('profil') }}" alt="avatar de {{ user.display }}"
                            >
                        {% elseif user.typeUser|lower == 'etudiant' %}
                            <img class="avatar avatar-xxxl avatar-bordered"
                                 src="{{ asset('upload/etudiants/'~user.photoName)|imagine_filter('profil') }}" alt="avatar de {{ user.display }}">
                        {% endif %}
                    {% else %}
                        <div>
                            {{ include('composants/_avatar.html.twig', {user:user}) }}
                        </div>
                    {% endif %}

                    <h5 class="mt-2 mb-0 profil-nom">{{ user.displayPr }}</h5>
                    {% if user.typeUser|lower == 'etudiant' %}
                        <h6 class="overlay" style="background-color: #FAB001;">
                            {{ user.diplome != null ? user.diplome.display() : 'Sans département' }}
                            <br>{% for gr in user.groupes %} {{ gr.libelle }}{% if not loop.last %}, {% endif %}
                            {% endfor %}</h6>
                    {% else %}
                        <h6 class="overlay" style="background-color: #FAB001;">{{ user.typeUser|trans }}</h6>
                    {% endif %}
                </div>
                <ul class="flexbox flex-justified text-center p-20">
                    <li class="br-1 border-light">
                        <span class="text-muted">{{ 'contacter'|trans }}</span><br>
                        <span class="fs-22"><a href="mailto:{{ user.mailUniv }}" target="_blank"
                                               title="{{ 'contacter.sur.mail.univ'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            ><i class="fa fa-envelope"></i></a></span>
                    </li>
                    <li class="br-1 border-light">

                        <span class="text-muted">{{ 'espace.travail'|trans }}</span><br>
                        {% if user.siteUniv != '' or user.siteUniv != null %}

                            <span class="fs-22"><a href="{{ user.siteUniv }}" target="_blank" title="{{ 'consulter.espace.travail'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"><i class="fa fa-globe"></i></a></span>
                        {% else %}
                            <span class="fs-22"><a href="#" target="_blank" title="{{ 'pas.d.espace.travail'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom" class="isDisabled"><i class="fa fa-globe"></i></a></span>
                        {% endif %}

                        {% if user.sitePerso != '' and user.sitePerso != null %}

                            <span class="fs-22"><a href="{{ user.sitePerso }}" target="_blank"
                                                   title="{{ 'consulter.son.site.personnel'|trans }}"
                                                   data-bs-toggle="tooltip" data-bs-placement="bottom"><i
                                            class="fa fa-link"></i></a></span>
                        {% endif %}

                    </li>
                    {#                    <li>#}
                    {#                        <span class="text-muted">Tweets</span><br>#}
                    {#                        <span class="fs-22">165</span>#}
                    {#                    </li>#}
                </ul>
            </div>

            {% if user.typeUser|lower == 'etudiant' %}
                <div class="card">
                    <div class="card-body">
                        <div class="flexbox align-items-baseline mb-20">
                            <h6 class="text-uppercase ls-2">{{ 'amis'|trans }}</h6>
                            <small>{{ user.etudiantDemande|length }}</small>
                        </div>

                        <div class="gap-items-2 gap-y">
                            {% for favori in user.etudiantDemande|slice(0, 8)|filter(favori => favori
                                .etudiantDemande.id != user.id) %}
                                <a class="avatar"
                                   href="{{ path('user_profil', {type: 'etudiant', slug: favori.etudiantDemande.slug}) }}"
                                   title="{{ favori.etudiantDemande.display }}"
                                   target="_blank"
                                ><img src="{{ asset('upload/etudiants/'~favori.etudiantDemande.photoName)|imagine_filter('avatar') }}"
                                      alt="{{ favori.etudiantDemande.display }}"></a>
                            {% else %}
                                <div class="alert alert-info">
                                    Fonctionnalité à venir
                                </div>
                            {% endfor %}
                            {% if user.etudiantDemande|length > 8 %}
                                {% set nb = user.etudiantDemande - 8 %}
                                <a class="avatar avatar-more" href="#">+{{ nb }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profil') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profil') }}
{% endblock %}
