{% extends 'base.html.twig' %}

{% block header %}
    {{ 'settings.heading'|trans }}
{% endblock %}

{% block content %}

    <div class="card">
        <h4 class="card-title">Card title</h4>

        <div class="card-body">

        </div>
    </div>
{% endblock %}