{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.salle_examen.new.heading'|trans }}
{% endblock %}

{%block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-new.html.twig', {elt: 'salle_examen'}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.salle_examen.new.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('composants/adm-form.html.twig') }}
        </div>
    </div>
{% endblock %}