{% extends 'base-speciale.html.twig' %}

{% block header %}Enquête Qualité | {{ questionnaire.titre }}{% endblock %}

{% block content %}
    <div class="main-content" id="mainContent">

        <div class="row">
            <div class="col-sm-3 text-center">
                <img src="{{ asset('upload/logo/'~settings('LOGO_IUT')) }}" alt="logo" width="100px"/>
            </div>
            <div class="col-sm-6 text-center">
                <h1>Enquête Qualité</h1>
                <h2>{{ questionnaire.titre }}</h2>
            </div>
            <div class="col-sm-3 text-center">
                <img src="{{ asset('upload/logo/'~settings('LOGO_UNIVERSITE')) }}" alt="logo" width="100px"/>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        Questionnaire...
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
